{% extends "employees/aaa_base/base.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Example Test - Triviafy</title>
  <meta name="description" content="Weekly team building activity, mobile supported. Trivia fun made simple. Employee engagement trivia for for 50+ categories.">
  <meta name="og:description" content="Weekly team building activity, mobile supported. Trivia fun made simple. Employee engagement trivia for for 50+ categories.">
{% endblock %}

{% block contentBody %}
<body class="custom-bg-grey-3">
  <!-- ------------------------------------- navbar start ------------------------------------- -->
  <div class="container-fluid fixed-top shadow-sm custom-bg-white">
    <nav class="container navbar navbar-expand-md navbar-light custom-display-flex custom-jc-2">
      <div>
        <a href="#" class="navbar-brand"><span class="custom-header-4-mobile">Your Team Name</span></a>
        <a href="/employees/signup" class="btn btn-outline-danger btn-sm">Exit preview</a>
      </div>
      <div>
        {% if current_question_number_to_html == '1' %}
        {% else %}
        <a href="/employees/example/{{ previous_question_number_to_html }}" class="btn btn-outline-secondary"><i class="fa-solid fa-arrow-left"></i> Back</a>
        {% endif %}
        {% if next_question_number_to_html == 'submit' %}
        <a href="/employees/signup" class="btn btn-outline-success custom-ml-3">Sign up <i class="fa-solid fa-arrow-right"></i></a>
        {% else %}
        <a href="/employees/example/{{ next_question_number_to_html }}" class="btn btn-primary custom-ml-3">Next <i class="fa-solid fa-arrow-right"></i></a>
        {% endif %}
      </div>
    </nav>
  </div>
  <div class="custom-filler-5"></div>
  <!-- ------------------------------------- navbar end ------------------------------------- -->
  <div class="container-fluid custom-bg-grey-3 custom-pb-3">
    <!-- ------------------------------------- question start ------------------------------------- -->
    <form method="POST" enctype="multipart/form-data" class="custom-pt-1" onsubmit="return clickSubmitButtonOnce()">
      <div class="container border shadow custom-br-1 custom-bg-white custom-display-flex custom-fw-1">
        <div class="custom-width-6">
          <!-- ----------------------------------- start ----------------------------------- -->
          {% if alert_message_dict_to_html['message'] != '' %}
          <div class="alert alert-{{ alert_message_dict_to_html['type'] }} mx-auto text-center container" role="alert">
            {{ alert_message_dict_to_html['message'] }}
          </div>
          {% endif %}
          <!-- ----------------------------------- end ----------------------------------- -->
        </div>
        <div class="custom-width-11-mobile custom-p-5">
          <div class="custom-display-flex custom-mb-6">
            <h2 class="custom-header-4">Q{{ current_question_number_to_html }}: {{ db_question_obj_to_html['title'] }}</h2>
            <div>
                {% for category_tuple in db_question_obj_to_html['categories'] %}
                  <span class="custom-tag-1 custom-tag-category-{{ category_tuple[1] }} custom-br-4 custom-ml-3 custom-header-5">{{ category_tuple[0] }}</span>
                {% endfor %}
            </div>
          </div>
          <div>
            <div class="custom-mb-6">
              <p>{{ db_question_obj_to_html['question'] }}</p>
            </div>
            {% if contains_img_to_html == true %}
            <div class="text-center">
              <img src="{{ db_question_obj_to_html['aws_image_url'] }}" alt="" class="custom-img-size-11 custom-br-1 shadow">
            </div>
            {% else %}
            {% endif %}
          </div>
        </div>
        <div class="custom-width-11-mobile custom-p-5">
          <div>
            <div class="text-center">
              <p class="custom-size-3 custom-color-light-1 fst-italic"><a href="/employees/signup">Create account</a> required to see correct answer.</p>
            </div>
            {% if db_question_obj_to_html['option_a'] != None %}
            <div class="custom-mb-6">
              <input type="radio" class="btn-check" id="candidate_answer_choice_a{{ current_question_number_to_html }}" name="ui_answer_choice_selected_{{ current_question_number_to_html }}" value="a" autocomplete="off" required>
              <label class="btn btn-outline-secondary custom-width-6 custom-tal btn-lg" for="candidate_answer_choice_a{{ current_question_number_to_html }}">A: {{ db_question_obj_to_html['option_a'] }}</label>
            </div>
            {% endif %}

            {% if db_question_obj_to_html['option_b'] != None %}
            <div class="custom-mb-6">
              <input type="radio" class="btn-check" id="candidate_answer_choice_b{{ current_question_number_to_html }}" name="ui_answer_choice_selected_{{ current_question_number_to_html }}" value="b" autocomplete="off" required>
              <label class="btn btn-outline-secondary custom-width-6 custom-tal btn-lg" for="candidate_answer_choice_b{{ current_question_number_to_html }}">B: {{ db_question_obj_to_html['option_b'] }}</label>
            </div>
            {% endif %}

            {% if db_question_obj_to_html['option_c'] != None %}
            <div class="custom-mb-6">
              <input type="radio" class="btn-check" id="candidate_answer_choice_c{{ current_question_number_to_html }}" name="ui_answer_choice_selected_{{ current_question_number_to_html }}" value="c" autocomplete="off" required>
              <label class="btn btn-outline-secondary custom-width-6 custom-tal btn-lg" for="candidate_answer_choice_c{{ current_question_number_to_html }}">C: {{ db_question_obj_to_html['option_c'] }}</label>
            </div>
            {% endif %}

            {% if db_question_obj_to_html['option_d'] != None %}
            <div class="custom-mb-6">
              <input type="radio" class="btn-check" id="candidate_answer_choice_d{{ current_question_number_to_html }}" name="ui_answer_choice_selected_{{ current_question_number_to_html }}" value="d" autocomplete="off" required>
              <label class="btn btn-outline-secondary custom-width-6 custom-tal btn-lg" for="candidate_answer_choice_d{{ current_question_number_to_html }}">D: {{ db_question_obj_to_html['option_d'] }}</label>
            </div>
            {% endif %}

            {% if db_question_obj_to_html['option_e'] != None and db_question_obj_to_html['option_e'] != '' %}
            <div class="custom-mb-6">
              <input type="radio" class="btn-check" id="candidate_answer_choice_e{{ current_question_number_to_html }}" name="ui_answer_choice_selected_{{ current_question_number_to_html }}" value="e" autocomplete="off" required>
              <label class="btn btn-outline-secondary custom-width-6 custom-tal btn-lg" for="candidate_answer_choice_e{{ current_question_number_to_html }}">E: {{ db_question_obj_to_html['option_e'] }}</label>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </form>
    <!-- ------------------------------------- question end ------------------------------------- -->
    <div class="text-center custom-mt-5">
      <img src="/static/images/candidates/logo/logo_wide_v3.png" alt="powered by triviafy logo" class="custom-img-size-10 custom-img-opacity-1">
    </div>
  </div>
</body>
{% endblock %}