{% extends "employees/aaa_base/base2_primary.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Example Test - Triviafy</title>
  <meta name="description" content="Automated employee engagement team building activities for your team. Team trivia, icebreakers, surveys, and personality tests.">
  <meta name="og:description" content="Automated employee engagement team building activities for your team. Team trivia, icebreakers, surveys, and personality tests.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<div class="custom-bg-primary-darker">
  <!-- ------------------------------------- navbar start ------------------------------------- -->
  <div class="container-fluid fixed-top custom-bg-primary custom-pt-4">
    <nav class="container navbar navbar-expand-md navbar-light custom-display-flex custom-jc-2">
      <div>
        <!-- <a href="#" class="navbar-brand custom-header-white"><span class="custom-header-4-mobile">Your Team Name</span></a> -->
        <button class="btn btn-secondary btn-sm" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Share this triviafy quiz with my coworkers" id="demo" onclick="copyToClipboard(document.getElementById('demo').innerHTML)">Your team <i class="fa-solid fa-up-right-from-square"></i></button>
        <script>function copyToClipboard(text) {window.prompt("Automated trivia contests for work. Share below link with your team and everyone will be routed to the same trivia contest. (Copy link: CTRL + C)", 'https://triviafy.com/dashboard');}</script>
        <a href="/employees/signup" class="btn btn-danger btn-sm custom-ml-3">Exit <i class="fa-regular fa-circle-xmark"></i></a>
      </div>
      <div>
        {% if current_question_number_to_html == '1' %}
        {% else %}
        <a href="/example/{{ previous_question_number_to_html }}" class="btn btn-secondary"><i class="fa-solid fa-arrow-left"></i> Back</a>
        {% endif %}
        {% if next_question_number_to_html == 'submit' %}
        <a href="/employees/signup" class="btn btn-success custom-ml-3">Sign up <i class="fa-solid fa-arrow-right"></i></a>
        {% else %}
        <a href="/example/{{ next_question_number_to_html }}" class="btn btn-success custom-ml-3">Next <i class="fa-solid fa-arrow-right"></i></a>
        {% endif %}
      </div>
    </nav>
  </div>
  <div class="custom-filler-5"></div>
  <!-- ------------------------------------- navbar end ------------------------------------- -->
  <div class="container-fluid custom-bg-primary-gradient-1 custom-pb-3">
    <!-- ------------------------------------- question start ------------------------------------- -->
    <form method="POST" enctype="multipart/form-data" class="custom-pt-1" onsubmit="return clickSubmitButtonOnce()">
      <div class="container border shadow custom-br-1 custom-bg-white custom-display-flex custom-fw-1">
        <div class="custom-width-6">
          <!-- ----------------------------------- start ----------------------------------- -->
          {% if alert_message_dict_to_html['message'] != '' %}
          <div class="alert alert-{{ alert_message_dict_to_html['type'] }} mx-auto text-center container" role="alert">
            {{ alert_message_dict_to_html['message'] }}
          </div>
          {% endif %}
          <!-- ----------------------------------- end ----------------------------------- -->
        </div>
        <div class="custom-width-11-mobile custom-p-5">
          <div class="custom-display-flex custom-mb-6">
            <h2 class="custom-header-4" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Create an account to customize your team's trivia categories & settings">Q{{ current_question_number_to_html }}: {{ db_question_obj_to_html['title'] }}</h2>
            <div>
                {% for category_tuple in db_question_obj_to_html['categories'] %}
                  <span class="custom-tag-1 custom-tag-category-{{ category_tuple[1] }} custom-br-4 custom-m-3 custom-header-5 custom-wrap-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Create an account to customize your team's trivia categories & settings">{{ category_tuple[0] }}</span>
                {% endfor %}
            </div>
          </div>
          <div>
            <div class="custom-mb-6 shadow custom-bg-green-1">
              <p class="custom-header-6 custom-p-1 custom-br-1 fst-italic fw-bold" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Create an account to customize your team's trivia categories & settings">{{ db_question_obj_to_html['question'] }}</p>
            </div>
            {% if contains_img_to_html == true %}
            <div class="text-center">
              <img src="{{ db_question_obj_to_html['aws_image_url'] }}" alt="" class="custom-img-size-11 custom-br-1 shadow" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Create an account to customize your team's trivia categories & settings">
            </div>
            {% else %}
            {% endif %}
          </div>
        </div>
        <div class="custom-width-11-mobile custom-p-5">
          <div>
            <div class="text-center">
              <p class="custom-header-4">Your best <span class="custom-underline-1 fst-italic" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Your team will see your response later, don't cheat.">guess</span>?</p>
            </div>
            <div class="custom-grid-container-5x1">
              {% if db_question_obj_to_html['option_a'] != None %}
              <div>
                <input type="radio" class="btn-check" id="candidate_answer_choice_a{{ current_question_number_to_html }}" name="ui_answer_choice_selected_{{ current_question_number_to_html }}" value="a" autocomplete="off" required>
                <label class="btn btn-outline-danger custom-width-6 btn-lg custom-ptb-8" for="candidate_answer_choice_a{{ current_question_number_to_html }}">{{ db_question_obj_to_html['option_a'] }}</label>
              </div>
              {% endif %}

              {% if db_question_obj_to_html['option_b'] != None %}
              <div>
                <input type="radio" class="btn-check" id="candidate_answer_choice_b{{ current_question_number_to_html }}" name="ui_answer_choice_selected_{{ current_question_number_to_html }}" value="b" autocomplete="off" required>
                <label class="btn btn-outline-success custom-width-6 btn-lg custom-ptb-8" for="candidate_answer_choice_b{{ current_question_number_to_html }}">{{ db_question_obj_to_html['option_b'] }}</label>
              </div>
              {% endif %}

              {% if db_question_obj_to_html['option_c'] != None %}
              <div>
                <input type="radio" class="btn-check" id="candidate_answer_choice_c{{ current_question_number_to_html }}" name="ui_answer_choice_selected_{{ current_question_number_to_html }}" value="c" autocomplete="off" required>
                <label class="btn btn-outline-primary custom-width-6 btn-lg custom-ptb-8" for="candidate_answer_choice_c{{ current_question_number_to_html }}">{{ db_question_obj_to_html['option_c'] }}</label>
              </div>
              {% endif %}

              {% if db_question_obj_to_html['option_d'] != None %}
              <div>
                <input type="radio" class="btn-check" id="candidate_answer_choice_d{{ current_question_number_to_html }}" name="ui_answer_choice_selected_{{ current_question_number_to_html }}" value="d" autocomplete="off" required>
                <label class="btn btn-outline-info custom-width-6 btn-lg custom-ptb-8" for="candidate_answer_choice_d{{ current_question_number_to_html }}">{{ db_question_obj_to_html['option_d'] }}</label>
              </div>
              {% endif %}

              {% if db_question_obj_to_html['option_e'] != None and db_question_obj_to_html['option_e'] != '' %}
              <div>
                <input type="radio" class="btn-check" id="candidate_answer_choice_e{{ current_question_number_to_html }}" name="ui_answer_choice_selected_{{ current_question_number_to_html }}" value="e" autocomplete="off" required>
                <label class="btn btn-outline-warning custom-width-6 btn-lg custom-ptb-8" for="candidate_answer_choice_e{{ current_question_number_to_html }}">{{ db_question_obj_to_html['option_e'] }}</label>
              </div>
              {% endif %}
            </div>
            <div class="text-center">
              <img src="/static/images/candidates/logo/logo_wide_v3_black2.png" alt="powered by triviafy logo" class="custom-img-size-10">
              <div class="text-center custom-mt-4">
                <p class="custom-size-3 custom-color-light-1 fst-italic"><a href="/employees/signup">Create account</a> required to see results.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- ------------------------------------- question end ------------------------------------- -->
  </div>
</div>
<!-- ----------------------------------- shape divider start ----------------------------------- -->
<div class="custom-shape-divider-bottom-1672276706 custom-bg-primary-darker">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
  </svg>
</div>
<!-- ----------------------------------- shape divider end ----------------------------------- -->
<!-- ----------------------------------- bottom start ----------------------------------- -->
<div class="text-center custom-pb-3">
  <img src="/static/images/candidates/logo/logo_wide_v3_black2.png" alt="powered by triviafy logo" class="custom-img-size-10">
  <div class="text-center custom-mt-4">
    <p class="custom-size-3 custom-color-light-1 fst-italic"><a href="/employees/signup">Create account</a> required to see results.</p>
  </div>
</div>
<!-- ----------------------------------- bottom end ----------------------------------- -->
{% endblock %}