{% extends "candidates/aaa_base/single_message.html" %}

{% block title %}
<title>Triviafy Test</title>
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<main>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Img, message, button Start -->
  <div class="text-center custom-mt-5">
    <img src="/static/images/all/logo/logo_v3.png" alt="Triviafy Logo" class="custom-img-size-7-mobile">
    <p class="custom-ptb-4 custom-header-4">You have successfully completed your Triviafy test, thank you!</p>
    <a href="/candidates" class="btn btn-primary btn-lg">Home</a>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Img, message, button End -->
</main>
{% endblock %}