{% extends "candidates_page_templates/aaa_base_page_templates/base2_external.html" %}

{% block title %}
    <title>Login - Triviafy</title>
    <meta name="description" content="The friendliest pre employment testing platform, mobile supported. Pre employment screening made simple. Pre employment tests for 50+ frameworks.">
    <meta name="og:description" content="The friendliest pre employment testing platform, mobile supported. Pre employment screening made simple. Pre employment tests for 50+ frameworks.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container mx-auto custom-pt-3 custom-width-4 custom-pb-1 custom-index-2">
  <form method="POST" enctype="multipart/form-data" class="custom-ptb-3 shadow border custom-br-1 custom-bg-grey-2">
    <!-- ----------------------------------- start ----------------------------------- -->
    {% if error_message_to_html != '' %}
    <div class="alert alert-success mx-auto" role="alert">
      {{ error_message_to_html }}
    </div>
    {% endif %}
    <!-- ----------------------------------- end ----------------------------------- -->
    <div class="text-center custom-pb-4">
      <h1 class="custom-header-2">Reset password</h1>
    </div>
    <div class="custom-pb-6">
      <div class="mb-3">
        <label for="forgot_password_page_ui_email" class="form-label"></label>
        <input type="email" class="form-control" id="forgot_password_page_ui_email" name="forgot_password_page_ui_email" aria-describedby="emailHelp" placeholder="Work email*" pattern="\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b" required>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Reset</button>
    </div>
  </form>
</div>
<!-- ----------------------------------- end ----------------------------------- -->
{% endblock %}