{% extends "aaa_base_page_templates/base2_child1_not_logged_in_no_navbar_and_footer.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Forgot Password / Triviafy</title>
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - forgot password form start -->
<p>Triviafy Forgot Password</p>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - forgot password form end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - other links start -->
<div class="login-create-account-other-links-section">
  <p><a href="{{ url_for('auth.candidates_signup_function') }}" class="pricing-a">Create account</a></p>
  <p><a href="{{ url_for('views.landing_index_page_function') }}" class="pricing-a">Home</a></p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - other links end -->
{% endblock %}