{% extends "candidates_page_templates/aaa_base_page_templates/base2_child1_logged_in_yes_navbar_and_footer.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Dashboard / Triviafy</title>
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - company name start -->
<div class="general-signed-in-company-name-section">
  <p class="general-signed-in-company-name-title">{{ users_company_name_to_html }}</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - company name end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="general-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - main page start -->
<div class="candidates-assessment-split-section">
  
  <div class="split-side-dashboard-general split-side-candidates">
    <div class="dashboard-split-title-section">
      <p class="dashboard-split-title">Candidates</p>
    </div>
    <p>Total candidates uploaded: {{ len_current_user_uploaded_emails_arr_to_html }}</p>
  </div>

  <div class="split-side-dashboard-general split-side-assessments">
    <div class="dashboard-split-title-section">
      <p class="dashboard-split-title">Assessments</p>
    </div>
  </div>

</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - main page end -->
{% endblock %}