{% extends "candidates/aaa_base/base2_interior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Create New Assessments / Triviafy</title>
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}

<form method="POST" enctype="multipart/form-data">

  <div class="container custom-display-flex custom-pt-6 custom-jc-2 custom-pb-6">
    <h2 class="custom-header-2">Create assessment</h2>
    <button type="submit" class="btn btn-primary btn-lg">Continue</button>
  </div>

  <div class="container border shadow-sm custom-br-3 custom-bg-white">
    <div>
      {% for i in candidate_categories_arr_to_html %}
      <!-- ----------------------------- example start ----------------------------- -->
      <input type="checkbox" class="btn-check" id="testLabelAdded" name="testLabelAdded" value="{{ i }}">
      <label class="btn btn-outline-primary" for="testLabelAdded">{{ i }}</label>
      <!-- ----------------------------- example end ----------------------------- -->
      {% endfor %}

      <!-- {% for i in candidate_categories_arr_to_html %}
      <input type="checkbox" id="testLabelAdded" name="testLabelAdded" value="{{ i }}"/>{{ i }}
      <label for="testLabelAdded"></label>
      {% endfor %} -->
    </div>

    <div>
      <a href="{{ url_for('views_interior.candidates_categories_request_function') }}"><p>Request more assessment categories</p></a>
    </div>
  </div>

</form>
{% endblock %}