{% extends "candidates/aaa_base/base2_interior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Create Assessment / Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<form method="POST" enctype="multipart/form-data">
  <div class="container custom-display-flex custom-pt-6 custom-jc-2 custom-pb-6" onsubmit="return clickSubmitButtonOnce()">
    <h2 class="custom-header-2-mobile">Create test</h2>
    <button type="submit" class="btn btn-primary">Continue</button>
  </div>
  <div class="container border shadow custom-br-1 custom-bg-white">
    <div class="container custom-display-flex custom-jc-1 custom-pt-1">
      <div class="text-center">
        <div class="custom-border-5-dark custom-wh-1 rounded-circle mx-auto">
          <p class="custom-header-4 rounded-circle custom-bg-1-dark custom-wh-2 custom-mlt-1"><span class="custom-header-white">1</span></p>
        </div>
        <p class="text-nowrap custom-color-2-dark custom-header-5-mobile custom-mt-4">Select categories</p>
      </div>
      <div class="text-center">
        <div class="custom-border-5-light custom-wh-1 rounded-circle mx-auto">
          <p class="custom-header-4 rounded-circle custom-bg-1-light custom-wh-2 custom-mlt-1"><span class="custom-header-white">2</span></p>
        </div>
        <p class="text-nowrap custom-color-2-light custom-header-5-mobile custom-mt-4">Review & confirm</p>
      </div>
    </div>
    <div class="custom-p-4 text-center">
      {% for i in candidate_categories_arr_to_html %}
      <input type="checkbox" class="btn-check" id="testLabelAdded_{{ i }}" name="testLabelAdded" value="{{ i }}">
      <label class="btn btn-outline-secondary custom-m-1 custom-width-5 custom-ptb-1" for="testLabelAdded_{{ i }}">{{ i }}</label>
      {% endfor %}
    </div>
  </div>
  <div class="text-center custom-p-4">
    <a href="/candidates/request" class="custom-a-3"><p class="custom-header-5">Request more assessment categories</p></a>
  </div>
</form>
{% endblock %}