{% extends "base.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Test Library / Triviafy</title>
{% endblock %}

{% block content %}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro start -->
<div class="landing-page-intro-3-section">
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro left side start -->
  <div class="landing-page-intro-3-words-section">
    <p class="landing-page-intro-3-header">Test library for the friendliest skill assessment experience.</p>
    <p class="landing-page-3-subheader landing-page-intro-3-sub-header">Early stage candidate screening made simple.</p>
    <div class="landing-page-get-started-section">
      <div class="landing-page-intro-3-next-steps-section">
        <form action="#" method="post" class="landing-page-email-form-3" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
          <label for="user_input_email" class="landing-page-form-email-label"></label>
          <input type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,10}$" id="user_input_email" name="user_input_email" placeholder="Your work email" class="default-not-signed-in-text-input" required><br><br>
          <input type="submit" value="Get started!" class="default-button-format default-button-format-primary-color landing-page-button-position-3">
        </form>
        <p class="free-trial-no-card-required-3">(No credit card required.)</p>
      </div>
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro left side end -->
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro right side start -->
  <div class="landing-page-intro-3-media-section">
    <img src="/static/images/candidates/test_library_page/test_library_red.png" alt="" class="general-page-intro-3-media-img">
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro right side end -->
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - supported frameworks start -->
<div class="landing-page-supported-frameworks-section">
  <div class="landing-page-3-header">
    <p class="section-title-p-margins">50+ Supported frameworks</p>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - framework logos start -->
  <div class="landing-page-frameworks-section">
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/android.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Android</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/angular.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Angular</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/aws.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">AWS</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/azure.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Azure</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/c_plus.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">C++</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/c_sharp.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">C#</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/cloudflare.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Cloudflare</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/css.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">CSS</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/databricks.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Databricks</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/dbt.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">dbt</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/django.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">django</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/docker.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">docker</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/drupal.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Drupal</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/excel.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Excel</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/figma.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Figma</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/go.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Go</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/google_ads.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Google Ads</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/graphql.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">GraphQL</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/html.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">HTML</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/hubspot.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Hubspot</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/ios_apple.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">IOS</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/java.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Java</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/javascript.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">JavaScript</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/jquery.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">jQuery</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/kotlin.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Kotlin</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/looker.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Looker</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/lua.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Lua</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/mongo_db.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">MongoDB</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/node_js.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Node.js</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/php.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">PHP</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/postgres.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Postgres</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/power_bi.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Power BI</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/python.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Python</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/r.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">R</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/react.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">React</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/ruby_rails.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Ruby on Rails</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/ruby.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Ruby</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/rust.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Rust</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/salesforce.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Salesforce</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/scala.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Scala</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/selenium.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Selenium</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/shopify.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Shopify</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/snowflake.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Snowflake</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/spring.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Spring.js</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/sql.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">SQL</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/swift.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Swift</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/tableau.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Tableau</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/typescript.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">TypeScript</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/wordpress.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Wordpress</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/workday.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Workday</p>
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - framework logos end -->
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - supported frameworks end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - how it works start -->
<div class="landing-hiw-section">
  <div class="landing-page-3-header">
    <p class="section-title-p-margins">Test library samples</p>
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - how it works end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - how it works sned quiz start -->
<div class="hiw-split-section">
  <div class="hiw-split-left-section">
    <div class="hiw-send-to-candidates-words">
      <p class="general-font-black library-fancy-p">Triviafy offers <span class="library-underline">fill in the blank</span> questions.</p>
    </div>
  </div>
  <div class="hiw-split-right-section">
    <div class="question-example-container">
      <img src="/static/images/candidates/test_library_page/example_lower_w740_h480.png" alt="img" class="question-example-screenshot-img">
    </div>
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - how it works send quiz end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - how it works sned quiz start -->
<div class="hiw-split-section">
  <div class="hiw-split-left-section">
    <div class="question-example-container">
      <img src="/static/images/candidates/test_library_page/example_lower_w740_h500.png" alt="img" class="question-example-screenshot-img">
    </div>
  </div>
  <div class="hiw-split-right-section">
    <div class="hiw-send-to-candidates-words">
      <p class="general-font-black library-fancy-p">Triviafy offers <span class="library-underline">multiple choice</span> questions.</p>
    </div>
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - how it works send quiz end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - how it works sned quiz start -->
<div class="hiw-split-section">
  <div class="hiw-split-left-section">
    <div class="hiw-send-to-candidates-words">
      <p class="general-font-black library-fancy-p">Triviafy offers <span class="library-underline">candidate</span> and <span class="library-underline">framework</span> analytics dashboards.</p>
    </div>
  </div>
  <div class="hiw-split-right-section">
    <div class="question-example-container">
      <img src="/static/images/candidates/test_library_page/test_library_analytics.png" alt="img" class="question-example-screenshot-img">
    </div>
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - how it works send quiz end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - other company logos start -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - supported frameworks start -->
<div class="landing-page-other-companies-section">
  <div class="landing-page-3-header">
    <p class="section-title-p-margins">Companies that love skill assessments!</p>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - framework logos start -->
  <div class="landing-page-all-logos-section">
    <div class="landing-page-company-container">
      <img src="/static/images/candidates/logos_companies/cisco.png" alt="Other company logo dark" class="company-logo-img">
    </div>
    <div class="landing-page-company-container">
      <img src="/static/images/candidates/logos_companies/domo.png" alt="Other company logo dark" class="company-logo-img">
    </div>
    <div class="landing-page-company-container">
      <img src="/static/images/candidates/logos_companies/retro_fitness.png" alt="Other company logo dark" class="company-logo-img">
    </div>
    <div class="landing-page-company-container">
      <img src="/static/images/candidates/logos_companies/soundcloud.png" alt="Other company logo dark" class="company-logo-img">
    </div>
    <div class="landing-page-company-container">
      <img src="/static/images/candidates/logos_companies/toast.png" alt="Other company logo dark" class="company-logo-img">
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - framework logos end -->
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - other company logos end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - sign up small start -->
<div class="sign-up-small-section default-box-shadow-grey-reg">
  <div class="landing-page-3-header">
    <p class="section-title-p-margins">Start filtering your candidates today!</p>
    <p class="landing-page-3-subheader">100% free. Send your first candidate assessment in less than 2 minutes.</p>
  </div>
  <div class="landing-page-get-started-section">
    <div class="landing-page-intro-3-next-steps-section">
      <form action="#" method="post" class="landing-page-email-form-3" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
        <label for="user_input_email" class="landing-page-form-email-label"></label>
        <input type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,10}$" id="user_input_email" name="user_input_email" placeholder="Your work email" class="default-not-signed-in-text-input" required><br><br>
        <input type="submit" value="Get started!" class="default-button-format default-button-format-primary-color landing-page-button-position-3">
      </form>
      <p class="free-trial-no-card-required-3">(No credit card required.)</p>
    </div>
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - sign up small end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->
{% endblock %}