{% extends "candidates_page_templates/aaa_base_page_templates/base2_child1_logged_in_yes_navbar_and_footer.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Assessments Analytics / Triviafy</title>
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - company name start -->
<div class="general-signed-in-company-name-section">
  <p class="general-signed-in-company-name-title">{{ users_company_name_to_html }}</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - company name end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="general-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - general page title start -->
<div class="general-page-title-section">
  <p class="general-page-title">Assessment Analytics</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - general page title end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="general-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - main page start -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - candidate analytics datatables start -->
<div class="assessment-analytics-datatable-section">
  <table id="table_id_triviafy_assessment_analytics" class="display">
    <thead>
      <tr>
        <th>Name</th>
        <th>View</th>
        <th>Candidates Pending</th>
        <th>Candidates Received</th>
        <th>Candidates Completed</th>
      </tr>
    </thead>
    
    <tbody>
      {% for i in all_assessments_arr_of_dicts_to_html %}
      <tr>
        <td>{{ i['assessment_name'] }}</td>
        <td>link here</td>
        <td>{{ i['candidates_pending'] }}</td>
        <td>{{ i['candidates_received'] }}</td>
        <td>{{ i['candidates_completed'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - candidate analytics datatables end -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - main page end -->
{% endblock %}