{% extends "candidates_page_templates/aaa_base_page_templates/base2_child1_not_logged_in_yes_navbar_and_footer.html" %}

{% block title %}
<title>Confirm Email / Triviafy</title>
<!-- ------------------------------------------------ google ads start -->
    <!-- From email subject: "support@triviafy.com sent you a conversion tracking tag" -->
<!-- Event snippet for Website traffic conversion page --> <script> gtag('event', 'conversion', {'send_to': 'AW-10937231585/diVHCNewidoDEOHRo98o'}); </script>
<!-- ------------------------------------------------ google ads end -->
{% endblock %}



{% block contentBodyExceptNavbarAndFooter %}
<div class="default-not-signed-in-simple-page-section">
  <div class="default-not-signed-in-simple-page-img-section">
    <img src="/static/images/logo/Logo.png" alt="Triviafy logo" class="default-not-signed-in-simple-page-img">
  </div>
  
  <div class="default-not-signed-in-simple-page-desctiption-section">
    <p class="default-not-signed-in-page-p-font default-not-signed-in-page-content-sub-section">Thank you, "Triviafy Candidates" is set to launch September 2022.</p>
    <p class="default-not-signed-in-page-p-font default-not-signed-in-page-content-sub-section">We will email you on product launch day!</p>
  </div>

  <div class="default-not-signed-in-simple-page-button-section">
    <a href="#"><button class="default-button-format default-button-format-primary-color" type="submit" value="submit">Home</button></a>
  </div>
</div>
{% endblock %}