/* - - - - - - - - - - test library start */
.general-font-black {
  /* border: 1px solid black; */
  font-size: 20px;
}
.library-fancy-p {
  /* border: 1px solid black; */
  text-shadow: 2px 2px 1px rgb(215 215 215);
}
.question-example-container {
  /* border: 1px solid black; */
  text-align: center;
  margin: 20px 0 0 0;
}
.question-example-screenshot-img {
  max-width: 100%;
}
.library-underline {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: var(--company-primary-color);
  /* color: var(--company-primary-color); */
  text-decoration-thickness: 1px;
}
/* - - - - - - - - - - test library end */