{% extends "admin_page/aaa_base/base2_interior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Admin - Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
{% if page_dict_to_html['alert_message_dict']['message'] != '' %}
<div class="alert alert-{{ page_dict_to_html['alert_message_dict']['type'] }} mx-auto text-center container custom-mt-1" role="alert">
  {{ page_dict_to_html['alert_message_dict']['message'] }}
</div>
{% endif %}
<!-- ----------------------------------- end ----------------------------------- -->
<div class="container custom-display-flex custom-pt-6 custom-jc-2">
  <h2 class="custom-header-2-mobile">Admin delete</h2>
</div>
<!-- ------------------------------------- admin section start ------------------------------------- -->
<div class="container border shadow custom-br-1 custom-bg-white custom-mb-1">
  <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
    <div class="mx-auto custom-width-14 custom-ptb-5">
      <div>
        <label for="DeleteOneGroupAllEmployeesTables" class="form-label">DeleteOneGroupAllEmployeesTables</label>
        <input type="text" class="form-control custom-search-bar-1" id="DeleteOneGroupAllEmployeesTables" name="DeleteOneGroupAllEmployeesTables" placeholder="GroupID to delete" required>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-outline-danger btn-sm custom-mt-1">DELETE</button>
      </div>
    </div>
  </form>
</div>
<!-- ------------------------------------- admin section end ------------------------------------- -->
<!-- ------------------------------------- admin section start ------------------------------------- -->
<div class="container border shadow custom-br-1 custom-bg-white custom-mb-1">
  <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
    <div class="mx-auto custom-width-14 custom-ptb-5">
      <div>
        <label for="DeleteOneUserInAllGroupsAllEmployeesTables" class="form-label">DeleteOneUserInAllGroupsAllEmployeesTables</label>
        <input type="text" class="form-control custom-search-bar-1" id="DeleteOneUserInAllGroupsAllEmployeesTables" name="DeleteOneUserInAllGroupsAllEmployeesTables" placeholder="@email to delete from group" required>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-outline-danger btn-sm custom-mt-1">DELETE</button>
      </div>
    </div>
  </form>
</div>
<!-- ------------------------------------- admin section end ------------------------------------- -->
<!-- ------------------------------------- admin section start ------------------------------------- -->
<div class="container border shadow custom-br-1 custom-bg-tan-1 custom-mb-1">
  <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
    <div class="mx-auto custom-width-14 custom-ptb-5">
      <div>
        <label for="DeleteOneUserAllCandidatesAndEmployeesTables" class="form-label">DeleteOneUserAllCandidatesAndEmployeesTables</label>
        <input type="text" class="form-control custom-search-bar-1" id="DeleteOneUserAllCandidatesAndEmployeesTables" name="DeleteOneUserAllCandidatesAndEmployeesTables" placeholder="@email to delete from master" required>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-outline-danger btn-sm custom-mt-1">DELETE</button>
      </div>
    </div>
  </form>
</div>
<!-- ------------------------------------- admin section end ------------------------------------- -->
<!-- ------------------------------------- admin section start ------------------------------------- -->
<div class="container border shadow custom-br-1 custom-bg-white custom-mb-1">
  <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
    <div class="mx-auto custom-width-14 custom-ptb-5">
      <div>
        <label for="DeleteRedisDeletedCookies" class="form-label">DeleteRedisDeletedCookies</label>
        <input type="text" class="form-control custom-search-bar-1" id="DeleteRedisDeletedCookies" name="DeleteRedisDeletedCookies" placeholder="anything" required>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-outline-danger btn-sm custom-mt-1">DELETE</button>
      </div>
    </div>
  </form>
</div>
<!-- ------------------------------------- admin section end ------------------------------------- -->
<!-- ------------------------------------- signature start ------------------------------------- -->
<div class="custom-width-15 mx-auto custom-mt-100">
  <a href="/admin" class="navbar-brand">
    <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/official_logo.png" alt="triviafy logo" class="custom-img-size-1 custom-mt-negative-1">
    <span class="fw-bold custom-header-1">Triviafy<spa class="custom-header-4">.com</span></span>
    <div class="text-center">
      <p class="custom-m-0">Team building software</p>
    </div>
  </a>
</div>
<!-- ------------------------------------- signature end ------------------------------------- -->
{% endblock %}