{% extends "candidates_page_templates/aaa_base_page_templates/base2_child1_logged_in_yes_navbar_and_footer.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Create New Assessments / Triviafy</title>
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - company name start -->
<div class="general-signed-in-company-name-section">
  <p class="general-signed-in-company-name-title">{{ users_company_name_to_html }}</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - company name end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="general-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - general page title start -->
<div class="general-page-title-section">
  <p class="general-page-title">Create Assessment</p>
  <p class="general-page-sub-title">Select categories</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - general page title end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - error message start -->
<div class="error-message-section">
  <p>{{ error_message_to_html }}</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - error message end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="general-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - main page start -->
<div class="create-assessment-form-container">
  <form method="POST" class="create-assessment-form" enctype="multipart/form-data">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - desired languages start -->
    <div class="create-assessment-langs-section">
      <div class="create-assessment-items-col1">
        {% for i in candidate_categories_arr_1_to_html %}
        <li class="create-assessment-li candidates-default-box-shadow-grey-small">
          {% if check_off_marker_item_to_html == i %}
          <input type="checkbox" id="testLabelAdded" name="testLabelAdded" value="{{ i }}" checked/>{{ i }}
          <label for="testLabelAdded"></label>
          {% else %}
          <input type="checkbox" id="testLabelAdded" name="testLabelAdded" value="{{ i }}"/>{{ i }}
          <label for="testLabelAdded"></label>
          {% endif %}
        </li>
        {% endfor %}
      </div>

      <div class="create-assessment-items-col2">
        {% for i in candidate_categories_arr_2_to_html %}
        <li class="create-assessment-li candidates-default-box-shadow-grey-small">
          {% if check_off_marker_item_to_html == i %}
          <input type="checkbox" id="testLabelAdded" name="testLabelAdded" value="{{ i }}" checked/>{{ i }}
          <label for="testLabelAdded"></label>
          {% else %}
          <input type="checkbox" id="testLabelAdded" name="testLabelAdded" value="{{ i }}"/>{{ i }}
          <label for="testLabelAdded"></label>
          {% endif %}
        </li>
        {% endfor %}
      </div>
      
      <div class="create-assessment-items-col3">
        {% for i in candidate_categories_arr_3_to_html %}
        <li class="create-assessment-li candidates-default-box-shadow-grey-small">
          {% if check_off_marker_item_to_html == i %}
          <input type="checkbox" id="testLabelAdded" name="testLabelAdded" value="{{ i }}" checked/>{{ i }}
          <label for="testLabelAdded"></label>
          {% else %}
          <input type="checkbox" id="testLabelAdded" name="testLabelAdded" value="{{ i }}"/>{{ i }}
          <label for="testLabelAdded"></label>
          {% endif %}
        </li>
        {% endfor %}
      </div>
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - desired languages end -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
    <div class="general-spacer-section-small"></div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - submit button start -->
    <div class="create-assessment-user-input-button-section">
      <button type="submit" class="default-button-format default-button-format-primary-color">Next: Select Questions</button>
      <a href="{{ url_for('views.candidates_categories_request_function') }}" class="general-a-primary"><p class="general-margin-top-small">Request more assessment categories</p></a>
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - submit button end -->
  </form>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="general-spacer-section-large"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - main page end -->
{% endblock %}