{% extends "employees/aaa_base/base2_exterior.html" %}

{% block title %}
    <title>Blog - Triviafy</title>
    <meta name="description" content="Weekly team building activity, mobile supported. Trivia fun made simple. Employee engagement trivia for for 50+ categories.">
    <meta name="og:description" content="Weekly team building activity, mobile supported. Trivia fun made simple. Employee engagement trivia for for 50+ categories.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
<div class="container-fluid">
  <div class="container custom-height-1-mobile">
    <div class="float-start custom-pt-2">
      <h1 class="custom-m-0 custom-width-1 custom-header-1">Blog for the best team building activity.</h1>
      <h2 class="custom-header-4 custom-mt-1">Boost your team's engagement metrics.</h2>
      <form action="{{ url_for('employees_auth.employees_signup_function') }}" method="post" enctype="multipart/form-data" class="custom-display-flex custom-pt-1" onsubmit="return clickSubmitButtonOnce()">
        <label for="uiEmailVarious" class="form-label"></label>
        <input type="email" class="form-control custom-mr-2 custom-p-3" id="uiEmailVarious" name="uiEmailVarious" aria-describedby="emailHelp" placeholder="Work email" required>
        <button type="submit" class="btn btn-primary text-nowrap">Get Started</button>
      </form>
      <div class="text-center custom-mt-2">
        <p class="custom-size-4 custom-color-light-1">(No credit card required.)</p>
      </div>
    </div>
    <div class="float-end custom-pt-3 custom-pb-1 text-center">
      <img src="/static/images/employees/cutouts/cutout_kelly.png" alt="candidate overview" class="custom-img-size-3">
    </div>
  </div>
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container custom-display-flex custom-fw-1 custom-jc-1">
  <!-- ------------------------------------- individual blog post start ------------------------------------- -->
  <div class="card custom-m-2" style="width: 18rem;">
    <a href="https://medium.com/triviafy/ice-breaker-questions-top-ice-breaker-tools-apps-for-engaging-employees-2022-772d063d7515" target="_blank" class="custom-a-2"><img src="/static/images/candidates/blog/blog_logo_colors/green.png" class="card-img-top" alt="blog post picture"></a>
    <div class="card-body">
      <h5 class="card-title"><a href="https://medium.com/triviafy/ice-breaker-questions-top-ice-breaker-tools-apps-for-engaging-employees-2022-772d063d7515" target="_blank" class="custom-a-2">Ice Breaker Questions — Top Ice Breaker Tools...</a></h5>
      <p class="card-text"><a href="https://medium.com/triviafy/ice-breaker-questions-top-ice-breaker-tools-apps-for-engaging-employees-2022-772d063d7515" target="_blank" class="custom-a-2">Define Ice Breaker according to Drexel.edu “Any short activity that requires the participants to...</a></p>
      <a href="https://medium.com/triviafy/ice-breaker-questions-top-ice-breaker-tools-apps-for-engaging-employees-2022-772d063d7515" target="_blank" class="btn btn-primary">Read post</a>
    </div>
  </div>
  <!-- ------------------------------------- individual blog post end ------------------------------------- -->
  <!-- ------------------------------------- individual blog post start ------------------------------------- -->
  <div class="card custom-m-2" style="width: 18rem;">
    <a href="https://medium.com/triviafy/top-5-team-building-activities-for-remote-teams-2022-new-year-d7e113b79e6f" target="_blank" class="custom-a-2"><img src="/static/images/candidates/blog/blog_logo_colors/orange.png" class="card-img-top" alt="blog post picture"></a>
    <div class="card-body">
      <h5 class="card-title"><a href="https://medium.com/triviafy/top-5-team-building-activities-for-remote-teams-2022-new-year-d7e113b79e6f" target="_blank" class="custom-a-2">Top 5 Team Building Activities for Remote Teams...</a></h5>
      <p class="card-text"><a href="https://medium.com/triviafy/top-5-team-building-activities-for-remote-teams-2022-new-year-d7e113b79e6f" target="_blank" class="custom-a-2">Overview to combat “The Great Resignation” real leaders turn to team building activities. We’ve...</a></p>
      <a href="https://medium.com/triviafy/top-5-team-building-activities-for-remote-teams-2022-new-year-d7e113b79e6f" target="_blank" class="btn btn-primary">Read post</a>
    </div>
  </div>
  <!-- ------------------------------------- individual blog post end ------------------------------------- -->
  <!-- ------------------------------------- individual blog post start ------------------------------------- -->
  <div class="card custom-m-2" style="width: 18rem;">
    <a href="https://medium.com/triviafy/category-trivia-f8b55c6f911d" target="_blank" class="custom-a-2"><img src="/static/images/candidates/blog/blog_logo_colors/red.png" class="card-img-top" alt="blog post picture"></a>
    <div class="card-body">
      <h5 class="card-title"><a href="https://medium.com/triviafy/category-trivia-f8b55c6f911d" target="_blank" class="custom-a-2">Category Trivia</a></h5>
      <p class="card-text"><a href="https://medium.com/triviafy/category-trivia-f8b55c6f911d" target="_blank" class="custom-a-2">What is Triviafy? Slack app Triviafy is a weekly trivia quiz for your team. The weekly trivia quiz...</a></p>
      <a href="https://medium.com/triviafy/category-trivia-f8b55c6f911d" target="_blank" class="btn btn-primary">Read post</a>
    </div>
  </div>
  <!-- ------------------------------------- individual blog post end ------------------------------------- -->
  <!-- ------------------------------------- individual blog post start ------------------------------------- -->
  <div class="card custom-m-2" style="width: 18rem;">
    <a href="https://medium.com/triviafy/top-5-free-slack-apps-for-team-building-and-employee-engagement-1e13607600f5" target="_blank" class="custom-a-2"><img src="/static/images/candidates/blog/blog_logo_colors/yellow.png" class="card-img-top" alt="blog post picture"></a>
    <div class="card-body">
      <h5 class="card-title"><a href="https://medium.com/triviafy/top-5-free-slack-apps-for-team-building-and-employee-engagement-1e13607600f5" target="_blank" class="custom-a-2">Top 5 Free Slack Apps For Team Building and...</a></h5>
      <p class="card-text"><a href="https://medium.com/triviafy/top-5-free-slack-apps-for-team-building-and-employee-engagement-1e13607600f5" target="_blank" class="custom-a-2">Overview list of best free trial Slack apps that automate and outsource team building activities...</a></p>
      <a href="https://medium.com/triviafy/top-5-free-slack-apps-for-team-building-and-employee-engagement-1e13607600f5" target="_blank" class="btn btn-primary">Read post</a>
    </div>
  </div>
  <!-- ------------------------------------- individual blog post end ------------------------------------- -->
  <!-- ------------------------------------- individual blog post start ------------------------------------- -->
  <div class="card custom-m-2" style="width: 18rem;">
    <a href="https://medium.com/triviafy/top-3-hybrid-team-building-activities-ddf48b78f694" target="_blank" class="custom-a-2"><img src="/static/images/candidates/blog/blog_logo_colors/blue.png" class="card-img-top" alt="blog post picture"></a>
    <div class="card-body">
      <h5 class="card-title"><a href="https://medium.com/triviafy/top-3-hybrid-team-building-activities-ddf48b78f694" target="_blank" class="custom-a-2">Top 3 Hybrid Team Building Activities</a></h5>
      <p class="card-text"><a href="https://medium.com/triviafy/top-3-hybrid-team-building-activities-ddf48b78f694" target="_blank" class="custom-a-2">Overview question: What is hybrid work? Problem: How does hybrid work impact my team? Solution...</a></p>
      <a href="https://medium.com/triviafy/top-3-hybrid-team-building-activities-ddf48b78f694" target="_blank" class="btn btn-primary">Read post</a>
    </div>
  </div>
  <!-- ------------------------------------- individual blog post end ------------------------------------- -->
  <!-- ------------------------------------- individual blog post start ------------------------------------- -->
  <div class="card custom-m-2" style="width: 18rem;">
    <a href="https://medium.com/triviafy/top-3-workplace-trivia-platforms-that-improve-employee-engagement-34953838a86f" target="_blank" class="custom-a-2"><img src="/static/images/candidates/blog/blog_logo_colors/green.png" class="card-img-top" alt="blog post picture"></a>
    <div class="card-body">
      <h5 class="card-title"><a href="https://medium.com/triviafy/top-3-workplace-trivia-platforms-that-improve-employee-engagement-34953838a86f" target="_blank" class="custom-a-2">Top 3 Workplace Trivia Platforms That Improve...</a></h5>
      <p class="card-text"><a href="https://medium.com/triviafy/top-3-workplace-trivia-platforms-that-improve-employee-engagement-34953838a86f" target="_blank" class="custom-a-2">Does This Sound Like Your Team’s Weekly Routine? M: “How was your weekend?” T/W: “Can you believe...</a></p>
      <a href="https://medium.com/triviafy/top-3-workplace-trivia-platforms-that-improve-employee-engagement-34953838a86f" target="_blank" class="btn btn-primary">Read post</a>
    </div>
  </div>
  <!-- ------------------------------------- individual blog post end ------------------------------------- -->
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container-fluid">
  <div class="container text-center custom-pt-3">
    <h2 class="custom-mb-1 custom-header-1">Companies that love team building activites!</h2>
  </div>
  <div class="container custom-display-flex custom-fw-1 custom-jc-1 custom-mb-3">
    <img src="/static/images/candidates/logos_companies/datadog.png" alt="pre employment testing datadog" class="custom-img-size-6 custom-m-2">
    <img src="/static/images/candidates/logos_companies/intuit.png" alt="pre employment testing intuit" class="custom-img-size-6 custom-m-2">
    <img src="/static/images/candidates/logos_companies/shopify.png" alt="pre employment testing shopify" class="custom-img-size-6 custom-m-2">
    <img src="/static/images/candidates/logos_companies/slack.png" alt="pre employment testing slack" class="custom-img-size-6 custom-m-2">
    <img src="/static/images/candidates/logos_companies/surveymonkey.png" alt="pre employment testing surveymonkey" class="custom-img-size-6 custom-m-2">
  </div>
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container-fluid custom-pb-1">
  <div class="container custom-bg-colorful-1 custom-br-1 shadow custom-width-3">
    <div class="container text-center custom-pt-3">
      <h2 class="custom-header-1">Start team trivia <span class="fst-italic">today!</span></h2>
      <h2 class="custom-header-4">Send your first triviafy test in less than 60 seconds.</h2>
    </div>
    <form action="{{ url_for('employees_auth.employees_signup_function') }}" method="post" enctype="multipart/form-data" class="custom-display-flex custom-width-1 mx-auto custom-pt-4" onsubmit="return clickSubmitButtonOnce()">
      <label for="uiEmailVarious" class="form-label"></label>
      <input type="email" class="form-control custom-mr-2 custom-p-3" id="uiEmailVarious" name="uiEmailVarious" aria-describedby="emailHelp" placeholder="Work email" required>
      <button type="submit" class="btn btn-primary text-nowrap">Get Started</button>
    </form>
    <div class="text-center custom-mt-2 custom-pb-3">
      <p class="custom-size-4 custom-color-light-1">(No credit card required.)</p>
    </div>
  </div>
</div>
<!-- ----------------------------------- end ----------------------------------- -->
{% endblock %}