{% extends "candidates/aaa_base/base2_interior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Create Assessment / Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
{% if alert_message_page_to_html != '' %}
<div class="alert alert-{{ alert_message_type_to_html }} mx-auto text-center custom-mt-3 container" role="alert">
  {{ alert_message_page_to_html }}
</div>
{% endif %}
<!-- ----------------------------------- end ----------------------------------- -->
<!-- ----------------------------------- start ----------------------------------- -->
<div class="container custom-display-flex custom-pt-6 custom-jc-2 custom-pb-6">
  <div>
    <h2 class="custom-header-2-mobile">Add candidates</h2>
  </div>
  <div>
    <a href="/candidates/schedule" class="btn btn-outline-secondary">Send test</a>
  </div>
</div>
<div class="container border shadow custom-br-1 custom-bg-white custom-ptb-6">
  {% if total_test_made_to_html == 0 %}
  <div class="text-center">
    <p class="fst-italic custom-color-light-1 custom-header-5">You have not yet created any tests.</p>
    <a href="/candidates/assessment/new/1b" class="btn btn-primary btn-lg">Create test +</a>
  </div>
  {% else %}
  <div class="custom-display-flex custom-fw-1">
    <div class="custom-width-11-mobile custom-p-5">
      <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
        <div class="custom-mb-6">
          <label for="uiCandidateEmail" class="form-label">Add individual candidate</label>
          <input type="email" class="form-control" id="uiCandidateEmail" name="uiCandidateEmail" aria-describedby="emailHelp" placeholder="Candidate email*" pattern="\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b" required>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-outline-primary btn-lg">Submit</button>
        </div>
      </form>
    </div>
    <div class="custom-width-11-mobile custom-p-5">
      {% if stripe_subscription_obj_status_to_html != 'active' %}
      <div class="custom-mb-6">
        <label for="ui_image_upload" class="form-label">Add bulk candidates - <a href="/candidates/account">Subscription</a> required</label>
        <input class="form-control" type="file" name="file" oninput="filesize(this);" disabled>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-outline-secondary btn-lg" disabled>Submit</button>
      </div>
      {% else %}
      <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
        <div class="custom-mb-6">
          <label for="ui_image_upload" class="form-label">Add bulk candidates <span class="custom-size-3 custom-color-light-1 fst-italic custom-mt-2">Accepted formats: [.csv/.xlsx].</span></label>
          <input class="form-control" type="file" name="file" oninput="filesize(this);" required>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-outline-primary btn-lg">Submit</button>
        </div>
      </form>
      {% endif %}
    </div>
  </div>
  {% endif %}
</div>
<!-- ----------------------------------- end ----------------------------------- -->
{% if db_candidates_obj_exists_to_html == false  %}
{% else %}
<!-- ----------------------------------- start ----------------------------------- -->
<div class="container custom-display-flex custom-pt-6 custom-jc-2 custom-pb-6">
  <div>
    <h2 class="custom-header-2-mobile">All candidates</h2>
  </div>
  <div>
    <a href="/candidates/schedule" class="btn btn-outline-secondary">Send test</a>
  </div>
</div>
<div class="container border shadow custom-br-1 custom-bg-white custom-ptb-6">
  <!-- ----------------------------------- start ----------------------------------- -->
  <table id="candidates-datatable-id" class="table table-striped" style="width:100%">
    <thead>
      <tr>
        <th>Email</th>
        <th>Tests pending</th>
        <th>Tests completed</th>
        <th>Overall grade</th>
        <th>Summary</th>
      </tr>
    </thead>
    <tbody>
      {% for i in db_candidates_obj_to_html %}
      <tr>
        <td>{{ i['email'] }}</td>
        <td>{{ i['total_pending'] }}</td>
        <td>{{ i['total_completed'] }}</td>
        <td>{{ i['average_grade'] }}</td>
        <td><a href="/candidates/{{ i['email'] }}" class="custom-a-2 fw-bolder">View report</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- ----------------------------------- end ----------------------------------- -->
</div>
<!-- ----------------------------------- end ----------------------------------- -->
{% endif %}
{% endblock %}