{% extends "candidates_page_templates/aaa_base_page_templates/base2_child1_not_logged_in_yes_navbar_and_footer.html" %}

<!-- head tag block content -->
{% block title %}
    <title>Pricing Pre Employment Testing - Triviafy</title>
    <meta name="description" content="Pricing for the friendliest pre employment testing platform. Pre employment screening made simple.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro start -->
<div class="landing-page-intro-3-section">
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro left side start -->
  <div class="landing-page-intro-3-words-section">
    <h1 class="landing-page-intro-3-header">Pricing for the friendliest pre employment testing platform.</h1>
    <h2 class="landing-page-3-subheader landing-page-intro-3-sub-header">Early stage pre employment screening made simple.</h2>
    <div class="landing-page-get-started-section">
      <div class="landing-page-intro-3-next-steps-section">
        <form action="{{ url_for('auth.candidates_signup_function') }}" method="post" class="landing-page-email-form-3" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
          <label for="various_pages1_ui_email" class="landing-page-form-email-label"></label>
          <input type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,10}$" id="various_pages1_ui_email" name="various_pages1_ui_email" placeholder="Your work email" class="default-not-signed-in-text-input" required><br><br>
          <input type="submit" value="Get started!" class="default-button-format default-button-format-primary-color landing-page-button-position-3">
        </form>
        <p class="free-trial-no-card-required-3">(No credit card required.)</p>
      </div>
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro left side end -->
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro right side start -->
  <div class="landing-page-intro-3-media-section">
    <img src="/static/images/candidates/landing_page/angie.png" alt="pexels-rebrand-cities-1367270" class="general-page-intro-4-media-img">
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro right side end -->
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - pricing master start -->
<div class="pricing-master-section">
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - pricing individual section start -->
  <div class="pricing-individual-section default-box-shadow-green-reg">
    <div class="pricing-individual-header-section-01">
      <h3 class="pricing-title">Basic</h3>
      <h4 class="pricing-cost"><span class="pricing-dollar-sign-span">$ </span>49 <span class="pricing-per-month-span">/ month<span></h4>
    </div>

    <div class="pricing-individual-body-section">
      <div class="pricing-included-section">
        <p class="pricing-included-title">Includes</p>
        <li class="default-box-shadow-grey-small">100% fully customizable skill assessment questions.</li>
        <li class="default-box-shadow-grey-small">50+ frameworks supported.</li>
        <li class="default-box-shadow-grey-small">Candidate analytics.</li>
        <li class="default-box-shadow-grey-small">Email assessment monthly limit: <span class="pricing-stand-out">50</span> candidates.</li>
      </div>
    </div>

    <div class="pricing-action-button-section">
      <a href="{{ url_for('auth.candidates_signup_function') }}"><button class="default-button-format default-button-format-pricing-green-color navbar-not-signed-in-button-position-3">Try for free!</button></a>
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - pricing individual section end -->
  
  

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - pricing individual section start -->
  <div class="pricing-individual-section default-box-shadow-purple-reg">
    <div class="pricing-individual-header-section-02">
      <h3 class="pricing-title">Professional</h3>
      <h4 class="pricing-cost"><span class="pricing-dollar-sign-span">$ </span>99 <span class="pricing-per-month-span">/ month<span></h4>
    </div>

    <div class="pricing-individual-body-section">
      <div class="pricing-included-section">
        <p class="pricing-included-title">Includes</p>
        <li class="default-box-shadow-grey-small">Everything the Basic plan includes.</li>
        <li class="default-box-shadow-grey-small">Email assessment monthly limit: <span class="pricing-stand-out">100</span> candidates.</li>
      </div>
    </div>

    <div class="pricing-action-button-section">
      <a href="{{ url_for('auth.candidates_signup_function') }}"><button class="default-button-format default-button-format-primary-color navbar-not-signed-in-button-position-3">Try for free!</button></a>
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - pricing individual section end -->




  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - pricing individual section start -->
  <div class="pricing-individual-section default-box-shadow-blue-reg">
    <div class="pricing-individual-header-section-03">
      <h3 class="pricing-title">Premium</h3>
      <h4 class="pricing-cost"><span class="pricing-dollar-sign-span">$ </span>149 <span class="pricing-per-month-span">/ month<span></h4>
    </div>

    <div class="pricing-individual-body-section">
      <div class="pricing-included-section">
        <p class="pricing-included-title">Includes</p>
        <li class="default-box-shadow-grey-small">Everything the Professional plan includes.</li>
        <li class="default-box-shadow-grey-small">Email assessment monthly limit: <span class="pricing-stand-out">unlimited</span> candidates.</li>
      </div>
    </div>

    <div class="pricing-action-button-section">
      <a href="{{ url_for('auth.candidates_signup_function') }}"><button class="default-button-format default-button-format-pricing-blue-color navbar-not-signed-in-button-position-3">Try for free!</button></a>
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - pricing individual section end -->
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - pricing master end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - other company logos start -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - supported frameworks start -->
<div class="landing-page-other-companies-section">
  <div class="landing-page-3-header">
    <p class="section-title-p-margins">Companies that love skill assessments!</p>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - framework logos start -->
  <div class="landing-page-all-logos-section">
    <div class="landing-page-company-container">
      <img src="/static/images/candidates/logos_companies/dell.png" alt="Other company logo dark" class="company-logo-img">
    </div>
    <div class="landing-page-company-container">
      <img src="/static/images/candidates/logos_companies/dilveroo.png" alt="Other company logo dark" class="company-logo-img">
    </div>
    <div class="landing-page-company-container">
      <img src="/static/images/candidates/logos_companies/nvda.png" alt="Other company logo dark" class="company-logo-img">
    </div>
    <div class="landing-page-company-container">
      <img src="/static/images/candidates/logos_companies/oracle.png" alt="Other company logo dark" class="company-logo-img">
    </div>
    <div class="landing-page-company-container">
      <img src="/static/images/candidates/logos_companies/twitch.png" alt="Other company logo dark" class="company-logo-img">
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - framework logos end -->
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - other company logos end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - sign up small start -->
<div class="sign-up-small-section default-box-shadow-grey-reg">
  <div class="landing-page-3-header">
    <p class="section-title-p-margins">Start filtering your candidates today!</p>
    <p class="landing-page-3-subheader">100% free. Send your first candidate assessment in less than 2 minutes.</p>
  </div>
  <div class="landing-page-get-started-section">
    <div class="landing-page-intro-3-next-steps-section">
      <form action="{{ url_for('auth.candidates_signup_function') }}" method="post" class="landing-page-email-form-3" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
        <label for="various_pages1_ui_email" class="landing-page-form-email-label"></label>
        <input type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,10}$" id="various_pages1_ui_email" name="various_pages1_ui_email" placeholder="Your work email" class="default-not-signed-in-text-input" required><br><br>
        <input type="submit" value="Get started!" class="default-button-format default-button-format-primary-color landing-page-button-position-3">
      </form>
      <p class="free-trial-no-card-required-3">(No credit card required.)</p>
    </div>
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - sign up small end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->
{% endblock %}