{% extends "candidates/aaa_base/base2_exterior.html" %}

{% block title %}
    <title>Create Account - Triviafy</title>
    <meta name="description" content="The friendliest pre employment testing platform, mobile supported. Pre employment screening made simple. Pre employment tests for 50+ frameworks.">
    <meta name="og:description" content="The friendliest pre employment testing platform, mobile supported. Pre employment screening made simple. Pre employment tests for 50+ frameworks.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container mx-auto custom-pt-3 custom-width-4 custom-pb-1 custom-index-2">
  <form method="POST" enctype="multipart/form-data" class="custom-p-4 shadow border custom-br-1 custom-bg-grey-2" onsubmit="return clickSubmitButtonOnce()">
    <!-- ----------------------------------- start ----------------------------------- -->
    {% if error_message_to_html != '' %}
    <div class="alert alert-danger mx-auto" role="alert">
      {{ error_message_to_html }}
    </div>
    {% endif %}
    <!-- ----------------------------------- end ----------------------------------- -->
    <div class="text-center custom-pb-4">
      <h1 class="custom-header-2">Create account</h1>
    </div>
    <div class="custom-pb-6">
      <div class="mb-3">
        <label for="create_account_page_ui_email" class="form-label"></label>
        <input type="email" class="form-control" id="create_account_page_ui_email" name="create_account_page_ui_email" aria-describedby="emailHelp" placeholder="Work email*" pattern="\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b" value="{{ redirect_var_email }}" required>
      </div>
      <div class="mb-3">
        <label for="create_account_page_ui_password" class="form-label"></label>
        <input type="password" class="form-control" id="create_account_page_ui_password" name="create_account_page_ui_password" placeholder="Password*" value="{{ redirect_var_password }}" title="Minimum 4 characters" required>
      </div>
      <div class="mb-3">
        <label for="create_account_page_ui_name" class="form-label"></label>
        <input type="text" class="form-control" id="create_account_page_ui_name" name="create_account_page_ui_name" placeholder="Your name" value="{{ redirect_var_first_name }}" title="First name needs to be 2-20 characters" pattern="^[\w\s-]{2,20}$">
      </div>
      <div class="mb-3">
        <label for="create_account_page_ui_company_name" class="form-label"></label>
        <input type="text" class="form-control" id="create_account_page_ui_company_name" name="create_account_page_ui_company_name" placeholder="Company name*" value="{{ redirect_var_company_name }}" title="Company name needs to be 2-20 characters" pattern="^[\w\s-]{2,20}$" required>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Create account</button>
    </div>
  </form>

  <div class="text-center custom-pt-1">
    <a href="/candidates/login" class="custom-a-3"><p class="custom-m-0 custom-size-3">Login</p></a>
  </div>
</div>
<!-- ----------------------------------- end ----------------------------------- -->
{% endblock %}