{% extends "employees/aaa_base/base2_exterior.html" %}

{% block title %}
    <title>404 - Triviafy</title>
    <meta name="description" content="The friendliest pre employment testing platform, mobile supported. Pre employment screening made simple. Pre employment tests for 50+ frameworks.">
    <meta name="og:description" content="The friendliest pre employment testing platform, mobile supported. Pre employment screening made simple. Pre employment tests for 50+ frameworks.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
<div class="container text-center custom-pt-3">
  <h1>404 - Not Found</h1>
</div>
<div class="container custom-width-3 text-center custom-mt-3">
  <a href="/"><img src="/static/images/all/logo/logo_v3.png" alt="triviafy logo" class="custom-img-size-7"></a>
</div>
<div class="container text-center custom-mt-3">
  <a href="/"><p class="btn btn-primary">Home</p></a>
</div>
<!-- ----------------------------------- end ----------------------------------- -->
{% endblock %}