{% extends "candidates/aaa_base/base2_interior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Tests - Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
{% if alert_message_page_to_html != '' %}
<div class="alert alert-{{ alert_message_type_to_html }} mx-auto text-center custom-mt-3 container" role="alert">
  {{ alert_message_page_to_html }}
</div>
{% endif %}
<!-- ----------------------------------- end ----------------------------------- -->
<div class="container custom-display-flex custom-pt-6 custom-jc-2 custom-pb-6">
  <div>
    <h2 class="custom-header-2-mobile">{{ test_name_to_html }}</h2>
  </div>
  <div>
    <a href="/candidates/tests/dashboard" class="btn btn-outline-secondary">Back</a>
    <a href="/candidates/assessment/new/1b" class="btn btn-primary custom-ml-3">Create test +</a>
  </div>
</div>
<div class="container border shadow custom-br-1 custom-bg-white custom-ptb-6">
  <!-- ----------------------------------- start ----------------------------------- -->
  <table id="candidates-datatable-id" class="table table-striped" style="width:100%">
    <thead>
      <tr>
        <th>Candidate</th>
        <th>Attempt</th>
        <th>Test email link</th>
        <th>Test status</th>
        <th>Final score</th>
        <th>Responses</th>
      </tr>
    </thead>
    <tbody>
      {% for i in db_schedule_obj_to_html %}
      <tr>
        {% if i['candidates'] == user.email %}
        <td class="fw-bolder">{{ i['candidates'] }} <span class="custom-color-primary">(self)</span></td>
        {% else %}
        <td>{{ i['candidates'] }}</td>
        {% endif %}
        <td>{{ i['current_attempt'] }}</td>
        <td>{{ i['send_date'] }}</td>
        <td>{{ i['candidate_test_status'] }}</td>
        <td>{{ i['final_score'] }}</td>
        {% if i['candidate_test_status'] == 'Submitted' %}
        <td><a href="/candidates/tests/results/{{ url_test_id_to_html }}/{{ i['candidates'] }}/{{ i['current_attempt'] }}/1" class="custom-a-2 fw-bolder">View</a></td>
        {% else %}
        <td>-</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- ----------------------------------- end ----------------------------------- -->
</div>
<!-- ------------------------------------- signature start ------------------------------------- -->
<div class="text-center custom-mt-5 custom-pb-3">
  <img src="/static/images/candidates/logo/logo_wide_v3.png" alt="powered by triviafy logo" class="custom-img-size-10 custom-img-opacity-1">
</div>
<!-- ------------------------------------- signature end ------------------------------------- -->
{% endblock %}