{% extends "polling/aaa_base/base2_exterior_white.html" %}

{% block title %}
    <title>Blog - Triviafy</title>
    <meta name="description" content="Audience relationship management. Premium podcast polling platform. Information about your listeners.">
    <meta name="og:description" content="Audience relationship management. Premium podcast polling platform. Information about your listeners.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
<div class="container text-center custom-pt-50 custom-pb-6">
  <h1 class="custom-header-7 custom-color-black fw-bold custom-opacity-75">Blog</h1>
  <h2><a href="/polling/signup" class="custom-header-5 fw-bold custom-a-2 custom-opacity-50">Get started <i class="fa-solid fa-arrow-right"></i></a></h2>
</div>
<!-- ----------------------------------- end ----------------------------------- -->
<!-- ----------------------------------- start ----------------------------------- -->
<div class="container custom-display-flex custom-f-wrap custom-jc-evenly custom-pb-100">
  {% for i_dict in page_dict_to_html['master_arr_of_dicts'] %}
    <!-- ------------------------------------- individual blog post start ------------------------------------- -->
    <div class="card custom-m-2" style="width: 18rem;">
      <a href="/polling/blog/{{ i_dict['id'] }}/" class="custom-a-2"><img src="{{ i_dict['aws_image_url'] }}" class="card-img-top custom-p-10 custom-br-1" alt="blog post picture"></a>
      <div class="card-body">
        <h5 class="card-title"><a href="/polling/blog/{{ i_dict['id'] }}/" class="custom-a-2">{{ i_dict['title'] }}</a></h5>
        <p class="card-text"><a href="/polling/blog/{{ i_dict['id'] }}/" class="custom-a-2">{{ i_dict['details'] }}</a></p>
        <a href="/polling/blog/{{ i_dict['id'] }}/" class="custom-width-100 btn btn-warning">Read post</a>
      </div>
    </div>
    <!-- ------------------------------------- individual blog post end ------------------------------------- -->  
  {% endfor %}
</div>
<!-- ----------------------------------- end ----------------------------------- -->
{% endblock %}