{% extends "candidates_page_templates/aaa_base_page_templates/base2_external.html" %}

{% block title %}
    <title>Pre Employment Testing and Screening - Triviafy</title>
    <meta name="description" content="The friendliest pre employment testing platform, mobile supported. Pre employment screening made simple. Pre employment tests for 50+ frameworks.">
    <meta name="og:description" content="The friendliest pre employment testing platform, mobile supported. Pre employment screening made simple. Pre employment tests for 50+ frameworks.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<div class="container-fluid">
  <div class="container custom-height-1">
    <div class="float-start">
      <h1 class="custom-m-0 custom-width-1 custom-header-2">The friendliest pre employment testing experience.</h1>
    </div>
    <div class="float-end">
      <img src="/static/images/candidates/landing_page/landing_page_intro_media3.png" alt="candidate">
    </div>
  </div>
</div>
{% endblock %}