{% extends "candidates_page_templates/aaa_base_page_templates/base2_external.html" %}

{% block title %}
    <title>Pre Employment Testing and Screening - Triviafy</title>
    <meta name="description" content="The friendliest pre employment testing platform, mobile supported. Pre employment screening made simple. Pre employment tests for 50+ frameworks.">
    <meta name="og:description" content="The friendliest pre employment testing platform, mobile supported. Pre employment screening made simple. Pre employment tests for 50+ frameworks.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<div class="container">
  <p class="btn btn-primary">hello</p>
</div>
{% endblock %}