{% extends "candidates/aaa_base/base2_exterior.html" %}

{% block title %}
    <title>Test Library - Triviafy</title>
    <meta name="description" content="The friendliest pre employment testing platform, mobile supported. Pre employment screening made simple. Pre employment tests for 50+ frameworks.">
    <meta name="og:description" content="The friendliest pre employment testing platform, mobile supported. Pre employment screening made simple. Pre employment tests for 50+ frameworks.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
<div class="container-fluid">
  <div class="container custom-height-1-mobile">
    <div class="float-start custom-pt-2">
      <h1 class="custom-m-0 custom-width-1 custom-header-1">Test library for the friendliest pre employment testing experience.</h1>
      <h2 class="custom-header-4 custom-mt-1">Early stage pre employment screening made simple.</h2>
      <form action="{{ url_for('auth.candidates_signup_function') }}" method="post" enctype="multipart/form-data" class="custom-display-flex custom-pt-1" onsubmit="return clickSubmitButtonOnce()">
        <label for="various_pages1_ui_email" class="form-label"></label>
        <input type="email" class="form-control custom-mr-2 custom-p-3" id="various_pages1_ui_email" name="various_pages1_ui_email" aria-describedby="emailHelp" placeholder="Work email" required>
        <button type="submit" class="btn btn-primary text-nowrap">Get Started</button>
      </form>
      <div class="text-center custom-mt-2">
        <p class="custom-size-4 custom-color-light-1">(No credit card required.)</p>
      </div>
    </div>
    <div class="float-end custom-pt-3 custom-pb-1 text-center">
      <img src="/static/images/candidates/landing_page/olivia.png" alt="candidate overview" class="custom-img-size-3">
    </div>
  </div>
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="custom-shape-divider-top-1672276628 custom-bg-green-1">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
  </svg>
</div>
<div class="container-fluid custom-bg-green-1">
  <div class="container text-center">
    <h2 class="custom-mb-1 custom-header-1">50+ Supported frameworks</h2>
  </div>
  <div class="container custom-display-flex custom-jc-2 custom-fw-1">
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/android.png" alt="pre employment testing android" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Android</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/angular.png" alt="pre employment testing angular" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Angular</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/aws.png" alt="pre employment testing aws" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">AWS</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/azure.png" alt="pre employment testing azure" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Azure</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/c_plus.png" alt="pre employment testing c++" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">C++</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/c_sharp.png" alt="pre employment testing c#" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">C#</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/cloudflare.png" alt="pre employment testing cloudflare" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Cloudflare</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/css.png" alt="pre employment testing css" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">CSS</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/databricks.png" alt="pre employment testing databricks" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Databricks</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/dbt.png" alt="pre employment testing dbt" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">dbt</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/django.png" alt="pre employment testing django" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">django</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/docker.png" alt="pre employment testing docker" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">docker</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/drupal.png" alt="pre employment testing drupal" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Drupal</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/excel.png" alt="pre employment testing excel" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Excel</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/figma.png" alt="pre employment testing figma" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Figma</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/go.png" alt="pre employment testing go" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Go</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/google_ads.png" alt="pre employment testing google ads" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Google Ads</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/graphql.png" alt="pre employment testing graphql" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">GraphQL</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/html.png" alt="pre employment testing html" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">HTML</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/hubspot.png" alt="pre employment testing hubspot" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Hubspot</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/ios_apple.png" alt="pre employment testing ios" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">IOS</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/java.png" alt="pre employment testing java" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Java</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/javascript.png" alt="pre employment testing javascript" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">JavaScript</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/jquery.png" alt="pre employment testing jquery" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">jQuery</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/kotlin.png" alt="pre employment testing kotlin" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Kotlin</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/looker.png" alt="pre employment testing looker" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Looker</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/lua.png" alt="pre employment testing lua" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Lua</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/mongo_db.png" alt="pre employment testing mongo db" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">MongoDB</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/node_js.png" alt="pre employment testing node js" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Node.js</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/php.png" alt="pre employment testing php" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">PHP</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/postgres.png" alt="pre employment postgres" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Postgres</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/power_bi.png" alt="pre employment power bi" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Power BI</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/python.png" alt="pre employment python" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Python</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/r.png" alt="pre employment r" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">R</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/react.png" alt="pre employment react" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">React</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/ruby_rails.png" alt="pre employment ruby on rails" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Ruby on Rails</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/ruby.png" alt="pre employment ruby" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Ruby</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/rust.png" alt="pre employment rust" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Rust</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/salesforce.png" alt="pre employment salesforce" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Salesforce</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/scala.png" alt="pre employment scala" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Scala</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/selenium.png" alt="pre employment selenium" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Selenium</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/shopify.png" alt="pre employment shopify" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Shopify</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/snowflake.png" alt="pre employment snowflake" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Snowflake</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/spring.png" alt="pre employment spring js" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Spring.js</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/sql.png" alt="pre employment sql" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">SQL</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/swift.png" alt="pre employment swift" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Swift</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/tableau.png" alt="pre employment tableau" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Tableau</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/typescript.png" alt="pre employment typescript" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">TypeScript</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/wordpress.png" alt="pre employment wordpress" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Wordpress</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <img src="/static/images/candidates/logos_frameworks/workday.png" alt="pre employment workday" class="custom-img-size-4">
      <h4 class="custom-size-3 custom-ml-1 my-auto">Workday</h4>
    </div>
  </div>
  <div class="custom-filler-2"></div>
</div>
<div class="custom-shape-divider-bottom-1672276706 custom-bg-green-1">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
  </svg>
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container custom-display-flex custom-fw-1 custom-jc-1">
  <!-- ------------------------------------- individual test start ------------------------------------- -->
  <div class="custom-width-8 border custom-br-1 shadow custom-m-1">
    <div class="custom-bg-grey-2 custom-p-4">
      <div class="text-center">
        <h2 class="custom-header-4">Microsoft Excel</h2>
      </div>
      <div class="custom-height-4">
        <p class="custom-header-5">The Microsoft Excel test involves working with data and performing calculations, analyzing data, creating charts and graphs, and working with formulas. The goal is to measure the individual's ability to navigate and use the features of Microsoft Excel efficiently and accurately.</p>
        <p class="custom-header-5">Commonly used when hiring: Analyst, Sr. Analyst, Manager.</p>
      </div>
      <div class="custom-display-flex custom-jc-3">
        <a href="/"><button class="btn btn-outline-primary custom-mr-3">Preview</button></a>
        <img src="/static/images/candidates/icons/clock-regular.svg" alt="clock icon" class="custom-img-size-9 custom-mr-1">
        <p class="custom-m-0 custom-pt-5">10 min</p>
      </div>
    </div>
  </div>
  <!-- ------------------------------------- individual test end ------------------------------------- -->

  <!-- ------------------------------------- individual test start ------------------------------------- -->
  <div class="custom-width-8 border custom-br-1 shadow custom-m-1">
    <div class="custom-bg-grey-2 custom-p-4">
      <div class="text-center">
        <h2 class="custom-header-4">SQL</h2>
      </div>
      <div class="custom-height-4">
        <p class="custom-header-5">The SQL test helps identify potential performance issues, such as slow queries or inefficient indexing techniques. In addition, the SQL test can help to verify the accuracy of all stored data within the database.</p>
        <p class="custom-header-5">Commonly used when hiring: Engineer, Database Administrator, Developer.</p>
      </div>
      <div class="custom-display-flex custom-jc-3">
        <a href="/"><button class="btn btn-outline-primary custom-mr-3">Preview</button></a>
        <img src="/static/images/candidates/icons/clock-regular.svg" alt="clock icon" class="custom-img-size-9 custom-mr-1">
        <p class="custom-m-0 custom-pt-5">15 min</p>
      </div>
    </div>
  </div>
  <!-- ------------------------------------- individual test end ------------------------------------- -->

  <!-- ------------------------------------- individual test start ------------------------------------- -->
  <div class="custom-width-8 border custom-br-1 shadow custom-m-1">
    <div class="custom-bg-grey-2 custom-p-4">
      <div class="text-center">
        <h2 class="custom-header-4">JavaScript</h2>
      </div>
      <div class="custom-height-4">
        <p class="custom-header-5">The JavaScript test is designed to help ensure that the code written is of high quality and works as intended. JavaScript tests are also used to troubleshoot any errors or issues in the code, and to monitor the performance of the candidates codebase.</p>
        <p class="custom-header-5">Commonly used when hiring: Full Stack Developer, DevOps Engineer, UI Designer.</p>
      </div>
      <div class="custom-display-flex custom-jc-3">
        <a href="/"><button class="btn btn-outline-primary custom-mr-3">Preview</button></a>
        <img src="/static/images/candidates/icons/clock-regular.svg" alt="clock icon" class="custom-img-size-9 custom-mr-1">
        <p class="custom-m-0 custom-pt-5">20 min</p>
      </div>
    </div>
  </div>
  <!-- ------------------------------------- individual test end ------------------------------------- -->
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container-fluid">
  <div class="container text-center custom-pt-3">
    <h2 class="custom-mb-1 custom-header-1">Companies that love skill assessments!</h2>
  </div>
  <div class="container custom-display-flex custom-fw-1 custom-jc-1 custom-mb-3">
    <img src="/static/images/candidates/logos_companies/cisco.png" alt="pre employment testing cisco" class="custom-img-size-6 custom-m-2">
    <img src="/static/images/candidates/logos_companies/domo.png" alt="pre employment testing domo" class="custom-img-size-6 custom-m-2">
    <img src="/static/images/candidates/logos_companies/retro_fitness.png" alt="pre employment testing retro_fitness" class="custom-img-size-6 custom-m-2">
    <img src="/static/images/candidates/logos_companies/soundcloud.png" alt="pre employment testing soundcloud" class="custom-img-size-6 custom-m-2">
    <img src="/static/images/candidates/logos_companies/toast.png" alt="pre employment testing toast" class="custom-img-size-6 custom-m-2">
  </div>
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container-fluid custom-pb-1">
  <div class="container custom-bg-colorful-1 custom-br-1 shadow custom-width-3">
    <div class="container text-center custom-pt-3">
      <h2 class="custom-header-1">Start testing candidates <span class="fst-italic">today!</span></h2>
      <h2 class="custom-header-4">Send your first pre employment test in less than 60 seconds.</h2>
    </div>
    <form action="{{ url_for('auth.candidates_signup_function') }}" method="post" enctype="multipart/form-data" class="custom-display-flex custom-width-1 mx-auto custom-pt-4" onsubmit="return clickSubmitButtonOnce()">
      <label for="various_pages1_ui_email" class="form-label"></label>
      <input type="email" class="form-control custom-mr-2 custom-p-3" id="various_pages1_ui_email" name="various_pages1_ui_email" aria-describedby="emailHelp" placeholder="Work email" required>
      <button type="submit" class="btn btn-primary text-nowrap">Get Started</button>
    </form>
    <div class="text-center custom-mt-2 custom-pb-3">
      <p class="custom-size-4 custom-color-light-1">(No credit card required.)</p>
    </div>
  </div>
</div>
<!-- ----------------------------------- end ----------------------------------- -->
{% endblock %}