{% extends "candidates/aaa_base/base2_interior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Create Assessment / Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
  <div class="container custom-display-flex custom-pt-6 custom-jc-2 custom-pb-6 custom-width-1">
    <h2 class="custom-header-2-mobile">Create test</h2>
    <div>
      <a href="/candidates/assessment/new/1b" class="btn btn-outline-secondary">Discard</a>
      <button type="submit" class="btn btn-primary custom-ml-3">Create</button>
    </div>
  </div>
  <div class="container border shadow custom-br-1 custom-bg-white custom-width-1">
    <div class="container custom-display-flex custom-jc-1 custom-pt-1">
      <div class="text-center">
        <div class="custom-border-5-light custom-wh-1 rounded-circle mx-auto">
          <p class="custom-header-4 rounded-circle custom-bg-1-light custom-wh-2 custom-mlt-1"><span class="custom-header-white">✓</span></p>
        </div>
        <p class="text-nowrap custom-color-2-light custom-header-5-mobile custom-mt-4">Select categories</p>
      </div>
      <div class="text-center">
        <div class="custom-border-5-dark custom-wh-1 rounded-circle mx-auto">
          <p class="custom-header-4 rounded-circle custom-bg-1-dark custom-wh-2 custom-mlt-1"><span class="custom-header-white">2</span></p>
        </div>
        <p class="text-nowrap custom-color-2-dark custom-header-5-mobile custom-mt-4">Review & confirm</p>
      </div>
    </div>
    <!-- ----------------------------------- start ----------------------------------- -->
    {% if error_message_to_html != '' %}
    <div class="alert alert-danger mx-auto" role="alert">
      {{ error_message_to_html }}
    </div>
    {% endif %}
    <!-- ----------------------------------- end ----------------------------------- -->
    <div class="custom-width-10 mx-auto custom-ptb-3">
      <div class="custom-mb-6">
        <label for="uiName" class="form-label">Test name</label>
        <input type="text" class="form-control" id="uiName" name="uiName" value="{{ assessment_name_to_html }}">
      </div>
      <div class="custom-mb-6">
        <label for="uiPreview" class="form-label">Length: <img src="/static/images/candidates/icons/clock-regular.svg" alt="clock icon" class="custom-img-size-9 custom-mr-1 custom-mb-7">{{ assessment_total_questions_to_html }} mins</label><br>
        <a href="/candidates/assessment/preview/{{ assessment_name_to_html }}/1" class="btn btn-outline-primary custom-width-6">Preview test</a>
      </div>
      {% if stripe_subscription_obj_status_to_html == 'not active' %}
      <div class="custom-mb-6">
        <label for="uiPreview" class="form-label">Add custom questions</label><br>
        <a href="#" class="btn btn-outline-secondary custom-width-6" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Subscription required">Customize</a>
        <div class="text-center custom-mt-2">
          <a href="/candidates/account" class="custom-a-4">Subscription options</a>
        </div>
      </div>
      {% elif stripe_subscription_obj_status_to_html == 'active' %}
      <div class="custom-mb-6">
        <label for="uiPreview" class="form-label">Add custom questions</label><br>
        <a href="/candidates/question/create/dashboard" class="btn btn-outline-primary custom-width-6">Customize</a>
      </div>
      {% endif %}
    </div>
  </div>
</form>
{% endblock %}