{% extends "candidates_page_templates/aaa_base_page_templates/base2_child1_logged_in_yes_navbar_and_footer.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Create Question / Triviafy</title>
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - company name start -->
<div class="general-signed-in-company-name-section">
  <p class="general-signed-in-company-name-title">{{ users_company_name_to_html }}</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - company name end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="general-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - general page title start -->
<div class="general-page-title-section">
  <p class="general-page-title">Create Question</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - general page title end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - error message start -->
<div class="error-message-section">
  <p>{{ error_message_to_html }}</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - error message end -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - success message start -->
<div class="success-message-section">
  <p class="general-margin-top-small">{{ success_message_to_html }}</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - success message end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="general-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - main page start -->
<div class="candidates-create-question-section">
  <form method="POST" class="candidates-create-question-form" enctype="multipart/form-data">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - section start -->
    <div class="create-question-ui-section">
      <label for="ui_create_question_title">Title<span class="create_question_required_star">*</span></label>
      <textarea id="ui_create_question_title" name="ui_create_question_title" class="candidates-default-textarea" rows="2" onkeyup="createQuestionCountCharsTitle(this);" pattern="{1,150}" placeholder="Title required..." required></textarea>
      <p id="createQuestionCountCharsTitle" class="candidates-character-count-tracker"></p>
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - section end -->

    <div class="create-question-spacer-section"></div>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - section start -->
    <div class="create-question-ui-section">
      <label for="ui_create_question_categories">Categories<span class="create_question_required_star">*</span></label>
      <textarea id="ui_create_question_categories" name="ui_create_question_categories" class="candidates-default-textarea" rows="2" onkeyup="createQuestionCountCharsCategories(this);" pattern="{1,150}" placeholder="Categories required..." required></textarea>
      <p id="createQuestionCountCharsCategories" class="candidates-character-count-tracker"></p>
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - section end -->

    <div class="create-question-spacer-section"></div>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - section start -->
    <div class="create-question-ui-section">
      <label for="ui_create_question_question">Question<span class="create_question_required_star">*</span></label>
      <textarea id="ui_create_question_question" name="ui_create_question_question" class="candidates-default-textarea" rows="8" onkeyup="createQuestionCountCharsQuestion(this);" pattern="{1,1000}" placeholder="Question required..." required></textarea>
      <p id="createQuestionCountCharsQuestion" class="candidates-character-count-tracker"></p>
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - section end -->

    <div class="create-question-spacer-section"></div>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - section start -->
    <div class="create-question-ui-section">
      <label for="ui_create_question_option_a">Option A<span class="create_question_required_star">*</span></label>
      <textarea id="ui_create_question_option_a" name="ui_create_question_option_a" class="candidates-default-textarea" rows="2" onkeyup="createQuestionCountCharsOptionA(this);" pattern="{1,280}" placeholder="Option A required..." required></textarea>
      <p id="createQuestionCountCharsOptionA" class="candidates-character-count-tracker"></p>
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - section end -->

    <div class="create-question-spacer-section"></div>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - section start -->
    <div class="create-question-ui-section">
      <label for="ui_create_question_option_b">Option B<span class="create_question_required_star">*</span></label>
      <textarea id="ui_create_question_option_b" name="ui_create_question_option_b" class="candidates-default-textarea" rows="2" onkeyup="createQuestionCountCharsOptionB(this);" pattern="{1,280}" placeholder="Option B required..." required></textarea>
      <p id="createQuestionCountCharsOptionB" class="candidates-character-count-tracker"></p>
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - section end -->

    <div class="create-question-spacer-section"></div>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - section start -->
    <div class="create-question-ui-section">
      <label for="ui_create_question_option_c">Option C<span class="create_question_required_star">*</span></label>
      <textarea id="ui_create_question_option_c" name="ui_create_question_option_c" class="candidates-default-textarea" rows="2" onkeyup="createQuestionCountCharsOptionC(this);" pattern="{1,280}" placeholder="Option C required..." required></textarea>
      <p id="createQuestionCountCharsOptionC" class="candidates-character-count-tracker"></p>
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - section end -->

    <div class="create-question-spacer-section"></div>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - section start -->
    <div class="create-question-ui-section">
      <label for="ui_create_question_option_d">Option D<span class="create_question_required_star">*</span></label>
      <textarea id="ui_create_question_option_d" name="ui_create_question_option_d" class="candidates-default-textarea" rows="2" onkeyup="createQuestionCountCharsOptionD(this);" pattern="{1,280}" placeholder="Option D required..." required></textarea>
      <p id="createQuestionCountCharsOptionD" class="candidates-character-count-tracker"></p>
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - section end -->

    <div class="create-question-spacer-section"></div>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - section start -->
    <div class="create-question-ui-section">
      <label for="ui_create_question_option_e">Option E</label>
      <textarea id="ui_create_question_option_e" name="ui_create_question_option_e" class="candidates-default-textarea" rows="2" onkeyup="createQuestionCountCharsOptionE(this);" pattern="{1,280}" placeholder="Option E optional..."></textarea>
      <p id="createQuestionCountCharsOptionE" class="candidates-character-count-tracker"></p>
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - section end -->

    <div class="create-question-spacer-section"></div>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - section start -->
    <div class="create-question-ui-section">
      <label for="ui_create_question_option_e">Answer</label>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - multiple choice question radio start -->
      <div class="mcq-select-answer-radio-section">
        <input type="radio" id="ui_create_question_answer_a" name="ui_create_question_answer" value="a">
        <label for="ui_create_question_answer_a" class="mcq-radio-label">A</label>

        <input type="radio" id="ui_create_question_answer_b" name="ui_create_question_answer" value="b">
        <label for="ui_create_question_answer_b" class="mcq-radio-label">B</label>

        <input type="radio" id="ui_create_question_answer_c" name="ui_create_question_answer" value="c">
        <label for="ui_create_question_answer_c" class="mcq-radio-label">C</label>

        <input type="radio" id="ui_create_question_answer_d" name="ui_create_question_answer" value="d">
        <label for="ui_create_question_answer_d" class="mcq-radio-label">D</label>

        <input type="radio" id="ui_create_question_answer_e" name="ui_create_question_answer" value="e">
        <label for="ui_create_question_answer_e" class="mcq-radio-label">E</label>
      </div>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - multiple choice question radio end -->
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - section end -->

    <div class="create-question-spacer-section"></div>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - section start -->
    <div class="create-question-ui-section">
      <label for="ui_create_question_option_e">Difficulty</label>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - multiple choice question radio start -->
      <div class="mcq-select-answer-radio-section">
        <input type="radio" id="ui_create_question_easy" name="ui_create_question_difficulty" value="easy">
        <label for="ui_create_question_easy" class="mcq-radio-label">Easy</label>

        <input type="radio" id="ui_create_question_medium" name="ui_create_question_difficulty" value="medium">
        <label for="ui_create_question_medium" class="mcq-radio-label">Medium</label>

        <input type="radio" id="ui_create_question_hard" name="ui_create_question_difficulty" value="hard">
        <label for="ui_create_question_hard" class="mcq-radio-label">Hard</label>
      </div>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - multiple choice question radio end -->
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - section end -->

    <div class="create-question-spacer-section"></div>
    
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - section start -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Create Question - Image Upload Start -->


    <div class="create-question-ui-section">
      <div class="create-question-section create-question-image-upload">
        <p class="create-question-section-sub-description">Accepted formats: [.jpeg/.jpg/.png/.gif].</p>
        <input type="file" id="input_image_upload" name="input_image_upload" oninput="filesize(this);" required>
      </div>
    </div>


    
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Create Question - Image Upload End -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - section end -->

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - submit button start -->
    <div class="candidate-create-question-submit-section">
      <button type="submit" class="default-button-format default-button-format-primary-color">Submit</button>
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - submit button end -->
  </form>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - main page end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="general-spacer-section-large"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->
{% endblock %}