{% if page_dict_to_html[i_accordian[1]+'_first_created'] == false %}
  {% extends "employees/aaa_base/base2_interior2.html" %}
{% else %}
  {% extends "employees/aaa_base/base2_interior.html" %}
{% endif %}
<!-- head tag block content -->
{% block title %}
  <title>Feature - Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
  <div class="container custom-display-flex custom-pt-6 custom-jc-2">
    <h2 class="custom-header-2-mobile">Feature first access</h2>
  </div>
  <div class="container border shadow custom-br-1 custom-bg-white">
    <div class="mx-auto custom-width-14 custom-ptb-100">
      <!-- ----------------------------------- start ----------------------------------- -->
      {% if page_dict_to_html['alert_message_dict']['message'] != '' %}
      <div class="alert alert-{{ page_dict_to_html['alert_message_dict']['type'] }} mx-auto text-center container" role="alert">
        {{ page_dict_to_html['alert_message_dict']['message'] }}
      </div>
      {% endif %}
      <!-- ----------------------------------- end ----------------------------------- -->
      <div>
        <label for="ui_feature_request" class="form-label">Submit and you will be notified once your team has been granted access.</label>
        <input type="text" class="form-control custom-search-bar-1 custom-mt-2" id="ui_feature_request" name="ui_feature_request" placeholder="Feature" value="{{ page_dict_to_html['url_feature_request_code'] }}" pattern="{1,280}" required>
      </div>
      <div class="text-center custom-mt-1">
        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-check"></i> Submit</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}