{% extends "polling/aaa_base/base2_black.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Poll - Triviafy</title>
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<div class="custom-bg-black">
  <!-- ------------------------------------- form start ------------------------------------- -->
  <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
    <!-- ------------------------------------- navbar start ------------------------------------- -->
    <div class="container-fluid custom-bg-black fixed-top">
      <!-- ------------------------------------- progress bar start ------------------------------------- -->
      <div class="progress custom-bg-see-through" role="progressbar" aria-label="Success striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" id="id-progress_bar_catch{{ page_dict_to_html['percent_total_polls_complete'] }}" style="width: 0%"></div><span class="custom-ml-5 custom-color-white custom-opacity-75">{{ page_dict_to_html['percent_total_polls_complete'] }}%</span>
      </div>
      <!-- ------------------------------------- progress bar end ------------------------------------- -->
      <nav class="container navbar navbar-expand-md navbar-light custom-display-flex custom-jc-between">
        <a href="/polling/dashboard" class="navbar-brand">
          <img src="{{ page_dict_to_html['db_show_dict']['platform_image_small'] }}" alt="show logo" class="custom-img-size-40 custom-mr-1 custom-br-5 custom-border-white-opacity-50">
          <span class="fw-bold custom-header-15 custom-color-white">{{ page_dict_to_html['db_show_dict']['name_title'] }}</span>
        </a>
        <div class="custom-display-flex custom-f-direction-row custom-f-nowrap">
          <button type="submit" class="btn btn-secondary btn-lg custom-ml-10" id="id-submit_enable_general_1" disabled>Vote <i class="fa-solid fa-check"></i></button>
        </div>
      </nav>
    </div>
    <div class="custom-filler-82"></div>
    <!-- ------------------------------------- navbar end ------------------------------------- -->
    <!-- ------------------------------------- background start ------------------------------------- -->
    <div class="custom-width-600 mx-auto">
      <!-- ----------------------------------- alert start ----------------------------------- -->
      {% if page_dict_to_html['alert_message_dict']['message'] != '' %}
      <div class="alert alert-{{ page_dict_to_html['alert_message_dict']['type'] }} mx-auto text-center container" role="alert">
        {{ page_dict_to_html['alert_message_dict']['message'] }}
      </div>
      {% endif %}
      <!-- ----------------------------------- alert end ----------------------------------- -->
      <!-- ----------------------------------- button auto page scroll start ----------------------------------- -->
      {% if page_dict_to_html['poll_answered'] == true %}
        <div class="custom-p-25 custom-mt-50 btn btn-warning custom-width-100" id="id-general_autoscroll_click_1">
          <span class="custom-header-30">See poll statistics <i class="fa-solid fa-angle-down"></i></span>
        </div>
        <a href="/polling/show/{{ page_dict_to_html['url_show_id'] }}" class="custom-p-25 btn btn-success btn-lg custom-width-100 custom-mt-25 custom-header-30">Next poll <i class="fa-solid fa-angle-right"></i></a>
        <!-- ------------------------------------- divider start ------------------------------------- -->
        <div class="custom-border-white-opacity-25 custom-mtb-50 custom-width-100 mx-auto"></div>
        <!-- ------------------------------------- divider end ------------------------------------- -->
      {% else %}
      {% endif %}
      <!-- ----------------------------------- button auto page scroll end ----------------------------------- -->
      <!-- ------------------------------------- question start ------------------------------------- -->
      <div class="custom-mt-50 mx-auto">
        <div class="custom-display-flex custom-header-20 custom-color-white custom-jc-between">
          <p class="custom-m-0 custom-opacity-75 custom-pb-5">Poll</p>
          <div>
            <!-- ------------------------------------- radio upvote start ------------------------------------- -->
            <input type="radio" class="btn-check" id="id-ui_vote_question_up" name="ui_vote_question" value="up" autocomplete="off">
            {% if page_dict_to_html['poll_answered_dict']['poll_vote_updown_question'] == true %}
              <label class="custom-transition-03 custom-hover-1 custom-color-success-important" for="id-ui_vote_question_up"><i class="fa-solid fa-circle-up" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Good poll question"></i></label>
            {% else %}
              <label class="custom-transition-03 custom-opacity-50 custom-hover-1" for="id-ui_vote_question_up"><i class="fa-solid fa-circle-up" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Good poll question"></i></label>
            {% endif %}
            <!-- ------------------------------------- radio upvote end ------------------------------------- -->
            <!-- ------------------------------------- radio downvote start ------------------------------------- -->
            <input type="radio" class="btn-check" id="id-ui_vote_question_down" name="ui_vote_question" value="down" autocomplete="off">
            {% if page_dict_to_html['poll_answered_dict']['poll_vote_updown_question'] == false %}
              <label class="custom-transition-03 custom-hover-1 custom-color-danger-important custom-ml-5" for="id-ui_vote_question_down"><i class="fa-solid fa-circle-down" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Poll question not so good"></i></label>
            {% else %}
              <label class="custom-transition-03 custom-opacity-50 custom-hover-1 custom-ml-5" for="id-ui_vote_question_down"><i class="fa-solid fa-circle-down" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Poll question not so good"></i></label>
            {% endif %}
            <!-- ------------------------------------- radio downvote end ------------------------------------- -->
          </div>
        </div>
        <div class="custom-br-15 custom-p-50 custom-bg-white">
          <h1 class="custom-m-0 custom-header-25-mobile fw-bold custom-color-black">{{ page_dict_to_html['poll_dict']['question'] }}</h1>
        </div>
      </div>
      <!-- ------------------------------------- question end ------------------------------------- -->
      <!-- ------------------------------------- answer start ------------------------------------- -->
      <div class="custom-mt-25 mx-auto">
        <div class="custom-display-flex custom-header-20 custom-color-white custom-jc-between">
          <p class="custom-m-0 custom-opacity-75 custom-pb-5">Feedback</p>
          <div>
            <!-- ------------------------------------- radio upvote start ------------------------------------- -->
            <input type="radio" class="btn-check" id="id-ui_vote_feedback_up" name="ui_vote_feedback" value="up" autocomplete="off">
            {% if page_dict_to_html['poll_answered_dict']['poll_vote_updown_feedback'] == true %}
              <label class="custom-transition-03 custom-hover-1 custom-color-success-important" for="id-ui_vote_feedback_up"><i class="fa-solid fa-circle-up" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Good feedback options"></i></label>
            {% else %}
              <label class="custom-transition-03 custom-opacity-50 custom-hover-1" for="id-ui_vote_feedback_up"><i class="fa-solid fa-circle-up" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Good feedback options"></i></label>
            {% endif %}
            <!-- ------------------------------------- radio upvote end ------------------------------------- -->
            <!-- ------------------------------------- radio downvote start ------------------------------------- -->
            <input type="radio" class="btn-check" id="id-ui_vote_feedback_down" name="ui_vote_feedback" value="down" autocomplete="off">
            {% if page_dict_to_html['poll_answered_dict']['poll_vote_updown_feedback'] == false %}
              <label class="custom-transition-03 custom-hover-1 custom-color-danger-important custom-ml-5" for="id-ui_vote_feedback_down"><i class="fa-solid fa-circle-down" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Feedback options not so good"></i></label>
            {% else %}
              <label class="custom-transition-03 custom-opacity-50 custom-hover-1 custom-ml-5" for="id-ui_vote_feedback_down"><i class="fa-solid fa-circle-down" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Feedback options not so good"></i></label>
            {% endif %}
            <!-- ------------------------------------- radio downvote end ------------------------------------- -->
          </div>
        </div>
        <div class="custom-border-white-opacity-25 custom-br-15">
          {% for i in range(page_dict_to_html['poll_dict']['answer_choices']|length) %}
            <input type="radio" class="btn-check" id="uiAnswerSelection{{ i }}" name="ui_selection_radio" value="{{ page_dict_to_html['poll_dict']['answer_choices'][i] }}" autocomplete="off" required>
            {% if page_dict_to_html['poll_answered_dict']['poll_answer_submitted'] == page_dict_to_html['poll_dict']['answer_choices'][i] %}
              <label class="custom-br-15 custom-width-100 custom-p-25 custom-hover-1 custom-transition-05 custom-bg-white custom-color-black" for="uiAnswerSelection{{ i }}">{{ page_dict_to_html['poll_dict']['answer_choices'][i] }}</label>
            {% else %}
              <label class="custom-br-15 custom-width-100 custom-p-25 custom-hover-1 custom-color-white custom-transition-05" for="uiAnswerSelection{{ i }}">{{ page_dict_to_html['poll_dict']['answer_choices'][i] }}</label>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <!-- ------------------------------------- answer end ------------------------------------- -->
      <!-- ------------------------------------- expand dropdown add written response start ------------------------------------- -->
      <div class="custom-mt-15">
        <span class="custom-opacity-75-hover custom-hover-1 custom-color-white custom-header-15 uiSelectAllBlockInvisible" id="id-flow_hide_details_1">Hide written feedback <i class="fa-solid fa-caret-up custom-ml-1"></i></span>
        <span class="custom-opacity-75-hover custom-hover-1 custom-color-white custom-header-15 uiSelectAllBlockVisible" id="id-flow_show_details_1">Add written feedback <i class="fa-solid fa-caret-down custom-ml-1"></i></span>
      </div>
      <div class="custom-mt-10 custom-width-100 uiSelectAllBlockInvisible" id="id-activity_details_1">
        <!-- ------------------------------------- ui written response start ------------------------------------- -->
        <!-- <label for="ui_written_feedback" class="custom-m-0"></label> -->
        {% if page_dict_to_html['poll_answered'] == true %}
          <textarea class="form-control" id="ui_written_feedback" name="ui_written_feedback" placeholder="Your previous feedback: '{{ page_dict_to_html['poll_answered_dict']['written_answer_submitted'] }}'" rows="4" onkeyup="CountCharsGeneral150(this);" pattern="{1,150}"></textarea>
        {% else %}
          <textarea class="form-control" id="ui_written_feedback" name="ui_written_feedback" placeholder="Additional feedback..." rows="4" onkeyup="CountCharsGeneral150(this);" pattern="{1,150}"></textarea>
        {% endif %}
        <p id="id-countCharsGeneral150" class="custom-m-0 custom-pt-10 custom-header-12 custom-color-white custom-opacity-75"></p>
        <!-- ------------------------------------- ui written response end ------------------------------------- -->
      </div>
      <!-- ------------------------------------- expand dropdown add written response end ------------------------------------- -->
      <!-- ------------------------------------- email + anonymous option start ------------------------------------- -->
      <div class="custom-mt-50 mx-auto">
        <p class="custom-m-0 custom-color-white custom-opacity-75 custom-header-15">Feedback from #1 fan: <span id="id-user_email">{{ page_dict_to_html['current_user_email'] }}</span></p>
        <div class="form-check custom-color-white custom-header-15 custom-mt-10">
          {% if page_dict_to_html['poll_answered_dict']['status_answer_anonymous'] == true %}
            <input class="form-check-input" type="checkbox" value="ui_checked" name="ui_anonymous_check" id="id-flexCheckDefault" onchange="handleCheckboxChange()" checked>
          {% else %}
            <input class="form-check-input" type="checkbox" value="ui_checked" name="ui_anonymous_check" id="id-flexCheckDefault" onchange="handleCheckboxChange()">
          {% endif %}
          <label class="form-check-label custom-opacity-75-hover custom-hover-1 custom-line-height-12" for="id-flexCheckDefault">Poll anonymously <span class="custom-color-white custom-m-0 custom-opacity-75 custom-header-10 custom-line-height-12">Only the verified '{{ page_dict_to_html['db_show_dict']['name_title'] }}' host can see your direct feedback. Check this box to hide your email from the verified '{{ page_dict_to_html['db_show_dict']['name_title'] }}' host for this poll.</span></label>
        </div>
      </div>
      <!-- ------------------------------------- email + anonymous option end ------------------------------------- -->
      <button type="submit" class="btn btn-secondary btn-lg custom-ptb-25 custom-width-100 custom-mt-50" id="id-submit_enable_general_2" disabled>Vote <i class="fa-solid fa-check"></i></button>
      <!-- ------------------------------------- divider start ------------------------------------- -->
      <div class="custom-border-white-opacity-25 custom-mtb-100 custom-width-100 mx-auto" id="id-general_autoscroll_location_1"></div>
      <!-- ------------------------------------- divider end ------------------------------------- -->
      <!-- ------------------------------------- poll statistics start ------------------------------------- -->
      <div class="mx-auto">
        <p class="custom-color-white custom-m-0 custom-opacity-75 custom-header-30">Poll statistics</p>
        <p class="custom-color-white custom-m-0 custom-opacity-75 custom-header-10 custom-pb-10">Only the verified '{{ page_dict_to_html['db_show_dict']['name_title'] }}' host can see your direct feedback. Your feedback and privacy will always be hidden from the public poll statistics.</p>
        {% if page_dict_to_html['poll_answered'] == false %}
          <div class="custom-br-15 custom-border-white-opacity-25 custom-p-15">
            <p class="custom-m-0 custom-header-15 custom-color-white custom-opacity-75">You must first answer this poll in order to see the community statistics.</p>
          </div>
        {% else %}
          <div class="custom-border-white-opacity-25 custom-br-15 custom-p-15 custom-color-white custom-header-12">
            <p class="custom-m-0 custom-mb-10">Q: {{ page_dict_to_html['poll_dict']['question'] }}</p>
            {% for k,v in page_dict_to_html['poll_dict']['answer_choices_dict'].items() %}
              {% if v == page_dict_to_html['poll_answered_dict']['poll_answer_submitted'] %}
                <p class="custom-m-0"><i class="fa-solid fa-arrow-right"></i> (You answered) {{ k }}: {{ v }}</p>
              {% else %}
                <p class="custom-m-0 custom-opacity-50">{{ k }}: {{ v }}</p>
              {% endif %}
            {% endfor %}
          </div>
          <div class="custom-color-white custom-header-20">
            <p class="custom-m-0 custom-mt-25"><i class="fa-solid fa-chevron-right"></i> Total responses: {{ page_dict_to_html['poll_statistics_dict']['total_latest_poll_answers'] }}</p>
          </div>
          <div class="custom-bg-white custom-br-15 custom-mt-25">
            <canvas id="id-chartAnswerDistribution" style="width:100%;max-width:700px"></canvas>
            <script>
              var chartAnswerDistributionTitle = 'Answer Distribution (%)'
              var chartAnswerDistributionLabels = {{ page_dict_to_html['poll_statistics_dict']['chart_answer_distribution']['labels']|tojson }}
              var chartAnswerDistributionValues = {{ page_dict_to_html['poll_statistics_dict']['chart_answer_distribution']['values']|tojson }}
            </script>
          </div>
        {% endif %}
      </div>
      <!-- ------------------------------------- poll statistics end ------------------------------------- -->
      <!-- ------------------------------------- divider start ------------------------------------- -->
      <div class="custom-border-white-opacity-25 custom-mtb-100 custom-width-100 mx-auto"></div>
      <!-- ------------------------------------- divider end ------------------------------------- -->
      <!-- ------------------------------------- create poll start ------------------------------------- -->
      {% if page_dict_to_html['poll_answered'] == true %}
        <a href="/polling/show/{{ page_dict_to_html['url_show_id'] }}" class="btn btn-success btn-lg custom-ptb-25 custom-width-100 custom-mb-100 custom-header-30">Next poll <i class="fa-solid fa-angle-right"></i><i class="fa-solid fa-angle-right"></i><i class="fa-solid fa-angle-right"></i></a>
      {% else %}
      {% endif %}
      <div class="mx-auto">
        <p class="custom-color-white custom-m-0 custom-opacity-75 custom-header-30">Create poll for this community</p>
        <p class="custom-color-white custom-m-0 custom-opacity-75 custom-header-10 custom-pb-25">The verified '{{ page_dict_to_html['db_show_dict']['name_title'] }}' host has final approval before your poll can be seen by others in the community.</p>
        <a href="#" class="custom-width-100 btn btn-outline-warning">Create poll for this community <i class="fa-solid fa-plus"></i></a>
      </div>
      <!-- ------------------------------------- create poll end ------------------------------------- -->
      <!-- ------------------------------------- divider start ------------------------------------- -->
      <div class="custom-border-white-opacity-25 custom-mtb-100 custom-width-100 mx-auto"></div>
      <!-- ------------------------------------- divider end ------------------------------------- -->
      <!-- ------------------------------------- verified status start ------------------------------------- -->
      <div class="mx-auto">
        <p class="custom-color-white custom-m-0 custom-opacity-75 custom-header-30 custom-pb-25">Verify podcast and get access to your specialized audience feedback</p>
        <div class="custom-display-flex">
          <div>
            <img src="{{ page_dict_to_html['db_show_dict']['platform_image_small'] }}" alt="show logo" class="custom-mr-1 custom-br-5 custom-border-white-opacity-75">
          </div>
          <div class="custom-f-direction-row custom-ml-15">
            <p class="custom-color-white custom-m-0 custom-opacity-75 custom-header-20">Not yet verified <i class="fa-solid fa-circle-check custom-color-info"></i></p>
            <p class="custom-color-white custom-m-0 custom-opacity-75 custom-header-15">100% free verification process</p>
            <p class="custom-color-white custom-m-0 custom-opacity-75 custom-header-15">1. Email <a href="mailto:support@triviafy.com" class="custom-a-5 custom-color-info">support@triviafy.com</a> proof that you mentioned Triviafy to your audience on at least one major platform, e.g., podcast episode, Twitter, TikTok, etc.</p>
            <p class="custom-color-white custom-m-0 custom-opacity-75 custom-header-15"><a href="https://calendly.com/triviafy/podcast-host-verification-call" class="custom-a-white-underline" target="_blank">2. Complete step 1 then book <span class="custom-color-info">Calendly</span> call for final verification</a>.</p>
          </div>
        </div>
        <a href="mailto:support@triviafy.com" class="custom-width-100 btn btn-outline-info custom-mt-25">Begin host verification process <i class="fa-regular fa-envelope"></i></a>
      </div>
      <!-- ------------------------------------- verified status end ------------------------------------- -->
    </div>
    <!-- ------------------------------------- background end ------------------------------------- -->
  </form>
  <!-- ------------------------------------- form end ------------------------------------- -->
</div>
<!-- ----------------------------------- shape divider start ----------------------------------- -->
<div class="custom-shape-divider-bottom-1672276706 custom-bg-black">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
  </svg>
</div>
<!-- ----------------------------------- shape divider end ----------------------------------- -->
<!-- ----------------------------------- exit start ----------------------------------- -->
<div class="custom-width-600 mx-auto custom-mb-50">
  <a href="/polling/dashboard" class="btn btn-outline-secondary custom-width-100"><i class="fa-solid fa-angle-left"></i> Back to my shows</a>
</div>
<!-- ----------------------------------- exit end ----------------------------------- -->
{% endblock %}