/* - - - - - - - - - - assessment create start */
.schedule-new-form-container {
  /* border: 1px solid black; */
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.schedule-new-form {
  /* border: 1px solid red; */
  text-align: center;
}
.schedule-options-grid {
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}
.schedule-user-input-section-1 {
  /* border: 1px solid blue; */
  grid-area: 1 / 1 / 2 / 2;
}
.schedule-user-input-section-2 {
  /* border: 1px solid red; */
  grid-area: 1 / 2 / 2 / 3;
}
.schedule-user-input-section-3 {
  /* border: 1px solid green; */
  grid-area: 1 / 3 / 2 / 4;
}
.dropdown-list-assessment-names {
  /* border: 1px solid black; */
  display: inline-block;
}
.schedule-anchor-span-assessment-names, .schedule-anchor-span-candidate-names {
  /* border: 1px solid black; */
  position: relative;
  cursor: pointer;
  display: inline-block;
  /* padding: 5px 50px 5px 10px;
  border: 1px solid #ccc; */
  width: 250px;
  /* .input */
  height: 50px;
  margin-bottom: 0px;
  padding: 12px 16px;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;
  transition: border-color .3s,box-shadow .4s,border-width .2s linear,background-color .4s linear;
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: 0.02em;
  /* .w-input */
  /* display: flex; */
  color: rgb(117, 117, 117);
  /* input */
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
}
.schedule-anchor-span-assessment-names:hover, .schedule-anchor-span-candidate-names:hover {
  border: 2px solid #b7b7b7;
  transition: 0.2s;
}
.schedule-anchor-span-assessment-names:after, .schedule-anchor-span-candidate-names:after {
  /* border: 1px solid black; */
  position: absolute;
  content: "";
  border-left: 2px solid rgb(117, 117, 117);
  border-top: 2px solid rgb(117, 117, 117);
  padding: 5px;
  right: 10px;
  top: 15px;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
ul.schedule-items-assessment-names {
  /* border: 1px solid red; */
  padding: 10px;
  display: none;
  line-height: 1.5;
  margin: 0;
  border: 1px solid #ccc;
  /* border-top: none; */
  border-radius: 10px;
  text-align: left;
  width: 100%;
}
ul.schedule-items-assessment-names li {
  /* border: 1px solid black; */
  list-style: none;
}
ul.schedule-items-assessment-names li input {
  margin: 0 5px 0 0;
}
.dropdown-list-assessment-names.visible .schedule-anchor-span-assessment-names, .dropdown-list-assessment-names.visible .schedule-anchor-span-candidate-names {
  /* border: 1px solid black; */
  color: var(--company-primary-color);
}
.dropdown-list-assessment-names.visible .schedule-items-assessment-names {
  /* border: 1px solid black; */
  display: block;
}
.schedule-items-assessment-names li input[type="radio"] {
  border: 1px solid rgb(190, 190, 190);
  color: rgb(190, 190, 190);
  padding: 5px;
  cursor: pointer;
  width: 10px;
  display: inline-block;
  border-radius: 10px;
}
.schedule-items-assessment-names li input[type="radio"]:hover {
  background-color: var(--company-primary-color);
  color: white;
}
.schedule-items-assessment-names li input[type="radio"]:checked {
  background-color: var(--company-primary-color);
  color: white;
}
/* - - - - - - - - - - assessment create end */