/* - - - - - - - - - - assessment create start */
.schedule-new-form-container {
  /* border: 1px solid black; */
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.schedule-new-form {
  /* border: 1px solid red; */
  border-radius: 25px;
  text-align: center;
}
/* - - - - - - - - - - assessment create end */