{% extends "candidates/aaa_base/base2_interior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Create Assessment / Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<form method="POST" enctype="multipart/form-data">
  <div class="container custom-display-flex custom-pt-6 custom-jc-2 custom-pb-6">
    <h2 class="custom-header-2-mobile">Custom questions</h2>
    {% if total_questions_created_to_html == 0 %}
    <button class="btn btn-secondary" disabled>Add to test</button>
    {% else %}
    <button type="submit" class="btn btn-primary">Add to test</button>
    {% endif %}
  </div>
  <div class="container border shadow custom-br-1 custom-bg-white">
    {% if stripe_subscription_obj_status_to_html == 'active' %}
    {% if total_questions_created_to_html == 0 %}
    <div class="text-center custom-ptb-5">
      <p class="fst-italic custom-color-light-1 custom-header-5">You have not created any questions yet.</p>
      <a href="/candidates/question/create/v2" class="btn btn-primary btn-lg">Create +</a>
    </div>
    {% endif %}
    <div class="custom-display-flex custom-fw-1 custom-height-4-mobile">
      <div class="custom-width-11-mobile custom-p-5">
        <div class="text-center">
          <p class="custom-header-4">Select questions</p>
        </div>
        <div class="custom-overflow-1 custom-height-5-mobile">
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
        </div>
      </div>
      <div class="custom-width-11-mobile custom-p-5">
        <div class="text-center">
          <p class="custom-header-4">Select assessment</p>
        </div>
        <div class="custom-overflow-1 custom-height-5-mobile">
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
        </div>
      </div>
    </div>
    {% else %}
    <div class="text-center">
      <p>redirect to subscription page</p>
    </div>
    {% endif %}
  </div>
</form>
{% endblock %}