{% extends "employees/aaa_base/base2_primary.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Preview Question - Triviafy</title>
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<div class="custom-bg-primary-darker">
  <div class="container-fluid custom-bg-primary-gradient-1 custom-pt-3">
    <!-- ------------------------------------- submit start ------------------------------------- -->
    {% if page_dict_to_html['current_question_is_draft'] == true %}
      <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
        <div class="container custom-pb-3">
          <button class="btn btn-success btn-lg custom-width-6">Submit <i class="fa-solid fa-check"></i></button>
        </div>
      </form>
    {% endif %}
    <!-- ------------------------------------- submit end ------------------------------------- -->
    <!-- ------------------------------------- question start ------------------------------------- -->
    <div class="container border shadow custom-br-1 custom-bg-white custom-display-flex custom-fw-1">
      <div class="custom-width-11-mobile custom-p-5">
        <div class="custom-display-flex custom-mb-6">
          <h2 class="custom-header-4">Q1/10: {{ page_dict_to_html['question_info_dict']['title'] }}</h2>
          <div>
            {% for category_tuple in page_dict_to_html['question_info_dict']['categories'] %}
              <span class="custom-tag-1 custom-tag-category-{{ category_tuple[1] }} custom-br-4 custom-m-3 custom-header-5 custom-wrap-1">{{ category_tuple[0] }}</span>
            {% endfor %}
          </div>
        </div>
        <div>
          <div class="custom-mb-6 shadow custom-bg-green-1">
            <p class="custom-header-6 custom-p-1 custom-br-1 fst-italic fw-bold">{{ page_dict_to_html['question_info_dict']['question'] }}</p>
          </div>
          {% if page_dict_to_html['question_info_dict']['aws_image_url']|length != 0 %}
          <div class="text-center">
            <img src="{{ page_dict_to_html['question_info_dict']['aws_image_url'] }}" alt="" class="custom-img-size-11 custom-br-1 shadow">
          </div>
          {% else %}
          {% endif %}
        </div>
      </div>
      <div class="custom-width-11-mobile custom-p-6">
        <div class="text-center">
          <p class="custom-header-4">Your best <span class="custom-underline-1 fst-italic" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Your team will see your response later, don't cheat.">guess</span>?</p>
        </div>
        <div class="custom-grid-container-5x1">
          {% if page_dict_to_html['question_info_dict']['option_a'] != None and page_dict_to_html['question_info_dict']['option_a'] != '' %}
          <div>
            <input type="radio" class="btn-check" id="candidate_answer_choice_a" name="ui_answer_choice_selected" value="a" autocomplete="off">
            <label class="btn btn-danger custom-width-6 btn-lg custom-ptb-8" for="candidate_answer_choice_a">{{ page_dict_to_html['question_info_dict']['option_a'] }}</label>
          </div>
          {% endif %}

          {% if page_dict_to_html['question_info_dict']['option_b'] != None and page_dict_to_html['question_info_dict']['option_b'] != '' %}
          <div>
            <input type="radio" class="btn-check" id="candidate_answer_choice_b" name="ui_answer_choice_selected" value="b" autocomplete="off">
            <label class="btn btn-success custom-width-6 btn-lg custom-ptb-8" for="candidate_answer_choice_b">{{ page_dict_to_html['question_info_dict']['option_b'] }}</label>
          </div>
          {% endif %}

          {% if page_dict_to_html['question_info_dict']['option_c'] != None and page_dict_to_html['question_info_dict']['option_c'] != '' %}
          <div>
            <input type="radio" class="btn-check" id="candidate_answer_choice_c" name="ui_answer_choice_selected" value="d" autocomplete="off">
            <label class="btn btn-primary custom-width-6 btn-lg custom-ptb-8" for="candidate_answer_choice_c">{{ page_dict_to_html['question_info_dict']['option_c'] }}</label>
          </div>
          {% endif %}

          {% if page_dict_to_html['question_info_dict']['option_d'] != None and page_dict_to_html['question_info_dict']['option_d'] != '' %}
          <div>
            <input type="radio" class="btn-check" id="candidate_answer_choice_d" name="ui_answer_choice_selected" value="d" autocomplete="off">
            <label class="btn btn-warning custom-width-6 btn-lg custom-ptb-8" for="candidate_answer_choice_d">{{ page_dict_to_html['question_info_dict']['option_d'] }}</label>
          </div>
          {% endif %}

          {% if page_dict_to_html['question_info_dict']['option_e'] != None and page_dict_to_html['question_info_dict']['option_e'] != '' %}
          <div>
            <input type="radio" class="btn-check" id="candidate_answer_choice_e" name="ui_answer_choice_selected" value="e" autocomplete="off">
            <label class="btn btn-info custom-width-6 btn-lg custom-ptb-8" for="candidate_answer_choice_e">{{ page_dict_to_html['question_info_dict']['option_e'] }}</label>
          </div>
          {% endif %}
        </div>
        <div class="text-center">
          <img src="/static/images/candidates/logo/logo_wide_v3_black2.png" alt="powered by triviafy logo" class="custom-img-size-10">
          <div class="text-center custom-mt-4">
            <a href="/example" class="fst-italic">Free demo <i class="fa-solid fa-up-right-from-square"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- ------------------------------------- question end ------------------------------------- -->
  </div>
  <!-- ------------------------------------- answer start ------------------------------------- -->
  <div class="container custom-pb-6 custom-mt-7">
    <p class="custom-color-white custom-width-6 text-center custom-header-6">Answer: {{ page_dict_to_html['question_info_dict']['answer'] }}</p>
  </div>
  <!-- ------------------------------------- answer end ------------------------------------- -->
  <!-- ------------------------------------- back start ------------------------------------- -->
  <div class="container custom-pb-3">
    <a href="/employees/questions" class="btn btn-danger btn-lg custom-width-6"><i class="fa-solid fa-arrow-left"></i> Back</a>
  </div>
  <!-- ------------------------------------- back end ------------------------------------- -->
</div>
{% endblock %}