{% extends "polling/aaa_base/base2_interior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>All Polls - Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
{% if page_dict_to_html['alert_message_dict']['message'] != '' %}
<div class="alert alert-{{ page_dict_to_html['alert_message_dict']['type'] }} mx-auto text-center container custom-mt-25 custom-width-800" role="alert">
  {{ page_dict_to_html['alert_message_dict']['message'] }}
</div>
{% endif %}
<!-- ----------------------------------- end ----------------------------------- -->
<!-- ------------------------------------- section start ------------------------------------- -->
<div class="container custom-width-800 custom-pt-50">
  <!-- ------------------------------------- dashboard default start ------------------------------------- -->
  <div class="custom-display-flex custom-jc-between">
    <h2>Your polls</h2>
    <div class="custom-ml-10 custom-mt-5">
      <a href="/polling/dashboard" class="btn btn-outline-secondary btn-sm custom-mb-10-mobile"><i class="fa-solid fa-angle-left"></i> Back</a>
    </div>
  </div>
  <!-- ------------------------------------- search bar start ------------------------------------- -->
  <input type="text" class="form-control" id="ui_search_show_name" name="ui_search_show_name" placeholder="Search show name">
  <!-- ------------------------------------- search bar end ------------------------------------- -->
  {% for i_dict in page_dict_to_html['created_polls_arr_of_dict'] %}
    <div class="custom-br-25 custom-bg-white shadow-sm border custom-p-15 custom-mtb-25 uiSearchItem">
      <!-- ------------------------------------- show details start ------------------------------------- -->
      <div class="custom-display-flex custom-pb-10">
        <a href="/polling/show/{{ i_dict['fk_show_id'] }}/{{ i_dict['id'] }}"><img src="{{ i_dict['platform_image_small'] }}" alt="show logo" class="custom-br-5 border shadow-sm custom-width-66-px"></a>
        <div class="custom-ml-5 custom-display-flex custom-f-direction-col">
          <a href="/polling/show/{{ i_dict['fk_show_id'] }}/{{ i_dict['id'] }}" class="custom-a-2 custom-header-18">{{ i_dict['name'] }}</a>
          <a href="/polling/show/{{ i_dict['fk_show_id'] }}/{{ i_dict['id'] }}" class="custom-a-2 custom-header-18">Question: {{ i_dict['question'] }}</a>
          <a href="/polling/show/{{ i_dict['fk_show_id'] }}/{{ i_dict['id'] }}" class="custom-a-2 custom-header-18">Status: {{ i_dict['status_approved'] }}</a>
        </div>
      </div>
      <!-- ------------------------------------- show details end ------------------------------------- -->
    </div>
  {% endfor %}
  <!-- ------------------------------------- dashboard default end ------------------------------------- -->
</div>
<!-- ------------------------------------- section end ------------------------------------- -->
{% endblock %}