{% extends "AA_SUPPORTING_PAGE_TEMPLATES/index.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Pricing / Triviafy</title>
{% endblock %}

{% block content %}

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar START -->
<!--Navigation bar-->
<nav-candidates-not-signed-in-component link_home_js="{{ url_for('candidates_page_render_template.candidates_page_render_template_function') }}",
                                        link_candidates_about_js="{{ url_for('candidates_about_page_render_template.candidates_about_page_render_template_function') }}",
                                        link_candidates_faq_js="{{ url_for('candidates_faq_page_render_template.candidates_faq_page_render_template_function') }}",
                                        link_candidates_pricing_js="{{ url_for('candidates_pricing_page_render_template.candidates_pricing_page_render_template_function') }}",
                                        link_candidates_library_js="{{ url_for('candidates_test_library_page_render_template.candidates_test_library_page_render_template_function') }}">
</nav-candidates-not-signed-in-component>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro start -->
<div class="landing-page-intro-3-section">
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro left side start -->
  <div class="landing-page-intro-3-words-section">
    <p class="landing-page-intro-3-header">Test library for the friendliest skill assessment experience.</p>
    <p class="landing-page-3-subheader landing-page-intro-3-sub-header">Early stage candidate screening made simple.</p>
    <div class="landing-page-get-started-section">
      <div class="landing-page-intro-3-next-steps-section">
        <form action="#" method="post" class="landing-page-email-form-3" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
          <label for="user_input_email" class="landing-page-form-email-label"></label>
          <input type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,10}$" id="user_input_email" name="user_input_email" placeholder="Your work email" class="default-not-signed-in-text-input" required><br><br>
          <input type="submit" value="Get started!" class="default-button-format default-button-format-primary-color landing-page-button-position-3">
        </form>
        <p class="free-trial-no-card-required-3">(No credit card required.)</p>
      </div>
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro left side end -->
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro right side start -->
  <div class="landing-page-intro-3-media-section">
    <img src="/static/images/candidates/test_library_page/test_library_red.png" alt="" class="general-page-intro-3-media-img">
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro right side end -->
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - supported frameworks start -->
<div class="landing-page-supported-frameworks-section">
  <div class="landing-page-3-header">
    <p class="section-title-p-margins">50+ Supported frameworks</p>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - framework logos start -->
  <div class="landing-page-frameworks-section">
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/android.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Android</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/angular.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Angular</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/aws.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">AWS</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/azure.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Azure</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/c_plus.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">C++</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/c_sharp.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">C#</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/cloudflare.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Cloudflare</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/css.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">CSS</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/databricks.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Databricks</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/dbt.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">dbt</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/django.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">django</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/docker.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">docker</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/drupal.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Drupal</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/excel.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Excel</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/figma.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Figma</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/go.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Go</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/google_ads.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Google Ads</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/graphql.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">GraphQL</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/html.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">HTML</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/hubspot.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Hubspot</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/ios_apple.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">IOS</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/java.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Java</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/javascript.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">JavaScript</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/jquery.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">jQuery</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/kotlin.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Kotlin</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/looker.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Looker</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/lua.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Lua</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/mongo_db.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">MongoDB</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/node_js.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Node.js</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/php.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">PHP</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/postgres.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Postgres</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/power_bi.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Power BI</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/python.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Python</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/r.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">R</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/react.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">React</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/ruby_rails.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Ruby on Rails</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/ruby.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Ruby</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/rust.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Rust</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/salesforce.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Salesforce</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/scala.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Scala</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/selenium.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Selenium</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/shopify.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Shopify</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/snowflake.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Snowflake</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/spring.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Spring.js</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/sql.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">SQL</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/swift.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Swift</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/tableau.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Tableau</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/typescript.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">TypeScript</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/wordpress.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Wordpress</p>
    </div>
    <div class="landing-page-framework-container default-box-shadow-grey-reg">
      <img src="/static/images/candidates/logos_frameworks/workday.png" alt="Other company logo dark" class="framework-logo-img">
      <p class="framework-logo-p">Workday</p>
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - framework logos end -->
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - supported frameworks end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - pricing master start -->
<div class="pricing-master-section">
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - pricing individual section start -->
  <div class="pricing-individual-section default-box-shadow-green-reg">
    <div class="pricing-individual-header-section-01">
      <p class="pricing-title">Basic</p>
      <p class="pricing-cost"><span class="pricing-dollar-sign-span">$ </span>99 <span class="pricing-per-month-span">/ month<span></p>
    </div>

    <div class="pricing-individual-body-section">
      <div class="pricing-included-section">
        <p class="pricing-included-title">Includes</p>
        <li class="default-box-shadow-grey-small">100% fully customizable skill assessment questions.</li>
        <li class="default-box-shadow-grey-small">50+ frameworks supported.</li>
        <li class="default-box-shadow-grey-small">Candidate analytics.</li>
        <li class="default-box-shadow-grey-small">Email assessment monthly limit: <span class="pricing-stand-out">500</span> candidates.</li>
      </div>
    </div>

    <div class="pricing-action-button-section">
      <a href="#"><button class="default-button-format default-button-format-pricing-green-color navbar-not-signed-in-button-position-3">Try for free!</button></a>
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - pricing individual section end -->
  
  

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - pricing individual section start -->
  <div class="pricing-individual-section default-box-shadow-purple-reg">
    <div class="pricing-individual-header-section-02">
      <p class="pricing-title">Professional</p>
      <p class="pricing-cost"><span class="pricing-dollar-sign-span">$ </span>149 <span class="pricing-per-month-span">/ month<span></p>
    </div>

    <div class="pricing-individual-body-section">
      <div class="pricing-included-section">
        <p class="pricing-included-title">Includes</p>
        <li class="default-box-shadow-grey-small">Everything the Basic plan includes.</li>
        <li class="default-box-shadow-grey-small">Email assessment monthly limit: <span class="pricing-stand-out">1,000</span> candidates.</li>
      </div>
    </div>

    <div class="pricing-action-button-section">
      <a href="#"><button class="default-button-format default-button-format-primary-color navbar-not-signed-in-button-position-3">Try for free!</button></a>
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - pricing individual section end -->




  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - pricing individual section start -->
  <div class="pricing-individual-section default-box-shadow-blue-reg">
    <div class="pricing-individual-header-section-03">
      <p class="pricing-title">Premium</p>
      <p class="pricing-cost"><span class="pricing-dollar-sign-span">$ </span>199 <span class="pricing-per-month-span">/ month<span></p>
    </div>

    <div class="pricing-individual-body-section">
      <div class="pricing-included-section">
        <p class="pricing-included-title">Includes</p>
        <li class="default-box-shadow-grey-small">Everything the Professional plan includes.</li>
        <li class="default-box-shadow-grey-small">Email assessment monthly limit: <span class="pricing-stand-out">unlimited</span> candidates.</li>
      </div>
    </div>

    <div class="pricing-action-button-section">
      <a href="#"><button class="default-button-format default-button-format-pricing-blue-color navbar-not-signed-in-button-position-3">Try for free!</button></a>
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - pricing individual section end -->
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - pricing master end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - other company logos start -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - supported frameworks start -->
<div class="landing-page-other-companies-section">
  <div class="landing-page-3-header">
    <p class="section-title-p-margins">Companies that love skill assessments!</p>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - framework logos start -->
  <div class="landing-page-all-logos-section">
    <div class="landing-page-company-container">
      <img src="/static/images/candidates/logos_companies/cisco.png" alt="Other company logo dark" class="company-logo-img">
    </div>
    <div class="landing-page-company-container">
      <img src="/static/images/candidates/logos_companies/domo.png" alt="Other company logo dark" class="company-logo-img">
    </div>
    <div class="landing-page-company-container">
      <img src="/static/images/candidates/logos_companies/retro_fitness.png" alt="Other company logo dark" class="company-logo-img">
    </div>
    <div class="landing-page-company-container">
      <img src="/static/images/candidates/logos_companies/soundcloud.png" alt="Other company logo dark" class="company-logo-img">
    </div>
    <div class="landing-page-company-container">
      <img src="/static/images/candidates/logos_companies/toast.png" alt="Other company logo dark" class="company-logo-img">
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - framework logos end -->
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - other company logos end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - sign up small start -->
<div class="sign-up-small-section default-box-shadow-grey-reg">
  <div class="landing-page-3-header">
    <p class="section-title-p-margins">Start filtering your candidates today!</p>
    <p class="landing-page-3-subheader">100% free. Send your first candidate assessment in less than 2 minutes.</p>
  </div>
  <div class="landing-page-get-started-section">
    <div class="landing-page-intro-3-next-steps-section">
      <form action="#" method="post" class="landing-page-email-form-3" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
        <label for="user_input_email" class="landing-page-form-email-label"></label>
        <input type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,10}$" id="user_input_email" name="user_input_email" placeholder="Your work email" class="default-not-signed-in-text-input" required><br><br>
        <input type="submit" value="Get started!" class="default-button-format default-button-format-primary-color landing-page-button-position-3">
      </form>
      <p class="free-trial-no-card-required-3">(No credit card required.)</p>
    </div>
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - sign up small end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - footer start -->
<!-- Footer Not Signed In -->
<footer-candidates-not-signed-in-component link_home_js="{{ url_for('candidates_page_render_template.candidates_page_render_template_function') }}",
                                          link_candidates_about_js="{{ url_for('candidates_about_page_render_template.candidates_about_page_render_template_function') }}",
                                          link_candidates_faq_js="{{ url_for('candidates_faq_page_render_template.candidates_faq_page_render_template_function') }}",
                                          link_candidates_pricing_js="{{ url_for('candidates_pricing_page_render_template.candidates_pricing_page_render_template_function') }}",
                                          link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}",
                                          link_terms_conditions_js="{{ url_for('terms_of_service_index_page_render_template.terms_of_service_index_page_render_template_function') }}">
</footer-candidates-not-signed-in-component>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - footer end -->
{% endblock %}