{% extends "candidates/aaa_base/base2_exterior.html" %}

{% block title %}
    <title>Blog Post - Triviafy</title>
    <meta name="description" content="The friendliest pre employment testing platform, mobile supported. Pre employment screening made simple. Pre employment tests for 50+ frameworks.">
    <meta name="og:description" content="The friendliest pre employment testing platform, mobile supported. Pre employment screening made simple. Pre employment tests for 50+ frameworks.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
<div class="container text-center custom-width-3 custom-pt-2 custom-pb-3">
  <h1 class="custom-header-1">Hire a BI Developer</h1>
</div>

<div class="container custom-width-3">
  <p class="custom-header-4">A BI developer is a software developer that specializes in business intelligence (BI) applications. BI developers work with analysts, senior management, and other stakeholders to understand the business needs and then design, develop, test, and deploy BI dashboards and solutions that meet those needs.</p>
  <p class="custom-header-4">BI tools include Power BI, Tableau, Looker, QlikSense, Dundas BI, and more.</p>
</div>
<div class="container text-center custom-width-3 custom-pb-2">
  <img src="/static/images/candidates/blog/i_blog/0003_blog/unsplash.jpg" alt="pre employment testing unsplash" class="custom-img-size-3 custom-br-1 shadow">
</div>

<div class="container custom-width-3">
  <p class="custom-header-4">Hiring a BI developer can be a challenge. Luckily there are tools that can help.</p>
  <p class="custom-header-4"><a href="https://triviafy.com/" target="_blank">Triviafy</a> is the simplest pre employment testing experience that offers early stage pre employment screening questions around the most popular BI tools.</p>
</div>
<div class="container text-center custom-width-3 custom-pb-2">
  <a href="https://triviafy.com/" target="_blank"><img src="/static/images/candidates/blog/i_blog/0003_blog/triviafy.png" alt="pre employment testing unsplash" class="custom-img-size-3 custom-br-1 shadow"></a>
</div>

<div class="container custom-width-3">
  <p class="custom-header-4">Example of Power BI question on Triviafy:</p>
</div>
<div class="container text-center custom-width-3 custom-pb-2">
  <a href="https://triviafy.com/" target="_blank"><img src="/static/images/candidates/blog/i_blog/0003_blog/powerbi.png" alt="pre employment testing unsplash" class="custom-img-size-5 custom-br-1 shadow"></a>
</div>

<div class="container custom-width-3">
  <p class="custom-header-4">Example of Tableau question on Triviafy:</p>
</div>
<div class="container text-center custom-width-3 custom-pb-2">
  <a href="https://triviafy.com/" target="_blank"><img src="/static/images/candidates/blog/i_blog/0003_blog/tableau.png" alt="pre employment testing unsplash" class="custom-img-size-5 custom-br-1 shadow"></a>
</div>

<div class="container custom-width-3">
  <p class="custom-header-4">With Triviafy you can create a BI developer pre employment test in less than 30 seconds. Create an account to start sending out assessments today.</p>
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container text-center custom-pb-3">
  <a href="https://medium.com/triviafy/hire-a-bi-developer-d7d9523ce7e7" target="_blank"><p class="custom-header-4">View Medium article</p></a>
  <p class="custom-size-3 custom-color-light-1">Published: Nov 30, 2022</p>
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container-fluid custom-pb-1">
  <div class="container custom-bg-colorful-1 custom-br-1 shadow custom-width-3">
    <div class="container text-center custom-pt-3">
      <h2 class="custom-header-1">Start testing candidates <span class="fst-italic">today!</span></h2>
      <h2 class="custom-header-4">Send your first pre employment test in less than 60 seconds.</h2>
    </div>
    <form action="{{ url_for('auth.candidates_signup_function') }}" method="post" enctype="multipart/form-data" class="custom-display-flex custom-width-1 mx-auto custom-pt-4" onsubmit="return clickSubmitButtonOnce()">
      <label for="various_pages1_ui_email" class="form-label"></label>
      <input type="email" class="form-control custom-mr-2 custom-p-3" id="various_pages1_ui_email" name="various_pages1_ui_email" aria-describedby="emailHelp" placeholder="Work email" required>
      <button type="submit" class="btn btn-primary text-nowrap">Get Started</button>
    </form>
    <div class="text-center custom-mt-2 custom-pb-3">
      <p class="custom-size-4 custom-color-light-1">(No credit card required.)</p>
    </div>
  </div>
</div>
<!-- ----------------------------------- end ----------------------------------- -->
{% endblock %}