{% extends "candidates/aaa_base/base2_exterior.html" %}

{% block title %}
    <title>Blog Post - Triviafy</title>
    <meta name="description" content="The friendliest pre employment testing platform, mobile supported. Pre employment screening made simple. Pre employment tests for 50+ frameworks.">
    <meta name="og:description" content="The friendliest pre employment testing platform, mobile supported. Pre employment screening made simple. Pre employment tests for 50+ frameworks.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
<div class="container text-center custom-width-3 custom-pt-2 custom-pb-3">
  <h1 class="custom-header-1">5 Tools for Pre-Employment Screening Tests and Assessments</h1>
</div>

<div class="container custom-width-3">
  <p class="custom-header-4">1. <a href="https://www.testgorilla.com/" target="_blank">Test Gorilla</a>: Provides multiple question types so that you can conduct one-way video interviews, allow candidates to upload portfolios, and more.</p>
</div>
<div class="container text-center custom-width-3 custom-pb-2">
  <a href="https://www.testgorilla.com/" target="_blank"><img src="/static/images/candidates/blog/i_blog/0001_blog/testgorilla.png" alt="pre employment testing testgorilla" class="custom-img-size-3 custom-br-1 shadow"></a>
</div>

<div class="container custom-width-3">
  <p class="custom-header-4">2. <a href="https://triviafy.com/" target="_blank">Triviafy</a>: Early stage candidate screening platform. Offers multiple choice questions for popular tools and frameworks like Excel, AWS, Tableau, JavaScript. Ideal product when hiring for entry level roles.</p>
</div>
<div class="container text-center custom-width-3 custom-pb-2">
  <a href="https://triviafy.com/" target="_blank"><img src="/static/images/candidates/blog/i_blog/0001_blog/triviafy.png" alt="pre employment testing triviafy" class="custom-img-size-3 custom-br-1 shadow"></a>
</div>

<div class="container custom-width-3">
  <p class="custom-header-4">3. <a href="https://eskill.com/" target="_blank">eSkill</a>: Provides skills and behavioral assessment tools that help organizations hire and retain top candidates.</p>
</div>
<div class="container text-center custom-width-3 custom-pb-2">
  <a href="https://eskill.com/" target="_blank"><img src="/static/images/candidates/blog/i_blog/0001_blog/eskill.png" alt="pre employment testing eskill" class="custom-img-size-3 custom-br-1 shadow"></a>
</div>

<div class="container custom-width-3">
  <p class="custom-header-4">4. <a href="https://www.qualifi.hr/" target="_blank">Qualifi</a>: empowers recruiters to find the best candidates faster by enabling on-demand phone interviews via automation.</p>
</div>
<div class="container text-center custom-width-3 custom-pb-2">
  <a href="https://www.qualifi.hr/" target="_blank"><img src="/static/images/candidates/blog/i_blog/0001_blog/qualifi.png" alt="pre employment testing qualifi" class="custom-img-size-3 custom-br-1 shadow"></a>
</div>

<div class="container custom-width-3">
  <p class="custom-header-4">5. <a href="https://wonderlic.com/" target="_blank">Wonderlic</a>: To provide employers with a uniquely fair, predictive, and easy-to-use assessment that helps them identify the candidates most likely to succeed in all their open roles.</p>
</div>
<div class="container text-center custom-width-3 custom-pb-2">
  <a href="https://wonderlic.com/" target="_blank"><img src="/static/images/candidates/blog/i_blog/0001_blog/wonderlic.png" alt="pre employment testing qualifi" class="custom-img-size-3 custom-br-1 shadow"></a>
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container text-center custom-pb-3">
  <a href="https://medium.com/triviafy/5-tools-for-pre-employment-screening-tests-and-assessments-fd337cc1aed0" target="_blank"><p class="custom-header-4">View Medium article</p></a>
  <p class="custom-size-3 custom-color-light-1">Published: Nov 19, 2022</p>
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container-fluid custom-pb-1">
  <div class="container custom-bg-colorful-1 custom-br-1 shadow custom-width-3">
    <div class="container text-center custom-pt-3">
      <h2 class="custom-header-1">Start testing candidates <span class="fst-italic">today!</span></h2>
      <h2 class="custom-header-4">Send your first pre employment test in less than 60 seconds.</h2>
    </div>
    <form action="{{ url_for('candidates_auth.candidates_signup_function') }}" method="post" enctype="multipart/form-data" class="custom-display-flex custom-width-1 mx-auto custom-pt-4" onsubmit="return clickSubmitButtonOnce()">
      <label for="various_pages1_ui_email" class="form-label"></label>
      <input type="email" class="form-control custom-mr-2 custom-p-3" id="various_pages1_ui_email" name="various_pages1_ui_email" aria-describedby="emailHelp" placeholder="Work email" required>
      <button type="submit" class="btn btn-primary text-nowrap">Get Started</button>
    </form>
    <div class="text-center custom-mt-2 custom-pb-3">
      <p class="custom-size-4 custom-color-light-1">(No credit card required.)</p>
    </div>
  </div>
</div>
<!-- ----------------------------------- end ----------------------------------- -->
{% endblock %}