/* - - - - - - - - - - Company and Channel name - Start */
.client-company-and-channel-names {
  /* border: 1px solid black; */
  /* word-wrap: break-word; */
  /* background-color: var(--company-primary-color); */
  width: 80%;
  max-width: 1200px;
  margin: 25px auto 0px auto;
  text-align: center;
}
.client-company-and-channel-names span {
  /* border: 1px solid black; */
  /* color: var(--company-primary-color); */
  color: rgb(160, 160, 160);
  padding: 2px 5px;
  font-size: 12px;
  /* border-radius: 6px; */
}
/* - - - - - - - - - - Company and Channel name - End */