/* - - - - - - - - - - span candidates question category general - Start */
.candidate-question-categories {
  font-size: 12px;
  margin: 5px 0 0 0;
}
.span-candidates-question-category-general {
  /* background: #5e866b; */
  background: var(--company-primary-color);
  border-radius: 6px;
  padding: 2px 5px;
  color: white;
  margin-left: 5px;
}
/* - - - - - - - - - - span candidates question category general - End */

/* - - - - - - - - - - span candidates question category specific - Start */
.span-candidates-question-category-accounting {background: #5e866b;}
.span-candidates-question-category-android {background: #286e3e;}
.span-candidates-question-category-animals {background: #b8a429;}
.span-candidates-question-category-art {background: #57a09f;}
.span-candidates-question-category-animation {background: #b27233;}
.span-candidates-question-category-aws {background: #b76a2f;}
.span-candidates-question-category-angular {background: #b52f31;}
.span-candidates-question-category-azure {background: #008ad7;}
.span-candidates-question-category-business {background: #598357;}
.span-candidates-question-category-books {background: #b46b8d;}
.span-candidates-question-category-basketball {background: #c77222;}
.span-candidates-question-category-baseball {background: #1c91c2;}
.span-candidates-question-category-boxing {background: #c54242;}
.span-candidates-question-category-chess {background: #9f4cba;}
.span-candidates-question-category-csharp {background: #822c98;}
.span-candidates-question-category-cpp {background: #436c89;}
.span-candidates-question-category-css {background: #337a8d;}
.span-candidates-question-category-cloudflare {background: #9d7539;}
.span-candidates-question-category-currency {background: #57986b;}
.span-candidates-question-category-excel {background: #438b41;}
.span-candidates-question-category-engineering {background: #4772a9;}
.span-candidates-question-category-food {background: #a3672f;}
.span-candidates-question-category-finance {background: #4a9f4c;}
.span-candidates-question-category-football {background: #90600f;}
.span-candidates-question-category-fashion {background: #ae4770;}
.span-candidates-question-category-golf {background: #51b06e;}
.span-candidates-question-category-geography {background: #b48062;}
.span-candidates-question-category-history {background: #ac5656;}
.span-candidates-question-category-human_resources {background: #b95da5;}
.span-candidates-question-category-human_centered_design {background: #438db7;}
.span-candidates-question-category-harry_potter {background: #6a9e9e;}
.span-candidates-question-category-javascript {background: #d49d00;}
.span-candidates-question-category-marketing {background: #b1669a;}
.span-candidates-question-category-movies {background: #7152ae;}
.span-candidates-question-category-music {background: #4c7dbe;}
.span-candidates-question-category-olympics {background: #7376cf;}
.span-candidates-question-category-pop_culture {background: #a33fa4;}
.span-candidates-question-category-politics {background: #a66db6;}
.span-candidates-question-category-question_removed {background: #404040;}
.span-candidates-question-category-sql {background: #597caa;}
.span-candidates-question-category-sports {background: #42a962;}
.span-candidates-question-category-sales {background: #3aa5c5;}
.span-candidates-question-category-space {background: #3e3b4c;}
.span-candidates-question-category-science {background: #ce7c7c;}
.span-candidates-question-category-soccer {background: #2dbd9d;}
.span-candidates-question-category-tv {background: #a159a5;}
.span-candidates-question-category-talent_acquisition {background: #9a7db9;}
.span-candidates-question-category-technology {background: #b98733;}
.span-candidates-question-category-tableau {background: #4d96a3;}
.span-candidates-question-category-travel {background: #4f99d3;}
.span-candidates-question-category-uk {background: #d25454;}
/* - - - - - - - - - - span candidates question category specific - End */