{% extends "candidates_page_templates/aaa_base_page_templates/base2_child1_not_logged_in_no_navbar_and_footer.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Login / Triviafy</title>
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - error message start -->
<div class="error-message-section">
  <p>{{ error_message_to_html }}</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - error message end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - backdrop cover start -->
<div class="login-and-create-account-background-whole-screen">
  <form method="POST" class="login-create-account-form default-box-shadow-grey-reg">
    <h1 class="login-create-account-title">Triviafy Login!</h1>
    
    <div class="create-account-user-input-section">
      <label for="login_page_ui_email"></label>
      <input type="email" id="login_page_ui_email" name="login_page_ui_email" class="default-not-signed-in-text-input" placeholder="Work email*" pattern="\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b" required />
    </div>
  
    <div class="create-account-user-input-section">
      <label for="login_page_ui_password"></label>
      <input type="password" id="login_page_ui_password" name="login_page_ui_password" class="default-not-signed-in-text-input" placeholder="Password*" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" required />
    </div>

    <div class="create-account-user-input-button-section">
      <button type="submit" class="default-button-format default-button-format-primary-color">Login</button>
    </div>
  </form>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - backdrop cover end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - other links start -->
<div class="login-create-account-other-links-section">
  <p><a href="{{ url_for('auth.candidates_signup_function') }}" class="pricing-a">Create account</a></p>
  <p><a href="{{ url_for('views.candidates_forgot_password_page_function') }}" class="pricing-a">Forgot password</a></p>
  <p><a href="{{ url_for('views.landing_index_page_function') }}" class="pricing-a">Home</a></p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - other links end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->
{% endblock %}