{% extends "candidates/aaa_base/single_message.html" %}

{% block title %}
<title>Success / Triviafy</title>
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<main class="logged-in error-main">
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Img, message, button Start -->
  <div style="text-align:center;">
    <img src="/static/images/candidates/logo/Logo.png" alt="Triviafy Logo" style="height:20rem;width:20rem;margin-top:50px;">
    <p style="color:var(--company-primary-color);font-size:40px;padding-bottom: 50px;">Assessment successfully created!</p>

    <a href="{{ url_for('views.dashboard_test_login_page_function') }}"><button class="default-button-format default-button-format-primary-color" type="submit" value="submit">Dashboard</button></a>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Img, message, button End -->
  
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
  <div class="landing-spacer-section"></div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->
</main>
{% endblock %}