{% extends "aaa_base_page_templates/base.html" %}

<!-- head tag block content -->
{% block title %}
  <title>base2_child1_not_logged_in_yes_navbar_and_footer.html</title>
{% endblock %}

{% block contentBody %}
<!-- ------------------------------------- navbar start ------------------------------------- -->
<nav-candidates-not-signed-in-component
  link_home_js="{{ url_for('views.landing_index_page_function') }}",
  link_candidates_about_js="{{ url_for('views.candidates_about_page_function') }}",
  link_candidates_faq_js="{{ url_for('views.candidates_faq_page_function') }}",
  link_candidates_pricing_js="{{ url_for('views.candidates_pricing_page_function') }}",
  link_candidates_library_js="{{ url_for('views.candidates_test_library_page_function') }}",
  link_candidates_login_js="{{ url_for('auth.candidates_login_page_function') }}",
  link_candidates_create_account_js="{{ url_for('auth.candidates_signup_function') }}">
</nav-candidates-not-signed-in-component>
<!-- ------------------------------------- navbar end ------------------------------------- -->
{% block contentBodyExceptNavbarAndFooter %}
{% endblock %}
<!-- ------------------------------------- footer start ------------------------------------- -->
<footer-candidates-not-signed-in-component
  link_home_js="{{ url_for('views.landing_index_page_function') }}",
  link_candidates_about_js="{{ url_for('views.candidates_about_page_function') }}",
  link_candidates_faq_js="{{ url_for('views.candidates_faq_page_function') }}",
  link_candidates_pricing_js="{{ url_for('views.candidates_pricing_page_function') }}",
  link_candidates_library_js="{{ url_for('views.candidates_test_library_page_function') }}",
  link_candidates_login_js="{{ url_for('auth.candidates_login_page_function') }}",
  link_candidates_create_account_js="{{ url_for('auth.candidates_signup_function') }}",
  link_privacy_js="{{ url_for('views.privacy_page_function') }}",
  link_terms_conditions_js="{{ url_for('views.terms_of_service_page_function') }}">
</footer-candidates-not-signed-in-component>
<!-- ------------------------------------- footer end ------------------------------------- -->
{% endblock %}