@media (max-width: 1200px) {
    /* - - - - - - - - - - Footer All - Start */
    /* - - - - - - - - - - Footer Top - Start */
    .footer-not-signed-in-3-background-color {
      height: 1200px;
    }
    .footer-not-signed-in-3-section-top {
      /* border: 1px solid black; */
      height: 900px;
      width: 90%;
      flex-direction: column;
      text-align: center;
    }
    .footer-title-position-3 {
      margin: 20px 0 20px 0;
    }
    .footer-sub-title-item-position-3 {
      margin: 10px 0;
    }
    /* - - - - - - - - - - Footer Top - End */


    /* - - - - - - - - - - Footer Bottom - Start */
    .footer-not-signed-in-3-section-bottom {
      /* border: 1px solid black; */
      height: 100px;
      width: 90%;
      display: flex;
      justify-content: space-between;
      flex-direction: column-reverse;
    }
    .footer-not-signed-in-3-sub-section-bottom {
      display: block;
      text-align: center;
    }
    /* - - - - - - - - - - Footer Bottom - End */
    /* - - - - - - - - - - Footer All - End */
}