{% extends "candidates_page_templates/aaa_base_page_templates/base2_child1_logged_in_yes_navbar_and_footer.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Schedule Dashboard / Triviafy</title>
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - company name start -->
<div class="general-signed-in-company-name-section">
  <p class="general-signed-in-company-name-title">{{ users_company_name_to_html }}</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - company name end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="general-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - general page title start -->
<div class="general-page-title-section">
  <p class="general-page-title">Schedule Dashboard</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - general page title end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="general-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - view all start -->
<div class="general-center-container">
  <a href="{{ url_for('views.candidates_schedule_analytics_function') }}" class="general-a-primary"><p class="general-page-font">View all schedules</p></a>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - view all end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="general-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - main page start -->
<div class="schedule-options-container">
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - option 1 schedule later start -->
  <div class="schedule-dash-left">
    <div class="schedule-dashboard-section candidates-default-box-shadow-grey-small">
      <div class="dashboard-split-inner-section">
        <p class="dashboard-split-title general-margin-top-small">Schedule Assessment</p>
      </div>
      <div class="dashboard-split-inner-section">
        <img src="/static/images/candidates/dashboard/send_to_candidate_time.png" alt="upload candidates img" class="upload-candidates-img">
      </div>
      <div class="dashboard-split-inner-section">
        <a href="{{ url_for('views.candidates_schedule_create_new_function') }}"><p class="default-button-format default-button-format-primary-color">Create New</p></a>
      </div>
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - option 1 schedule later end -->

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - or section start -->
  <div class="schedule-dash-middle">
    <p class="schedule-or-p">OR</p>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - or section end -->

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - option 2 send now start -->
  <div class="schedule-dash-right">
    <div class="schedule-dashboard-section candidates-default-box-shadow-grey-small">
      <div class="dashboard-split-inner-section">
        <p class="dashboard-split-title general-margin-top-small">Send Assessment Now</p>
      </div>
      <div class="dashboard-split-inner-section">
        <img src="/static/images/candidates/dashboard/send_to_candidate_now.png" alt="upload candidates img" class="upload-candidates-img">
      </div>
      <div class="dashboard-split-inner-section">
        <a href="{{ url_for('views.candidates_schedule_create_new_function') }}"><p class="default-button-format default-button-format-primary-color">Create New</p></a>
      </div>
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - option 2 send now end -->
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="general-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - main page end -->
{% endblock %}