{% extends "candidates/aaa_base/base2_exterior.html" %}

{% block title %}
    <title>Pre Employment Testing and Screening - Triviafy</title>
    <meta name="description" content="The friendliest pre employment testing platform, mobile supported. Pre employment screening made simple. Pre employment tests for 50+ frameworks.">
    <meta name="og:description" content="The friendliest pre employment testing platform, mobile supported. Pre employment screening made simple. Pre employment tests for 50+ frameworks.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<h1>Hello</h1>
{% endblock %}