{% extends "employees/aaa_base/base2_exterior.html" %}

{% block title %}
    <title>Team Building - Triviafy</title>
    <meta name="description" content="Employee engagement trivia.">
    <meta name="og:description" content="Employee engagement trivia.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
<div class="container-fluid">
  <div class="container custom-height-1-mobile">
    <div class="float-start custom-pt-2">
      <h1 class="custom-m-0 custom-width-1 custom-header-1">A weekly trivia quiz for your team.</h1>
      <h2 class="custom-header-4 custom-mt-1">Boost your team's engagement metrics.</h2>
      <form action="{{ url_for('employees_auth.employees_signup_function') }}" method="post" enctype="multipart/form-data" class="custom-display-flex custom-pt-1" onsubmit="return clickSubmitButtonOnce()">
        <label for="uiEmailVarious" class="form-label"></label>
        <input type="email" class="form-control custom-mr-2 custom-p-3" id="uiEmailVarious" name="uiEmailVarious" aria-describedby="emailHelp" placeholder="Work email" required>
        <button type="submit" class="btn btn-primary text-nowrap">Get Started</button>
      </form>
      <div class="text-center custom-mt-2">
        <p class="custom-size-4 custom-color-light-1">(No credit card required.)</p>
      </div>
    </div>
    <div class="float-end custom-pt-3 custom-pb-1 text-center">
      <img src="/static/images/employees/cutouts/cutout_angie.png" alt="candidate overview" class="custom-img-size-3">
    </div>
  </div>
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="custom-shape-divider-top-1672276628 custom-bg-tan-1">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
  </svg>
</div>
<div class="container-fluid custom-bg-tan-1">
  <div class="container text-center">
    <h2 class="custom-mb-1 custom-header-1">50+ Trivia categories</h2>
  </div>
  <div class="container custom-display-flex custom-jc-2 custom-fw-1">
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#127871;</span> Pop culture</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#127909;</span> Movies</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#127925;</span> Music</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#128214;</span> Books</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#127936;</span> Sports</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#128049;</span> Animals</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#127912;</span> Art</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#128090;</span> Fashion</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#128300;</span> Science</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#9992;&#65039;</span> Travel</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#128250;</span> Television</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#128104;&#8205;&#128640;</span> Outer space</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#9968;&#65039;</span> Geography</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#x2211;</span> Mathematics</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#127819;</span> Food</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#129497;</span> Fiction</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#128499;</span> Politics</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#127970;</span> Business</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#127482;&#127480;</span> US history</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#127758;</span> World history</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#129464;</span> Superheroes</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#10084;&#65039;</span> Celebrities</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#8987;</span> Historical figures</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#127828;</span> Fast food</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#127922;</span> Board games</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#127795;</span> National parks</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#9201;&#65039;</span> Time periods</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#127918;</span> Video games</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#127876;</span> Holidays</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#128511;</span> Landmarks</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#128173;</span> Nostalgia</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#127948;</span> Golf</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#9917;</span> Soccer</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#9997;</span> Authors</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#127916;</span> Directors</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#127758;</span> International</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#129351;</span> Olympics</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#10067;</span> Fact or fiction</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#129704;</span> Geology</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#128240;</span> News</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#9889;</span> Slogan & logo</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#127913;</span> Commercial</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#128663;</span> Automotive</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#129302;</span> Technology</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#128218;</span> Literature</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#9876;</span> Star wars</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#129464;</span> Avengers</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#128123;</span> President</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#11088;</span> Hollywood</h4>
    </div>
    <div class="custom-display-flex shadow-lg custom-p-1 custom-br-1 custom-bg-white custom-m-1-mobile">
      <h4 class="custom-size-3 my-auto"><span class="custom-header-5">&#x1F680;</span> Fun facts</h4>
    </div>
  </div>
  <div class="custom-filler-2"></div>
</div>
<div class="custom-shape-divider-bottom-1672276706 custom-bg-tan-1">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
  </svg>
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container-fluid">
  <div class="container text-center custom-pt-3">
    <h2 class="custom-mb-1 custom-header-1">How it works</h2>
  </div>
  <div class="container text-center custom-ptb-6">
    <p class="custom-header-4">Customizable trivia quiz sent directly to your team via email. <img src="/static/images/all/logo/outside_logos/gmail_logo.png" alt="" class="custom-height-7 custom-m-1 custom-mt-negative-3"><img src="/static/images/all/logo/outside_logos/outlook_logo.png" alt="" class="custom-height-7 custom-m-1 custom-mt-negative-3"></p>
  </div>
  <div class="container text-center custom-ptb-6">
    <a href="/employees/example/1"><img src="/static/images/employees/email_examples/emailexample01.png" alt="" class="custom-width-14 shadow custom-br-1"></a>
  </div>
  <!-- ----------------------------------- start ----------------------------------- -->
  <div class="container custom-height-2-mobile custom-ptb-6">
    <div class="float-start">
      <p class="custom-header-4 custom-pb-2 custom-pt-3 custom-width-1">Team results help spark better conversations.</p>
    </div>
    <div class="float-end">
      <div class="custom-width-2-mobile custom-bg-green-1 custom-br-1 shadow-lg">
        <div class="text-center custom-pt-4">
          <p class="custom-header-4">Your team's leaderboard & highlights</p>
        </div>
        <div class="custom-p-2">
          <ul class="custom-display-flex custom-fw-1">
            <li class="custom-ls-1 custom-br-1 custom-bg-white custom-p-1 custom-m-1 shadow custom-header-5">&#128081; Most wins: Jamie</li>
            <li class="custom-ls-1 custom-br-1 custom-bg-white custom-p-1 custom-m-1 shadow custom-header-5">&#127942; Latest winner: Chris</li>
            <li class="custom-ls-1 custom-br-1 custom-bg-white custom-p-1 custom-m-1 shadow custom-header-5">&#127909; Movie buff: Amanda</li>
            <li class="custom-ls-1 custom-br-1 custom-bg-white custom-p-1 custom-m-1 shadow custom-header-5">&#127944; Sports guru: Mike</li>
            <li class="custom-ls-1 custom-br-1 custom-bg-white custom-p-1 custom-m-1 shadow custom-header-5">&#128218; History expert: Carl</li>
            <li class="custom-ls-1 custom-br-1 custom-bg-white custom-p-1 custom-m-1 shadow custom-header-5">&#11088; Pop culture icon: Angie</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- ----------------------------------- end ----------------------------------- -->
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="custom-shape-divider-top-1672337904 custom-bg-blue-1">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z" class="shape-fill"></path>
  </svg>
</div>
<div class="container-fluid custom-bg-blue-1">
  <!-- ----------------------------------- start ----------------------------------- -->
  <div class="container custom-height-2-mobile">
    <div class="float-start">
      <p class="custom-header-4 custom-pb-2 custom-pt-3 custom-width-1">Triviafy's technology handles quiz <span class="fst-italic">creation, distribution, and grading.</span></p>
    </div>
    <div class="float-end text-center">
      <img src="/static/images/employees/landing/automated_grading.png" alt="how it works img" class="custom-img-size-5">
    </div>
  </div>
  <!-- ----------------------------------- end ----------------------------------- -->
  <!-- ----------------------------------- start ----------------------------------- -->
  <div class="container custom-height-2-mobile">
    <div class="float-start text-center">
      <img src="/static/images/employees/landing/puzzle4piece.png" alt="how it works img" class="custom-img-size-5">
    </div>
    <div class="float-end">
      <p class="custom-header-4 custom-pb-2 custom-pt-3 custom-width-1">100% customizable trivia settings. <a href="/employees/signup">Create</a> your team's first trivia quiz in less than 60 seconds.</p>
    </div>
  </div>
  <!-- ----------------------------------- end ----------------------------------- -->
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="custom-shape-divider-top-1672426066-2 custom-bg-green-1">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
  </svg>
</div>
<div class="container-fluid custom-bg-green-1">
  <!-- ----------------------------------- start ----------------------------------- -->
  <div class="container text-center custom-pt-3">
    <h2 class="custom-mb-1 custom-header-1">Team insights & analytics</h2>
  </div>
  <div class="container custom-height-3-mobile">
    <div class="custom-display-flex custom-fw-1 custom-jc-1 text-center">
      <div class="custom-mb-5">
        <p class="custom-header-4">Angie, Talent Acquisition</p>
        <img src="/static/images/employees/landing/team_insight_1.png" alt="how it works img" class="custom-img-size-7-mobile custom-br-2-mobile shadow img-thumbnail">
      </div>

      <div class="custom-mb-5">
        <p class="custom-header-4">Olivia, Full Stack Developer</p>
        <img src="/static/images/employees/landing/team_insight_2.png" alt="how it works img" class="custom-img-size-7-mobile custom-br-2-mobile shadow img-thumbnail">
      </div>

      <div class="custom-mb-5">
        <p class="custom-header-4">Kelly, Senior Analyst</p>
        <img src="/static/images/employees/landing/team_insight_3.png" alt="how it works img" class="custom-img-size-7-mobile custom-br-2-mobile shadow img-thumbnail">
      </div>
    </div>
  </div>
  <!-- ----------------------------------- end ----------------------------------- -->
</div>
<div class="custom-shape-divider-bottom-1672337954 custom-bg-green-1">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z" class="shape-fill"></path>
  </svg>
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container-fluid">
  <div class="container text-center custom-pt-3">
    <h2 class="custom-mb-1 custom-header-1">Companies that love team building activites!</h2>
  </div>
  <div class="container custom-display-flex custom-fw-1 custom-jc-1 custom-mb-3">
    <img src="/static/images/candidates/logos_companies/docusign.png" alt="pre employment testing docusign" class="custom-img-size-6 custom-m-2">
    <img src="/static/images/candidates/logos_companies/dropbox.png" alt="pre employment testing dropbox" class="custom-img-size-6 custom-m-2">
    <img src="/static/images/candidates/logos_companies/hm.png" alt="pre employment testing hm" class="custom-img-size-6 custom-m-2">
    <img src="/static/images/candidates/logos_companies/homechef.png" alt="pre employment testing homechef" class="custom-img-size-6 custom-m-2">
    <img src="/static/images/candidates/logos_companies/salesforce.png" alt="pre employment testing salesforce" class="custom-img-size-6 custom-m-2">
  </div>
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container-fluid custom-pb-1">
  <div class="container custom-bg-colorful-1 custom-br-1 shadow custom-width-3">
    <div class="container text-center custom-pt-3">
      <h2 class="custom-header-1">Start team trivia <span class="fst-italic">today!</span></h2>
      <h2 class="custom-header-4">Send your first triviafy test in less than 60 seconds.</h2>
    </div>
    <form action="{{ url_for('employees_auth.employees_signup_function') }}" method="post" enctype="multipart/form-data" class="custom-display-flex custom-width-1 mx-auto custom-pt-4" onsubmit="return clickSubmitButtonOnce()">
      <label for="uiEmailVarious" class="form-label"></label>
      <input type="email" class="form-control custom-mr-2 custom-p-3" id="uiEmailVarious" name="uiEmailVarious" aria-describedby="emailHelp" placeholder="Work email" required>
      <button type="submit" class="btn btn-primary text-nowrap">Get Started</button>
    </form>
    <div class="text-center custom-mt-2 custom-pb-3">
      <p class="custom-size-4 custom-color-light-1">(No credit card required.)</p>
    </div>
  </div>
</div>
<!-- ----------------------------------- end ----------------------------------- -->
{% endblock %}