{% extends "employees/aaa_base/base2_exterior.html" %}

{% block title %}
    <title>Team Building - Triviafy</title>
    <meta name="description" content="Automated employee engagement team building activities for your team. Team trivia, icebreakers, surveys, and personality tests.">
    <meta name="og:description" content="Automated employee engagement team building activities for your team. Team trivia, icebreakers, surveys, and personality tests.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
<div class="container-fluid custom-back-img-1 custom-color-7">
  <div class="container custom-height-1-mobile">
    <div class="float-start custom-pt-3">
      <div class="custom-width-1">
        <h1 class="custom-m-0 custom-width-1 custom-header-7 custom-weight-1">Automated Team Building Activities</h1>
        <h2 class="custom-header-4 custom-mt-1">Virtual team building fun asynchronous games & activities include trivia, icebreakers, picture quizzes, employee surveys, personality tests, birthday celebrations, most likely to, this or that, and more!</h2>
      </div>
      <form action="{{ url_for('employees_auth.employees_signup_function') }}" method="post" enctype="multipart/form-data" class="custom-display-flex custom-pt-1" onsubmit="return clickSubmitButtonOnce()">
        <label for="uiEmailVarious" class="form-label"></label>
        <input type="email" class="form-control custom-mr-2 custom-p-3" id="uiEmailVarious" name="uiEmailVarious" aria-describedby="emailHelp" placeholder="Work email" required>
        <button type="submit" class="btn btn-warning text-nowrap">Get Started</button>
      </form>
      <div class="text-center custom-mt-2">
        <a href="/example/1" class="btn btn-outline-primary custom-width-6 custom-mt-2">View trivia demo <i class="fa-solid fa-arrow-right"></i></a>
      </div>
    </div>
    <div class="float-end custom-pt-3 custom-pb-1 text-center">
      <img src="/static/images/employees/landing_v3/intro_background_v1.jpg" alt="candidate overview" class="custom-width-6 custom-br-3 shadow-lg">
    </div>
  </div>
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container-fluid custom-color-7 custom-pb-100">
  <div class="container text-center">
    <h2 class="custom-mb-6 custom-header-6">1,500+ teams enjoy our team building activities</h2>
  </div>
  <div class="container">
    <div class="custom-display-flex custom-fw-1 custom-jc-1 custom-mb-1">
      <img src="/static/images/candidates/logos_companies/docusign.png" alt="pre employment testing docusign" class="custom-img-size-6 custom-m-2">
      <img src="/static/images/candidates/logos_companies/dropbox.png" alt="pre employment testing dropbox" class="custom-img-size-6 custom-m-2">
      <img src="/static/images/candidates/logos_companies/hm.png" alt="pre employment testing hm" class="custom-img-size-6 custom-m-2">
      <img src="/static/images/candidates/logos_companies/homechef.png" alt="pre employment testing homechef" class="custom-img-size-6 custom-m-2">
      <img src="/static/images/candidates/logos_companies/salesforce.png" alt="pre employment testing salesforce" class="custom-img-size-6 custom-m-2">
    </div>
    <div class="custom-display-flex custom-fw-1 custom-jc-1">
      <img src="/static/images/candidates/logos_companies/lemonade.png" alt="pre employment testing lemonade" class="custom-img-size-6 custom-m-2">
      <img src="/static/images/candidates/logos_companies/starbucks.png" alt="pre employment testing starbucks" class="custom-img-size-6 custom-m-2">
      <img src="/static/images/candidates/logos_companies/ups.png" alt="pre employment testing ups" class="custom-img-size-6 custom-m-2">
      <img src="/static/images/candidates/logos_companies/zillow.png" alt="pre employment testing zillow" class="custom-img-size-6 custom-m-2">
      <img src="/static/images/candidates/logos_companies/glossier.png" alt="pre employment testing glossier" class="custom-img-size-6 custom-m-2">
    </div>
  </div>
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container">
  <div class="container custom-pt-100 custom-pb-100 custom-color-7 shadow custom-br-3">
    <div class="text-center">
      <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/official_logo.png" alt="Triviafy logo" class="custom-img-size-1 custom-mt-negative-25"><span class="custom-header-50 custom-ml-10">Triviafy +</span><img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/OpenAI_Logo.png" alt="Triviafy logo" class="custom-img-size-1 custom-mt-negative-20 custom-ml-10"><span class="custom-header-50 custom-ml-10"> Integration<span class="custom-header-15"> (optional)</span></span>
    </div>
    <div class="custom-display-flex custom-jc-1 custom-fw-1 custom-pt-1">
      <div class="custom-tal custom-width-500">
        <h3 class="custom-header-2 fw-700 fw-bold custom-pt-1">Technology</h3>
        <p class="custom-size-18">By leveraging OpenAI's state-of-the-art natural language processing and machine learning capabilities, Triviafy provides highly personalized and engaging activities to teams of all sizes.</p>
      </div>
      <div class="custom-tal custom-width-500">
        <h3 class="custom-header-2 fw-700 fw-bold custom-pt-1">Customization</h3>
        <p class="custom-size-18">With this optional integration, users can quickly and easily create custom activities tailored to their team's specific needs and interests.</p>
      </div>
    </div>
    <div class="custom-display-flex custom-jc-1 custom-fw-1 custom-pt-1">
      <div class="custom-tal custom-width-500">
        <h3 class="custom-header-2 fw-700 fw-bold custom-pt-1">Freshness</h3>
        <p class="custom-size-18">OpenAI's advanced algorithms also enable Triviafy to continuously learn and adapt to user feedback, ensuring that team building activities remain fresh and engaging over time.</p>
      </div>
      <div class="custom-tal custom-width-500">
        <h3 class="custom-header-2 fw-700 fw-bold custom-pt-1">Efficiency</h3>
        <p class="custom-size-18">With OpenAI integration, you can effortlessly customize team building activities in a matter of seconds with Triviafy's top ranked team building platform.</p>
      </div>
    </div>
  </div>
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container-fluid custom-pt-100">
  <div class="container text-center">
    <h2 class="custom-mb-3 custom-header-1 custom-color-7">30+ Fun Games & Activities</h2>
  </div>
  <!-- ----------------------------------- all activities start ----------------------------------- -->
  <div class="container custom-color-7">
    <!-- ----------------------------------- activity start ----------------------------------- -->
    <div class="custom-display-flex custom-fw-1 custom-jc-2 custom-mb-3">
      <div class="custom-width-1">
        <h2 class="custom-header-1">Trivia <a href="/example" class="btn btn-warning custom-ml-3">View example <i class="fa-solid fa-arrow-right"></i></a></h2>
        <p class="custom-header-4">Asking team members questions on a variety of topics, while promoting teamwork, healthy competition, and a fun environment for team members to connect and bond over shared interests.</p>
        <ul>
          <li class="custom-header-4">Automate activity weekly, biweekly, or monthly</li>
          <li class="custom-header-4">Duration: 5-10 min</li>
          <li class="custom-header-4">Leaderboard & archive</li>
          <li class="custom-header-4">100+ categories</li>
          <li class="custom-header-4">Customizable</li>
        </ul>
      </div>
      <div>
        <a href="/example"><img src="/static/images/employees/landing/TriviafyProductsTrivia.png" alt="team building trivia" class="custom-width-6 custom-br-3 shadow-lg custom-mtb-2-mobile"></a>
      </div>
    </div>
    <!-- ----------------------------------- activity end ----------------------------------- -->
    <!-- ----------------------------------- activity start ----------------------------------- -->
    <div class="custom-display-flex custom-fw-1 custom-jc-2 custom-mb-3">
      <div>
        <a href="/employees/signup"><img src="/static/images/employees/landing/TriviafyProductsPicture.png" alt="team building picture quiz" class="custom-width-6 custom-br-3 shadow-lg custom-mtb-2-mobile"></a>
      </div>
      <div class="custom-width-1">
        <h2 class="custom-header-1">Picture Quiz <a href="/employees/signup" class="btn btn-info custom-ml-3">Get started <i class="fa-solid fa-arrow-right"></i></a></h2>
        <p class="custom-header-4">Identifying or guessing various images and logos with the aim of promoting teamwork, communication, and problem-solving skills while bonding over shared knowledge and interests.</p>
        <ul>
          <li class="custom-header-4">Automate activity weekly, biweekly, or monthly</li>
          <li class="custom-header-4">Duration: 5-10 min</li>
          <li class="custom-header-4">Leaderboard & archive</li>
          <li class="custom-header-4">100+ categories</li>
          <li class="custom-header-4">Customizable</li>
        </ul>
      </div>
    </div>
    <!-- ----------------------------------- activity end ----------------------------------- -->
    <!-- ----------------------------------- activity start ----------------------------------- -->
    <div class="custom-display-flex custom-fw-1 custom-jc-2 custom-mb-3">
      <div class="custom-width-1">
        <h2 class="custom-header-1">Icebreakers <a href="/employees/signup" class="btn btn-success custom-ml-3">Get started <i class="fa-solid fa-arrow-right"></i></a></h2>
        <p class="custom-header-4">Help team members get to know each other, build trust, and create a more positive and cohesive team environment. Triviafy has 100+ icebreakers to get your conversations started.</p>
        <ul>
          <li class="custom-header-4">Automate activity weekly, biweekly, or monthly</li>
          <li class="custom-header-4">Duration: 5-10 min</li>
          <li class="custom-header-4">Leaderboard & archive</li>
          <li class="custom-header-4">100+ categories</li>
          <li class="custom-header-4">Customizable</li>
        </ul>
      </div>
      <div>
        <a href="/employees/signup"><img src="/static/images/employees/landing/TriviafyProductsIce.png" alt="team building icebreakers" class="custom-width-6 custom-br-3 shadow-lg custom-mtb-2-mobile"></a>
      </div>
    </div>
    <!-- ----------------------------------- activity end ----------------------------------- -->
    <!-- ----------------------------------- activity start ----------------------------------- -->
    <div class="custom-display-flex custom-fw-1 custom-jc-2 custom-mb-3">
      <div>
        <a href="/employees/signup"><img src="/static/images/employees/landing/TriviafyProductsBirthday.png" alt="team building birthday" class="custom-width-6 custom-br-3 shadow-lg custom-mtb-2-mobile"></a>
      </div>
      <div class="custom-width-1">
        <h2 class="custom-header-1">Virtual Birthday Fun <a href="/employees/signup" class="btn btn-danger custom-ml-3">Get started <i class="fa-solid fa-arrow-right"></i></a></h2>
        <p class="custom-header-4">Celebrating while creating a positive and inclusive team culture, fostering social connections, and boosting morale and employee engagement, especially in remote or virtual work settings.</p>
        <ul>
          <li class="custom-header-4">Automated birthday trivia</li>
          <li class="custom-header-4">Birthday card signing</li>
          <li class="custom-header-4">Duration: 5-10 min</li>
          <li class="custom-header-4">Leaderboard & archive</li>
          <li class="custom-header-4">Customizable</li>
        </ul>
      </div>
    </div>
    <!-- ----------------------------------- activity end ----------------------------------- -->
    <!-- ----------------------------------- activity start ----------------------------------- -->
    <div class="custom-display-flex custom-fw-1 custom-jc-2 custom-mb-3">
      <div class="custom-width-1">
        <h2 class="custom-header-1">Personality Tests <a href="/employees/signup" class="btn btn-secondary custom-ml-3">Get started <i class="fa-solid fa-arrow-right"></i></a></h2>
        <p class="custom-header-4">Assessing individuals' traits, characteristics, and preferences to better understand team members, helping lead to improved communication, collaboration, and productivity within the team.</p>
        <ul>
          <li class="custom-header-4">Automate activity weekly, biweekly, or monthly</li>
          <li class="custom-header-4">Duration: 5-10 min</li>
          <li class="custom-header-4">Team analysis</li>
          <li class="custom-header-4">Team statistics</li>
          <li class="custom-header-4">Customizable</li>
        </ul>
      </div>
      <div>
        <a href="/employees/signup"><img src="/static/images/employees/landing/TriviafyProductsPersonality.png" alt="team building icebreakers" class="custom-width-6 custom-br-3 shadow-lg custom-mtb-2-mobile"></a>
      </div>
    </div>
    <!-- ----------------------------------- activity end ----------------------------------- -->
    <!-- ----------------------------------- activity start ----------------------------------- -->
    <div class="custom-display-flex custom-fw-1 custom-jc-2 custom-mb-3">
      <div>
        <a href="/employees/signup"><img src="/static/images/employees/landing/TriviafyProductsSurvey.png" alt="team building birthday" class="custom-width-6 custom-br-3 shadow-lg custom-mtb-2-mobile"></a>
      </div>
      <div class="custom-width-1">
        <h2 class="custom-header-1">Employee Surveys <a href="/employees/signup" class="btn btn-primary custom-ml-3">Get started <i class="fa-solid fa-arrow-right"></i></a></h2>
        <p class="custom-header-4">Collecting feedback about employees job and work environment, with the aim of identifying areas for improvement and enhancing overall employee engagement and satisfaction.</p>
        <ul>
          <li class="custom-header-4">Automate activity weekly, biweekly, or monthly</li>
          <li class="custom-header-4">Duration: 5-10 min</li>
          <li class="custom-header-4">Team analysis</li>
          <li class="custom-header-4">Team statistics</li>
          <li class="custom-header-4">Customizable</li>
        </ul>
      </div>
    </div>
    <!-- ----------------------------------- activity end ----------------------------------- -->
    <!-- ----------------------------------- activity start ----------------------------------- -->
    <div class="custom-display-flex custom-fw-1 custom-jc-2 custom-mb-3">
      <div class="custom-width-1">
        <h2 class="custom-header-1">Most Likely To <a href="/employees/signup" class="btn btn-warning custom-ml-3">Get started <i class="fa-solid fa-arrow-right"></i></a></h2>
        <p class="custom-header-4">Asking team members to vote on which member is most likely to do or say something, with the aim of promoting team bonding, appreciation, humor, and getting to know each other better.</p>
        <ul>
          <li class="custom-header-4">Automate activity weekly, biweekly, or monthly</li>
          <li class="custom-header-4">Duration: 5-10 min</li>
          <li class="custom-header-4">Leaderboard & archive</li>
          <li class="custom-header-4">100+ categories</li>
          <li class="custom-header-4">Customizable</li>
        </ul>
      </div>
      <div>
        <a href="/employees/signup"><img src="/static/images/employees/landing/TriviafyProductsMostLikelyTo.png" alt="team building icebreakers" class="custom-width-6 custom-br-3 shadow-lg custom-mtb-2-mobile"></a>
      </div>
    </div>
    <!-- ----------------------------------- activity end ----------------------------------- -->
    <!-- ----------------------------------- activity start ----------------------------------- -->
    <div class="custom-display-flex custom-fw-1 custom-jc-2 custom-mb-3">
      <div>
        <a href="/employees/signup"><img src="/static/images/employees/landing/TriviafyProductsThisThat.png" alt="team building birthday" class="custom-width-6 custom-br-3 shadow-lg custom-mtb-2-mobile"></a>
      </div>
      <div class="custom-width-1">
        <h2 class="custom-header-1">This or That <a href="/employees/signup" class="btn btn-info custom-ml-3">Get started <i class="fa-solid fa-arrow-right"></i></a></h2>
        <p class="custom-header-4">Choose between two options, such as preferences or hypothetical scenarios, while promoting team bonding, communication, and understanding of each other's personalities and perspectives.</p>
        <ul>
          <li class="custom-header-4">Automate activity weekly, biweekly, or monthly</li>
          <li class="custom-header-4">Duration: 5-10 min</li>
          <li class="custom-header-4">Leaderboard & archive</li>
          <li class="custom-header-4">100+ categories</li>
          <li class="custom-header-4">Customizable</li>
        </ul>
      </div>
    </div>
    <!-- ----------------------------------- activity end ----------------------------------- -->
    <!-- ----------------------------------- activity start ----------------------------------- -->
    <div class="custom-display-flex custom-fw-1 custom-jc-2 custom-mb-3">
      <div class="custom-width-1">
        <h2 class="custom-header-1">Gift Card Prizes <a href="/employees/signup" class="btn btn-success custom-ml-3">Get started <i class="fa-solid fa-arrow-right"></i></a></h2>
        <p class="custom-header-4">Rewarding the highest scoring team members with optional gift cards as an incentive for thoughtful participation. Foster a culture of recognition and appreciation within the team.</p>
        <ul>
          <li class="custom-header-4">Automate prizes weekly, biweekly, or monthly</li>
          <li class="custom-header-4">Help incentivize consistent engagement</li>
          <li class="custom-header-4">Customizable gift options</li>
        </ul>
      </div>
      <div>
        <a href="/employees/signup"><img src="/static/images/employees/landing/TriviafyProductsPrizesGiftCards.png" alt="team building icebreakers" class="custom-width-6 custom-br-3 shadow-lg custom-mtb-2-mobile"></a>
      </div>
    </div>
    <!-- ----------------------------------- activity end ----------------------------------- -->
  </div>
  <!-- ----------------------------------- all activities end ----------------------------------- -->
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container-fluid custom-bg-color-14 custom-mb-100">
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/images/employees/headshots/headshot_missy.png" class="d-block mx-auto custom-img-size-13 custom-mb-2 custom-br-5 shadow custom-mt-3" alt="headshot">
        <div class="carousel-caption d-none d-md-block custom-color-7">
          <h5>Missy, Human Resources Manager</h5>
          <p class="fst-italic">"Thanks to Triviafy, our team had a fun time learning more about each other's interests and backgrounds."</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/images/employees/headshots/headshot_mel.png" class="d-block mx-auto custom-img-size-13 custom-mb-2 custom-br-5 shadow custom-mt-3" alt="headshot">
        <div class="carousel-caption d-none d-md-block custom-color-7">
          <h5>Melanie, Associate Director Marketing</h5>
          <p class="fst-italic">"I highly recommend Triviafy for any team looking to strengthen their relationships and improve communication."</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/images/employees/headshots/headshot_alex.png" class="d-block mx-auto custom-img-size-13 custom-mb-2 custom-br-5 shadow custom-mt-3" alt="headshot">
        <div class="carousel-caption d-none d-md-block custom-color-7">
          <h5>Chris, Software Engineer</h5>
          <p class="fst-italic">"I've used other team building tools in the past, but Triviafy was by far the most enjoyable and effective."</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- ----------------------------------- end ----------------------------------- -->
{% endblock %}