{% extends "candidates/aaa_base/base2_exterior.html" %}

{% block title %}
    <title>Login - Triviafy</title>
    <meta name="description" content="The friendliest pre employment testing platform, mobile supported. Pre employment screening made simple. Pre employment tests for 50+ frameworks.">
    <meta name="og:description" content="The friendliest pre employment testing platform, mobile supported. Pre employment screening made simple. Pre employment tests for 50+ frameworks.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container mx-auto custom-pt-3 custom-width-4 custom-pb-1 custom-index-2">
  <form method="POST" enctype="multipart/form-data" class="custom-ptb-3 shadow border custom-br-1 custom-bg-grey-2">
    <!-- ----------------------------------- start ----------------------------------- -->
    {% if error_message_to_html != '' %}
    <div class="alert alert-danger mx-auto" role="alert">
      {{ error_message_to_html }}
    </div>
    {% endif %}
    <!-- ----------------------------------- end ----------------------------------- -->
    <div class="text-center custom-pb-4">
      <h1 class="custom-header-2">Login</h1>
    </div>
    <div class="custom-pb-6">
      <div class="mb-3">
        <label for="reset_forgot_password_page_ui_password" class="form-label"></label>
        <input type="password" class="form-control" id="reset_forgot_password_page_ui_password" name="reset_forgot_password_page_ui_password" placeholder="Password*" title="Minimum 4 characters" required>
      </div>
      <div class="mb-3">
        <label for="reset_forgot_password_page_ui_password_confirmed" class="form-label"></label>
        <input type="password" class="form-control" id="reset_forgot_password_page_ui_password_confirmed" name="reset_forgot_password_page_ui_password_confirmed" placeholder="Confirm password*" title="Minimum 4 characters" required>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Reset password</button>
    </div>
  </form>
</div>
<!-- ----------------------------------- end ----------------------------------- -->
{% endblock %}