{% extends "employees/aaa_base/base2_interior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Create Question - Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
{% if page_dict_to_html['alert_message_dict']['message'] != '' %}
<div class="alert alert-{{ page_dict_to_html['alert_message_dict']['type'] }} mx-auto text-center container custom-mt-1" role="alert">
  {{ page_dict_to_html['alert_message_dict']['message'] }}
</div>
{% endif %}
<!-- ----------------------------------- end ----------------------------------- -->
<div class="container custom-display-flex custom-pt-6 custom-jc-2 custom-pb-6">
  <h2 class="custom-header-2-mobile">Custom questions</h2>
  {% if page_dict_to_html['total_group_created_questions_arr_of_dicts'] == 0 %}
    <button class="btn btn-secondary" disabled>Add to test</button>
  {% else %}
    <div>
      <a href="/candidates/question/create/v2" class="btn btn-primary">Create +</a>
    </div>
  {% endif %}
</div>
<div class="container border shadow custom-br-1 custom-bg-white">
  {% if page_dict_to_html['stripe_subscription_status'] == 'active' %}
    {% if page_dict_to_html['total_group_created_questions_arr_of_dicts'] == 0 %}
      <div class="text-center custom-ptb-5">
        <p class="fst-italic custom-color-light-1 custom-header-5">Your group has not created any questions yet.</p>
        <a href="/candidates/question/create/v2" class="btn btn-primary btn-lg">Create +</a>
      </div>
    {% else %}
      <div class="custom-ptb-6">
        <!-- ----------------------------------- start ----------------------------------- -->
        <table id="candidates-datatable-id" class="table table-striped" style="width:100%">
          <thead>
            <tr>
              <th>Email</th>
              <th>Created</th>
              <th>Title</th>
              <th>Status</th>
              <th>Question</th>
            </tr>
          </thead>
          <tbody>
            {% for i in page_dict_to_html['group_created_questions_arr_of_dicts'] %}
            <tr>
              <td>{{ i['created_by_email'] }}</td>
              <td>{{ i['created_timestamp'] }}</td>
              <td>{{ i['title'] }}</td>
              <td>{{ i['question_used_status'] }}</td>
              <td><a href="#" class="custom-a-2 fw-bolder">View</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- ----------------------------------- end ----------------------------------- -->
      </div>
    {% endif %}
  {% endif %}
</div>
<!-- ------------------------------------- signature start ------------------------------------- -->
<div class="text-center custom-mt-5">
  <img src="/static/images/candidates/logo/logo_wide_v3.png" alt="powered by triviafy logo" class="custom-img-size-10 custom-img-opacity-1">
</div>
<!-- ------------------------------------- signature end ------------------------------------- -->
{% endblock %}