{% extends "employees/aaa_base/base2_interior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Create Question - Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
{% if page_dict_to_html['alert_message_dict']['message'] != '' %}
<div class="alert alert-{{ page_dict_to_html['alert_message_dict']['type'] }} mx-auto text-center container custom-mt-1" role="alert">
  {{ page_dict_to_html['alert_message_dict']['message'] }}
</div>
{% endif %}
<!-- ----------------------------------- end ----------------------------------- -->
<div class="container custom-display-flex custom-pt-6 custom-jc-2 custom-pb-6">
  <h2 class="custom-header-2-mobile">Custom questions</h2>
  {% if page_dict_to_html['total_group_created_questions_arr_of_dicts'] == 0 %}
  {% else %}
    <div>
      <a href="/employees/questions/v3" class="btn btn-primary">Create +</a>
    </div>
  {% endif %}
</div>
<div class="container border shadow custom-br-1 custom-bg-white">
  {% if page_dict_to_html['stripe_subscription_status'] == 'active' %}
    {% if page_dict_to_html['total_group_created_questions_arr_of_dicts'] == 0 %}
      <div class="text-center custom-ptb-5">
        <p class="fst-italic custom-color-light-1 custom-header-5">Your group has not created any questions yet.</p>
        <a href="/employees/questions/v3" class="btn btn-primary btn-lg">Create +</a>
      </div>
    {% else %}
      <div class="custom-ptb-6">
        <!-- ----------------------------------- start ----------------------------------- -->
        <table id="candidates-datatable-id" class="table table-striped" style="width:100%">
          <thead>
            <tr>
              <th>Email</th>
              <th>Created</th>
              <th>Title</th>
              <th>Status</th>
              <th>Question</th>
            </tr>
          </thead>
          <tbody>
            {% for i in page_dict_to_html['group_created_questions_arr_of_dicts'] %}
            <tr>
              <td>{{ i['created_by_email'] }}</td>
              <td>{{ i['created_timestamp'] }}</td>
              <td>{{ i['title'] }}</td>
              <td>{{ i['question_used_status'] }}</td>
              <td><a href="/employees/questions/preview/{{ i['id'] }}" class="custom-a-2 fw-bolder">View</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- ----------------------------------- end ----------------------------------- -->
      </div>
    {% endif %}
  {% endif %}
</div>
<!-- ------------------------------------- signature start ------------------------------------- -->
<div class="custom-width-15 mx-auto custom-mt-100">
  <a href="/employees/dashboard" class="navbar-brand">
    <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/official_logo.png" alt="triviafy logo" class="custom-img-size-1 custom-mt-negative-1">
    <span class="fw-bold custom-header-1">Triviafy<spa class="custom-header-4">.com</span></span>
    <div class="text-center">
      <p class="custom-m-0">Team building software</p>
    </div>
  </a>
</div>
<!-- ------------------------------------- signature end ------------------------------------- -->
{% endblock %}