{% extends "polling/aaa_base/base2_exterior_black.html" %}

{% block title %}
    <title>FAQ - Triviafy</title>
    <meta name="description" content="Audience relationship management. Premium podcast polling platform. Information about your listeners.">
    <meta name="og:description" content="Audience relationship management. Premium podcast polling platform. Information about your listeners.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ------------------------------------- divider start ------------------------------------- -->
<div class="custom-border-white-opacity-25 custom-mtb-50 custom-width-100 mx-auto"></div>
<!-- ------------------------------------- divider end ------------------------------------- -->
{% endblock %}