{% extends "polling/aaa_base/base2_primary.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Select - Triviafy</title>
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<div class="custom-bg-primary-darker">
  <!-- ------------------------------------- entire page start ------------------------------------- -->
  <div class="container-fluid custom-bg-primary-gradient-1 custom-pt-100">
    <!-- ----------------------------------- start ----------------------------------- -->
    {% if page_dict_to_html['alert_message_dict']['message'] != '' %}
    <div class="alert alert-{{ page_dict_to_html['alert_message_dict']['type'] }} mx-auto text-center container-fluid custom-width-100 custom-mb-25" role="alert">
      {{ page_dict_to_html['alert_message_dict']['message'] }}
    </div>
    {% endif %}
    <!-- ----------------------------------- end ----------------------------------- -->
    <!-- ------------------------------------- title start ------------------------------------- -->
    <div class="container mx-auto custom-pb-50">
      <div class="text-center">
        <h1 class="custom-color-white">{{ page_dict_to_html['url_step_title'] }}</h1>
        <p class="custom-m-0 custom-color-white custom-opacity-75 custom-header-15">{{ page_dict_to_html['url_step_subtitle'] }}</p>
      </div>
    </div>
    <!-- ------------------------------------- title end ------------------------------------- -->
    <!-- ------------------------------------- step 1 start ------------------------------------- -->
    {% if page_dict_to_html['url_step_code'] == '1' %}
      <!-- ------------------------------------- form start ------------------------------------- -->
      <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
        <div class="custom-width-400 mx-auto">
          <!-- ------------------------------------- dropdown start ------------------------------------- -->
          <div class="dropdown">
            <label class="custom-color-white custom-mb-5">Select a platform</label>
            <button class="btn custom-bg-white-always dropdown-toggle custom-tal custom-width-100" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="id-general">Select</button>
            <ul class="dropdown-menu custom-width-100">
              {% for i in range(page_dict_to_html['platforms_arr']|length) %}
                <li>
                  <input type="radio" class="btn-check" id="uiSelection{{ i }}" name="ui_general_selection_radio" autocomplete="off" value="{{ page_dict_to_html['platforms_arr'][i] }}" onclick="previewGeneralSelection(this)" required>
                  <label class="dropdown-item custom-color-black" for="uiSelection{{ i }}">{{ page_dict_to_html['platforms_arr'][i] }}</label>
                </li>
              {% endfor %}
            </ul>
          </div>
          <!-- ------------------------------------- dropdown end ------------------------------------- -->
          <button type="submit" class="btn btn-lg btn-success custom-width-100 custom-mt-25">Continue <i class="fa-solid fa-angle-right"></i></button>
        </div>
      </form>
      <!-- ------------------------------------- form end ------------------------------------- -->
    {% endif %}
    <!-- ------------------------------------- step 1 end ------------------------------------- -->
    <!-- ------------------------------------- step 2 start ------------------------------------- -->
    {% if page_dict_to_html['url_step_code'] == '2' %}
      <!-- ------------------------------------- form start ------------------------------------- -->
      <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
        <!-- ------------------------------------- search section start ------------------------------------- -->
        <div class="custom-width-500 mx-auto">
          <!-- ------------------------------------- search bar start ------------------------------------- -->
          <label for="none1" class="form-label custom-color-white">Search show name</label>
          <input type="text" class="form-control custom-ptb-15" id="none1" name="ui_search_show_name" placeholder="Search show name" required>
          <!-- ------------------------------------- search bar end ------------------------------------- -->
          <!-- ------------------------------------- existing radio section start ------------------------------------- -->
          {% for i_dict in page_dict_to_html['shows_arr_of_dict'] %}
            <div class="custom-p-15 custom-br-20 custom-bg-white custom-opacity-80-hover custom-mtb-50">
              <div class="custom-display-flex">
                <a href="/polling/show/follow/{{ i_dict['fk_platform_id'] }}/{{ i_dict['id'] }}"><img src="{{ i_dict['platform_image_small'] }}" alt="podcast show logo" class="custom-br-5 border"></a>
                <div class="custom-ml-5 custom-display-flex custom-f-direction-col">
                  <a href="/polling/show/follow/{{ i_dict['fk_platform_id'] }}/{{ i_dict['id'] }}" class="custom-a-2 custom-header-18">{{ i_dict['name'] }}</a>
                  <a href="/polling/show/follow/{{ i_dict['fk_platform_id'] }}/{{ i_dict['id'] }}" class="custom-a-2 custom-header-12 custom-opacity-50">{{ i_dict['description'] }}</a>
                </div>
              </div>
            </div>
          {% endfor %}
          <!-- ------------------------------------- existing radio section end ------------------------------------- -->
          <button type="submit" class="btn btn-lg btn-success custom-width-100">Search <i class="fa-solid fa-angle-right"></i></button>
          <!-- ------------------------------------- back button start ------------------------------------- -->
          <a href="/polling/show/add/{{ page_dict_to_html['url_back_str'] }}" class="btn btn-outline-secondary custom-width-100 custom-mt-15"><i class="fa-solid fa-angle-left"></i> Back</a>
          <!-- ------------------------------------- back button end ------------------------------------- -->
        </div>
        <!-- ------------------------------------- search section end ------------------------------------- -->
      </form>
      <!-- ------------------------------------- form end ------------------------------------- -->
    {% endif %}
    <!-- ------------------------------------- step 2 end ------------------------------------- -->
    <!-- ------------------------------------- step 3 start ------------------------------------- -->
    {% if page_dict_to_html['url_step_code'] == '3' %}
      <!-- ------------------------------------- form start ------------------------------------- -->
      <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
        <!-- ------------------------------------- confirm section start ------------------------------------- -->
        <div class="custom-width-500 mx-auto text-center">
          <div class="custom-pb-25">
            <img src="{{ page_dict_to_html['spotify_pulled_dict']['img_medium'] }}" alt="show img" class="custom-br-1 shadow-lg">
          </div>
          <p class="custom-m-0 custom-color-white custom-header-25 custom-pb-15">{{ page_dict_to_html['spotify_pulled_dict']['name'] }}</p>
          <div class="custom-tal">
            <p class="custom-m-0 custom-color-white custom-header-10 custom-pb-25 custom-opacity-50">{{ page_dict_to_html['spotify_pulled_dict']['description'] }}...</p>
          </div>
          <button type="submit" class="btn btn-lg btn-success custom-width-100 custom-mt-25">Confirm <i class="fa-solid fa-check"></i></button>
          <!-- ------------------------------------- back button start ------------------------------------- -->
          <a href="/polling/show/add/{{ page_dict_to_html['url_back_str'] }}" class="btn btn-outline-secondary custom-width-100 custom-mt-15"><i class="fa-solid fa-angle-left"></i> Back</a>
          <!-- ------------------------------------- back button end ------------------------------------- -->
        </div>
        <!-- ------------------------------------- confirm section end ------------------------------------- -->
      </form>
      <!-- ------------------------------------- form end ------------------------------------- -->
    {% endif %}
    <!-- ------------------------------------- step 3 end ------------------------------------- -->
  </div>
  <!-- ------------------------------------- entire page end ------------------------------------- -->
</div>
<!-- ----------------------------------- shape divider start ----------------------------------- -->
<div class="custom-shape-divider-bottom-1672276706 custom-bg-primary-darker">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
  </svg>
</div>
<!-- ----------------------------------- shape divider end ----------------------------------- -->
{% endblock %}