{% extends "candidates/aaa_base/base2_interior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Create Assessment / Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
{% if alert_message_page_to_html != '' %}
<div class="alert alert-{{ alert_message_type_to_html }} mx-auto text-center custom-mt-3 container custom-width-1" role="alert">
  {{ alert_message_page_to_html }}
</div>
{% endif %}
<!-- ----------------------------------- end ----------------------------------- -->
<div class="container custom-display-flex custom-pt-6 custom-jc-2 custom-pb-6 custom-width-1">
  <div>
    <h2 class="custom-header-2-mobile">Schedule</h2>
  </div>
</div>
<div class="container border shadow custom-br-1 custom-bg-white custom-ptb-6 custom-width-1">
  {% if total_test_made_to_html == 0 %}
  <div class="text-center">
    <p class="fst-italic custom-color-light-1 custom-header-5">You have not yet created any tests.</p>
    <a href="/candidates/assessment/new/1b" class="btn btn-primary btn-lg">Create test +</a>
  </div>
  {% else %}
  <!-- ----------------------------------- start ----------------------------------- -->
  <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
    <div class="d-flex gap-5 justify-content-center">
      <div class="list-group mx-0 w-auto">
        
        <label class="list-group-item d-flex gap-2">
          <input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios" id="listGroupRadios1" value="immediate" checked="">
          <span>Send test now<small class="d-block text-muted">Send a test to candidates immediately.</small></span>
        </label>

        <label class="list-group-item d-flex gap-2">
          <input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios" id="listGroupRadios2" value="scheduled">
          <span>Send test later<small class="d-block text-muted">Schedule when candidates receive a test.</small></span>
        </label>

      </div>
    </div>
    <div class="text-center custom-mt-1">
      <button type="submit" class="btn btn-primary">Continue</a>
    </div>
  </form>
  <!-- ----------------------------------- end ----------------------------------- -->
  {% endif %}
</div>
{% endblock %}