{% extends "candidates/aaa_base/base2_interior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Create Assessment / Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
{% if alert_message_page_to_html != '' %}
<div class="alert alert-{{ alert_message_type_to_html }} mx-auto text-center custom-mt-3 container" role="alert">
  {{ alert_message_page_to_html }}
</div>
{% endif %}
<!-- ----------------------------------- end ----------------------------------- -->
<div class="container custom-display-flex custom-pt-6 custom-jc-2 custom-pb-6">
  <div>
    <h2 class="custom-header-2-mobile">Schedule</h2>
  </div>
</div>
<div class="container border shadow custom-br-1 custom-bg-white custom-ptb-6">
  {% if total_test_made_to_html == 0 %}
  <div class="text-center">
    <p class="fst-italic custom-color-light-1 custom-header-5">You have not yet created any tests.</p>
    <a href="/candidates/assessment/new/1b" class="btn btn-primary btn-lg">Create test +</a>
  </div>
  {% else %}
  <div class="custom-display-flex custom-fw-1">
    <div class="custom-width-11-mobile custom-p-5">
      <a href="/candidates/schedule/now" class="btn btn-outline-primary btn-lg custom-width-6">Send test now</a>
    </div>
    <div class="custom-width-11-mobile custom-p-5">
      <a href="#" class="btn btn-outline-primary btn-lg custom-width-6">Send test later</a>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}