{% extends "candidates/aaa_base/base2_interior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Create Assessment / Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<div class="container custom-display-flex custom-pt-6 custom-jc-2 custom-pb-6">
  <div>
    <h2 class="custom-header-2-mobile">Schedule</h2>
  </div>
</div>
<div class="container border shadow custom-br-1 custom-bg-white custom-ptb-6">
  {% if total_test_made_to_html == 0 %}
  <div class="text-center">
    <p>You have not yet created any tests.</p>
    <a href="/candidates/assessment/new/1b" class="btn btn-primary btn-lg">Create test +</a>
  </div>
  {% else %}
  <div class="custom-display-flex custom-fw-1">
    <div class="custom-width-11-mobile custom-p-5">
      <a href="/candidates/schedule/now/v2" class="btn btn-outline-primary btn-lg custom-width-6">Send test now</a>
    </div>
    <div class="custom-width-11-mobile custom-p-5">
      <a href="#" class="btn btn-outline-primary btn-lg custom-width-6">Send test later</a>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}