/* - - - - - - - - - - Footer All - Start */
/* - - - - - - - - - - Footer Top - Start */
.footer-not-signed-in-3-background-color {
  height: 500px;
  width: 100%;
  background-color: rgb(36, 0, 66);
}
.footer-not-signed-in-3-section-top {
  /* border: 1px solid black; */
  height: 400px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.footer-not-signed-in-3-sub-section {
  /* border: 1px solid black; */
}
.footer-logo-container-3 {
  /* border: 1px solid red; */
  width: 100%;
}
img.footer-logo-img-3 {
  height: 200px;
}
.footer-title-3 {
  color: white;
  font-size: 25px;
}
.footer-title-position-3 {
  margin: 50px 0 20px 0;
}
ul.footer-not-signed-in-3-ul li {
  text-decoration: none;
  list-style-type: none;
}
.footer-sub-title-item-3 {
  color: white;
  font-size: 18px;
}
.footer-sub-title-item-position-3 {
  margin: 10px 0;
}
.footer-a-3, .footer-a-3:hover, .footer-a-3:visited {
  color: white;
  text-decoration: none;
}
/* - - - - - - - - - - Footer Top - End */


/* - - - - - - - - - - Footer Bottom - Start */
.footer-not-signed-in-3-section-bottom {
  /* border: 1px solid black; */
  height: 100px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.footer-not-signed-in-3-sub-section-bottom {
  display: flex;
}
.footer-social-logo-3 {
  color: white;
  font-size: 50px;
  margin: 0 10px;
}
/* - - - - - - - - - - Footer Bottom - End */
/* - - - - - - - - - - Footer All - End */