{% extends "employees/aaa_base/base2_exterior.html" %}

{% block title %}
    <title>About - Triviafy</title>
    <meta name="description" content="Automated employee engagement team building activities for your team. Team trivia, icebreakers, surveys, and personality tests.">
    <meta name="og:description" content="Automated employee engagement team building activities for your team. Team trivia, icebreakers, surveys, and personality tests.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
<div class="container text-center custom-pt-6 custom-pb-6">
  <h1 class="custom-header-7 custom-color-primary fw-bold">About</h1>
  <h2><a href="/signup" class="custom-header-5 fw-bold custom-a-2">Start your 14 day free trial now <i class="fa-solid fa-arrow-right"></i></a></h2>
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="custom-width-900 mx-auto custom-pb-100 custom-header-20">
  <p>#1 Ranked Team Building Software</p>
  <p>Welcome to Triviafy, the #1 ranked team building software platform that offers a plethora of games and activities aimed at improving employee engagement and creating a positive work environment. With over 30 different games and activities to choose from, Triviafy is the perfect tool for building a stronger team and improving the culture of your company.</p>
  <p>Our automated team building activity tool is designed to make it easy for you to engage your employees with fun and interactive games and activities like trivia, picture quiz, icebreakers, this or that, most likely to, birthday contests, personality tests, employee surveys, and more. Triviafy is designed to keep your team engaged and motivated, while also helping you identify areas where improvements can be made.</p>
  <p>At Triviafy, we believe that strong teams are the foundation of a successful company. That's why we've developed a software platform that is focused on improving employee engagement and creating a positive work environment. Whether you're looking to build stronger relationships with your team, improve communication, or simply have some fun, Triviafy has everything you need to create a more engaged and motivated workforce. So why wait? Sign up for Triviafy today and start building a stronger, more cohesive team!</p>
</div>
<!-- ----------------------------------- end ----------------------------------- -->
{% endblock %}