/* - - - - - - - - - - spacer start */
.landing-spacer-section {
  /* background-color: var(--testing-blueprint-color); */
  height: 100px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
/* - - - - - - - - - - spacer end */


/* - - - - - - - - - - backdrop start */
.landing-backdrop-section {
  /* border: 1px solid black; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  text-align: center;
}
img.landing-backdrop-img {
  width: 1600px;
  height: 600px;
}
/* - - - - - - - - - - backdrop end */


/* - - - - - - - - - - Intro - Start */
.landing-page-intro-3-section {
  /* border: 1px solid black; */
  height: 400px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 55px;
  row-gap: 0;
}
/* - - - - - - - - - - Intro Left Side - Start */
.landing-page-intro-3-words-section {
  /* border: 1px solid green; */
  grid-area: 1 / 1 / 2 / 2; 
}
.landing-page-intro-3-header {
  /* border: 1px solid black; */
  /* margin: 150px 0 0 0; */
  margin: 50px 0 0 0;
  font-size: 45px;
  font-weight: 700;
}
.landing-page-3-header {
  /* border: 1px solid black; */
  font-size: 35px;
  font-weight: 700;
  color: black;
}
.landing-page-3-subheader {
  /* border: 1px solid black; */
  font-size: 20px;
  color: rgb(51, 28, 86);
}
.landing-page-3-subheader-a {
  font-size: 20px;
  color: var(--company-primary-color);
  text-decoration: none;
}
.landing-page-3-subheader-a:hover {
  text-decoration: underline;
}
/* - - - - - - - - - - Dropdown Arrow Animation - Start */
.landing-page-3-subheader-a:hover {
  animation: learn-more-arrow-animation 300ms ease-in-out forwards;
}
@keyframes learn-more-arrow-animation {
  0% {
    transform:translateX(0px)
  }
  100% {
    transform:translateX(20px)
  }
}
/* - - - - - - - - - - Dropdown Arrow Animation - End */
.landing-page-intro-3-sub-header {
  /* border: 1px solid blue; */
  padding: 20px 0 20px 0;
}
.landing-page-get-started-section {
  /* border: 1px solid black; */
  width: 100%;
  text-align: center;
}
.landing-page-button-sub-section-intro {
  margin: 15px 0 0 0;
}
/* - - - - - - - - - - Collect Email - Start */
.landing-page-intro-3-next-steps-section {
  /* border: 1px solid black; */
  text-align: center;
  margin: 30px 0 0 0;
}
form.landing-page-email-form-3 {
  /* border: 1px solid black; */
  /* .hero-form */
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  /* Media */
  /* -webkit-box-direction: normal; */
}
.landing-page-button-position-3 {
  margin: 0 0 0 16px;
}
.free-trial-no-card-required-3 {
  font-size: 12px;
  padding: 15px 0 0 0;
  color: rgb(166, 166, 166);
}
/* - - - - - - - - - - Collect Email - End */
/* - - - - - - - - - - Intro Left Side - End */
/* - - - - - - - - - - Intro Right Side - Start */
.landing-page-intro-3-media-section {
  /* border: 1px solid red; */
  grid-area: 1 / 2 / 2 / 3;
}
.landing-page-intro-3-media-img {
  width: 500px;
  height: 300px;
  /* margin: 100px 0 0 0; */
  margin: 0;
}
/* - - - - - - - - - - Intro Right Side - End */
/* - - - - - - - - - - Intro - End */


/* - - - - - - - - - - Supported Frameworks Start */
.landing-page-supported-frameworks-section {
  /* border: 1px solid black; */
  height: 250px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.section-title-p-margins {
  /* border: 1px solid black; */
  padding: 0 0 25px 0;
}
/* - - - - - - - - - - Logos flex Start */
.landing-page-frameworks-section {
  /* border: 1px solid green; */
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.landing-page-framework-container {
  /* border: 1px solid black; */
  height: 30px;
  margin: 12px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
img.framework-logo-img {
  /* border: 1px solid red; */
  margin: 5px 10px;
  height: 20px;
  width: auto;
}
.framework-logo-p {
  padding: 0 10px 0 0;
  font-size: 12px;
  color: rgb(150, 150, 150);
  font-weight: 700;
}
/* - - - - - - - - - - Logos flex End */
/* - - - - - - - - - - Supported Frameworks End */


/* - - - - - - - - - - how it works start */
.landing-hiw-section {
  /* border: 1px solid black; */
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.hiw-split-section {
  /* border: 1px solid black; */
  height: 400px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 50px;
  row-gap: 0;
}
.hiw-split-left-section {
  /* border: 1px solid blue; */
  grid-area: 1 / 1 / 2 / 2;
}
.hiw-split-right-section {
  /* border: 1px solid red; */
  grid-area: 1 / 2 / 2 / 3;
}
.hiw-title-center-section {
  /* border: 1px solid black  ; */
  width: 100%;
  text-align: center;
  padding: 0 0 25px 0;
}
.hiw-papers-section, .hiw-send-to-candidates-picture-section {
  /* border: 1px solid black; */
  text-align: center;
}
img.hiw-papers-img {
  height: 268px;
}
.hiw-icons-section {
  /* border: 1px solid black; */
  text-align: center;
  margin: 25px 0 0 0;
}
.font-awesome-hiw-icon {
  font-size: 35px;
  margin: 0 25px;
  font-weight: 900;
  color: rgb(183, 183, 183);
}
.container-hiw-create-optional-section {
  /* border: 1px solid black; */
  background-color: rgb(230 226 242);
  border-radius: 25px;
  width: 340px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.hiw-title-optional-section {
  /* border: 1px solid black; */
  padding: 0 0 10px 0;
}
.hiw-li-section {
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.hiw-box-li {
  /* border: 1px solid black; */
  font-size: 15px;
  text-decoration: none;
  list-style-type: none;
  padding: 6px 10px;
  margin: 10px 5px;
  border-radius: 20px;
  background-color: white;
}
.hiw-send-to-candidates-words {
  /* border: 1px solid black; */
  text-align: center;
  margin: 180px 0 0 0;
}
.hiw-send-to-candidates-img {
  height: 375px;
}
/* - - - - - - - - - - how it works end */



































/* - - - - - - - - - - foooter start */
.footer-not-signed-in-candidates {
  /* background-color: var(--testing-blueprint-color); */
  height: 500px;
  width: 100%;
}
/* - - - - - - - - - - foooter end */