/* - - - - - - - - - - Intro - Start */
.landing-page-intro-3-section {
  border: 1px solid black;
  height: 600px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 55px;
  row-gap: 0;
}
/* - - - - - - - - - - Intro Left Side - Start */
.landing-page-intro-3-words-section {
  /* border: 1px solid green; */
  grid-area: 1 / 1 / 2 / 2; 
}
.landing-page-intro-3-header {
  /* border: 1px solid black; */
  margin: 150px 0 0 0;
  font-size: 45px;
  font-weight: 700;
}
.landing-page-3-subheader {
  /* border: 1px solid black; */
  font-size: 20px;
  color: rgb(51, 28, 86);
}
.landing-page-3-subheader-a {
  font-size: 20px;
  color: var(--company-primary-color);
  text-decoration: none;
}
.landing-page-3-subheader-a:hover {
  text-decoration: underline;
}
/* - - - - - - - - - - Dropdown Arrow Animation - Start */
.landing-page-3-subheader-a:hover {
  animation: learn-more-arrow-animation 300ms ease-in-out forwards;
}
@keyframes learn-more-arrow-animation {
  0% {
    transform:translateX(0px)
  }
  100% {
    transform:translateX(20px)
  }
}
/* - - - - - - - - - - Dropdown Arrow Animation - End */
.landing-page-intro-3-sub-header {
  /* border: 1px solid blue; */
  padding: 20px 0 20px 0;
}
.landing-page-get-started-section {
  /* border: 1px solid black; */
  width: 100%;
  text-align: center;
}
.landing-page-button-sub-section-intro {
  margin: 15px 0 0 0;
}
/* - - - - - - - - - - Collect Email - Start */
.landing-page-intro-3-next-steps-section {
  /* border: 1px solid black; */
  text-align: center;
  margin: 30px 0 0 0;
}
form.landing-page-email-form-3 {
  /* border: 1px solid black; */
  /* .hero-form */
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  /* Media */
  /* -webkit-box-direction: normal; */
}
.landing-page-button-position-3 {
  margin: 0 0 0 16px;
}
.free-trial-no-card-required-3 {
  font-size: 12px;
  padding: 15px 0 0 0;
  color: rgb(166, 166, 166);
}
/* - - - - - - - - - - Collect Email - End */
/* - - - - - - - - - - Intro Left Side - End */
/* - - - - - - - - - - Intro Right Side - Start */
.landing-page-intro-3-media-section {
  /* border: 1px solid red; */
  grid-area: 1 / 2 / 2 / 3;
}
.landing-page-intro-3-media-img {
  width: 500px;
  height: 300px;
  margin: 100px 0 0 0;
}
/* - - - - - - - - - - Intro Right Side - End */
/* - - - - - - - - - - Intro - End */


/* - - - - - - - - - - Supported Frameworks Start */
.landing-page-supported-frameworks-section {
  border: 1px solid black;
  height: 350px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.landing-page-3-header {
  font-size: 35px;
  font-weight: 700;
  color: black;
}
.supported-frameworks-p {
  margin: 0 0 25px 0;
}
/* - - - - - - - - - - Logos flex Start */
.landing-page-frameworks-section {
  border: 1px solid green;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.landing-page-flex-logos-section {
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
img.framework-logo-img {
  margin: 20px;
  /* border: 1px solid red; */
  height: 50px;
  width: auto;
}
/* - - - - - - - - - - Logos flex End */
/* - - - - - - - - - - Supported Frameworks End */