/* - - - - - - - - - - assessment create start */
.select-questions-form-container {
  /* border: 1px solid black; */
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.select-question-container {
  border: 1px solid black;
  margin: 0 0 100px 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  column-gap: 20px;
}
.select-question-left-side {
  border: 1px solid green;
  grid-area: 1 / 1 / 2 / 2;
}
.select-question-right-side {
  border: 1px solid red;
  grid-area: 1 / 2 / 2 / 3;
  text-align: center;
}
.select-question-img {
  /* border: 1px solid black; */
  max-width: 500px;
  max-height: 500px;
  width: 100%;
  border-radius: 10px;
}
.select-questions-button-section {
  text-align: center;
}
.select-question-header {
  border: 1px solid black;
}
.select-question-body {
  border: 1px solid blue;
}
.select-question-footer {
  border: 1px solid purple;
}
/* - - - - - - - - - - assessment create end */