/* - - - - - - - - - - assessment create start */
.select-questions-form-container {
  /* border: 1px solid black; */
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.select-question-container {
  /* border: 1px solid black; */
  margin: 0 0 150px 0;
  display: grid;
  grid-template-columns: 1.25fr 2fr;
  grid-template-rows: 1fr;
}
.select-question-left-side {
  /* border: 1px solid green; */
  grid-area: 1 / 1 / 2 / 2;
}
.select-question-right-side {
  /* border: 1px solid red; */
  grid-area: 1 / 2 / 2 / 3;
  text-align: center;
}
.select-question-img {
  /* border: 1px solid black; */
  max-width: 500px;
  max-height: 500px;
  width: 100%;
  border-radius: 10px;
}
.select-question-header {
  /* border: 1px solid black; */
  margin: 0 0 25px 0;
}
.candidate-question-title {
  font-size: 18px;
}
span.span-question-difficulty {
  /* border: 1px solid black; */
  font-size: 10px;
  color: rgba(0, 0, 0, 0.50);
}
.select-question-body {
  /* border: 1px solid blue; */
  margin: 0 0 25px 0;
}
.select-question-footer {
  text-align: center;
}
.candidates-footer-message-box {
  /* border: 1px solid purple; */
  padding: 10px;
  background-color: rgb(255, 255, 210);
  border-radius: 10px;
  width: 75%;
  margin: 25px auto 0 auto;
}
.candidates-note-wont-see {
  font-size: 10px;
  margin: 0 0 5px 0;
}
.select-questions-button-section {
  text-align: center;
}
/* - - - - - - - - - - assessment create end */