{% extends "admin_page/aaa_base/base2_interior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Admin - Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
{% if page_dict_to_html['alert_message_dict']['message'] != '' %}
<div class="alert alert-{{ page_dict_to_html['alert_message_dict']['type'] }} mx-auto text-center container custom-mt-1" role="alert">
  {{ page_dict_to_html['alert_message_dict']['message'] }}
</div>
{% endif %}
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container custom-display-flex custom-pt-6 custom-jc-2 custom-pb-6">
  <div>
    <h2 class="custom-header-2-mobile">Add scraped email</h2>
  </div>
</div>
<div class="container border shadow custom-br-1 custom-bg-white custom-ptb-6">
  <!-- ----------------------------------- start ----------------------------------- -->
  <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
    <div class="text-center">
      <label for="NewScrapedEmail" class="form-label">NewScrapedEmail</label>
      <input type="text" class="form-control custom-width-1 mx-auto" id="NewScrapedEmail" name="NewScrapedEmail" placeholder="Add scraped email" required>
      <button type="submit" class="btn btn-outline-primary custom-mt-2">Add</button>
    </div>
  </form>
  <!-- ----------------------------------- end ----------------------------------- -->
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ------------------------------------- admin section start ------------------------------------- -->
<div class="container custom-display-flex custom-pt-6 custom-jc-2">
  <h2 class="custom-header-2-mobile">Admin dashbaord</h2>
</div>
<div class="container border shadow custom-br-1 custom-bg-white custom-mb-1 custom-ptb-5 text-center">
  <div class="custom-display-flex custom-jc-1">
    <a href="/admin/a" class="btn btn-outline-primary btn-lg">Analytics</a>
    <a href="/admin/d" class="btn btn-outline-danger btn-lg">Delete</a>
  </div>
</div>
<!-- ------------------------------------- admin section end ------------------------------------- -->

<!-- ------------------------------------- signature start ------------------------------------- -->
<div class="custom-width-15 mx-auto custom-mt-100">
  <a href="/admin" class="navbar-brand">
    <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/official_logo.png" alt="triviafy logo" class="custom-img-size-1 custom-mt-negative-1">
    <span class="fw-bold custom-header-1">Triviafy<spa class="custom-header-4">.com</span></span>
    <div class="text-center">
      <p class="custom-m-0">Team building software</p>
    </div>
  </a>
</div>
<!-- ------------------------------------- signature end ------------------------------------- -->
{% endblock %}