{% extends "employees/aaa_base/base2_interior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Admin - Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
{% if page_dict_to_html['alert_message_dict']['message'] != '' %}
<div class="alert alert-{{ page_dict_to_html['alert_message_dict']['type'] }} mx-auto text-center container custom-mt-1" role="alert">
  {{ page_dict_to_html['alert_message_dict']['message'] }}
</div>
{% endif %}
<!-- ----------------------------------- end ----------------------------------- -->
<div class="container custom-display-flex custom-pt-6 custom-jc-2">
  <h2 class="custom-header-2-mobile">Admin Dashbaord</h2>
</div>
<!-- ------------------------------------- admin section start ------------------------------------- -->
<div class="container border shadow custom-br-1 custom-bg-white custom-mb-1 custom-ptb-5 text-center">
  <div class="custom-display-flex custom-jc-1">
    <a href="/admin/a" class="btn btn-outline-primary btn-lg">Analytics</a>
    <a href="/admin/d" class="btn btn-outline-danger btn-lg">Delete</a>
  </div>
</div>
<!-- ------------------------------------- admin section end ------------------------------------- -->
<!-- ------------------------------------- signature start ------------------------------------- -->
<div class="text-center custom-mt-5">
  <img src="/static/images/candidates/logo/logo_wide_v3.png" alt="powered by triviafy logo" class="custom-img-size-10 custom-img-opacity-1">
</div>
<!-- ------------------------------------- signature end ------------------------------------- -->
{% endblock %}