{% extends "AA_SUPPORTING_PAGE_TEMPLATES/index.html" %}

{% block title %}
<title>Confirm Email / Triviafy</title>


<!-- ------------------------------------------------ google ads start -->
    <!-- From email subject: "robert@triviafy.com sent you a conversion tracking tag" -->
<!-- Event snippet for Website traffic conversion page --> <script> gtag('event', 'conversion', {'send_to': 'AW-10937231585/diVHCNewidoDEOHRo98o'}); </script>
<!-- ------------------------------------------------ google ads end -->
{% endblock %}



{% block content %}


<div class="default-not-signed-in-simple-page-section">
  <div class="default-not-signed-in-simple-page-img-section">
    <img src="/static/images/logo/Logo.png" alt="Triviafy logo" class="default-not-signed-in-simple-page-img">
  </div>
  
  <div class="default-not-signed-in-simple-page-desctiption-section">
    <p class="default-not-signed-in-page-p-font default-not-signed-in-page-content-sub-section">Thank you, "Triviafy Candidates" is set to launch September 2022.</p>
    <p class="default-not-signed-in-page-p-font default-not-signed-in-page-content-sub-section">We will email you on product launch day!</p>
  </div>

  <div class="default-not-signed-in-simple-page-button-section">
    <a href="{{ url_for('candidates_page_render_template.candidates_page_render_template_function') }}"><button class="default-button-format default-button-format-primary-color" type="submit" value="submit">Home</button></a>
  </div>
</div>

<footer-signed-in-component></footer-signed-in-component>
{% endblock %}