{% extends "AA_SUPPORTING_PAGE_TEMPLATES/index.html" %}

<!-- head tag block content -->
{% block title %}
  <title>About / Triviafy</title>
{% endblock %}

{% block content %}

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar START -->
<!--Navigation bar-->
<nav-candidates-not-signed-in-component link_home_js="{{ url_for('candidates_page_render_template.candidates_page_render_template_function') }}",
                                        redirect_candidates_about_page="{{ url_for('candidates_about_page_render_template.candidates_about_page_render_template_function') }}">
</nav-candidates-not-signed-in-component>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - page title start -->
<div class="page-title-section">
  <p class="page-title-words">About</p>
  <p class="page-subtitle-words">Triviafy</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - page title end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - section start -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - section start -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - footer start -->
<!-- Footer Not Signed In -->
<footer-candidates-not-signed-in-component link_home_js="{{ url_for('candidates_page_render_template.candidates_page_render_template_function') }}",
                                          redirect_candidates_about_page="{{ url_for('candidates_about_page_render_template.candidates_about_page_render_template_function') }}",
                                          link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}",
                                          link_terms_conditions_js="{{ url_for('terms_of_service_index_page_render_template.terms_of_service_index_page_render_template_function') }}">
</footer-candidates-not-signed-in-component>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - footer end -->
{% endblock %}