{% extends "candidates/aaa_base/base2_interior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Create Assessment / Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
{% if alert_message_page_to_html != '' %}
<div class="alert alert-{{ alert_message_type_to_html }} mx-auto text-center custom-mt-3 container" role="alert">
  {{ alert_message_page_to_html }}
</div>
{% endif %}
<!-- ----------------------------------- end ----------------------------------- -->
<div class="container custom-display-flex custom-pt-6 custom-jc-2 custom-pb-6">
  <div>
    <h2 class="custom-header-2-mobile">Dashboard</h2>
  </div>
</div>
<div class="container border shadow custom-br-1 custom-bg-white custom-ptb-6">
  <p>Hello</p>
</div>
{% endblock %}