{% extends "employee_engagement_page_templates/AA_SUPPORTING_PAGE_TEMPLATES/index.html" %}

{% block title %}
<title>Launch Day / Triviafy</title>
{% endblock %}



{% block content %}


<div class="default-not-signed-in-simple-page-section">


  <div class="default-not-signed-in-simple-page-img-section">
    <img src="/static/images/employee_engagement/logo/Logo.png" alt="Triviafy logo" class="default-not-signed-in-simple-page-img">
  </div>
  

  <div class="landing-page-intro-3-next-steps-section">
    <form action="{{ url_for('collect_email_processing_candidates.collect_email_processing_candidates_function') }}" method="post" class="landing-page-email-form-3" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
      <label for="user_input_email" class="landing-page-form-email-label"></label>
      <input type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,10}$" id="user_input_email" name="user_input_email" placeholder="Your work email" class="default-not-signed-in-text-input" required><br><br>
      <input type="submit" value="Get started!" class="default-button-format default-button-format-primary-color landing-page-button-position-3">
    </form>
  </div>
  

  <div class="default-not-signed-in-simple-page-desctiption-section">
    <p class="default-not-signed-in-page-p-font default-not-signed-in-page-content-sub-section">"Triviafy Candidates" is set to launch September 2022.</p>
    <p class="default-not-signed-in-page-p-font default-not-signed-in-page-content-sub-section">We will email you on product launch day!</p>
  </div>


</div>

<footer-signed-in-component></footer-signed-in-component>
{% endblock %}