{% extends "polling/aaa_base/base2_primary.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Verify Email - Triviafy</title>
  <!-- ----------------------------------- google conversion start ----------------------------------- -->
  <script>
    // Google Ads account's conversion ID: AW-10937231585
    // gtag('config', 'AW-10937231585'); <----- This is for product='employees' not for product='polling'
  </script>
  <!-- ----------------------------------- google conversion end ----------------------------------- -->
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<!-- ------------------------------------- main start ------------------------------------- -->
<div class="container-fluid custom-bg-primary-gradient-1">
  <!-- ------------------------------------- progress bar start ------------------------------------- -->
  {% if page_dict_to_html['feedback_step'] == '0' %}
    <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 25%"></div>
    </div>
  {% endif %}
  <!-- ------------------------------------- progress bar end ------------------------------------- -->
  <div class="text-center custom-pt-100 custom-mb-50">
    <h2 class="custom-header-50 custom-color-8">Verify your email</h2>
  </div>
  <div class="container custom-width-800 custom-color-8">
    <!-- ----------------------------------- start ----------------------------------- -->
    {% if page_dict_to_html['alert_message_dict']['message'] != '' %}
    <div class="alert alert-{{ page_dict_to_html['alert_message_dict']['type'] }} mx-auto text-center container custom-mt-1 custom-width-1" role="alert">
      {{ page_dict_to_html['alert_message_dict']['message'] }}
    </div>
    {% endif %}
    <!-- ----------------------------------- end ----------------------------------- -->
    <div class="custom-p-2 custom-tal custom-border-white-opacity-1 custom-br-1 custom-p-25 shadow-lg">
      <p class="custom-header-4">To ensure the security of your account, please verify your email address by clicking on the link sent to your email inbox.</p>
      <p class="custom-header-4">Please check your spam/promotions folder and mark Triviafy as 'Not Spam'.</p>
      <div class="">
        <div class="text-center">
          <p class="custom-header-5 custom-m-0 custom-mt-50">From: support@triviafy.com | Sent to: {{ page_dict_to_html['user_email'] }}</p>
        </div>
      </div>
    </div>
    <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
      <button type="submit" class="btn btn-success btn-lg custom-mt-50 custom-width-6">Resend email verification link (check spam/promotions folder)</button>
    </form>
  </div>
</div>
<!-- ------------------------------------- main end ------------------------------------- -->
<!-- ----------------------------------- shape divider start ----------------------------------- -->
<div class="custom-shape-divider-bottom-1672276706 custom-bg-primary-darker">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
  </svg>
</div>
<!-- ----------------------------------- shape divider end ----------------------------------- -->
{% endblock %}