@media (max-width: 1200px) {
  /* - - - - - - - - - - abc start */
  .only-paying-customers {
    width: 90%;
  }
  .select-questions-form-container {
    /* border: 1px solid black; */
    width: 90%;
  }
  .select-question-container {
    /* border: 1px solid black; */
    grid-template-columns: 1fr;
    grid-template-rows: 1.25fr 2fr;
    row-gap: 50px;
  }
  .select-question-left-side {
    /* border: 1px solid green; */
    grid-area: 1 / 1 / 2 / 2;
  }
  .select-question-right-side {
    /* border: 1px solid red; */
    grid-area: 2 / 1 / 3 / 2;
  }
  /* - - - - - - - - - - abc end */
}