{% extends "aaa_base_page_templates/base2_child1_not_logged_in_no_navbar_and_footer.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Select / Triviafy</title>
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}

<h1>{{ users_name_to_html }}, hello! Select capactity</h1>

<p>a</p>
<p>b</p>
<p>c</p>
<p>d</p>


<a href="{{ url_for('views.dashboard_test_login_page_function') }}">Dashboard</a>
<a href="{{ url_for('auth.candidates_logout_function') }}">Logout</a>

{% endblock %}