@media (max-width: 1200px) {
  /* - - - - - - - - - - spacer start */
  .general-page-intro-3-media-img {
    /* border: 1px solid black; */
    height: 250px;
    width: 250px;
  }
  .about-section {
    width: 90%;
  }
  .about-content-section {
    width: 100%;
  }
  .general-page-intro-4-media-img {
    /* border: 1px solid black; */
    height: 250px;
    width: 250px;
  }
  /* - - - - - - - - - - spacer end */
}