/* - - - - - - - - - - span question category general - Start */
.span-question-category-general {
  /* background: #5e866b; */
  background: var(--company-primary-color);
  border-radius: 6px;
  padding: 2px 5px;
  color: white;
  margin-left: 5px;
}
/* - - - - - - - - - - span question category general - End */

/* - - - - - - - - - - span question category specific - Start */
.span-question-category-accounting {background: #436f42;}
.span-question-category-animals {background: #467053;}
.span-question-category-art {background: #634e72;}
.span-question-category-animation {background: #6b5e26;}
.span-question-category-business {background: #234821;}
.span-question-category-books {background: #4a7774;}
.span-question-category-basketball {background: #755517;}
.span-question-category-baseball {background: #5d8697;}
.span-question-category-boxing {background: #5f3e3e;}
.span-question-category-chess {background: #717a35;}
.span-question-category-currency {background: #2d5339;}
.span-question-category-excel {background: #134a25;}
.span-question-category-engineering {background: #4a5975;}
.span-question-category-food {background: #727a1e;}
.span-question-category-finance {background: #285025;}
.span-question-category-football {background: #86775e;}
.span-question-category-fashion {background: #6d4343;}
.span-question-category-golf {background: #698371;}
.span-question-category-geography {background: #4b4e70;}
.span-question-category-history {background: #725e86;}
.span-question-category-human_resources {background: #795070;}
.span-question-category-human_centered_design {background: #3f5460;}
.span-question-category-harry_potter {background: #3d6b6b;}
.span-question-category-javascript {background: #6f6a47;}
.span-question-category-marketing {background: #836a41;}
.span-question-category-movies {background: #6f4b4b;}
.span-question-category-music {background: #446b7f;}
.span-question-category-olympics {background: #6d7244;}
.span-question-category-pop_culture {background: #5d537d;}
.span-question-category-politics {background: #684073;}
.span-question-category-sql {background: #576f49;}
.span-question-category-sports {background: #3a5a44;}
.span-question-category-sales {background: #386370;}
.span-question-category-space {background: #2b352e;}
.span-question-category-science {background: #3e734f;}
.span-question-category-soccer {background: #356866;}
.span-question-category-tv {background: #67356a;}
.span-question-category-talent_acquisition {background: #476475;}
.span-question-category-technology {background: #305f5f;}
.span-question-category-tableau {background: #41686f;}
.span-question-category-travel {background: #716c57;}
.span-question-category-uk {background: #766262;}
/* - - - - - - - - - - span question category specific - End */