/* - - - - - - - - - - dashboard start */
.candidate-upload-content {
  /* border: 1px solid black; */
  height: 300px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 50px;
  row-gap: 0;
}
.candidate-upload-split-section {
  border-radius: 25px;
}
.candidate-upload-split-left {
  /* border: 1px solid blue; */
  grid-area: 1 / 1 / 2 / 2;
}
.candidate-upload-split-right {
  /* border: 1px solid red; */
  grid-area: 1 / 2 / 2 / 3;
}
.candidate-upload-form-title {
  /* border: 1px solid black; */
  text-align: center;
  margin: 90px 0 30px 0;
}
.upload-email-form {
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
}
.candidate-upload-img-section {
  /* border: 1px solid black; */
  text-align: center;
}
.candidate-upload-img {
  /* border: 1px solid black; */
  height: 300px;
  width: 300px;
}
/* - - - - - - - - - - dashboard end */