{% extends "employees/aaa_base/base2_primary.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Triviafy</title>
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<div class="custom-bg-primary-darker">
  <!-- ------------------------------------- entire page start ------------------------------------- -->
  <div class="container-fluid custom-bg-primary-gradient-1 custom-pt-3">
    <!-- ----------------------------------- start ----------------------------------- -->
    {% if page_dict_to_html['alert_message_dict']['message'] != '' %}
    <div class="alert alert-{{ page_dict_to_html['alert_message_dict']['type'] }} mx-auto text-center container custom-width-4" role="alert">
      {{ page_dict_to_html['alert_message_dict']['message'] }}
    </div>
    {% endif %}
    <!-- ----------------------------------- end ----------------------------------- -->
    <!-- ------------------------------------- title start ------------------------------------- -->
    <div class="container mx-auto custom-pb-2">
      <div class="text-center">
        {% if page_dict_to_html['activity_type'] == 'trivia' %}
          <h2 class="custom-color-white">Trivia Settings</h2>
        {% endif %}
        <!-- ------------------------------------- expands start ------------------------------------- -->
        <div>
          <div class="text-center">
            <span class="custom-color-white custom-opacity-1-hover custom-hover-1 uiSelectAllBlockVisible" id="id-flow_show_details_1">Show activity details <i class="fa-solid fa-caret-down custom-ml-1"></i></span>
            <span class="custom-color-white custom-opacity-1-hover custom-hover-1 uiSelectAllBlockInvisible" id="id-flow_hide_details_1">Hide activity details <i class="fa-solid fa-caret-up custom-ml-1"></i></span>
          </div>
          <div class="custom-tal custom-mt-2 uiSelectAllBlockInvisible" id="id-activity_details_1">
            {% if page_dict_to_html['activity_type'] == 'trivia' %}
              <!-- ------------------------------------- description start ------------------------------------- -->
              <div class="custom-border-9 custom-br-1 custom-p-1 custom-mb-6 custom-bg-color-7">
                <h3 class="custom-ml-1 custom-mb-6">Activity details</h3>
                <p class="custom-line-2"><span class="custom-br-1 custom-p-9 custom-bg-color-3 custom-color-grey-2 custom-mr-1">Description</span> Automated trivia contests.</p>
                <p class="custom-line-2"><span class="custom-br-1 custom-p-9 custom-bg-color-3 custom-color-grey-2 custom-mr-1">Participation</span> Activities are asynchronous, allowing colleagues to conveniently submit their answers at their own pace and on their own schedule.</p>
                <p class="custom-line-2"><span class="custom-br-1 custom-p-9 custom-bg-color-3 custom-color-grey-2 custom-mr-1">Grading</span> All colleagues' answers will be graded and revealed upon activity close time.</p>
                <p class="custom-line-2"><span class="custom-br-1 custom-p-9 custom-bg-color-3 custom-color-grey-2 custom-mr-1">Notifications</span> Activity notifications will be sent via email. Please check your email's spam folder and mark <a href="mailto:support@triviafy.com">support@triviafy.com</a> as not spam.</p>
              </div>
              <!-- ------------------------------------- description end ------------------------------------- -->
            {% elif page_dict_to_html['activity_type'] == 'picture_quiz' %}
            {% endif %}
          </div>
        </div>
        <!-- ------------------------------------- expands end ------------------------------------- -->
      </div>
    </div>
    <!-- ------------------------------------- title end ------------------------------------- -->

    {% if page_dict_to_html['activity_type'] == 'trivia' %}
      <!-- ------------------------------------- section - primary and secondary selection start ------------------------------------- -->
      <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
        <!-- ------------------------------------- part 1 form start ------------------------------------- -->
        <div class="uiSearchItemVisible2" id="id-form_part_1">
          <div class="container custom-border-white-opacity-1 custom-br-1 custom-width-4">
            <!-- ------------------------------------- dynamic dropdown v1 start ------------------------------------- -->
            <div class="dropdown custom-p-2">
              {% for k, v in page_dict_to_html['dropdowns_dict'].items() %}
                <div class="custom-display-flex custom-fw-1 custom-mb-6">
                  <span class="custom-color-white custom-header-4">{{ v['title_long'] }} </span>
                  <button class="btn btn-{{ v['type'] }} dropdown-toggle custom-tal custom-ml-3" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="{{ v['id'] }}">
                    __________
                  </button>
                  <ul class="dropdown-menu">
                    {% for j in range(v['dropdown_arr']|length) %}
                      <li>
                        {% if v['dropdown_arr'][j] == page_dict_to_html['db_group_settings_dict'][v['db_col_name']] %}
                          <input type="radio" class="btn-check" id="{{ v['id'] }}_{{ j }}" name="{{ v['name'] }}" value="{{ v['dropdown_arr'][j] }}" checked required>
                        {% else %}
                          <input type="radio" class="btn-check" id="{{ v['id'] }}_{{ j }}" name="{{ v['name'] }}" value="{{ v['dropdown_arr'][j] }}" required>
                        {% endif %}
                        <label class="dropdown-item" for="{{ v['id'] }}_{{ j }}">{{ v['dropdown_arr'][j] }}</label>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endfor %}
            </div>
            <!-- ------------------------------------- dynamic dropdown v1 end ------------------------------------- -->
          </div>
        </div>
        <!-- ------------------------------------- flow button start ------------------------------------- -->
        <div class="text-center custom-width-4 mx-auto custom-mt-3 uiSearchItemVisible2" id="id-flow_continue_1">
          <p class="btn btn-lg btn-success custom-width-6 custom-ptb-8 custom-br-1">Continue <i class="fa-solid fa-arrow-right"></i></p>
        </div>
        <!-- ------------------------------------- flow button end ------------------------------------- -->
        <!-- ------------------------------------- part 1 form end ------------------------------------- -->
        <!-- ------------------------------------- part 2 form start ------------------------------------- -->
        <div class="uiSearchItemInvisible" id="id-form_part_2">
          <div class="container custom-br-1">
            <!-- ------------------------------------- select all start ------------------------------------- -->
            <div class="custom-ptb-6">
              <div class="mx-auto">
                <div class="custom-p-2 custom-width-10 mx-auto custom-br-1 custom-bg-white">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" name="flexSwitchCheckDefault_02" id="flexSwitchCheckDefault_02" value="all_categories">
                    <label class="form-check-label custom-color-primary custom-tal" for="flexSwitchCheckDefault_02">Select all triviafy categories</label>
                  </div>
                </div>
              </div>
            </div>
            <!-- ------------------------------------- select all end ------------------------------------- -->
            <!-- ------------------------------------- categories start ------------------------------------- -->
            <div id="uiSelectAllBlock" class="custom-width-6">
              <!-- ------------------------------------- search categories start ------------------------------------- -->
              <div class="mx-auto custom-width-14">
                <div class="custom-width-10 mx-auto">
                  <label for="uiSearch" class="form-label custom-color-white custom-opacity-2">Search for the categories you want</label>
                  <input type="text" class="form-control custom-search-bar-1" id="uiSearch" name="uiSearch" placeholder="Search for category">
                </div>
              </div>
              <!-- ------------------------------------- search categories end ------------------------------------- -->
              <!-- ------------------------------------- submit start ------------------------------------- -->
              <div class="text-center custom-width-4 mx-auto custom-mt-3">
                <button type="submit" class="btn btn-lg btn-success custom-width-10 custom-ptb-8 custom-br-1" id="submit-button-botttom">Submit <i class="fa-solid fa-check"></i></button>
              </div>
              <!-- ------------------------------------- submit end ------------------------------------- -->
              <!-- ------------------------------------- select categories start ------------------------------------- -->
              <div class="custom-p-4 text-center">
                {% for i in page_dict_to_html['all_categories_arr'] %}
                  {% if i in page_dict_to_html['db_group_settings_dict']['categories'] %}
                    <input type="checkbox" class="btn-check" id="uiSelectedCategories_{{ i }}" name="uiSelectedCategories" value="{{ i }}" onclick="highlightCheckboxV1(this)" checked>
                  {% else %}
                    <input type="checkbox" class="btn-check" id="uiSelectedCategories_{{ i }}" name="uiSelectedCategories" value="{{ i }}" onclick="highlightCheckboxV1(this)">
                  {% endif %}
                  <label class="custom-border-white-opacity-1 custom-br-1 custom-hover-1 custom-color-white custom-m-1 custom-width-5 custom-ptb-1 uiSearchItem" for="uiSelectedCategories_{{ i }}">{{ i }}</label>
                {% endfor %}
              </div>
              <!-- ------------------------------------- select categories end ------------------------------------- -->
              <!-- ------------------------------------- request categories start ------------------------------------- -->
              <div class="container custom-mt-1 text-center custom-mb-1">
                <a href="/employees/request" class="btn btn-outline-secondary btn-lg custom-width-10"><i class="fa-regular fa-closed-captioning"></i> Request custom categories</a>
              </div>
              <!-- ------------------------------------- request categories end ------------------------------------- -->
            </div>
            <!-- ------------------------------------- categories end ------------------------------------- -->
          </div>
        </div>
        <!-- ------------------------------------- submit start ------------------------------------- -->
        <div class="text-center custom-width-10 mx-auto uiSearchItemInvisible" id="id-flow_submit_1">
          <button type="submit" class="btn btn-lg btn-success custom-width-6 custom-ptb-8 custom-br-1" id="submit-button-botttom">Submit <i class="fa-solid fa-check"></i></button>
        </div>
        <!-- ------------------------------------- submit end ------------------------------------- -->
        <!-- ------------------------------------- part 2 form end ------------------------------------- -->
      </form>
      <!-- ------------------------------------- section - primary and secondary selection end ------------------------------------- -->
    {% endif %}
  </div>
  <!-- ------------------------------------- entire page end ------------------------------------- -->
</div>
<!-- ----------------------------------- shape divider start ----------------------------------- -->
<div class="custom-shape-divider-bottom-1672276706 custom-bg-primary-darker">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
  </svg>
</div>
<!-- ----------------------------------- shape divider end ----------------------------------- -->

<!-- ------------------------------------- signature start ------------------------------------- -->
<div class="text-center custom-pb-2">
  <img src="/static/images/candidates/logo/logo_wide_v3_black2.png" alt="powered by triviafy logo" class="custom-img-size-10">
</div>
<!-- ------------------------------------- signature end ------------------------------------- -->
{% endblock %}