{% extends "employees/aaa_base/base2_primary.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Triviafy</title>
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<div class="custom-bg-primary-darker">
  <!-- ----------------------------------- start ----------------------------------- -->
  {% if page_dict_to_html['alert_message_dict']['message'] != '' %}
  <div class="alert alert-{{ page_dict_to_html['alert_message_dict']['type'] }} mx-auto text-center container-fluid custom-width-6 custom-m-0" role="alert">
    {{ page_dict_to_html['alert_message_dict']['message'] }}
  </div>
  {% endif %}
  <!-- ----------------------------------- end ----------------------------------- -->
  <!-- ------------------------------------- entire page start ------------------------------------- -->
  <div class="container-fluid custom-bg-primary-gradient-1 custom-pt-3">
    <!-- ------------------------------------- title start ------------------------------------- -->
    <div class="container mx-auto custom-pb-2">
      <div class="text-center">
        {% if page_dict_to_html['activity_type'] == 'trivia' %}
          <h2 class="custom-color-white">Trivia Settings</h2>
        {% endif %}
      </div>
    </div>
    <!-- ------------------------------------- title end ------------------------------------- -->

    {% if page_dict_to_html['activity_type'] == 'trivia' %}
      <!-- ------------------------------------- section - primary and secondary selection start ------------------------------------- -->
      <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
        <div class="text-center">
          <button type="submit" class="btn btn-lg btn-success custom-mb-6 custom-width-8 custom-ptb-8 custom-br-1 uiSearchItemInvisible" id="submit-button-top">Continue <i class="fa-solid fa-arrow-right"></i></button>
        </div>
        <div class="custom-width-8 mx-auto">
          {% for i in page_dict_to_html['activities_list_index'] %}
          <div class="custom-display-flex custom-fw-1">
            <input type="radio" class="btn-check" id="uiFeedbackSelection{{ i }}" name="ui_selection_radio" value="{{ page_dict_to_html['activities_list'][i] }}" autocomplete="off" required>
            <label class="custom-mb-6 custom-border-white-opacity-1 custom-br-1 custom-width-6 custom-ptb-8 custom-hover-1 custom-color-white" for="uiFeedbackSelection{{ i }}"><span class="custom-ml-2">{{ page_dict_to_html['activities_list'][i] }}</span></label>
          </div>
          {% endfor %}
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-lg btn-success custom-mb-6 custom-width-8 custom-ptb-8 custom-br-1 uiSearchItemInvisible" id="submit-button-botttom">Continue <i class="fa-solid fa-arrow-right"></i></button>
        </div>
      </form>
      <!-- ------------------------------------- section - primary and secondary selection end ------------------------------------- -->
    {% endif %}
  </div>
  <!-- ------------------------------------- entire page end ------------------------------------- -->
</div>
<!-- ----------------------------------- shape divider start ----------------------------------- -->
<div class="custom-shape-divider-bottom-1672276706 custom-bg-primary-darker">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
  </svg>
</div>
<!-- ----------------------------------- shape divider end ----------------------------------- -->

<!-- ------------------------------------- signature start ------------------------------------- -->
<div class="text-center custom-pb-2">
  <img src="/static/images/candidates/logo/logo_wide_v3_black2.png" alt="powered by triviafy logo" class="custom-img-size-10">
</div>
<!-- ------------------------------------- signature end ------------------------------------- -->
{% endblock %}