{% extends "products/aaa_base/base2_exterior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Products - Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<div class="container custom-display-flex custom-pt-6 custom-jc-3 custom-pb-6">
  <div>
    <h2 class="custom-header-2-mobile">Products</h2>
  </div>
</div>
<div class="container border shadow custom-br-1 custom-bg-white custom-ptb-6">
  <div class="custom-display-flex custom-fw-2">
    <div class="custom-width-16 text-center">
      <a href="/candidates" class="btn btn-outline-secondary btn-lg custom-width-13 custom-ptb-7">For external hiring: Pre-employment testing</a>
    </div>
    <div class="custom-width-16 text-center">
      <a href="/employees" class="btn btn-outline-secondary btn-lg custom-width-13 custom-ptb-7">For internal team building: Team trivia</a>
    </div>
  </div>
</div>
<!-- ------------------------------------- signature start ------------------------------------- -->
<div class="text-center custom-mt-5">
  <img src="/static/images/candidates/logo/logo_wide_v3.png" alt="powered by triviafy logo" class="custom-img-size-10 custom-img-opacity-1">
</div>
<!-- ------------------------------------- signature end ------------------------------------- -->
{% endblock %}