{% extends "products/aaa_base/base2_exterior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Products - Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<div class="custom-bg-primary custom-bg-primary-gradient-1">
  <div class="container custom-display-flex custom-jc-3">
    <div>
      <h2 class="custom-header-2-mobile custom-header-white">Products</h2>
    </div>
  </div>
  <!-- ------------------------------------- split start ------------------------------------- -->

  <div class="container custom-br-1 custom-pt-1">
    <div class="custom-display-flex custom-fw-2-mobile">
      <!-- ------------------------------------- product start ------------------------------------- -->
      <div class="custom-width-16-mobile custom-img-resize-1">
        <a href="/employees" class="custom-a-5">
          <h2 class="custom-width-12 mx-auto custom-position-1 custom-header-2-mobile-2"><i class="fa-solid fa-people-group"></i> For <span class="fst-italic custom-underline-1">internal</span> team building</h2>
          <h2 class="custom-width-12 mx-auto custom-position-1 custom-header-2-mobile-2">Team trivia</h2>
          <div class="text-center">
            <img src="/static/images/products/external.png" alt="Photo by fauxels: https://www.pexels.com/photo/people-taking-group-picture-3184398/" class="custom-mt-negative-4-mobile custom-width-13 custom-br-3">
          </div>
        </a>
      </div>
      <!-- ------------------------------------- product end ------------------------------------- -->
      <div class="custom-filler-1-mobile"></div>
      <!-- ------------------------------------- product start ------------------------------------- -->
      <div class="custom-width-16-mobile custom-img-resize-1 custom-pb-3">
        <a href="/candidates" class="custom-a-2">
          <h2 class="custom-width-12 mx-auto custom-position-1 custom-header-2-mobile-2"><i class="fa-solid fa-check-to-slot"></i> For <span class="fst-italic custom-underline-1">external</span> hiring</h2>
          <h2 class="custom-width-12 mx-auto custom-position-1 custom-header-2-mobile-2">Pre employment testing</h2>
          <div class="text-center">
            <img src="/static/images/products/internal.png" alt="Photo by Edmond Dantès: https://www.pexels.com/photo/woman-in-a-job-interview-4344878/" class="custom-mt-negative-4-mobile custom-width-13 custom-br-3">
          </div>
        </a>
      </div>
      <!-- ------------------------------------- product end ------------------------------------- -->
    </div>
  </div>
</div>
<!-- ------------------------------------- split end ------------------------------------- -->
<!-- ----------------------------------- shape divider start ----------------------------------- -->
<div class="custom-shape-divider-bottom-1672276706 custom-bg-primary-darker">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
  </svg>
</div>
<!-- ----------------------------------- shape divider end ----------------------------------- -->


<!-- ------------------------------------- signature start ------------------------------------- -->
<div class="text-center custom-mt-5 custom-pb-2">
  <img src="/static/images/candidates/logo/logo_wide_v3.png" alt="powered by triviafy logo" class="custom-img-size-10 custom-img-opacity-1">
</div>
<!-- ------------------------------------- signature end ------------------------------------- -->
{% endblock %}