{% extends "products/aaa_base/base2_exterior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Products - Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<div class="custom-bg-black">
  <div class="container custom-display-flex custom-jc-3">
    <div>
      <h2 class="custom-header-2-mobile custom-header-white">Products</h2>
    </div>
  </div>
  <!-- ------------------------------------- split start ------------------------------------- -->

  <div class="container custom-br-1 custom-pt-1">
    <div class="custom-display-flex custom-fw-2-mobile">
      <!-- ------------------------------------- product start ------------------------------------- -->
      <div class="custom-width-16-mobile custom-img-resize-1 custom-pb-3">
        <a href="/polling" class="custom-a-2-none">
          <h2 class="custom-width-12 mx-auto custom-position-1 custom-header-2-mobile-2 custom-stroke-1"><i class="fa-solid fa-microphone"></i> Audience polling platform</h2>
          <h2 class="custom-width-12 mx-auto custom-position-1 custom-header-4 custom-stroke-1">Premium podcast polling platform</h2>
          <div class="text-center">
            <img src="/static/images/products/audience.png" alt="Unsplash image" class="custom-mt-negative-4-mobile custom-width-13 custom-br-3">
          </div>
        </a>
      </div>
      <!-- ------------------------------------- product end ------------------------------------- -->
      <div class="custom-filler-1-mobile"></div>
      <!-- ------------------------------------- product start ------------------------------------- -->
      <div class="custom-width-16-mobile custom-img-resize-1">
        <a href="/employees" class="custom-a-white">
          <h2 class="custom-width-12 mx-auto custom-position-1 custom-header-2-mobile-2"><i class="fa-solid fa-people-group"></i> Workplace team building software</h2>
          <h2 class="custom-width-12 mx-auto custom-position-1 custom-header-4">Team trivia, icebreakers, surveys, & personality tests</h2>
          <div class="text-center">
            <img src="/static/images/products/external.png" alt="Photo by fauxels: https://www.pexels.com/photo/people-taking-group-picture-3184398/" class="custom-mt-negative-4-mobile custom-width-13 custom-br-3">
          </div>
        </a>
      </div>
      <!-- ------------------------------------- product end ------------------------------------- -->
    </div>
  </div>
</div>
<!-- ------------------------------------- split end ------------------------------------- -->
<!-- ----------------------------------- shape divider start ----------------------------------- -->
<div class="custom-shape-divider-bottom-1672276706 custom-bg-black">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
  </svg>
</div>
<!-- ----------------------------------- shape divider end ----------------------------------- -->


<!-- ------------------------------------- footer start ------------------------------------- -->
<div class="custom-width-180-px custom-mb-100 mx-auto">
  <div class="custom-display-flex">
    <a href="/"><img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/official_logo_v3.png" alt="triviafy logo" class="custom-img-size-50 custom-mr-1"></a>
    <div>
      <p class="fw-bold custom-header-35 custom-m-0"><a href="/polling" class="custom-a-black-none">Triviafy</a></p>
    </div>
  </div>
</div>
<!-- ------------------------------------- footer end ------------------------------------- -->
{% endblock %}