{% extends "polling/aaa_base/base2_exterior.html" %}

{% block title %}
    <title>Audience Relationship Management - Triviafy</title>
    <meta name="description" content="Audience relationship management. Premium podcast polling platform. Information about your listeners.">
    <meta name="og:description" content="Audience relationship management. Premium podcast polling platform. Information about your listeners.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
<div class="container-fluid custom-color-7 custom-bg-primary-gradient-1">
  <div class="container custom-height-1-mobile">
    <div class="float-start custom-pt-100">
      <div class="custom-width-1">
        <h1 class="custom-m-0 custom-width-1 custom-header-7 custom-weight-1 custom-color-white">The Premium Podcast Polling Platform <i class="fa-solid fa-chart-column"></i></h1>
        <h2 class="custom-header-4 custom-mt-1 custom-color-white custom-opacity-75">Audience relationship management. Share <i>your feedback</i> directly with <i>your favorite</i> podcast hosts.</h2>
      </div>
      <div class="custom-mt-50">
        <a href="/polling/signup" class="btn btn-success btn-lg">Get Started <i class="fa-solid fa-angle-right"></i></a>
      </div>
    </div>
    <div class="custom-mt-negative-10 float-end custom-pt-100 custom-width-100-mobile">
      <blockquote class="twitter-tweet"><p lang="en" dir="ltr">During the episode &quot;#386 - Marc Andreessen: Future of the Internet, Technology, and Al&quot; what topic did you find most interesting? <a href="https://twitter.com/lexfridman?ref_src=twsrc%5Etfw">@lexfridman</a> <a href="https://twitter.com/pmarca?ref_src=twsrc%5Etfw">@pmarca</a></p>&mdash; Triviafy (@TriviafyPolls) <a href="https://twitter.com/TriviafyPolls/status/1673873906359230464?ref_src=twsrc%5Etfw">June 28, 2023</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <a href="/polling/signup" class="btn btn-outline-warning custom-width-100 custom-mt-10">Continue feedback <i class="fa-solid fa-angle-right"></i></a>
    </div>
  </div>
</div>
<!-- ----------------------------------- end ----------------------------------- -->
<!-- ----------------------------------- shape divider start ----------------------------------- -->
<div class="custom-shape-divider-bottom-1686320767 custom-bg-primary-darker">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
  </svg>
</div>
<!-- ----------------------------------- shape divider end ----------------------------------- -->
<!-- ------------------------------------- verified status start ------------------------------------- -->
<div class="container-fluid">
  <div class="custom-width-700 mx-auto border shadow custom-br-25 custom-p-25 custom-mb-100 custom-mt-25">
    <p class="custom-m-0 custom-header-25 custom-pb-25">Verified podcast's get access to detailed community feedback trends and in-depth audience demographics</p>
    <div class="custom-display-flex">
      <div>
        <img src="{{ page_dict_to_html['show_dict']['platform_image_small'] }}" alt="show logo" class="custom-mr-1 custom-br-5 border shadow-lg custom-width-66-px">
      </div>
      <div class="custom-f-direction-row custom-ml-15">
        <p class="custom-m-0 custom-header-20">{{ page_dict_to_html['show_dict']['name'] }}</p>
        <p class="custom-m-0 custom-header-15"><i class="fa-solid fa-circle-check custom-color-info"></i> 100% free verification process. <a href="/polling/signup" class="custom-a-2">Get started <i class="fa-solid fa-angle-right"></i></a></p>
        <p class="custom-m-0 custom-header-15 custom-mt-5"><a href="/polling/signup" class="custom-a-2">#1 fan's community for sharing and voting on episode polls <i class="fa-solid fa-angle-right"></i></a></p>
      </div>
    </div>
    <a href="/polling/signup" class="custom-width-100 btn btn-warning custom-mt-25 shadow-sm">Get started <i class="fa-solid fa-angle-right"></i></a>
  </div>
</div>
<!-- ------------------------------------- verified status end ------------------------------------- -->
{% endblock %}