{% extends "polling/aaa_base/base2_exterior_black.html" %}

{% block title %}
    <title>Audience Relationship Management - Triviafy</title>
    <meta name="description" content="Audience relationship management. Premium podcast polling platform. Information about your listeners.">
    <meta name="og:description" content="Audience relationship management. Premium podcast polling platform. Information about your listeners.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
<div class="container-fluid custom-height-6-mobile custom-bg-black">
  <div class="container">
    <div class="float-start custom-pt-100">
      <div class="custom-width-1">
        <h1 class="custom-m-0 custom-width-1 custom-header-50 custom-weight-1 custom-color-white">The Premium Podcast Polling Platform <i class="fa-solid fa-chart-column"></i></h1>
        <h2 class="custom-header-4 custom-mt-1 custom-opacity-75 custom-color-white">Audience relationship management. Share <i>your feedback</i> directly with <i>your favorite</i> podcast hosts.</h2>
      </div>
      <div class="custom-mt-50">
        <a href="/polling/show/add" class="btn btn-success btn-lg">Search podcast <i class="fa-solid fa-angle-right"></i></a>
      </div>
    </div>
    <div class="float-end custom-pt-100 custom-width-100-mobile mx-auto text-center">
      <a href="/polling/show/add"><img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/model1.png" alt="landing" class="custom-br-25 custom-width-600 custom-hover-1"></a>
    </div>
  </div>
</div>
<!-- ----------------------------------- end ----------------------------------- -->
<!-- ------------------------------------- infinite horizontal scroll start ------------------------------------- -->
<div id="container-horizontal-scroll-1">
  <div class="photobanner-horizontal-scroll-1">
    {% for i_dict in page_dict_to_html['shows_arr_of_dicts'] %}
      <a href="/polling/show/{{ i_dict['id'] }}"><img src="{{ i_dict['platform_image_medium'] }}" alt="{{ i_dict['name'] }} podcast logo" class="custom-br-15 custom-m-25 custom-img-size-100 border shadow custom-opacity-50 custom-hover-pointer-opacity-1"></a>
    {% endfor %}
  </div>
</div>
<!-- ------------------------------------- infinite horizontal scroll end ------------------------------------- -->
<!-- ------------------------------------- verified status start ------------------------------------- -->
<div class="container-fluid">
  <div class="custom-width-700 mx-auto border shadow custom-br-25 custom-p-25 custom-mb-200">
    <p class="custom-m-0 custom-header-25 custom-pb-25">Verified podcast's get access to detailed community feedback trends and in-depth audience demographics</p>
    <div class="custom-display-flex">
      <div>
        <img src="{{ page_dict_to_html['show_dict']['platform_image_small'] }}" alt="show logo" class="custom-mr-1 custom-br-5 border shadow-lg custom-width-66-px">
      </div>
      <div class="custom-f-direction-row custom-ml-15">
        <p class="custom-m-0 custom-header-20">{{ page_dict_to_html['show_dict']['name'] }} <span class="custom-header-10 custom-opacity-75 custom-ml-5">[not yet verified]</span></p>
        <p class="custom-m-0 custom-header-15"><i class="fa-solid fa-circle-check custom-color-info"></i> 100% free verification process. <a href="/polling/show/add" class="custom-a-2">Get started <i class="fa-solid fa-angle-right"></i></a></p>
        <p class="custom-m-0 custom-header-15 custom-mt-5"><a href="/polling/show/add" class="custom-a-2">#1 fan's community for sharing and voting on episode polls <i class="fa-solid fa-angle-right"></i></a></p>
      </div>
    </div>
    <a href="/polling/show/add" class="custom-width-100 btn btn-info btn-lg custom-mt-25 shadow-sm">Get started <i class="fa-solid fa-angle-right"></i></a>
  </div>
</div>
<!-- ------------------------------------- verified status end ------------------------------------- -->
<!-- ------------------------------------- start ------------------------------------- -->
<div class="container custom-mb-75 custom-height-8-mobile">
  <div class="float-start custom-width-100-mobile mx-auto text-center">
    <a href="/polling/show/add"><img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/model2.png" alt="landing" class="custom-br-25 custom-width-600 shadow-lg custom-hover-1"></a>
  </div>
  <div class="float-end custom-mt-100-mobile">
    <div class="custom-width-1">
      <h1 class="custom-m-0 custom-width-1 custom-header-50 custom-weight-1">Fan feedback and demographics <i class="fa-solid fa-microphone-lines"></i></h1>
      <h2 class="custom-header-4 custom-mt-1 custom-opacity-75">Passionate fans sharing their invaluable feedback with their favorite shows.</h2>
    </div>
    <div class="custom-mt-50">
      <a href="/polling/show/add" class="btn btn-success btn-lg">Get Started <i class="fa-solid fa-angle-right"></i></a>
    </div>
  </div>
</div>
<!-- ------------------------------------- end ------------------------------------- -->
<!-- ------------------------------------- start ------------------------------------- -->
<div class="container custom-mb-75 custom-height-8-mobile">
  <div class="float-start">
    <div class="custom-width-1">
      <h1 class="custom-m-0 custom-width-1 custom-header-50 custom-weight-1">Audience sentiment consolidated across platforms</h1>
      <h2 class="custom-header-4 custom-mt-1 custom-opacity-75">Integrations and API's collecting audience sentiment across social media platforms.</h2>
    </div>
    <div class="custom-mt-50">
      <a href="/polling/show/add" class="btn btn-danger btn-lg">Learn more <i class="fa-solid fa-angle-right"></i></a>
    </div>
  </div>
  <div class="float-end custom-width-100-mobile mx-auto text-center custom-mt-100-mobile">
    <a href="/polling/show/add"><img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/model3.png" alt="landing" class="custom-br-25 custom-width-600 shadow-lg custom-hover-1"></a>
  </div>
</div>
<!-- ------------------------------------- end ------------------------------------- -->
{% endblock %}