{% extends "employees/aaa_base/base2_exterior.html" %}

{% block title %}
    <title>Pricing - Triviafy</title>
    <meta name="description" content="Automated employee engagement team building activities for your team. Team trivia, icebreakers, surveys, and personality tests.">
    <meta name="og:description" content="Automated employee engagement team building activities for your team. Team trivia, icebreakers, surveys, and personality tests.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
<div class="container text-center custom-pt-6 custom-pb-6">
  <h1 class="custom-header-7 custom-color-primary fw-bold">Pricing</h1>
  <h2><a href="/employees/signup" class="custom-header-5 fw-bold custom-a-2">Start your 14 day free trial now <i class="fa-solid fa-arrow-right"></i></a></h2>
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container custom-pb-2">
  <div class="custom-width-10 custom-border-8 shadow-sm mx-auto custom-p-1 custom-br-1">
    <div class="custom-display-flex custom-jc-1">
      <!-- ----------------------------------- start ----------------------------------- -->
      <div class="custom-br-1 custom-img-opacity-3" id="flexRadioSelectMonthly">
        <label class="list-group-item d-flex custom-p-7 custom-width-19 custom-jc-3 custom-hover-1">
          <input class="form-check-input custom-input-1" type="radio" name="flexRadioCadence" id="flexRadioMonthly" value="monthly">
          <span class="custom-ml-3-negative">Monthly</span>
        </label>
      </div>
      <!-- ----------------------------------- end ----------------------------------- -->
      <!-- ----------------------------------- start ----------------------------------- -->
      <div class="custom-br-1 custom-bg-primary fw-bold custom-color-white" id="flexRadioSelectYearly">
        <label class="list-group-item d-flex custom-p-7 custom-width-19 custom-jc-3 custom-hover-1">
          <input class="form-check-input custom-input-1" type="radio" name="flexRadioCadence" id="flexRadioYearly" value="yearly" checked>
          <span class="custom-ml-3-negative">Yearly</span>
        </label>
      </div>
      <!-- ----------------------------------- end ----------------------------------- -->
    </div>
  </div>
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container custom-display-flex custom-fw-1 custom-jc-1">
  <!-- ----------------------------------- tier start ----------------------------------- -->
  <div class="custom-height-9 custom-p-2 custom-width-21 custom-bg-color-1 custom-br-1 shadow-sm custom-color-4">
    <div class="text-center">
      <h1 class="custom-color-4 custom-header-2">Free</h1>
      <h2 class="custom-color-4 custom-header-7">$0<span class="custom-header-5"> /month</span></h2>
    </div>
    <div>
      <ul class="list-unstyled">
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Upto 15 users/team</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Trivia</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Colleague birthday trivia</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Customization</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Grading</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Leaderboard</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Activity scheduler</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Engagement analytics</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Activity archives</span></li>
        <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Create custom questions</span></li>
        <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Icebreakers</span></li>
        <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Surveys</span></li>
        <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Personality type</span></li>
        <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Picture quiz</span></li>
        <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Most likely to</span></li>
        <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">This or that</span></li>
        <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Watercooler starters</span></li>
        <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Word games</span></li>
        <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">2 player games</span></li>
        <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Gift card rewards</span></li>
        <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Multiple admins</span></li>
        <li> </li>
      </ul>
    </div>
    <div class="text-center custom-pt-4">
      <a href="/employees/signup" class="btn btn-success btn-lg">Start free trial</a>
    </div>
  </div>
  <!-- ----------------------------------- tier end ----------------------------------- -->
  <!-- ----------------------------------- tier start ----------------------------------- -->
  <div class="custom-height-9 custom-p-2 custom-width-21 custom-bg-color-1 custom-br-1 shadow-sm custom-color-4">
    <div class="text-center">
      <h1 class="custom-color-4 custom-header-2">Growth</h1>
      <!-- ----------------------------------- toggle start ----------------------------------- -->
      <h2 class="custom-color-4 custom-header-7 uiSearchItemInvisible" id="flexRadioMonthlyPrice1">$19<span class="custom-header-5"> /month</span></h2>
      <h2 class="custom-color-4 custom-header-7 uiSearchItemVisible" id="flexRadioYearlyPrice1">$9<span class="custom-header-5"> /month</span></h2>
      <!-- ----------------------------------- toggle end ----------------------------------- -->
    </div>
    <div>
      <ul class="list-unstyled">
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Upto 50 users/team</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Trivia</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Colleague birthday trivia</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Customization</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Grading</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Leaderboard</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Activity scheduler</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Engagement analytics</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Activity archives</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Create custom questions</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Icebreakers</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Surveys</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Personality type</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Picture quiz</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Most likely to</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">This or that</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Watercooler starters</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Word games</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">2 player games</span></li>
        <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Gift card rewards</span></li>
        <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Multiple admins</span></li>
        <li> </li>
      </ul>
    </div>
    <div class="text-center custom-pt-4">
      <a href="/employees/signup" class="btn btn-primary btn-lg">Get started</a>
    </div>
  </div>
  <!-- ----------------------------------- tier end ----------------------------------- -->
  <!-- ----------------------------------- tier start ----------------------------------- -->
  <div class="custom-height-9 custom-p-2 custom-width-21 custom-bg-color-1 custom-br-1 shadow-sm custom-color-4">
    <div class="text-center">
      <h1 class="custom-color-4 custom-header-2">Growth</h1>
      <!-- ----------------------------------- toggle start ----------------------------------- -->
      <h2 class="custom-color-4 custom-header-7 uiSearchItemInvisible" id="flexRadioMonthlyPrice2">$39<span class="custom-header-5"> /month</span></h2>
      <h2 class="custom-color-4 custom-header-7 uiSearchItemVisible" id="flexRadioYearlyPrice2">$19<span class="custom-header-5"> /month</span></h2>
      <!-- ----------------------------------- toggle end ----------------------------------- -->
    </div>
    <div>
      <ul class="list-unstyled">
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Unlimited users/team</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Trivia</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Colleague birthday trivia</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Customization</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Grading</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Leaderboard</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Activity scheduler</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Engagement analytics</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Activity archives</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Create custom questions</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Icebreakers</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Surveys</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Personality type</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Picture quiz</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Most likely to</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">This or that</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Watercooler starters</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Word games</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">2 player games</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Gift card rewards</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Multiple admins</span></li>
        <li> </li>
      </ul>
    </div>
    <div class="text-center custom-pt-4">
      <a href="/employees/signup" class="btn btn-primary btn-lg">Get started</a>
    </div>
  </div>
  <!-- ----------------------------------- tier end ----------------------------------- -->
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container text-center">
  <p class="custom-pt-1 custom-img-opacity-2 custom-header-5">Special pricing for Educational Institutions and Non-Profits. Please contact <a href="mailto:support@triviafy.com"><span class="custom-color-primary">support@triviafy.com</span></a></p>
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<!-- ----------------------------------- shape divider start ----------------------------------- -->
<div class="custom-shape-divider-top-1672276628 custom-bg-primary">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
  </svg>
</div>
<!-- ----------------------------------- shape divider end ----------------------------------- -->
<div class="container-fluid text-center custom-pb-6 custom-bg-primary">
  <h1 class="custom-header-7 fw-bold custom-color-white">Pricing FAQ's</h1>
  <h2><a href="/employees/signup" class="custom-header-5 fw-bold custom-a-5 custom-img-opacity-2">Start your 14 day free trial now <i class="fa-solid fa-arrow-right"></i></a></h2>
</div>
<div class="container-fluid custom-bg-primary-gradient-1">
  <!-- ----------------------------------- i_faq start ----------------------------------- -->
  <div class="container custom-width-20 mx-auto">
    <div class="accordion" id="accordionExampleSix">
      <div class="accordion-item custom-bg-see-through custom-color-white custom-border-white-opacity-1">
        <h2 class="accordion-header" id="headingSix">
          <button class="accordion-button collapsed custom-bg-see-through custom-color-white custom-border-see-through custom-ptb-8" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Do I need a credit card to start my 14 day free trial?</button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExampleSix">
          <div class="accordion-body custom-color-white">
            <div class="custom-ptb-4">
              <p class="custom-header-5">No credit card necessary. <a href="/employees/signup" class="custom-a-5">Create account here.</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ----------------------------------- i_faq end ----------------------------------- -->
  <!-- ----------------------------------- i_faq start ----------------------------------- -->
  <div class="container custom-width-20 mx-auto custom-mt-1">
    <div class="accordion" id="accordionExampleOne">
      <div class="accordion-item custom-bg-see-through custom-color-white custom-border-white-opacity-1">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed custom-bg-see-through custom-color-white custom-border-see-through custom-ptb-8" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">How do I subscribe to Triviafy?</button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExampleOne">
          <div class="accordion-body custom-color-white">
            <div class="custom-ptb-4">
              <p class="custom-header-5">Head over to your account settings and select your preferred plan and pay via Stripe. See our help guide for step-by-step instructions. For any payment related inquiries, please reach out to <a href="mailto:support@triviafy.com" class="custom-a-5">support@triviafy.com</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ----------------------------------- i_faq end ----------------------------------- -->
  <!-- ----------------------------------- i_faq start ----------------------------------- -->
  <div class="container custom-width-20 mx-auto custom-mt-1">
    <div class="accordion" id="accordionExampleTwo">
      <div class="accordion-item custom-bg-see-through custom-color-white custom-border-white-opacity-1">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed custom-bg-see-through custom-color-white custom-border-see-through custom-ptb-8" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">What are the available payment options?</button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExampleTwo">
          <div class="accordion-body custom-color-white">
            <div class="custom-ptb-4">
              <p class="custom-header-5">Stripe's payments platform accepts credit cards, debit cards, and popular payment methods.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ----------------------------------- i_faq end ----------------------------------- -->
  <!-- ----------------------------------- i_faq start ----------------------------------- -->
  <div class="container custom-width-20 mx-auto custom-mt-1">
    <div class="accordion" id="accordionExampleThree">
      <div class="accordion-item custom-bg-see-through custom-color-white custom-border-white-opacity-1">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed custom-bg-see-through custom-color-white custom-border-see-through custom-ptb-8" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Are there discount prices for nonprofit or educational institutions?</button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExampleThree">
          <div class="accordion-body custom-color-white">
            <div class="custom-ptb-4">
              <p class="custom-header-5">Yes, simply reach out to <a href="mailto:support@triviafy.com" class="custom-a-5">support@triviafy.com</a> for more information regarding your discount code.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ----------------------------------- i_faq end ----------------------------------- -->
  <!-- ----------------------------------- i_faq start ----------------------------------- -->
  <div class="container custom-width-20 mx-auto custom-mt-1">
    <div class="accordion" id="accordionExampleFour">
      <div class="accordion-item custom-bg-see-through custom-color-white custom-border-white-opacity-1">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed custom-bg-see-through custom-color-white custom-border-see-through custom-ptb-8" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Does Triviafy offer enterprise pricing?</button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExampleFour">
          <div class="accordion-body custom-color-white">
            <div class="custom-ptb-4">
              <p class="custom-header-5">Yes, simply reach out to <a href="mailto:support@triviafy.com" class="custom-a-5">support@triviafy.com</a> for more information regarding enterprise pricing.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ----------------------------------- i_faq end ----------------------------------- -->
  <!-- ----------------------------------- i_faq start ----------------------------------- -->
  <div class="container custom-width-20 mx-auto custom-mt-1">
    <div class="accordion" id="accordionExampleFive">
      <div class="accordion-item custom-bg-see-through custom-color-white custom-border-white-opacity-1">
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button collapsed custom-bg-see-through custom-color-white custom-border-see-through custom-ptb-8" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">What happens to my account + data after my 14 day free trial period?</button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExampleFive">
          <div class="accordion-body custom-color-white">
            <div class="custom-ptb-4">
              <p class="custom-header-5">You will not be charged because you can sign up for Triviafy without a credit card. You can delete all data associated with your team in the account settings at any point. If you wish to continue the team building activities after your 14 day free trial period then your team must start a subscription.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ----------------------------------- i_faq end ----------------------------------- -->
  <!-- ----------------------------------- i_faq start ----------------------------------- -->
  <div class="container custom-width-20 mx-auto custom-mt-1">
    <div class="accordion" id="accordionExampleSeven">
      <div class="accordion-item custom-bg-see-through custom-color-white custom-border-white-opacity-1">
        <h2 class="accordion-header" id="headingSeven">
          <button class="accordion-button collapsed custom-bg-see-through custom-color-white custom-border-see-through custom-ptb-8" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">How do I cancel my subscription?</button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExampleSeven">
          <div class="accordion-body custom-color-white">
            <div class="custom-ptb-4">
              <p class="custom-header-5">Email <a href="mailto:support@triviafy.com" class="custom-a-5">support@triviafy.com</a> and we will cancel your subscription.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ----------------------------------- i_faq end ----------------------------------- -->
  <!-- ----------------------------------- i_faq start ----------------------------------- -->
  <div class="container custom-width-20 mx-auto custom-mt-1">
    <div class="accordion" id="accordionExampleEight">
      <div class="accordion-item custom-bg-see-through custom-color-white custom-border-white-opacity-1">
        <h2 class="accordion-header" id="headingEight">
          <button class="accordion-button collapsed custom-bg-see-through custom-color-white custom-border-see-through custom-ptb-8" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">Does Triviafy offer refunds?</button>
        </h2>
        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExampleEight">
          <div class="accordion-body custom-color-white">
            <div class="custom-ptb-4">
              <p class="custom-header-5">Email <a href="mailto:support@triviafy.com" class="custom-a-5">support@triviafy.com</a> with any inquiries related to refunds.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ----------------------------------- i_faq end ----------------------------------- -->
  <div class="container text-center custom-mt-5">
    <span class="custom-color-white custom-img-opacity-2">For any additional inquiries please reach out to <a href="mailto:support@triviafy.com" class="custom-a-5">support@triviafy.com</a></span>
  </div>
</div>
<!-- ----------------------------------- shape divider start ----------------------------------- -->
<div class="custom-shape-divider-bottom-1672276706 custom-bg-primary-darker">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
  </svg>
</div>
<!-- ----------------------------------- shape divider end ----------------------------------- -->
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container-fluid">
  <div class="container text-center custom-pt-3">
    <h2 class="custom-mb-1 custom-header-1">Companies that love team building activities!</h2>
  </div>
  <div class="container custom-display-flex custom-fw-1 custom-jc-1 custom-mb-3">
    <img src="/static/images/candidates/logos_companies/dell.png" alt="pre employment testing dell" class="custom-img-size-6 custom-m-2">
    <img src="/static/images/candidates/logos_companies/dilveroo.png" alt="pre employment testing deliveroo" class="custom-img-size-6 custom-m-2">
    <img src="/static/images/candidates/logos_companies/nvda.png" alt="pre employment testing nvda" class="custom-img-size-6 custom-m-2">
    <img src="/static/images/candidates/logos_companies/oracle.png" alt="pre employment testing oracle" class="custom-img-size-6 custom-m-2">
    <img src="/static/images/candidates/logos_companies/twitch.png" alt="pre employment testing twitch" class="custom-img-size-6 custom-m-2">
  </div>
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container-fluid custom-pb-1">
  <div class="container custom-bg-colorful-1 custom-br-1 shadow custom-width-3">
    <div class="container text-center custom-pt-3">
      <h2 class="custom-header-1">Start team trivia <span class="fst-italic">today!</span></h2>
      <h2 class="custom-header-4">Send your first triviafy test in less than 60 seconds.</h2>
    </div>
    <form action="{{ url_for('employees_auth.employees_signup_function') }}" method="post" enctype="multipart/form-data" class="custom-display-flex custom-width-1 mx-auto custom-pt-4" onsubmit="return clickSubmitButtonOnce()">
      <label for="uiEmailVarious" class="form-label"></label>
      <input type="email" class="form-control custom-mr-2 custom-p-3" id="uiEmailVarious" name="uiEmailVarious" aria-describedby="emailHelp" placeholder="Work email" required>
      <button type="submit" class="btn btn-primary text-nowrap">Get Started</button>
    </form>
    <div class="text-center custom-mt-2 custom-pb-3">
      <p class="custom-size-4 custom-color-light-1">(No credit card required.)</p>
    </div>
  </div>
</div>
<!-- ----------------------------------- end ----------------------------------- -->
{% endblock %}