{% extends "employees/aaa_base/base2_exterior.html" %}

{% block title %}
    <title>Pricing - Triviafy</title>
    <meta name="description" content="Automated employee engagement team building activities for your team. Team trivia, icebreakers, surveys, and personality tests.">
    <meta name="og:description" content="Automated employee engagement team building activities for your team. Team trivia, icebreakers, surveys, and personality tests.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
<div class="container text-center custom-pt-6 custom-pb-6">
  <h1 class="custom-header-7 custom-color-primary fw-bold">Pricing</h1>
  <h2><a href="/employees/signup" class="custom-header-5 fw-bold custom-a-2">Start your 14 day free trial now <i class="fa-solid fa-arrow-right"></i></a></h2>
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container custom-pb-2">
  <div class="custom-width-10 mx-auto custom-p-1">
    <div class="custom-display-flex custom-jc-1">
      <!-- ----------------------------------- start ----------------------------------- -->
      <div class="custom-br-1 custom-img-opacity-3" id="flexRadioSelectMonthly">
        <label class="list-group-item d-flex custom-p-7 custom-width-19 custom-jc-3 custom-hover-1">
          <input class="form-check-input custom-input-1" type="radio" name="flexRadioCadence" id="flexRadioMonthly" value="monthly">
          <span class="custom-ml-3-negative">Monthly</span>
        </label>
      </div>
      <!-- ----------------------------------- end ----------------------------------- -->
      <!-- ----------------------------------- start ----------------------------------- -->
      <div class="custom-br-1 custom-bg-color-1 fw-bold custom-color-4" id="flexRadioSelectYearly">
        <label class="list-group-item d-flex custom-p-7 custom-width-19 custom-jc-3 custom-hover-1">
          <input class="form-check-input custom-input-1" type="radio" name="flexRadioCadence" id="flexRadioYearly" value="yearly" checked>
          <span class="custom-ml-3-negative">Yearly</span>
        </label>
      </div>
      <!-- ----------------------------------- end ----------------------------------- -->
    </div>
  </div>
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container custom-display-flex custom-fw-1 custom-jc-1">
  <!-- ----------------------------------- tier start ----------------------------------- -->
  <div class="custom-height-9 custom-p-2 custom-width-21 custom-bg-color-1 custom-br-1 shadow-sm custom-color-4 custom-mb-1">
    <div class="text-center">
      <h1 class="custom-color-4 custom-header-2">Free</h1>
      <h2 class="custom-color-4 custom-header-7">$0<span class="custom-header-5"> /month</span></h2>
    </div>
    <div>
      <ul class="list-unstyled">
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Upto 15 users/team</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Trivia</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Birthday games</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Customization</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Grading</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Leaderboard</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Activity scheduler</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Engagement analytics</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Activity archives</span></li>
        <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Create custom questions</span></li>
        <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Question of the day</span></li>
        <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Icebreakers</span></li>
        <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Surveys</span></li>
        <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Personality type</span></li>
        <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Picture quiz</span></li>
        <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Most likely to</span></li>
        <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">This or that</span></li>
        <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Watercooler starters</span></li>
        <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Word games</span></li>
        <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">2 player games</span></li>
        <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">OpenAI integration</span></li>
        <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Gift card rewards</span></li>
        <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Multiple admins</span></li>
        <li> </li>
      </ul>
    </div>
    <div class="text-center custom-pt-4">
      <a href="/employees/signup" class="btn btn-success btn-lg">Start free trial</a>
    </div>
  </div>
  <!-- ----------------------------------- tier end ----------------------------------- -->
  <!-- ----------------------------------- tier start ----------------------------------- -->
  <div class="custom-height-9 custom-p-2 custom-width-21 custom-bg-color-1 custom-br-1 shadow-sm custom-color-4 custom-mb-1">
    <div class="text-center">
      <h1 class="custom-color-4 custom-header-2">Growth</h1>
      <!-- ----------------------------------- toggle start ----------------------------------- -->
      <h2 class="custom-color-4 custom-header-7 uiSearchItemInvisible" id="flexRadioMonthlyPrice1">$19<span class="custom-header-5"> /month</span></h2>
      <h2 class="custom-color-4 custom-header-7 uiSearchItemVisible" id="flexRadioYearlyPrice1">$9<span class="custom-header-5"> /month</span></h2>
      <!-- ----------------------------------- toggle end ----------------------------------- -->
    </div>
    <div>
      <ul class="list-unstyled">
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Upto 50 users/team</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Trivia</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Birthday games</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Customization</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Grading</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Leaderboard</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Activity scheduler</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Engagement analytics</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Activity archives</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Create custom questions</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Question of the day</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Icebreakers</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Surveys</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Personality type</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Picture quiz</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Most likely to</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">This or that</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Watercooler starters</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Word games</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">2 player games</span></li>
        <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">OpenAI integration</span></li>
        <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Gift card rewards</span></li>
        <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Multiple admins</span></li>
        <li> </li>
      </ul>
    </div>
    <div class="text-center custom-pt-4">
      <a href="/employees/signup" class="btn btn-primary btn-lg">Get started</a>
    </div>
  </div>
  <!-- ----------------------------------- tier end ----------------------------------- -->
  <!-- ----------------------------------- tier start ----------------------------------- -->
  <div class="custom-height-9 custom-p-2 custom-width-21 custom-bg-color-1 custom-br-1 shadow-sm custom-color-4 custom-mb-1">
    <div class="text-center">
      <h1 class="custom-color-4 custom-header-2">Performance</h1>
      <!-- ----------------------------------- toggle start ----------------------------------- -->
      <h2 class="custom-color-4 custom-header-7 uiSearchItemInvisible" id="flexRadioMonthlyPrice2">$39<span class="custom-header-5"> /month</span></h2>
      <h2 class="custom-color-4 custom-header-7 uiSearchItemVisible" id="flexRadioYearlyPrice2">$19<span class="custom-header-5"> /month</span></h2>
      <!-- ----------------------------------- toggle end ----------------------------------- -->
    </div>
    <div>
      <ul class="list-unstyled">
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Unlimited users/team</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Trivia</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Birthday games</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Customization</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Grading</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Leaderboard</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Activity scheduler</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Engagement analytics</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Activity archives</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Create custom questions</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Question of the day</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Icebreakers</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Surveys</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Personality type</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Picture quiz</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Most likely to</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">This or that</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Watercooler starters</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Word games</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">2 player games</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">OpenAI integration</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Gift card rewards</span></li>
        <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Multiple admins</span></li>
        <li> </li>
      </ul>
    </div>
    <div class="text-center custom-pt-4">
      <a href="/employees/signup" class="btn btn-primary btn-lg">Get started</a>
    </div>
  </div>
  <!-- ----------------------------------- tier end ----------------------------------- -->
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container text-center custom-pb-100">
  <p class="custom-pt-1 custom-img-opacity-2 custom-header-5">Special pricing for Educational Institutions and Non-Profits. Please contact <a href="mailto:support@triviafy.com"><span class="custom-color-primary">support@triviafy.com</span></a></p>
</div>
<!-- ----------------------------------- end ----------------------------------- -->
{% endblock %}