{% extends "candidates/aaa_base/base2_interior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Create Assessment / Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
  <!-- ----------------------------------- start ----------------------------------- -->
  {% if alert_message_page_to_html != '' %}
  <div class="alert alert-{{ alert_message_type_to_html }} mx-auto text-center custom-mt-3 container" role="alert">
    {{ alert_message_page_to_html }}
  </div>
  {% endif %}
  <!-- ----------------------------------- end ----------------------------------- -->
  <div class="container custom-display-flex custom-pt-6 custom-jc-2 custom-pb-6">
    <div>
      <h2 class="custom-header-2-mobile">Send test</h2>
    </div>
    <div>
      <a href="/candidates/upload" class="btn btn-outline-primary">Candidates +</a>
      <button type="submit" class="btn btn-primary custom-ml-3">Send later</button>
    </div>
  </div>
  <div class="container border shadow custom-br-1 custom-bg-white custom-ptb-6">
    <div class="custom-display-flex custom-fw-1 custom-height-4-mobile">
      <div class="custom-width-11-mobile custom-p-5">
        <div class="text-center">
          <p class="custom-header-4"><span class="fw-bold">Step 1:</span> Select test</p>
        </div>
        <div class="custom-overflow-1 custom-height-5-mobile">
          {% for i_obj in db_tests_obj_to_html %}
          <input type="radio" class="btn-check" name="uiTestSelected" id="uiTestSelected_{{ i_obj.assessment_name }}" autocomplete="off" value="{{ i_obj.assessment_name }}" required>
          <label class="btn btn-outline-secondary custom-m-1 custom-width-13 custom-ptb-1" for="uiTestSelected_{{ i_obj.assessment_name }}">{{ i_obj.assessment_name }} | {{ i_obj.desired_languages_arr }}</label>
          {% endfor %}
        </div>
      </div>
      <div class="custom-width-11-mobile custom-p-5">
        <div class="text-center">
          <p class="custom-header-4"><span class="fw-bold">Step 2:</span> Select candidates</p>
        </div>
        <div class="custom-overflow-1 custom-height-5-mobile">
          <input type="checkbox" class="btn-check" id="uiCandidateSelected_{{ current_user_email_to_html }}" name="uiCandidateSelected" value="{{ current_user_email_to_html }}">
          <label class="btn btn-outline-secondary custom-m-1 custom-width-13 custom-ptb-1" for="uiCandidateSelected_{{ current_user_email_to_html }}">{{ current_user_email_to_html }} (self)</label>
          {% for i_obj in db_candidates_obj_to_html %}
          <input type="checkbox" class="btn-check" id="uiCandidateSelected_{{ i_obj.email }}" name="uiCandidateSelected" value="{{ i_obj.email }}">
          <label class="btn btn-outline-secondary custom-m-1 custom-width-13 custom-ptb-1" for="uiCandidateSelected_{{ i_obj.email }}">{{ i_obj.email }}</label>
          {% endfor %}
        </div>
      </div>
    </div>
    <div>
      <div class="text-center">
        <p class="custom-header-4"><span class="fw-bold">Step 3:</span> Select schedule</p>
      </div>
      <div class="custom-display-flex custom-jc-3 custom-fw-1">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle btn-lg custom-width-15 custom-m-1" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="placeholder-date">
            Date
          </button>
          <ul class="dropdown-menu">
            {% for i in next_x_days_arr_to_html %}
            <li><input type="radio" class="btn-check" id="uiDateSelected_{{ i }}" name="uiDateSelected" autocomplete="off" value="{{ i }}" onclick="previewSelectionDate(this)" required>
            <label class="dropdown-item" for="uiDateSelected_{{ i }}">{{ i }}</label></li>
            {% endfor %}
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle btn-lg custom-width-15 custom-m-1" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="placeholder-time">
            Time
          </button>
          <ul class="dropdown-menu">
            {% for i in times_arr_to_html %}
            <li><input type="radio" class="btn-check" id="uiTimeSelected_{{ i }}" name="uiTimeSelected" autocomplete="off" value="{{ i }}" onclick="previewSelectionTime(this)" required>
            <label class="dropdown-item" for="uiTimeSelected_{{ i }}">{{ i }}</label></li>
            {% endfor %}
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle btn-lg custom-width-15 custom-m-1" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="placeholder-timezone">
            Time zone
          </button>
          <ul class="dropdown-menu">
            {% for i in timezone_arr_to_html %}
            <li><input type="radio" class="btn-check" id="uiTimeZoneSelected_{{ i }}" name="uiTimeZoneSelected" autocomplete="off" value="{{ i }}" onclick="previewSelectionTimeZone(this)" required>
            <label class="dropdown-item" for="uiTimeZoneSelected_{{ i }}">{{ i }}</label></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container custom-pt-4">
    <button type="submit" class="btn btn-primary custom-ml-3 float-end">Send later</button>
  </div>
</form>
{% endblock %}