{% extends "candidates/aaa_base/base2_interior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Schedules - Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
  <!-- ----------------------------------- start ----------------------------------- -->
  {% if alert_message_page_to_html != '' %}
  <div class="alert alert-{{ alert_message_type_to_html }} mx-auto text-center custom-mt-3 container" role="alert">
    {{ alert_message_page_to_html }}
  </div>
  {% endif %}
  <!-- ----------------------------------- end ----------------------------------- -->
  <div class="container custom-display-flex custom-pt-6 custom-jc-2 custom-pb-6">
    <div>
      <h2 class="custom-header-2-mobile">Send test</h2>
    </div>
    <div class="custom-mobile-display-1">
      <a href="/candidates/upload" class="btn btn-outline-primary">+ Candidates</a>
      <button type="submit" class="btn btn-primary custom-ml-3"><i class="fa-solid fa-check"></i> Send later</button>
    </div>
  </div>
  <div class="container border shadow custom-br-1 custom-bg-white custom-ptb-6">
    <div>
      <div class="text-center">
        <p class="custom-header-4"><span class="fw-bold">Step 1:</span> Select schedule</p>
      </div>
      <div class="custom-display-flex custom-jc-3 custom-fw-1">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle btn-lg custom-width-15 custom-m-1" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="placeholder-date">
            Date
          </button>
          <ul class="dropdown-menu">
            {% for i in next_x_days_arr_to_html %}
            <li><input type="radio" class="btn-check" id="uiDateSelected_{{ i }}" name="uiDateSelected" autocomplete="off" value="{{ i }}" onclick="previewSelectionDate(this)" required>
            <label class="dropdown-item" for="uiDateSelected_{{ i }}">{{ i }}</label></li>
            {% endfor %}
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle btn-lg custom-width-15 custom-m-1" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="placeholder-time">
            Time
          </button>
          <ul class="dropdown-menu">
            {% for i in times_arr_to_html %}
            <li><input type="radio" class="btn-check" id="uiTimeSelected_{{ i }}" name="uiTimeSelected" autocomplete="off" value="{{ i }}" onclick="previewSelectionTime(this)" required>
            <label class="dropdown-item" for="uiTimeSelected_{{ i }}">{{ i }}</label></li>
            {% endfor %}
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle btn-lg custom-width-15 custom-m-1" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="placeholder-timezone">
            Time zone
          </button>
          <ul class="dropdown-menu">
            {% for i in timezone_arr_to_html %}
            <li><input type="radio" class="btn-check" id="uiTimeZoneSelected_{{ i }}" name="uiTimeZoneSelected" autocomplete="off" value="{{ i }}" onclick="previewSelectionTimeZone(this)" required>
            <label class="dropdown-item" for="uiTimeZoneSelected_{{ i }}">{{ i }}</label></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <!-- ----------------------------------- start ----------------------------------- -->
    <div class="custom-display-flex custom-fw-1 custom-height-4-mobile">
      <div class="list-group mx-0 custom-width-11-mobile custom-p-5">
        <div class="text-center">
          <p class="custom-header-4"><span class="fw-bold">Step 2:</span> Select test</p>
        </div>
        <div class="custom-overflow-1 custom-height-5-mobile">
          {% for i_obj in db_tests_obj_to_html %}
          <label class="list-group-item d-flex gap-2">
            <input class="form-check-input flex-shrink-0" type="radio" name="uiTestSelected" id="uiTestSelected_{{ i_obj.assessment_name }}" value="{{ i_obj.assessment_name }}" required>
            <span>{{ i_obj.assessment_name }}<small class="d-block text-muted">{{ i_obj.desired_languages_arr }}</small></span>
          </label>
          {% endfor %}
        </div>
      </div>
      <div class="list-group mx-0 custom-width-11-mobile custom-p-5">
        <div class="text-center">
          <p class="custom-header-4"><span class="fw-bold">Step 3:</span> Select candidates <span><a href="/candidates/upload" class="btn btn-primary btn-sm">+ Candidates</a></span></p>
        </div>
        <div class="custom-overflow-1 custom-height-5-mobile">
          <label class="list-group-item d-flex gap-2">
            <input class="form-check-input flex-shrink-0" type="checkbox" name="uiCandidateSelected" value="{{ current_user_email_to_html }}">
            <span>{{ current_user_email_to_html }}<small class="d-block text-muted">Self send scheduled test.</small></span>
          </label>
          {% for i_obj in db_candidates_obj_to_html %}
          <label class="list-group-item d-flex gap-2">
            <input class="form-check-input flex-shrink-0" type="checkbox" name="uiCandidateSelected" value="{{ i_obj.email }}">
            <span>{{ i_obj.email }}<small class="d-block text-muted">Send scheduled test.</small></span>
          </label>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- ----------------------------------- end ----------------------------------- -->
    <button type="submit" class="btn btn-primary btn-lg custom-width-6"><i class="fa-solid fa-check"></i> Submit</button>
  </div>
  <div class="container custom-mt-1">
    <a href="/candidates/schedule/now" class="btn btn-outline-secondary btn-lg custom-width-6">Send now instead</a>
  </div>
  <div class="container custom-mt-1">
    <a href="/candidates/upload" class="btn btn-outline-primary btn-lg custom-width-6">+ Candidates</a>
  </div>
</form>
<!-- ------------------------------------- signature start ------------------------------------- -->
<div class="text-center custom-mt-5 custom-pb-3">
  <img src="/static/images/candidates/logo/logo_wide_v3.png" alt="powered by triviafy logo" class="custom-img-size-10 custom-img-opacity-1">
</div>
<!-- ------------------------------------- signature end ------------------------------------- -->
{% endblock %}