/* ==================================== Default - Signed In and Not Signed In - Global Font and Borders - START ==================================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Urbanist', sans-serif;
  -webkit-appearance: none;
}
@media (max-width: 1200px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
    -webkit-appearance: none;
  }
}
/* ==================================== Default - Signed In and Not Signed In - Global Font and Borders - END ==================================== */

.candidates-default-text-input {
  /* border: 1px solid green; */
  /* .input.form__input */
  width: 323px;
  /* .input */
  height: 50px;
  margin-bottom: 0px;
  padding: 12px 16px;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;
  transition: border-color .3s,box-shadow .4s,border-width .2s linear,background-color .4s linear;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: 0.02em;
  /* .w-input */
  /* display: flex; */
  color: #333;
  /* input */
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  /* Media screen */
  /* -webkit-box-direction: normal; */
  }
  .candidates-default-text-input:hover {
    border: 2px solid #b7b7b7;
    transition: 0.2s;
  }
  .candidates-default-text-input-full-width {
    width: 100%;
  }
.general-signed-in-company-name-section {
  /* border: 1px solid black; */
  text-align: center;
}
.general-signed-in-company-name-title {
  font-size: 25px;
  margin: 25px 0 0 0;
}
.general-page-title-section {
  /* border: 1px solid black; */
  text-align: center;
}
.general-page-title {
  font-size: 40px;
}
.general-page-sub-title {
  font-size: 20px;
  margin: 10px 0 0 0;
  color: rgb(139, 139, 139);
}
.general-page-fine-print {
  font-size: 10px;
}
.general-top-margin {
  margin: 10px 0 0 0;
}
.general-page-font {
  font-size: 20px;
}
.general-spacer-section {
  /* background-color: var(--testing-blueprint-color); */
  height: 50px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.general-spacer-section-large {
  /* background-color: var(--testing-blueprint-color); */
  height: 100px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.general-spacer-section-small {
  /* background-color: var(--testing-blueprint-color); */
  height: 25px;
  width: 80%;
  max-width: 1200px;
  margin: 0 
}
.candidates-default-box-shadow-grey-regular {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.115)!important;
}
.candidates-default-box-shadow-grey-small {
  box-shadow: 0 .125rem .5rem rgba(0, 0, 0, 0.115)!important;
}
.general-highlight-primary {
  color: var(--company-primary-color);
}
.general-center-container {
  /* border: 1px solid black; */
  width: 100%;
  text-align: center;
}
.general-a-black {
  text-decoration: none;
  color: black;
}
.general-a-black-no-hover {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
}
.general-a-primary {
  text-decoration: none;
  color: var(--company-primary-color);
}
.general-a-grey {
  text-decoration: none;
  color: rgb(139, 139, 139);
}
.general-a-black:hover,
.general-a-primary:hover,
.general-a-grey:hover {
  text-decoration: underline;
}