{% extends "candidates/aaa_base/base2_child1_logged_in_yes_navbar_and_footer.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Schedule Analytics / Triviafy</title>
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - company name start -->
<div class="general-signed-in-company-name-section">
  <p class="general-signed-in-company-name-title">{{ users_company_name_to_html }}</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - company name end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="general-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - general page title start -->
<div class="general-page-title-section">
  <p class="general-page-title">Schedule Analytics</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - general page title end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="general-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - redirect link start -->
<div class="general-center-container">
  <a href="{{ url_for('views_interior.candidates_schedule_dashboard_function') }}" class="general-a-primary"><p class="general-page-font">Create schedule</p></a>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - redirect link end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - main page start -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - candidate analytics datatables start -->
<div class="assessment-analytics-datatable-section">
  <table id="table_id_triviafy_assessment_analytics" class="display">
    <thead>
      <tr>
        <th>Created</th>
        <th>Assessment</th>
        <th>Candidate</th>
        <th>Day</th>
        <th>Time</th>
        <th>Time Zone</th>
        <th>Status</th>
      </tr>
    </thead>
    
    <tbody>
      {% for i in all_schedules_arr_of_dicts_to_html %}
      <tr>
        <td>{{ i['created_timestamp'] }}</td>
        <td>{{ i['assessment_name'] }}</td>
        <td>{{ i['candidates'] }}</td>
        <td>{{ i['send_date'] }}</td>
        <td>{{ i['send_time'] }}</td>
        <td>{{ i['send_timezone'] }}</td>
        <td>{{ i['candidate_status'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - candidate analytics datatables end -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - main page end -->
{% endblock %}