{% extends "employees/aaa_base/base2_interior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Celebrations - Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
{% if page_dict_to_html['alert_message_dict']['message'] != '' %}
<div class="alert alert-{{ page_dict_to_html['alert_message_dict']['type'] }} mx-auto text-center container custom-mt-1" role="alert">
  {{ page_dict_to_html['alert_message_dict']['message'] }}
</div>
{% endif %}
<!-- ----------------------------------- end ----------------------------------- -->
<!-- ----------------------------------- start ----------------------------------- -->
<div class="container custom-display-flex custom-pt-6 custom-jc-2 custom-pb-6">
  <div>
    <h2 class="custom-header-2-mobile">Celebrations</h2>
  </div>
</div>
<div class="container border shadow custom-br-1 custom-bg-white custom-ptb-6">
  <!-- ----------------------------------- start ----------------------------------- -->
  <table id="candidates-datatable-id" class="table table-striped" style="width:100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Event</th>
        <th>Month</th>
        <th>Day</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for i in page_dict_to_html['query_celebrations_arr_of_dicts'] %}
      <tr>
        <td>{{ i['name'] }}</td>
        {% if i['event'] == 'job_start_date' %}
          <td>Company anniversary</td>
        {% elif i['event'] == 'birthday' %}
          <td>Birthday</td>
        {% endif %}
        <td>{{ i['celebrate_month'] }}</td>
        <td>{{ i['celebrate_day'] }}</td>
        {% if i['status'] == True and i['fk_test_id'] is not none and i['fk_test_id'] != '' %}
          <td><a href="/activity/activity_type_a/{{ i['event'] }}/{{ i['fk_test_id'] }}/1/" class="custom-a-2 fw-bolder" target="_blank">View results!</a></td>
        {% else %}
          <td>Upcoming</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- ----------------------------------- end ----------------------------------- -->
</div>
<!-- ----------------------------------- end ----------------------------------- -->
<!-- ------------------------------------- signature start ------------------------------------- -->
<div class="custom-width-1 mx-auto custom-mb-50 custom-mt-100">
  <a href="/dashboard" class="btn btn-outline-secondary custom-width-6"><i class="fa-solid fa-arrow-left"></i> Home</a>
</div>
<div class="custom-width-15 mx-auto custom-pb-100">
  <a href="/dashboard" class="navbar-brand">
    <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/official_logo.png" alt="triviafy logo" class="custom-img-size-1 custom-mt-negative-1">
    <span class="fw-bold custom-header-1">Triviafy<spa class="custom-header-4">.com</span></span>
    <div class="text-center">
      <p class="custom-m-0">Team building software</p>
    </div>
  </a>
</div>
<!-- ------------------------------------- signature end ------------------------------------- -->
{% endblock %}