{% extends "candidates/aaa_base/base.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Tests - Triviafy</title>
{% endblock %}

{% block contentBody %}
<body class="custom-bg-grey-3">
  <!-- ------------------------------------- navbar start ------------------------------------- -->
  <div class="container-fluid fixed-top shadow-sm custom-bg-white">
    <nav class="container navbar navbar-expand-md navbar-light custom-display-flex custom-jc-2">
      <div>
        <a href="#" class="navbar-brand"><span class="custom-header-4-mobile">{{ users_company_name_to_html }}</span></a>
        <a href="/candidates/assessment/review/{{ url_assessment_name_to_html }}" class="btn btn-outline-danger btn-sm">Exit preview</a>
      </div>
      <div>
        {% if current_question_number_to_html == '1' %}
        {% else %}
        <a href="/candidates/assessment/preview/{{ url_assessment_name_to_html }}/{{ previous_question_number_to_html }}" class="btn btn-outline-secondary">< Back</a>
        {% endif %}
        {% if next_question_number_to_html == 'submit' %}
        <a href="/candidates/assessment/review/{{ url_assessment_name_to_html }}" class="btn btn-outline-danger custom-ml-3">Exit</a>
        {% else %}
        <a href="/candidates/assessment/preview/{{ url_assessment_name_to_html }}/{{ next_question_number_to_html }}" class="btn btn-primary custom-ml-3">Next ></a>
        {% endif %}
      </div>
    </nav>
  </div>
  <div class="custom-filler-5"></div>
  <!-- ------------------------------------- navbar end ------------------------------------- -->
  <div class="container-fluid custom-bg-grey-3 custom-pb-3">
    <!-- ------------------------------------- question start ------------------------------------- -->
    <form method="POST" enctype="multipart/form-data" class="custom-pt-1" onsubmit="return clickSubmitButtonOnce()">
      <div class="container border shadow custom-br-1 custom-bg-white custom-display-flex custom-fw-1">
        <div class="custom-width-6">
          <!-- ----------------------------------- start ----------------------------------- -->
          {% if alert_message_page_to_html != '' %}
          <div class="alert alert-{{ alert_message_type_to_html }} mx-auto text-center custom-mt-3" role="alert">
            {{ alert_message_page_to_html }}
          </div>
          {% endif %}
          <!-- ----------------------------------- end ----------------------------------- -->
        </div>
        <div class="custom-width-11-mobile custom-p-5">
          <div class="custom-display-flex custom-mb-6">
            <h2 class="custom-header-4">Q{{ assessment_info_dict_to_html['question_details_dict']['question_counter'] }}: {{ assessment_info_dict_to_html['question_details_dict']['title'] }}</h2>
            <div>
                {% for category_tuple in assessment_info_dict_to_html['question_details_dict']['categories'] %}
                  <span class="custom-tag-1 custom-tag-category-{{ category_tuple[1] }} custom-br-4 custom-ml-3 custom-header-5">{{ category_tuple[0] }}</span>
                {% endfor %}
            </div>
          </div>
          <div>
            <div class="custom-mb-6">
              <p>{{ assessment_info_dict_to_html['question_details_dict']['question'] }}</p>
            </div>
            {% if contains_img_to_html == true %}
            <div class="text-center">
              <img src="{{ assessment_info_dict_to_html['question_details_dict']['aws_image_url'] }}" alt="" class="custom-img-size-11 custom-br-1 shadow">
            </div>
            {% else %}
            {% endif %}
          </div>
        </div>
        <div class="custom-width-11-mobile custom-p-5">
          <div>
            <div class="text-center">
              <p class="custom-size-3 custom-color-light-1 fst-italic">Preview mode: selection not saved.{% if assessment_info_dict_to_html['question_details_dict']['answer'] != '' %} | Answer: {{ assessment_info_dict_to_html['question_details_dict']['answer'] }}{% else %} <a href="/candidates/account">Subscription</a> required to see correct answer.{% endif %}</p>
            </div>
            {% if assessment_info_dict_to_html['question_details_dict']['option_a'] != None %}
            <div class="custom-mb-6">
              <input type="radio" class="btn-check" id="candidate_answer_choice_a{{ current_question_number_to_html }}" name="ui_answer_choice_selected_{{ current_question_number_to_html }}" value="a" autocomplete="off" required>
              <label class="btn btn-outline-secondary custom-width-6 custom-tal btn-lg" for="candidate_answer_choice_a{{ current_question_number_to_html }}">A: {{ assessment_info_dict_to_html['question_details_dict']['option_a'] }}</label>
            </div>
            {% endif %}

            {% if assessment_info_dict_to_html['question_details_dict']['option_b'] != None %}
            <div class="custom-mb-6">
              <input type="radio" class="btn-check" id="candidate_answer_choice_b{{ current_question_number_to_html }}" name="ui_answer_choice_selected_{{ current_question_number_to_html }}" value="b" autocomplete="off" required>
              <label class="btn btn-outline-secondary custom-width-6 custom-tal btn-lg" for="candidate_answer_choice_b{{ current_question_number_to_html }}">B: {{ assessment_info_dict_to_html['question_details_dict']['option_b'] }}</label>
            </div>
            {% endif %}

            {% if assessment_info_dict_to_html['question_details_dict']['option_c'] != None %}
            <div class="custom-mb-6">
              <input type="radio" class="btn-check" id="candidate_answer_choice_c{{ current_question_number_to_html }}" name="ui_answer_choice_selected_{{ current_question_number_to_html }}" value="c" autocomplete="off" required>
              <label class="btn btn-outline-secondary custom-width-6 custom-tal btn-lg" for="candidate_answer_choice_c{{ current_question_number_to_html }}">C: {{ assessment_info_dict_to_html['question_details_dict']['option_c'] }}</label>
            </div>
            {% endif %}

            {% if assessment_info_dict_to_html['question_details_dict']['option_d'] != None %}
            <div class="custom-mb-6">
              <input type="radio" class="btn-check" id="candidate_answer_choice_d{{ current_question_number_to_html }}" name="ui_answer_choice_selected_{{ current_question_number_to_html }}" value="d" autocomplete="off" required>
              <label class="btn btn-outline-secondary custom-width-6 custom-tal btn-lg" for="candidate_answer_choice_d{{ current_question_number_to_html }}">D: {{ assessment_info_dict_to_html['question_details_dict']['option_d'] }}</label>
            </div>
            {% endif %}

            {% if assessment_info_dict_to_html['question_details_dict']['option_e'] != None %}
            <div class="custom-mb-6">
              <input type="radio" class="btn-check" id="candidate_answer_choice_e{{ current_question_number_to_html }}" name="ui_answer_choice_selected_{{ current_question_number_to_html }}" value="e" autocomplete="off" required>
              <label class="btn btn-outline-secondary custom-width-6 custom-tal btn-lg" for="candidate_answer_choice_e{{ current_question_number_to_html }}">E: {{ assessment_info_dict_to_html['question_details_dict']['option_e'] }}</label>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </form>
    <!-- ------------------------------------- question end ------------------------------------- -->
    <!-- ------------------------------------- controller start ------------------------------------- -->
    <form method="POST" enctype="multipart/form-data" class="custom-pt-1" onsubmit="return clickSubmitButtonOnce()">
      <div class="container border shadow custom-br-1 custom-bg-tan-1 custom-width-4">
        <div class="text-center custom-ptb-1">
          <p class="custom-size-3 custom-color-light-1 fst-italic custom-m-0">This section will not be visible to candidates.</p>
        </div>
        <div class="text-center">
          <h2 class="custom-header-4">Admin control</h2>
          <p class="custom-header-5 custom-m-0">Total questions: {{ assessment_total_questions_to_html }}</p>
        </div>
        <div class="text-center">
          <input type="radio" class="btn-check" id="uiAddNewQuestion" name="uiAdminEditSelection" value="add">
          <label class="btn btn-outline-secondary custom-m-1 custom-width-12" for="uiAddNewQuestion">Add new question</label>
          <input type="radio" class="btn-check" id="uiRemoveQuestion" name="uiAdminEditSelection" value="remove">
          <label class="btn btn-outline-danger custom-m-1 custom-width-12" for="uiRemoveQuestion">Remove current question</label>
        </div>
        <div class="text-center custom-pb-4">
          <a href="/candidates/assessment/review/{{ url_assessment_name_to_html }}" class="btn btn-outline-secondary custom-m-1">Exit preview</a>
          <button type="submit" class="btn btn-outline-primary custom-m-1">Save</button>
        </div>
      </div>
    </form>
    <!-- ------------------------------------- controller end ------------------------------------- -->
    <div class="text-center custom-mt-5">
      <img src="/static/images/candidates/logo/logo_wide_v3.png" alt="powered by triviafy logo" class="custom-img-size-10 custom-img-opacity-1">
    </div>
  </div>
</body>
{% endblock %}