{% extends "candidates/aaa_base/base2_interior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Create Assessment / Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<form method="POST" enctype="multipart/form-data">
  <!-- ----------------------------------- start ----------------------------------- -->
  {% if error_message_to_html != '' %}
  <div class="container alert alert-danger mx-auto text-center custom-mt-1" role="alert">
    {{ error_message_to_html }}
  </div>
  {% endif %}
  <!-- ----------------------------------- end ----------------------------------- -->
  <div class="container custom-display-flex custom-pt-6 custom-jc-2 custom-pb-6">
    <h2 class="custom-header-2-mobile">Send test now</h2>
    <div>
      <a href="#" class="btn btn-outline-primary">Candidates +</a>
      <button type="submit" class="btn btn-primary custom-ml-3">Send now</button>
    </div>
  </div>
  <div class="container border shadow custom-br-1 custom-bg-white">
    <div class="custom-display-flex custom-fw-1 custom-height-4-mobile">
      <div class="custom-width-11-mobile custom-p-5">
        <div class="text-center">
          <p class="custom-header-4">Select Test</p>
        </div>
        <div class="custom-overflow-1 custom-height-5-mobile">
          {% for i_obj in db_tests_obj_to_html %}
          <input type="radio" class="btn-check" name="uiTestSelected" id="uiTestSelected_{{ i_obj.assessment_name }}" autocomplete="off" value="{{ i_obj.assessment_name }}" required>
          <label class="btn btn-outline-secondary custom-m-1 custom-width-13 custom-ptb-1" for="uiTestSelected_{{ i_obj.assessment_name }}">{{ i_obj.assessment_name }} | {{ i_obj.desired_languages_arr }}</label>
          {% endfor %}
        </div>
      </div>
      <div class="custom-width-11-mobile custom-p-5">
        <div class="text-center">
          <p class="custom-header-4">Select Candidates</p>
        </div>
        <div class="custom-overflow-1 custom-height-5-mobile">
          <input type="checkbox" class="btn-check" id="uiCandidateSelected_{{ current_user_email_to_html }}" name="uiCandidateSelected" value="{{ current_user_email_to_html }}">
          <label class="btn btn-outline-secondary custom-m-1 custom-width-13 custom-ptb-1" for="uiCandidateSelected_{{ current_user_email_to_html }}">{{ current_user_email_to_html }} (self test)</label>
          {% for i_obj in db_candidates_obj_to_html %}
          <input type="checkbox" class="btn-check" id="uiCandidateSelected_{{ i_obj.email }}" name="uiCandidateSelected" value="{{ i_obj.email }}">
          <label class="btn btn-outline-secondary custom-m-1 custom-width-13 custom-ptb-1" for="uiCandidateSelected_{{ i_obj.email }}">{{ i_obj.email }}</label>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}