{% extends "candidates/aaa_base/base.html" %}

<!-- head tag block content -->
{% block title %}
  <title>base2_exterior.html</title>
{% endblock %}

{% block contentBody %}
<!-- <body class="custom-google-font-1 custom-bg-grey-3"> -->
<body class="custom-google-font-1">
  <!-- ------------------------------------- navbar start ------------------------------------- -->
  <div class="container-fluid fixed-top custom-bg-primary">
    <nav class="container navbar navbar-expand-md navbar-light">
      <a href="/" class="navbar-brand custom-header-white">
        <img src="/static/images/all/logo/logo_v3.png" alt="triviafy logo" class="custom-img-size-1 custom-mt-negative-1 custom-mr-1">
        <span class="fw-bold custom-header-1">triviafy</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu" aria-controls="toggleMobileMenu" aria-expanded="false" aria-lable="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="toggleMobileMenu">
        <ul class="navbar-nav ms-auto text-center">
          <li><a href="/employees" class="nav-link mx-2 custom-my-1-mobile custom-header-white">Team building trivia</a></li>
          <li><a href="/candidates" class="nav-link mx-2 custom-my-1-mobile custom-header-white">Pre-employment testing</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="custom-filler-1 custom-bg-primary"></div>
  <!-- ------------------------------------- navbar end ------------------------------------- -->
  {% block contentBodyExceptNavbarAndFooter %}
  {% endblock %}
</body>
{% endblock %}