{% extends "candidates/aaa_base/base.html" %}

<!-- head tag block content -->
{% block title %}
  <title>base2_exterior.html</title>
{% endblock %}

{% block contentBody %}
<!-- <body class="custom-google-font-1 custom-bg-grey-3"> -->
<body class="custom-google-font-1">
  <!-- ------------------------------------- navbar start ------------------------------------- -->
  <div class="container-fluid custom-bg-black">
    <nav class="container navbar navbar-expand-md navbar-light">
      <div class="custom-display-flex">
        <a href="/"><img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/official_logo_v3_inverse.png" alt="triviafy logo" class="custom-img-size-50 custom-mr-1"></a>
        <div>
          <p class="fw-bold custom-header-35 custom-m-0"><a href="/polling" class="custom-a-white-none">Triviafy</a></p>
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu" aria-controls="toggleMobileMenu" aria-expanded="false" aria-lable="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="toggleMobileMenu">
        <ul class="navbar-nav ms-auto text-center">
          <li><a href="/polling" class="nav-link mx-2 custom-mtb-20-mobile custom-a-white-none">Audience polling platform</a></li>
          <li><a href="/employees" class="nav-link mx-2 custom-mtb-20-mobile custom-a-white-none">Team building software</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="custom-bg-primary"></div>
  <!-- ------------------------------------- navbar end ------------------------------------- -->
  {% block contentBodyExceptNavbarAndFooter %}
  {% endblock %}
</body>
{% endblock %}