{% extends "polling/aaa_base/base2_primary.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Feedback - Triviafy</title>
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<div class="custom-bg-primary-darker">
  <!-- ------------------------------------- progress bar start ------------------------------------- -->
  {% if page_dict_to_html['feedback_step'] == '0' %}
    <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 33%"></div>
    </div>
  {% elif page_dict_to_html['feedback_step'] == '1' %}
    <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 66%"></div>
    </div>
  {% elif page_dict_to_html['feedback_step'] == '2' %}
    <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 99%"></div>
    </div>
  {% endif %}
  <!-- ------------------------------------- progress bar end ------------------------------------- -->
  <!-- ----------------------------------- start ----------------------------------- -->
  {% if page_dict_to_html['alert_message_dict']['message'] != '' %}
  <div class="alert alert-{{ page_dict_to_html['alert_message_dict']['type'] }} mx-auto text-center container-fluid custom-width-6 custom-m-0" role="alert">
    {{ page_dict_to_html['alert_message_dict']['message'] }}
  </div>
  {% endif %}
  <!-- ----------------------------------- end ----------------------------------- -->
  <!-- ------------------------------------- entire page start ------------------------------------- -->
  <div class="container-fluid custom-bg-primary-gradient-1 custom-pt-100">
    <!-- ------------------------------------- title start ------------------------------------- -->
    <div class="container mx-auto custom-pb-50">
      <div class="text-center">
        {% if page_dict_to_html['feedback_request'] == 'polling_terms_of_service' %}
          <h1 class="custom-color-white">Terms of service</h1>
        {% elif page_dict_to_html['feedback_request'] == 'marketing' %}
          <h1 class="custom-color-white">Finally, how did you hear about Triviafy?</h1>
        {% endif %}
      </div>
    </div>
    <!-- ------------------------------------- title end ------------------------------------- -->

    {% if page_dict_to_html['feedback_request'] == 'name' %}
      <!-- ------------------------------------- section - name start ------------------------------------- -->
      <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
        <div class="mx-auto custom-width-400">
          <!-- ------------------------------------- answer start ------------------------------------- -->
          <div class="custom-pb-25">
            <div class="form-floating">
              <textarea class="form-control" id="ui_name" name="ui_name" placeholder="First name" onkeyup="CountCharsNameAnswer(this);" pattern="{1,20}" required></textarea>
              <label for="ui_name">First name</label>
              <p id="id-countCharsNameAnswer" class="custom-size-3 custom-color-light-1 fst-italic custom-mt-2 custom-ml-2"></p>
            </div>
            <div class="form-floating">
              <textarea class="form-control" id="ui_last_name" name="ui_last_name" placeholder="Last name" onkeyup="CountCharsLastNameAnswer(this);" pattern="{1,20}" required></textarea>
              <label for="ui_last_name">Last name</label>
              <p id="id-countCharsLastNameAnswer" class="custom-size-3 custom-color-light-1 fst-italic custom-mt-2 custom-ml-2"></p>
            </div>
          </div>
          <!-- ------------------------------------- answer end ------------------------------------- -->
          <div class="mx-auto custom-width-100">
            <button type="submit" class="btn btn-lg btn-success custom-mb-6 custom-width-6 custom-ptb-8 custom-br-1" id="submit-button-botttom">Continue <i class="fa-solid fa-arrow-right"></i></button>
          </div>
        </div>
      </form>
      <!-- ------------------------------------- section - name end ------------------------------------- -->
      {% elif page_dict_to_html['feedback_request'] == 'polling_terms_of_service' %}
      <!-- ------------------------------------- section - marketing start ------------------------------------- -->
      <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
        <div class="text-center">
          <!-- ------------------------------------- checkbox start ------------------------------------- -->
          <div class="form-check custom-width-400 custom-color-white mx-auto custom-mb-15">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
            <label class="form-check-label" for="flexCheckDefault">I have read and agree to Triviafy's terms of service.</label>
          </div>
          <!-- ------------------------------------- checkbox end ------------------------------------- -->
          <button type="submit" class="btn btn-lg btn-success">Continue <i class="fa-solid fa-arrow-right"></i></button>
        </div>
      </form>
      <!-- ------------------------------------- section - marketing end ------------------------------------- -->
      {% elif page_dict_to_html['feedback_request'] == 'marketing' %}
      <!-- ------------------------------------- section - marketing start ------------------------------------- -->
      <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
        <div class="text-center">
          <button type="submit" class="btn btn-lg btn-success custom-mb-6 custom-width-8 custom-ptb-8 custom-br-1 uiSearchItemInvisible" id="submit-button-top">Continue <i class="fa-solid fa-arrow-right"></i></button>
        </div>
        <div class="custom-width-8 mx-auto">
          {% for i in page_dict_to_html['marketing_list_index'] %}
          <div class="custom-display-flex custom-fw-1">
            <input type="radio" class="btn-check" id="uiFeedbackSelection{{ i }}" name="ui_selection_radio" value="{{ page_dict_to_html['marketing_list'][i] }}" autocomplete="off" required>
            <label class="custom-mb-6 custom-border-white-opacity-1 custom-br-1 custom-width-6 custom-ptb-8 custom-hover-1 custom-color-white" for="uiFeedbackSelection{{ i }}"><span class="custom-ml-2">{{ page_dict_to_html['marketing_list'][i] }}</span></label>
          </div>
          {% endfor %}
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-lg btn-success custom-mb-6 custom-width-8 custom-ptb-8 custom-br-1 uiSearchItemInvisible" id="submit-button-botttom">Continue <i class="fa-solid fa-arrow-right"></i></button>
        </div>
      </form>
      <!-- ------------------------------------- section - marketing end ------------------------------------- -->
    {% endif %}
  </div>
  <!-- ------------------------------------- entire page end ------------------------------------- -->
</div>
<!-- ----------------------------------- shape divider start ----------------------------------- -->
<div class="custom-shape-divider-bottom-1672276706 custom-bg-primary-darker">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
  </svg>
</div>
<!-- ----------------------------------- shape divider end ----------------------------------- -->
{% endblock %}