{% extends "polling/aaa_base/base2_exterior_interactive.html" %}

{% block title %}
    <title>Audience Relationship Management - Triviafy</title>
    <meta name="description" content="Audience relationship management. Premium podcast polling platform. Information about your listeners.">
    <meta name="og:description" content="Audience relationship management. Premium podcast polling platform. Information about your listeners.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
{% if page_dict_to_html['alert_message_dict']['message'] != '' %}
<div class="alert alert-{{ page_dict_to_html['alert_message_dict']['type'] }} mx-auto text-center container-fluid custom-width-100 custom-m-0" role="alert">
  {{ page_dict_to_html['alert_message_dict']['message'] }}
</div>
{% endif %}
<!-- ----------------------------------- end ----------------------------------- -->
<!-- ----------------------------------- start ----------------------------------- -->
<div class="container-fluid custom-bg-black">
  <!-- ------------------------------------- step 1 start ------------------------------------- -->
  {% if page_dict_to_html['url_step_code'] == '1' %}
    <!-- ------------------------------------- form start ------------------------------------- -->
    <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
      <!-- ------------------------------------- search section start ------------------------------------- -->
      <div class="custom-width-800 mx-auto custom-pt-150 custom-pb-50">
        <!-- ------------------------------------- search bar start ------------------------------------- -->
        <label for="ui_search_show_name" class="form-label custom-header-25 fw-bold custom-color-white">Podcast feedback from the die-hard fans <i class="fa-brands fa-spotify"></i> <i class="fa-solid fa-podcast"></i></label>
        <input type="text" class="form-control custom-ptb-25" id="ui_search_show_name" name="ui_search_show_name" placeholder="Seach podcast" required>
        <!-- ------------------------------------- search bar end ------------------------------------- -->
        <button type="submit" class="btn btn-lg btn-success custom-width-100 custom-mt-25"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
      </div>
      <!-- ------------------------------------- search section end ------------------------------------- -->
    </form>
    <!-- ------------------------------------- form end ------------------------------------- -->
  {% endif %}
  <!-- ------------------------------------- step 1 end ------------------------------------- -->
  <!-- ------------------------------------- step 2 start ------------------------------------- -->
  {% if page_dict_to_html['url_step_code'] == '2' %}
    <p for="ui_search_show_name" class="custom-width-500 mx-auto text-center form-label custom-header-25 fw-bold custom-color-white custom-pt-50 custom-mb-25">{{ page_dict_to_html['url_step_title'] }}</p>
    <!-- ------------------------------------- confirm section start ------------------------------------- -->
    <div class="custom-width-500 mx-auto text-center">
      <!-- ------------------------------------- show selection start ------------------------------------- -->
      {% for i in range(page_dict_to_html['spotify_pulled_arr_of_dict']|length) %}
        <div class="custom-invisible-1" id="id-show_result_{{ i }}">
          <div class="custom-display-flex custom-jc-around custom-width-100">
            <!-- ------------------------------------- left arrow start ------------------------------------- -->
            {% if i-1 < 0 %}
              <div class="my-auto">
                <i class="fa-solid fa-chevron-left custom-color-white custom-opacity-10 custom-header-50"></i>
              </div>
            {% else %}
              <div class="my-auto">
                <i class="fa-solid fa-chevron-left custom-color-white custom-opacity-50 custom-hover-pointer-opacity-1 custom-header-50" id="id-show_index_back_{{ i-1 }}"></i>
              </div>
            {% endif %}
            <!-- ------------------------------------- left arrow end ------------------------------------- -->
            <!-- ------------------------------------- i start ------------------------------------- -->
            <div>
              <div class="custom-pb-25">
                <img src="{{ page_dict_to_html['spotify_pulled_arr_of_dict'][i]['img_medium'] }}" alt="show img" class="custom-br-1 custom-border-white-opacity-50">
              </div>
              <div class="custom-display-flex custom-jc-center">
                <input class="form-check-input custom-invisible-1" type="radio" name="flexRadioAllShowSelection" id="id-flexRadioShowSelection_{{ i }}" value="{{ i }}">
                <label class="form-check-label custom-invisible-1" for="id-flexRadioShowSelection_{{ i }}"></label>
                <p class="custom-m-0 custom-color-white custom-header-25 custom-pb-15">{{ page_dict_to_html['spotify_pulled_arr_of_dict'][i]['name'] }}</p>
              </div>
              <div class="custom-tal">
                <p class="custom-m-0 custom-color-white custom-header-10 custom-pb-25 custom-opacity-50">{{ page_dict_to_html['spotify_pulled_arr_of_dict'][i]['description'] }}...</p>
              </div>
            </div>
            <!-- ------------------------------------- i end ------------------------------------- -->
            <!-- ------------------------------------- right arrow start ------------------------------------- -->
            {% if i == (page_dict_to_html['spotify_pulled_arr_of_dict']|length - 1) %}
              <div class="my-auto">
                <i class="fa-solid fa-chevron-right custom-color-white custom-opacity-10 custom-header-50"></i>
              </div>
            {% else %}
              <div class="my-auto">
                <i class="fa-solid fa-chevron-right custom-color-white custom-opacity-50 custom-hover-pointer-opacity-1 custom-header-50" id="id-show_index_forward_{{ i+1 }}"></i>
              </div>
            {% endif %}
            <!-- ------------------------------------- right arrow end ------------------------------------- -->
          </div>
        </div>
      {% endfor %}
      <!-- ------------------------------------- show selection end ------------------------------------- -->
      <!-- {% if page_dict_to_html['spotify_dict_exists_show_id'] == false %}
        <a href="/polling/preview/show/add/{{ page_dict_to_html['url_redis_key'] }}" class="btn btn-lg btn-success custom-width-100 custom-mt-25">Continue <i class="fa-solid fa-angle-right"></i></a>
      {% else %}
        <a href="/polling/preview/show/{{ page_dict_to_html['spotify_dict_exists_show_id'] }}?url_redis_key={{ page_dict_to_html['url_redis_key'] }}" class="btn btn-lg btn-success custom-width-100 custom-mt-25">Continue <i class="fa-solid fa-angle-right"></i></a>
      {% endif %} -->
      <button type="submit" class="btn btn-lg btn-success custom-width-100 custom-mt-25">Confirm <i class="fa-solid fa-check"></i></button>
      <!-- ------------------------------------- back button start ------------------------------------- -->
      <a href="/polling" class="btn btn-outline-secondary custom-width-100 custom-mt-15 custom-mb-50"><i class="fa-solid fa-angle-left"></i> Back</a>
      <!-- ------------------------------------- back button end ------------------------------------- -->
    </div>
    <!-- ------------------------------------- confirm section end ------------------------------------- -->
  {% endif %}
  <!-- ------------------------------------- step 2 end ------------------------------------- -->
</div>
<!-- ------------------------------------- end ------------------------------------- -->
{% endblock %}