{% extends "polling/aaa_base/base2_exterior_interactive.html" %}

{% block title %}
    <title>Audience Relationship Management - Triviafy</title>
    <meta name="description" content="Audience relationship management. Premium podcast polling platform. Information about your listeners.">
    <meta name="og:description" content="Audience relationship management. Premium podcast polling platform. Information about your listeners.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
{% if page_dict_to_html['alert_message_dict']['message'] != '' %}
<div class="alert alert-{{ page_dict_to_html['alert_message_dict']['type'] }} mx-auto text-center container-fluid custom-width-100 custom-m-0" role="alert">
  {{ page_dict_to_html['alert_message_dict']['message'] }}
</div>
{% endif %}
<!-- ----------------------------------- end ----------------------------------- -->
<!-- ----------------------------------- start ----------------------------------- -->
<div class="container-fluid custom-bg-black">
  <!-- ------------------------------------- step 1 start ------------------------------------- -->
  {% if page_dict_to_html['url_step_code'] == '1' %}
    <!-- ------------------------------------- form start ------------------------------------- -->
    <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
      <!-- ------------------------------------- search section start ------------------------------------- -->
      <div class="custom-width-800 mx-auto custom-pt-150 custom-pb-50">
        <!-- ------------------------------------- search bar start ------------------------------------- -->
        <label for="ui_search_show_name" class="form-label custom-header-25 fw-bold custom-color-white">Search podcast <i class="fa-brands fa-spotify"></i> <i class="fa-solid fa-podcast"></i></label>
        <input type="text" class="form-control custom-ptb-25" id="ui_search_show_name" name="ui_search_show_name" placeholder="Example: '{{ page_dict_to_html['shows_arr_of_dicts'][0]['name'] }}'" required>
        <!-- ------------------------------------- search bar end ------------------------------------- -->
        <button type="submit" class="btn btn-lg btn-success custom-width-100 custom-mt-25"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
      </div>
      <!-- ------------------------------------- search section end ------------------------------------- -->
    </form>
    <!-- ------------------------------------- form end ------------------------------------- -->
  {% endif %}
  <!-- ------------------------------------- step 1 end ------------------------------------- -->
  <!-- ------------------------------------- step 2 start ------------------------------------- -->
  {% if page_dict_to_html['url_step_code'] == '2' %}
    <p for="ui_search_show_name" class="custom-width-500 mx-auto text-center form-label custom-header-25 fw-bold custom-color-white custom-pt-50 custom-mb-25">{{ page_dict_to_html['url_step_title'] }}</p>
    <!-- ------------------------------------- confirm section start ------------------------------------- -->
    <div class="custom-width-500 mx-auto text-center">
      <div class="custom-pb-25">
        <img src="{{ page_dict_to_html['spotify_pulled_dict']['img_medium'] }}" alt="show img" class="custom-br-1 custom-border-white-opacity-50">
      </div>
      <p class="custom-m-0 custom-color-white custom-header-25 custom-pb-15">{{ page_dict_to_html['spotify_pulled_dict']['name'] }}</p>
      <div class="custom-tal">
        <p class="custom-m-0 custom-color-white custom-header-10 custom-pb-25 custom-opacity-50">{{ page_dict_to_html['spotify_pulled_dict']['description'] }}...</p>
      </div>
      <a href="/polling" class="btn btn-lg btn-success custom-width-100 custom-mt-25">Continue <i class="fa-solid fa-angle-right"></i></a>
      <!-- ------------------------------------- back button start ------------------------------------- -->
      <a href="/polling" class="btn btn-outline-secondary custom-width-100 custom-mt-15 custom-mb-50"><i class="fa-solid fa-angle-left"></i> Back</a>
      <!-- ------------------------------------- back button end ------------------------------------- -->
    </div>
    <!-- ------------------------------------- confirm section end ------------------------------------- -->
  {% endif %}
  <!-- ------------------------------------- step 2 end ------------------------------------- -->
</div>
<!-- ------------------------------------- end ------------------------------------- -->
<!-- ------------------------------------- infinite horizontal scroll start ------------------------------------- -->
{% if page_dict_to_html['url_step_code'] == '1' %}
  <div id="container-horizontal-scroll-1">
    <div class="photobanner-horizontal-scroll-1">
      {% for i_dict in page_dict_to_html['shows_arr_of_dicts'] %}
        <img src="{{ i_dict['platform_image_medium'] }}" alt="{{ i_dict['name'] }} podcast logo" class="custom-br-15 custom-m-25 custom-img-size-100 border shadow custom-opacity-50 custom-hover-pointer-opacity-1">
      {% endfor %}
    </div>
  </div>
{% endif %}
<!-- ------------------------------------- infinite horizontal scroll end ------------------------------------- -->
<!-- ------------------------------------- footer start ------------------------------------- -->
  <div class="custom-width-200 mx-auto custom-display-flex custom-mt-50 custom-mb-100">
    <a href="/polling"><img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/official_logo_v3.png" alt="triviafy logo" class="custom-img-size-50"></a>
    <div>
      <p class="fw-bold custom-header-25 custom-m-0"><a href="/polling" class="custom-a-black-none">Triviafy</a></p>
      <p class="fw-bold custom-header-10 custom-m-0 custom-mt-negative-5 custom-no-wrap"><a href="/polling" class="custom-a-black-none">Audience polling platform</a></p>
    </div>
  </div>
  <!-- ------------------------------------- footer end ------------------------------------- -->
{% endblock %}