/* - - - - - - - - - - assessment create start */
.schedule-now-options-grid {
  /* border: 1px solid black; */
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
.schedule-now-anchor-adj {
  width: 400px;
}
.schedule-now-button-container {
  /* border: 1px solid black; */
  text-align: center;
}
/* - - - - - - - - - - assessment create end */