@media (max-width: 1200px) {
  /* - - - - - - - - - - abc start */
  .schedule-now-options-grid {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  .schedule-now-anchor-adj {
    width: 250px;
  }
  /* - - - - - - - - - - abc end */
}