{% if page_dict_to_html['trivia_first_created'] == false %}
  {% extends "employees/aaa_base/base2_interior2.html" %}
{% else %}
  {% extends "employees/aaa_base/base2_interior.html" %}
{% endif %}
<!-- head tag block content -->
{% block title %}
  <title>Request - Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
  <div class="container custom-display-flex custom-pt-6 custom-jc-2">
    <h2 class="custom-header-2-mobile">Request categories</h2>
  </div>
  <div class="container border shadow custom-br-1 custom-bg-white">
    <div class="mx-auto custom-width-14 custom-ptb-5">
      <!-- ----------------------------------- start ----------------------------------- -->
      {% if page_dict_to_html['alert_message_dict']['message'] != '' %}
      <div class="alert alert-{{ page_dict_to_html['alert_message_dict']['type'] }} mx-auto text-center container" role="alert">
        {{ page_dict_to_html['alert_message_dict']['message'] }}
      </div>
      {% endif %}
      <!-- ----------------------------------- end ----------------------------------- -->
      <div class="">
        <h2 class="custom-header-5 custom-color-light-1 custom-mb-6">Example: "Seinfeld, Geography, Investing, Cooking, etc."</h2>
      </div>
      <!-- ------------------------------------- question title start ------------------------------------- -->
      <div class="form-floating">
        <textarea class="form-control" id="ui_requested" name="ui_requested" placeholder="Question title*" onkeyup="createQuestionCountCharsCustom1(this);" pattern="{1,100}" required></textarea>
        <label for="ui_requested">Categories*</label>
        <p id="createQuestionCountCharsCustom1" class="custom-size-3 custom-color-light-1 fst-italic custom-mt-2 custom-ml-2"></p>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Request</button>
      </div>
      <!-- ------------------------------------- question title end ------------------------------------- -->
    </div>
  </div>
</form>
{% endblock %}