{% extends "candidates_page_templates/aaa_base_page_templates/base2_child1_not_logged_in_no_navbar_and_footer.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Signup / Triviafy</title>
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - error message start -->
<div class="error-message-section">
  <p>{{ error_message_to_html }}</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - error message end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - top page start -->
<div class="login-and-create-account-background-whole-screen">
  
  <form method="POST" class="login-create-account-form default-box-shadow-grey-reg">
    <h1 class="login-create-account-title">Triviafy Sign Up!</h1>
    
    <div class="create-account-user-input-section">
      <label for="create_account_page_ui_email"></label>
      <input type="email" id="create_account_page_ui_email" name="create_account_page_ui_email" class="candidates-default-text-input" placeholder="Work email*" value="{{ redirect_var_email }}" pattern="\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b" required />
    </div>
  
    <div class="create-account-user-input-section">
      <label for="create_account_page_ui_password"></label>
      <input type="password" id="create_account_page_ui_password" name="create_account_page_ui_password" class="candidates-default-text-input" placeholder="Password*" value="{{ redirect_var_password }}" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" title="8+ total characters | 1+ uppercase, lowercase, digit, and special character" required />
    </div>

    <div class="create-account-user-input-section">
      <label for="create_account_page_ui_name"></label>
      <input type="text" id="create_account_page_ui_name" name="create_account_page_ui_name" class="candidates-default-text-input" placeholder="Name" value="{{ redirect_var_first_name }}" title="First name needs to be 2-20 characters" pattern="^[\w\s-]{2,20}$" />
    </div>
  
    <div class="create-account-user-input-section">
      <label for="create_account_page_ui_company_name"></label>
      <input type="text" id="create_account_page_ui_company_name" name="create_account_page_ui_company_name" class="candidates-default-text-input" placeholder="Company name*" value="{{ redirect_var_company_name }}" title="Company name needs to be 2-20 characters" pattern="^[\w\s-]{2,20}$" required />
    </div>

    <div class="create-account-user-input-button-section">
      <button type="submit" class="default-button-format default-button-format-primary-color">Create account</button>
    </div>
  </form>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - top page end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - other links start -->
<div class="login-create-account-other-links-section">
  <p><a href="{{ url_for('auth.candidates_login_page_function') }}" class="pricing-a">Login</a></p>
  <p><a href="{{ url_for('views.landing_index_page_function') }}" class="pricing-a">Home</a></p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - other links end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->
{% endblock %}