{% extends "employee_engagement_page_templates/AA_SUPPORTING_PAGE_TEMPLATES/index.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Blog Post / Triviafy</title>
{% endblock %}

{% block content %}

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar START -->
<!--Navigation bar-->
<nav-not-signed-in-component-2 link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
                              link_about_js="{{ url_for('about_index_page_render_template.about_index_page_render_template_function') }}",
                              link_blog_js="{{ url_for('blog_index_page_render_template.blog_index_page_render_template_function') }}",
                              link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}",
                              pdf_slack_setup_js="{{ url_for('setup_slack_index_page_render_template.setup_slack_index_page_render_template_function') }}",
                              pdf_example_quiz_js="{{ url_for('example_quiz_team_analytics_render_template.example_quiz_team_analytics_render_template_function') }}",
                              pdf_example_quiz_javascript_js="{{ url_for('example_quiz_javascript_render_template.example_quiz_javascript_render_template_function') }}",
                              pdf_example_quiz_excel_js="{{ url_for('example_quiz_excel_render_template.example_quiz_excel_render_template_function') }}",
                              pdf_example_quiz_sql_js="{{ url_for('example_quiz_sql_render_template.example_quiz_sql_render_template_function') }}",
                              pdf_example_quiz_tableau_js="{{ url_for('example_quiz_tableau_render_template.example_quiz_tableau_render_template_function') }}",
                              pdf_example_quiz_mixed_categories_js="{{ url_for('example_quiz_mixed_categories_render_template.example_quiz_mixed_categories_render_template_function') }}",
                              link_demo_js="{{ url_for('demo_page_render_template.demo_page_render_template_function') }}",
                              link_faq_js="{{ url_for('faq_index_page_render_template.faq_index_page_render_template_function') }}">
</nav-not-signed-in-component-2>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Page START -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Page Intro - START -->
<div class="default-not-signed-in-page-width">
  <div class="default-not-signed-in-page-title-subtitle-section">
    <p class="default-not-signed-in-page-title">Top 5 Team Building Activities for Remote Teams 2022 New Year</p>
    <p class="default-not-signed-in-page-subtitle"><em>Triviafy</em> your workspace.</p>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Page Intro - END -->

  
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Content - About Page - Start -->
  <div class="blog-single-post-page-content-section">

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image START -->
    <div class="blog-single-post-img-section">
      <img src="/static/images/employee_engagement/blog_post_images/blog_post_0005_images/remote_work.jpg" alt="unsplash image" class="blog-single-post-img default-box-shadow-grey-reg">
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image END -->


    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Whole Article START -->
    <div class="blog-single-post-all-articles-section">
      <p class="default-not-signed-in-page-header-font">Overview</p>
      <p class="default-not-signed-in-page-p-font">To combat “The Great Resignation” real leaders turn to team building activities.</p>
      <div class="blog-single-post-space-divider"></div>

      <p class="default-not-signed-in-page-p-font">We’ve listed some of our favorite team building activities, employee engagement initiatives, learning and development tools.</p>
      <div class="blog-single-post-space-divider"></div>

      <p class="default-not-signed-in-page-p-font">Benefit: L&D, team building initiatives without the logistical headaches.</p>
      <div class="blog-single-post-space-divider"></div>
      

      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Website 1 START -->
      <p class="default-not-signed-in-page-header-font">1. Triviafy</p>
      <p class="default-not-signed-in-page-p-font"><a href="https://triviafy.com/" class="default-not-signed-in-page-p-font default-not-signed-in-page-p-font-hyperlink-a" target="_blank">Triviafy</a> is a weekly trivia quiz sent directly to your team. Weekly trivia is asynchronous, meaning each coworker completes the quiz on their own time and winner’s are announced at the end of the week.</p>
      <p class="default-not-signed-in-page-p-font">Slack approved app, setup takes less than 30 seconds.</p>

      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image START -->
      <div class="blog-single-post-img-section">
        <img src="/static/images/employee_engagement/blog_post_images/blog_post_0005_images/Triviafy.png" alt="Screenshot of landing page" class="blog-single-post-img default-box-shadow-grey-reg">
      </div>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image END -->
      <div class="blog-single-post-space-divider"></div>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Website 1 END -->


      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Website 2 START -->
      <p class="default-not-signed-in-page-header-font">2. Kahoot!</p>
      <p class="default-not-signed-in-page-p-font"><a href="https://kahoot.com/" class="default-not-signed-in-page-p-font default-not-signed-in-page-p-font-hyperlink-a" target="_blank">Kahoot!</a> is a global learning platform company that wants to empower everyone, including children, students, and employees, to unlock their full learning potential.</p>
      <p class="default-not-signed-in-page-p-font">Kahoot! is used in many institutions of higher education around the world, including 87% of the global top 500 universities.</p>

      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image START -->
      <div class="blog-single-post-img-section">
        <img src="/static/images/employee_engagement/blog_post_images/blog_post_0005_images/kahoot.png" alt="Screenshot of landing page" class="blog-single-post-img default-box-shadow-grey-reg">
      </div>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image END -->
      <div class="blog-single-post-space-divider"></div>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Website 2 END -->


      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Website 3 START -->
      <p class="default-not-signed-in-page-header-font">3. Workplace</p>
      <p class="default-not-signed-in-page-p-font"><a href="https://www.workplace.com/" class="default-not-signed-in-page-p-font default-not-signed-in-page-p-font-hyperlink-a" target="_blank">Workplace</a> is a communication tool that connects everyone in your company, even if they’re working remotely. Use familiar features such as News Feed, Chat, Live video and Groups, to get people talking and working together.</p>
      <p class="default-not-signed-in-page-p-font">Workplace is a Meta company.</p>

      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image START -->
      <div class="blog-single-post-img-section">
        <img src="/static/images/employee_engagement/blog_post_images/blog_post_0005_images/workplace.png" alt="Screenshot of landing page" class="blog-single-post-img default-box-shadow-grey-reg">
      </div>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image END -->
      <div class="blog-single-post-space-divider"></div>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Website 3 END -->


      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Website 4 START -->
      <p class="default-not-signed-in-page-header-font">4. Skribbl</p>
      <p class="default-not-signed-in-page-p-font"><a href="https://skribbl.io/" class="default-not-signed-in-page-p-font default-not-signed-in-page-p-font-hyperlink-a" target="_blank">Skribbl</a> is a multiplayer drawing and guessing game. One game consists of a few rounds in which every round someone has to draw their chosen word and others have to guess it to gain points.</p>

      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image START -->
      <div class="blog-single-post-img-section">
        <img src="/static/images/employee_engagement/blog_post_images/blog_post_0005_images/skribbl.png" alt="Screenshot of landing page" class="blog-single-post-img default-box-shadow-grey-reg">
      </div>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image END -->
      <div class="blog-single-post-space-divider"></div>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Website 4 END -->


      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Website 5 START -->
      <p class="default-not-signed-in-page-header-font">5. QuizBreaker</p>
      <p class="default-not-signed-in-page-p-font"><a href="https://www.quizbreaker.com/" class="default-not-signed-in-page-p-font default-not-signed-in-page-p-font-hyperlink-a" target="_blank">QuizBreaker</a> is a scheduled virtual team building quiz delivered to your inbox. Helping teams bond, no matter where they are.</p>

      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image START -->
      <div class="blog-single-post-img-section">
        <img src="/static/images/employee_engagement/blog_post_images/blog_post_0005_images/quizbreaker.png" alt="Screenshot of landing page" class="blog-single-post-img default-box-shadow-grey-reg">
      </div>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image END -->
      <div class="blog-single-post-space-divider"></div>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Website 5 END -->
    </div>  
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Whole Article END -->
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Content - About Page - END -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Contact Bottom Page - Start -->
  <div class="default-not-signed-in-bottom-contact-section">
    <p class="default-not-signed-in-page-contact-font">Contact: support@triviafy.com</p>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Contact Bottom Page - End -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Img Bottom Page - Start -->
  <div class="default-not-signed-in-bottom-img-section">
    <img src="/static/images/employee_engagement/logo/Logo_active/Logo_cheering_purple.png" alt="Logo active." class="default-not-signed-in-bottom-img">
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Img Bottom Page - End -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Form Email START -->
  <div class="blog-single-post-email-collect-section">
    <form action="{{ url_for('collect_email_processing.collect_email_processing_function') }}" method="post" class="landing-page-email-form" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
      <label for="user_input_email" class="landing-page-form-email-label"></label>
      <input type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" id="user_input_email" name="user_input_email" placeholder="Your work email" class="default-not-signed-in-text-input" required><br><br>
      <input type="submit" value="Request a demo" class="default-button-format default-button-format-primary-color landing-page-button-position">
    </form>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Form Email END -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Supporting Links START -->
  <div class="blog-single-post-supporting-links-section">
    <p class="default-not-signed-in-page-p-font">Supporting Links</p>
    <a href="https://medium.com/triviafy/top-5-team-building-activities-for-remote-teams-2022-new-year-d7e113b79e6f" target="_blank" class="default-not-signed-in-page-p-font default-not-signed-in-page-p-font-hyperlink-a"><p>Medium Article</p></a>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Supporting Links End -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - About Author START -->
  <div class="blog-single-post-about-author-section">
    <a href="https://twitter.com/robertjborowski" target="_blank" class="default-not-signed-in-page-p-font default-not-signed-in-page-p-font-hyperlink-a"><img src="/static/images/employee_engagement/blog_post_images/author_picture/author_me.jpeg" alt="Blog post author" class="blog-single-post-about-author-sub-section-img"></a>
    <div class="blog-single-post-about-author-sub-section-words">
      <p class="default-not-signed-in-page-header-font">About the author</p>
      <p class="default-not-signed-in-page-p-font"><a href="https://twitter.com/robertjborowski" target="_blank" class="default-not-signed-in-page-p-font default-not-signed-in-page-p-font-hyperlink-a">Robert Borowski</a> is the founder/engineer of Triviafy.</p>
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - About Author End -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Date Published START -->
  <div class="blog-single-post-date-published">
    <p class="default-not-signed-in-page-p-font">Published: 1/10/2022</p>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Date Published END -->

</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Page END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Footer START -->
<!-- Footer Not Signed In -->
<footer-not-signed-in-component-2 link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
                                link_about_js="{{ url_for('about_index_page_render_template.about_index_page_render_template_function') }}",
                                link_blog_js="{{ url_for('blog_index_page_render_template.blog_index_page_render_template_function') }}",
                                link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}",
                                link_terms_conditions_js="{{ url_for('terms_of_service_index_page_render_template.terms_of_service_index_page_render_template_function') }}",
                                pdf_example_quiz_js="{{ url_for('example_quiz_team_analytics_render_template.example_quiz_team_analytics_render_template_function') }}",
                                pdf_example_quiz_javascript_js="{{ url_for('example_quiz_javascript_render_template.example_quiz_javascript_render_template_function') }}",
                                pdf_example_quiz_excel_js="{{ url_for('example_quiz_excel_render_template.example_quiz_excel_render_template_function') }}",
                                pdf_example_quiz_sql_js="{{ url_for('example_quiz_sql_render_template.example_quiz_sql_render_template_function') }}",
                                pdf_example_quiz_tableau_js="{{ url_for('example_quiz_tableau_render_template.example_quiz_tableau_render_template_function') }}",
                                pdf_slack_setup_js="{{ url_for('setup_slack_index_page_render_template.setup_slack_index_page_render_template_function') }}",
                                link_faq_js="{{ url_for('faq_index_page_render_template.faq_index_page_render_template_function') }}">
</footer-not-signed-in-component-2>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Footer END -->

{% endblock %}