{% extends "candidates/aaa_base/base.html" %}

<!-- head tag block content -->
{% block title %}
  <title>base2_exterior.html</title>
{% endblock %}

{% block contentBody %}
<!-- ------------------------------------- navbar start ------------------------------------- -->
<div class="container-fluid fixed-top shadow-sm custom-bg-white">
  <nav class="container navbar navbar-expand-md navbar-light">
    <a href="/candidates/dashboard" class="navbar-brand">
      <img src="/static/images/candidates/logo/logo_v3.png" alt="triviafy logo" class="custom-img-size-2 custom-mt-negative-2 custom-mr-1">
      <span class="fw-bold custom-header-6">triviafy</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu" aria-controls="toggleMobileMenu" aria-expanded="false" aria-lable="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="toggleMobileMenu">
      <ul class="navbar-nav ms-auto text-center">
        <li><a href="/candidates/assessments/dashboard" class="nav-link mx-2 custom-my-1-mobile">Assessments</a></li>
        <li><a href="/candidates/upload" class="nav-link mx-2 custom-my-1-mobile text-nowrap">Candidates</a></li>
        <li><a href="/candidates/schedule" class="nav-link mx-2 custom-my-1-mobile">Schedules</a></li>
        <li><a href="/candidates/account" class="nav-link mx-2 custom-my-1-mobile">Account</a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="custom-filler-4"></div>
<!-- ------------------------------------- navbar end ------------------------------------- -->
<div class="container-fluid custom-bg-grey-3 custom-pb-3">
{% block contentBodyExceptNavbarAndFooter %}
{% endblock %}
</div>
<!-- ------------------------------------- footer start ------------------------------------- -->
<!-- ------------------------------------- footer end ------------------------------------- -->
{% endblock %}