{% extends "aaa_base/base.html" %}

{% block title %}
base.html
{% endblock %}

{% block contentHead %}
<!-- ------------------------------------- javascript start ------------------------------------- -->
<!-- <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script> -->
<!-- js forms -->
<script type="text/javascript" src="{{ url_for('static', filename='javascript/candidates_js/form_js/multiple_select_dropdown.js') }}" defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/candidates_js/form_js/multiple_select_dropdown_schedule_assessment.js') }}" defer></script>
<!-- js checkboxes -->
<script type="text/javascript" src="{{ url_for('static', filename='javascript/candidates_js/checkboxes_js/auto_check_first_x.js') }}" defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/candidates_js/checkboxes_js/count_checked_checkboxes.js') }}" defer></script>
<!-- js preview selection -->
<script type="text/javascript" src="{{ url_for('static', filename='javascript/candidates_js/preview_selection_js/preview_selection.js') }}" defer></script>
<!-- ------------------------------------- javascript end ------------------------------------- -->
{% endblock %}

{% block contentBody %}
{% endblock %}