{% extends "aaa_base/base.html" %}

{% block title %}
base.html
{% endblock %}

{% block contentHead %}
<!-- ------------------------------------- javascript start ------------------------------------- -->
<!-- <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script> -->
<!-- jQuery CDN nessessary to use DataTables -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
<!-- js DataTables.net -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js" defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/candidates_js/datatables_js/datatables.js') }}" defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/candidates_js/datatables_js/datatables_v2.js') }}" defer></script>
<!-- js forms -->
<script type="text/javascript" src="{{ url_for('static', filename='javascript/candidates_js/form_js/multiple_select_dropdown.js') }}" defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/candidates_js/form_js/multiple_select_dropdown_schedule_assessment.js') }}" defer></script>
<!-- js checkboxes -->
<script type="text/javascript" src="{{ url_for('static', filename='javascript/candidates_js/checkboxes_js/auto_check_first_x.js') }}" defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/candidates_js/checkboxes_js/count_checked_checkboxes.js') }}" defer></script>
<!-- js filesize create question -->
<script type="text/javascript" src="{{ url_for('static', filename='javascript/candidates_js/create_question_js/filesize.js') }}" defer></script>
<!-- js tooltip -->
<script type="text/javascript" src="{{ url_for('static', filename='javascript/candidates_js/tooltip_js/tooltip.js') }}" defer></script>
<!-- js preview selection -->
<script type="text/javascript" src="{{ url_for('static', filename='javascript/candidates_js/preview_selection_js/preview_selection.js') }}" defer></script>
<!-- ------------------------------------- javascript end ------------------------------------- -->
{% endblock %}

{% block contentBody %}
{% endblock %}