{% extends "candidates/aaa_base/base.html" %}

<!-- head tag block content -->
{% block title %}
  <title>base2_exterior.html</title>
{% endblock %}

{% block contentBody %}
<body class="custom-google-font-1">
  <!-- ------------------------------------- navbar start ------------------------------------- -->
  <div class="container-fluid fixed-top shadow-sm custom-bg-white">
    <nav class="container navbar navbar-expand-md navbar-light">
      <a href="/candidates" class="navbar-brand">
        <img src="/static/images/all/logo/logo_v3.png" alt="triviafy logo" class="custom-img-size-1 custom-mt-negative-1 custom-mr-1">
        <span class="fw-bold custom-header-1">triviafy</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu" aria-controls="toggleMobileMenu" aria-expanded="false" aria-lable="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="toggleMobileMenu">
        <ul class="navbar-nav ms-auto text-center">
          <li onclick="autoScrollFooter()"><a href="#" class="nav-link mx-2 custom-my-1-mobile">Resources</a></li>
          <li><a href="/candidates/library" class="nav-link mx-2 custom-my-1-mobile text-nowrap">Test library</a></li>
          <li><a href="/candidates/pricing" class="nav-link mx-2 custom-my-1-mobile">Pricing</a></li>
          <li><a href="/candidates/login" class="nav-link mx-2 custom-my-1-mobile">Dashboard</a></li>
          <li><a class="btn btn-primary fw-bold mx-2 custom-my-1-mobile text-nowrap" href="/candidates/signup" role="button">Get started</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="custom-filler-1"></div>
  <!-- ------------------------------------- navbar end ------------------------------------- -->
  {% block contentBodyExceptNavbarAndFooter %}
  {% endblock %}
  <!-- ------------------------------------- footer start ------------------------------------- -->
  <div class="custom-shape-divider-top-1672341955 custom-bg-dark-1">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z" class="shape-fill"></path>
    </svg>
  </div>
  <div class="containter-fluid custom-bg-dark-1">
    <footer class="container">
      <div class="text-center">
        <h2 class="custom-header-1 custom-color-light-1">Resources</h2>
      </div>
      <div class="custom-display-flex custom-fw-1 custom-pt-1 custom-jc-1 custom-footer-mobile-1">
        <section>
          <ul class="custom-ls-1">
            <li class="custom-ptb-1"><a href="/candidates/about" class="custom-a-1">About</a></li>
            <li class="custom-ptb-1"><a href="/candidates/blog" class="custom-a-1">Blog</a></li>
            <li class="custom-ptb-1"><a href="/candidates/faq" class="custom-a-1">FAQ</a></li>
            <li class="custom-ptb-1"><a href="/candidates/pricing" class="custom-a-1">Pricing</a></li>
          </ul>
        </section>
        <section>
          <ul class="custom-ls-1">
            <li class="custom-ptb-1"><a href="/candidates/library" class="custom-a-1">Test library</a></li>
            <li class="custom-ptb-1"><a href="/candidates/login" class="custom-a-1">Login</a></li>
            <li class="custom-ptb-1"><a href="/candidates/signup" class="custom-a-1">Signup</a></li>
          </ul>
        </section>
      </div>
      <div class="custom-display-flex custom-fw-1 custom-ptb-2 custom-color-light-1 custom-jc-2 custom-footer-mobile-1">
        <p>2023 Triviafy | All Rights Reserved.</p>
        <p>Contact: support@triviafy.com</p>
        <div class="custom-fw-1">
          <a href="https://www.linkedin.com/company/triviafy" target="_blank"><img src="/static/images/candidates/social_media/linkedin.png" alt="linkedin icon" class="custom-img-size-2 custom-mr-2"></a>
          <a href="https://medium.com/triviafy" target="_blank"><img src="/static/images/candidates/social_media/medium.png" alt="medium icon" class="custom-img-size-2 custom-mr-2"></a>
          <a href="https://twitter.com/triviafywork" target="_blank"><img src="/static/images/candidates/social_media/twitter.png" alt="twitter icon" class="custom-img-size-2"></a>
        </div>
      </div>
    </footer>
  </div>
  <!-- ------------------------------------- footer end ------------------------------------- -->
</body>
{% endblock %}