{% extends "base.html" %}

<!-- head tag block content -->
{% block title %}
  <title>FAQ / Triviafy</title>
{% endblock %}

{% block content %}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro start -->
<div class="landing-page-intro-3-section">
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro left side start -->
  <div class="landing-page-intro-3-words-section">
    <p class="landing-page-intro-3-header">FAQ for the friendliest skill assessment experience.</p>
    <p class="landing-page-3-subheader landing-page-intro-3-sub-header">Early stage candidate screening made simple.</p>
    <div class="landing-page-get-started-section">
      <div class="landing-page-intro-3-next-steps-section">
        <form action="#" method="post" class="landing-page-email-form-3" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
          <label for="user_input_email" class="landing-page-form-email-label"></label>
          <input type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,10}$" id="user_input_email" name="user_input_email" placeholder="Your work email" class="default-not-signed-in-text-input" required><br><br>
          <input type="submit" value="Get started!" class="default-button-format default-button-format-primary-color landing-page-button-position-3">
        </form>
        <p class="free-trial-no-card-required-3">(No credit card required.)</p>
      </div>
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro left side end -->
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro right side start -->
  <div class="landing-page-intro-3-media-section">
    <img src="/static/images/candidates/faq_page/faq_page_orange.png" alt="" class="general-page-intro-3-media-img">
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro right side end -->
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - about start -->
<div class="about-section">
  <div class="faq-title-section">
    <p>Frequently Asked Questions</p>  
  </div>
  <div class="about-content-section">

    <div class="about-individual-section default-box-shadow-grey-reg">
      <p class="about-individual-p">Q: Does Triviafy offer a free trial?</p>
      <p class="about-individual-p">A: You can send upto 10 quizzes 100% free, no credit card required.</p>
    </div>
    <div class="faq-spacing-section"></div>

    <div class="about-individual-section default-box-shadow-grey-reg">
      <p class="about-individual-p">Q: How long will it take me to send out my first quiz using Triviafy?</p>
      <p class="about-individual-p">A: Less than two minutes.</p>
    </div>
    <div class="faq-spacing-section"></div>
    

    <div class="about-individual-section default-box-shadow-grey-reg">
      <p class="about-individual-p">Q: Monthly subscription cost?</p>
      <p class="about-individual-p">A: Please see our <a href="#" class="pricing-a">pricing</a> page.</p>
    </div>
    <div class="faq-spacing-section"></div>

    <div class="about-individual-section default-box-shadow-grey-reg">
      <p class="about-individual-p">Q: Can I send unlimited tests?</p>
      <p class="about-individual-p">A: Please see our <a href="#" class="pricing-a">pricing</a> page.</p>
    </div>
    <div class="faq-spacing-section"></div>

    <div class="about-individual-section default-box-shadow-grey-reg">
      <p class="about-individual-p">Q: Does Triviafy offer auto expiring test links?</p>
      <p class="about-individual-p">A: Yes. Links that expire within 24 hours as well as links that expire 1 hour after opening.</p>
    </div>
    <div class="faq-spacing-section"></div>

    <div class="about-individual-section default-box-shadow-grey-reg">
      <p class="about-individual-p">Q: Can I test answer and customize Triviafy tests before sending them out?</p>
      <p class="about-individual-p">A: Yes tests are 100% customizable and testable before sending to candidates.</p>
    </div>
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - about end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - other company logos start -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - supported frameworks start -->
<div class="landing-page-other-companies-section">
  <div class="landing-page-3-header">
    <p class="section-title-p-margins">Companies that love skill assessments!</p>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - framework logos start -->
  <div class="landing-page-all-logos-section">
    <div class="landing-page-company-container">
      <img src="/static/images/candidates/logos_companies/adobe.png" alt="Other company logo dark" class="company-logo-img">
    </div>
    <div class="landing-page-company-container">
      <img src="/static/images/candidates/logos_companies/cocacola.png" alt="Other company logo dark" class="company-logo-img">
    </div>
    <div class="landing-page-company-container">
      <img src="/static/images/candidates/logos_companies/ey.png" alt="Other company logo dark" class="company-logo-img">
    </div>
    <div class="landing-page-company-container">
      <img src="/static/images/candidates/logos_companies/lyft.png" alt="Other company logo dark" class="company-logo-img">
    </div>
    <div class="landing-page-company-container">
      <img src="/static/images/candidates/logos_companies/zendesk.png" alt="Other company logo dark" class="company-logo-img">
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - framework logos end -->
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - other company logos end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - sign up small start -->
<div class="sign-up-small-section default-box-shadow-grey-reg">
  <div class="landing-page-3-header">
    <p class="section-title-p-margins">Start filtering your candidates today!</p>
    <p class="landing-page-3-subheader">100% free. Send your first candidate assessment in less than 2 minutes.</p>
  </div>
  <div class="landing-page-get-started-section">
    <div class="landing-page-intro-3-next-steps-section">
      <form action="#" method="post" class="landing-page-email-form-3" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
        <label for="user_input_email" class="landing-page-form-email-label"></label>
        <input type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,10}$" id="user_input_email" name="user_input_email" placeholder="Your work email" class="default-not-signed-in-text-input" required><br><br>
        <input type="submit" value="Get started!" class="default-button-format default-button-format-primary-color landing-page-button-position-3">
      </form>
      <p class="free-trial-no-card-required-3">(No credit card required.)</p>
    </div>
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - sign up small end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->
{% endblock %}