{% extends "candidates/aaa_base/base2_interior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Tests - Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
{% if alert_message_page_to_html != '' %}
<div class="alert alert-{{ alert_message_type_to_html }} mx-auto text-center custom-mt-3 container" role="alert">
  {{ alert_message_page_to_html }}
</div>
{% endif %}
<!-- ----------------------------------- end ----------------------------------- -->
<div class="container custom-display-flex custom-pt-6 custom-jc-2 custom-pb-6">
  <div>
    <h2 class="custom-header-2-mobile">Tests</h2>
  </div>
  <div>
    <a href="/candidates/schedule" class="btn btn-outline-secondary">Send test</a>
    <a href="/candidates/assessment/new/1b" class="btn btn-primary custom-ml-3">Create test +</a>
  </div>
</div>
<div class="container border shadow custom-br-1 custom-bg-white custom-ptb-6">
  <!-- ----------------------------------- start ----------------------------------- -->
  <table id="candidates-datatable-id" class="table table-striped" style="width:100%">
    <thead>
      <tr>
        <th>Test</th>
        <th>Duration</th>
        <th>Preview</th>
        <th>Candidates pending</th>
        <th>Candidates completed</th>
        <th>Summary</th>
      </tr>
    </thead>
    <tbody>
      {% for i in db_tests_obj_to_html %}
      <tr>
        <td>{{ i['assessment_name'] }}</td>
        <td>{{ i['total_questions'] }} min.</td>
        <td><a href="/candidates/tests/preview/{{ i['id'] }}/1" class="custom-a-2 fw-bolder">View test</a></td>
        <td>{{ i['total_pending'] }}</td>
        <td>{{ i['total_completed'] }}</td>
        <td><a href="/candidates/tests/{{ i['id'] }}" class="custom-a-2 fw-bolder">View report</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- ----------------------------------- end ----------------------------------- -->
</div>
<!-- ------------------------------------- signature start ------------------------------------- -->
<div class="text-center custom-mt-5">
  <img src="/static/images/candidates/logo/logo_wide_v3.png" alt="powered by triviafy logo" class="custom-img-size-10 custom-img-opacity-1">
</div>
<!-- ------------------------------------- signature end ------------------------------------- -->
{% endblock %}