{% extends "employees/aaa_base/base2_interior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Account - Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
{% if page_dict_to_html['alert_message_dict']['message'] != '' %}
<div class="alert alert-{{ page_dict_to_html['alert_message_dict']['type'] }} mx-auto text-center container custom-mt-1" role="alert">
  {{ page_dict_to_html['alert_message_dict']['message'] }}
</div>
{% endif %}
<!-- ----------------------------------- end ----------------------------------- -->
<div class="container custom-display-flex custom-pt-6 custom-jc-2 custom-pb-6">
  <h2 class="custom-header-2-mobile">Account</h2>
</div>
<div class="container custom-br-1"> 
  <div class="accordion" id="accordionExample">
    <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Subscription <img src="/static/images/candidates/stripe/stripe_t.png" alt="powered by stripe" class="custom-img-size-4 custom-ml-3">
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            {% if page_dict_to_html['stripe_current_period_end'] != '' %}
            <p>Next billing: {{ page_dict_to_html['stripe_current_period_end'] }}</p>
            {% endif %}
            <!-- ----------------------------------- start ----------------------------------- -->
            <div class="container text-center custom-pt-6 custom-pb-6">
              <h1 class="custom-header-7 custom-color-primary fw-bold">Pricing</h1>
              <h2 class="custom-header-5 fw-bold custom-a-2">Current plan: {{ page_dict_to_html['stripe_current_plan_type'] }}</h2>
              <p></p>
            </div>
            <!-- ----------------------------------- end ----------------------------------- -->

            <!-- ----------------------------------- start ----------------------------------- -->
            <div class="container custom-pb-2">
              <div class="custom-width-10 mx-auto custom-p-1">
                <div class="custom-display-flex custom-jc-1">
                  <!-- ----------------------------------- start ----------------------------------- -->
                  <div class="custom-br-1 custom-img-opacity-3" id="flexRadioSelectMonthly">
                    <label class="list-group-item d-flex custom-p-7 custom-width-19 custom-jc-3 custom-hover-1">
                      <input class="form-check-input custom-input-1" type="radio" name="flexRadioCadence" id="flexRadioMonthly" value="monthly">
                      <span class="custom-ml-3-negative">Monthly</span>
                    </label>
                  </div>
                  <!-- ----------------------------------- end ----------------------------------- -->
                  <!-- ----------------------------------- start ----------------------------------- -->
                  <div class="custom-br-1 custom-bg-color-1 fw-bold custom-color-4" id="flexRadioSelectYearly">
                    <label class="list-group-item d-flex custom-p-7 custom-width-19 custom-jc-3 custom-hover-1">
                      <input class="form-check-input custom-input-1" type="radio" name="flexRadioCadence" id="flexRadioYearly" value="yearly" checked>
                      <span class="custom-ml-3-negative">Yearly</span>
                    </label>
                  </div>
                  <!-- ----------------------------------- end ----------------------------------- -->
                </div>
              </div>
            </div>
            <!-- ----------------------------------- end ----------------------------------- -->
            <!-- ----------------------------------- start ----------------------------------- -->
            <div class="container custom-display-flex custom-fw-1 custom-jc-1">
              <!-- ----------------------------------- tier start ----------------------------------- -->
              <div class="custom-height-9 custom-p-2 custom-width-21 custom-bg-color-1 custom-br-1 shadow-sm custom-color-4 custom-mb-1">
                <div class="text-center">
                  <h1 class="custom-color-4 custom-header-2">Free</h1>
                  <h2 class="custom-color-4 custom-header-7">$0<span class="custom-header-5">.00 /month</span></h2>
                </div>
                <div>
                  <ul class="list-unstyled">
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Upto 15 users/team</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Trivia</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Colleague birthday trivia</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Customization</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Grading</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Leaderboard</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Activity scheduler</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Engagement analytics</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Activity archives</span></li>
                    <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Create custom questions</span></li>
                    <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Icebreakers</span></li>
                    <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Surveys</span></li>
                    <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Personality type</span></li>
                    <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Picture quiz</span></li>
                    <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Most likely to</span></li>
                    <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">This or that</span></li>
                    <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Watercooler starters</span></li>
                    <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Word games</span></li>
                    <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">2 player games</span></li>
                    <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Gift card rewards</span></li>
                    <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Multiple admins</span></li>
                    <li> </li>
                  </ul>
                </div>
              </div>
              <!-- ----------------------------------- tier end ----------------------------------- -->
              <!-- ----------------------------------- tier start ----------------------------------- -->
              <div class="custom-height-9 custom-p-2 custom-width-21 custom-bg-color-1 custom-br-1 shadow-sm custom-color-4 custom-mb-1">
                <div class="text-center">
                  <h1 class="custom-color-4 custom-header-2">Growth</h1>
                  <!-- ----------------------------------- toggle start ----------------------------------- -->
                  <h2 class="custom-color-4 custom-header-7 uiSearchItemInvisible" id="flexRadioMonthlyPrice1">$19<span class="custom-header-5">.99 /month</span></h2>
                  <h2 class="custom-color-4 custom-header-7 uiSearchItemVisible" id="flexRadioYearlyPrice1">$9<span class="custom-header-5">.99 /month</span></h2>
                  <!-- ----------------------------------- toggle end ----------------------------------- -->
                </div>
                <div>
                  <ul class="list-unstyled">
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Upto 50 users/team</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Trivia</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Colleague birthday trivia</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Customization</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Grading</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Leaderboard</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Activity scheduler</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Engagement analytics</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Activity archives</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Create custom questions</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Icebreakers</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Surveys</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Personality type</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Picture quiz</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Most likely to</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">This or that</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Watercooler starters</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Word games</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">2 player games</span></li>
                    <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Gift card rewards</span></li>
                    <li class="custom-opacity-1"><i class="fa-solid fa-xmark"></i> <span class="custom-ml-1">Multiple admins</span></li>
                    <li> </li>
                  </ul>
                </div>
                <div class="text-center custom-pt-4">
                  <!-- ----------------------------------- toggle start ----------------------------------- -->
                  <div class="custom-width-6 uiSearchItemInvisible" id="flexRadioSectionMonthly1">
                    <input type="radio" class="btn-check" name="uiSubscriptionSelected" id="flexRadioMonthlySubscription1" autocomplete="off" value="m1">
                    <label class="btn btn-lg btn-outline-success custom-width-6" for="flexRadioMonthlySubscription1">Select</label>
                  </div>
                  <div class="custom-width-6" id="flexRadioSectionYearly1">
                    <input type="radio" class="btn-check" name="uiSubscriptionSelected" id="flexRadioYearlySubscription1" autocomplete="off" value="y1">
                    <label class="btn btn-lg btn-outline-success custom-width-6" for="flexRadioYearlySubscription1">Select</label>
                  </div>
                  <!-- ----------------------------------- toggle end ----------------------------------- -->
                </div>
              </div>
              <!-- ----------------------------------- tier end ----------------------------------- -->
              <!-- ----------------------------------- tier start ----------------------------------- -->
              <div class="custom-height-9 custom-p-2 custom-width-21 custom-bg-color-1 custom-br-1 shadow-sm custom-color-4 custom-mb-1">
                <div class="text-center">
                  <h1 class="custom-color-4 custom-header-2">Performance</h1>
                  <!-- ----------------------------------- toggle start ----------------------------------- -->
                  <h2 class="custom-color-4 custom-header-7 uiSearchItemInvisible" id="flexRadioMonthlyPrice2">$39<span class="custom-header-5">.99 /month</span></h2>
                  <h2 class="custom-color-4 custom-header-7 uiSearchItemVisible" id="flexRadioYearlyPrice2">$19<span class="custom-header-5">.99 /month</span></h2>
                  <!-- ----------------------------------- toggle end ----------------------------------- -->
                </div>
                <div>
                  <ul class="list-unstyled">
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Unlimited users/team</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Trivia</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Colleague birthday trivia</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Customization</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Grading</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Leaderboard</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Activity scheduler</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Engagement analytics</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Activity archives</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Create custom questions</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Icebreakers</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Surveys</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Personality type</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Picture quiz</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Most likely to</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">This or that</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Watercooler starters</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Word games</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">2 player games</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Gift card rewards</span></li>
                    <li><i class="fa-solid fa-check"></i> <span class="custom-ml-1">Multiple admins</span></li>
                    <li> </li>
                  </ul>
                </div>
                <div class="text-center custom-pt-4">
                  <!-- ----------------------------------- toggle start ----------------------------------- -->
                  <div class="custom-width-6 uiSearchItemInvisible" id="flexRadioSectionMonthly2">
                    <input type="radio" class="btn-check" name="uiSubscriptionSelected" id="flexRadioMonthlySubscription2" autocomplete="off" value="m2">
                    <label class="btn btn-lg btn-outline-success custom-width-6" for="flexRadioMonthlySubscription2">Select</label>
                  </div>
                  <div class="custom-width-6" id="flexRadioSectionYearly2">
                    <input type="radio" class="btn-check" name="uiSubscriptionSelected" id="flexRadioYearlySubscription2" autocomplete="off" value="y2" checked>
                    <label class="btn btn-lg btn-outline-success custom-width-6" for="flexRadioYearlySubscription2">Select</label>
                  </div>
                  <!-- ----------------------------------- toggle end ----------------------------------- -->
                </div>
              </div>
              <!-- ----------------------------------- tier end ----------------------------------- -->
            </div>
            <div class="text-center custom-mb-3">
              <button type="submit" class="btn btn-success btn-lg custom-p-2">Continue via Stripe checkout <i class="fa-solid fa-arrow-right"></i></button>
              <div class="custom-mt-1">
                <a href="/employees/pricing" class="custom-a-2 custom-opacity-1" target="_blank">See our pricing FAQ's</a>
              </div>
            </div>
            <!-- ----------------------------------- end ----------------------------------- -->
          </div>
        </div>
      </div>
    </form>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Details
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="custom-ptb-4">
            <p class="custom-header-5">Email: {{ page_dict_to_html['current_user_email'] }}</p>
            <p class="custom-header-5">Company: {{ page_dict_to_html['current_user_company_name'] }}</p>
          </div>
        </div>
      </div>
    </div>

    <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Contact
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="custom-ptb-4">
              <div>
                <p class="custom-header-5">Email: support@triviafy.com</p>
              </div>
              <!-- ------------------------------------- input start ------------------------------------- -->
              <div class="form-floating">
                <textarea class="form-control" id="uiMessage" name="uiMessage" placeholder="Feedback*" onkeyup="createQuestionCountCharsOptionA(this);" pattern="{1,280}" required></textarea>
                <label for="uiMessage">Feedback*</label>
                <p id="createQuestionCountCharsOptionA" class="custom-size-3 custom-color-light-1 fst-italic custom-mt-2 custom-ml-2"></p>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
              <!-- ------------------------------------- input end ------------------------------------- -->
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
<!-- ------------------------------------- signature start ------------------------------------- -->
<div class="text-center custom-mt-5 custom-pb-3">
  <img src="/static/images/candidates/logo/logo_wide_v3.png" alt="powered by triviafy logo" class="custom-img-size-10 custom-img-opacity-1">
</div>
<!-- ------------------------------------- signature end ------------------------------------- -->
{% endblock %}