/* - - - - - - - - - - Question Presentation START */
.quiz-question-section {
  /* border: 1px solid black; */
  height: auto;
  width: 50%;
  max-width: 800px;
  margin: 50px auto;
  padding: 15px;
  border-radius: 25px;
}


/* - - - - - - - - - - Question Number, Title, Categories, Difficulty START */
.quiz-question-sub-section-background-color {
  /* border: 1px solid black; */
  background-color: rgb(230, 230, 230); /* v2 */
  border-radius: 15px;
  padding: 10px;
}
/* - - - - - - - - - - Question Logo START */
.quiz-question-sub-section-logo img {
  /* border: 1px solid black; */
  height: 55px;
  width: 55px;
  float: right;
}
/* - - - - - - - - - - Question Logo END */
.quiz-question-sub-section-number-and-title p {
  /* border: 1px solid black; */
  font-size: 25px;
  margin: 0 0 5px 0;
}
span.quiz-question-sub-section-difficulty {
  /* border: 1px solid black; */
  font-size: 10px;
  color: rgba(0, 0, 0, 0.50);
}
.quiz-question-sub-section-categories p {
  /* border: 1px solid red; */
  font-size: 15px;
}
/* - - - - - - - - - - Question Number, Title, Categories, Difficulty END */


/* - - - - - - - - - - Question parts underneath title START */

.quiz-question-sub-section-hint p {
  text-align: center;
  width: 90%;
  margin: 15px auto 0 auto;
}

.quiz-question-sub-section-actual-question p,
/* .quiz-question-sub-section-hint p, */
.quiz-question-sub-section-accepted-answers p,
.quiz-question-sub-section-status p,
.quiz-question-sub-section-user-submitted-answer p,
.quiz-question-sub-section-result p {
  text-align: center;
  width: 90%;
  margin: 15px auto;
  font-size: 16px;
}
/* - - - - - - - - - - Question parts underneath title END */


/* - - - - - - - - - - Question Actual Question START */
/* - - - - - - - - - - Question Actual Question END */


/* - - - - - - - - - - Question Image START */
.quiz-question-sub-section-image img {
  height: 250px;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 25px;
  border: 5px solid rgb(230, 230, 230);
}
.quiz-question-sub-section-image img.no-image-present {
  display: none;
}
/* - - - - - - - - - - Question Image END */


/* - - - - - - - - - - Question Hint START */
p.no-hint-present {
  display: none;
}
/* - - - - - - - - - - Question Hint END */


/* - - - - - - - - - - Question Accepted Answers START */
/* - - - - - - - - - - Question Accepted Answers END */


/* - - - - - - - - - - Question User Answers START */
.quiz-question-sub-section-user-answer {
  text-align: center;
  margin: 10px 0;
}
/* - - - - - - - - - - Question User Answers END */


/* - - - - - - - - - - Question Status START */
/* - - - - - - - - - - Question Status END */
/* - - - - - - - - - - Question Presentation END */