{% extends "polling/aaa_base/base.html" %}

<!-- head tag block content -->
{% block title %}
  <title>base2_exterior.html</title>
{% endblock %}

{% block contentBody %}
<body class="custom-google-font-1">
  <!-- ------------------------------------- navbar start ------------------------------------- -->
  <div class="container-fluid custom-bg-black">
    <nav class="container navbar navbar-expand-md navbar-dark">
      <div class="custom-display-flex">
        <a href="/"><img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/official_logo_v3_inverse.png" alt="triviafy logo" class="custom-img-size-50 custom-mr-1"></a>
        <div>
          <p class="fw-bold custom-header-25 custom-m-0"><a href="/polling" class="custom-a-white-none">Triviafy</a></p>
          <p class="fw-bold custom-header-10 custom-m-0 custom-mt-negative-5 custom-no-wrap"><a href="/polling" class="custom-a-white-none">Audience Polling Platform</a></p>
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu" aria-controls="toggleMobileMenu" aria-expanded="false" aria-lable="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="toggleMobileMenu">
        <ul class="navbar-nav ms-auto text-center">
          <li><a href="/polling" class="nav-link mx-2 custom-mtb-20-mobile custom-color-white-important"><i class="fa-solid fa-magnifying-glass"></i> Search</a></li>
          <li><a href="/polling/details" class="nav-link mx-2 custom-mtb-20-mobile custom-color-white-important">Audience</a></li>
          <li><a href="/polling/blog" class="nav-link mx-2 custom-mtb-20-mobile custom-color-white-important">Blog</a></li>
          <li class="nav-link custom-mtb-20-mobile custom-visible-non-mobile-only custom-color-white-important">|</li>
          <li><a href="/polling/login" class="nav-link mx-2 custom-mtb-20-mobile custom-color-white-important">Log in</a></li>
          <li><a class="btn btn-outline-warning btn-lg fw-bold mx-2 custom-mtb-20-mobile text-nowrap" href="/polling/signup" role="button">Get started <i class="fa-solid fa-angle-right"></i></a></li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- <div class="custom-filler-1"></div> -->
  <!-- ------------------------------------- navbar end ------------------------------------- -->
  {% block contentBodyExceptNavbarAndFooter %}
  {% endblock %}
  <!-- ------------------------------------- infinite horizontal scroll start ------------------------------------- -->
  {% if page_dict_to_html['url_step_code'] == '1' %}
  <div id="container-horizontal-scroll-1">
    <div class="photobanner-horizontal-scroll-1">
      {% for i_dict in page_dict_to_html['shows_arr_of_dicts'] %}
        <a href="/polling/preview/show/{{ i_dict['id'] }}"><img src="{{ i_dict['platform_image_medium'] }}" alt="{{ i_dict['name'] }} podcast logo" class="custom-br-15 custom-m-25 custom-img-size-100 border shadow custom-opacity-50 custom-hover-pointer-opacity-1"></a>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <!-- ------------------------------------- infinite horizontal scroll end ------------------------------------- -->
  <!-- ------------------------------------- footer start ------------------------------------- -->
  <div class="custom-width-200 mx-auto custom-display-flex custom-mt-50 custom-mb-100">
    <a href="/polling"><img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/official_logo_v3.png" alt="triviafy logo" class="custom-img-size-50"></a>
    <div>
      <p class="fw-bold custom-header-25 custom-m-0"><a href="/polling" class="custom-a-black-none">Triviafy</a></p>
      <p class="fw-bold custom-header-10 custom-m-0 custom-mt-negative-5 custom-no-wrap"><a href="/polling" class="custom-a-black-none">Audience polling platform</a></p>
    </div>
  </div>
  <!-- ------------------------------------- footer end ------------------------------------- -->
</body>
{% endblock %}