{% extends "polling/aaa_base/base.html" %}

<!-- head tag block content -->
{% block title %}
  <title>base2_exterior.html</title>
{% endblock %}

{% block contentBody %}
<body class="custom-google-font-1">
  <!-- ------------------------------------- navbar start ------------------------------------- -->
  <div class="container-fluid custom-bg-white">
    <nav class="container navbar navbar-expand-md navbar-light">
      <div class="custom-display-flex">
        <a href="/"><img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/official_logo_v3.png" alt="triviafy logo" class="custom-img-size-50 custom-mr-1"></a>
        <div>
          <p class="fw-bold custom-header-25 custom-m-0"><a href="/polling" class="custom-a-black-none">Triviafy</a></p>
          <p class="fw-bold custom-header-10 custom-m-0 custom-mt-negative-5 custom-no-wrap"><a href="/polling" class="custom-a-black-none">Audience Polling Platform</a></p>
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu" aria-controls="toggleMobileMenu" aria-expanded="false" aria-lable="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="toggleMobileMenu">
        <ul class="navbar-nav ms-auto text-center">
          <li><a href="/polling" class="nav-link mx-2 custom-mtb-20-mobile"><i class="fa-solid fa-magnifying-glass"></i> Search</a></li>
          <li><a href="/polling/details" class="nav-link mx-2 custom-mtb-20-mobile">Audience</a></li>
          <li><a href="/polling/blog" class="nav-link mx-2 custom-mtb-20-mobile">Blog</a></li>
          <li class="nav-link custom-mtb-20-mobile custom-visible-non-mobile-only">|</li>
          <li><a href="/polling/login" class="nav-link mx-2 custom-mtb-20-mobile">Log in</a></li>
          <li><a class="btn btn-success btn-lg fw-bold mx-2 custom-mtb-20-mobile text-nowrap" href="/polling/signup" role="button">Get started <i class="fa-solid fa-angle-right"></i></a></li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- <div class="custom-filler-1"></div> -->
  <!-- ------------------------------------- navbar end ------------------------------------- -->
  {% block contentBodyExceptNavbarAndFooter %}
  {% endblock %}
  <!-- ----------------------------------- start ----------------------------------- -->
  <div class="container-fluid">
    <div class="custom-width-900 mx-auto custom-p-2 custom-br-1 custom-bg-color-13 shadow">
      <div class="text-center">
        <h2 class="custom-header-1">Privacy & Security</h2>
      </div>
      <div class="custom-display-flex custom-fw-1 custom-jc-1">
        <!-- ----------------------------------- section start ----------------------------------- -->
        <div class="text-center custom-width-250-mobile custom-p-2 custom-br-1 custom-bg-white shadow-sm custom-mtb-2">
          <div class="custom-ptb-6">
            <img src="/static/images/all/unDraw/undraw_vault_re_s4my.svg" alt="" class="custom-img-size-12">
          </div>
          <p class="custom-header-2">Private Data</p>
          <p class="custom-header-5 custom-tal">We respect user data privacy and only collect the necessary information to provide our services. We never sell or rent user data to third parties and only share it with trusted service providers as necessary.</p>
        </div>
        <!-- ----------------------------------- section end ----------------------------------- -->
        <!-- ----------------------------------- section start ----------------------------------- -->
        <div class="text-center custom-width-250-mobile custom-p-2 custom-br-1 custom-bg-white shadow-sm custom-mtb-2">
          <div class="custom-ptb-6">
            <img src="/static/images/all/unDraw/undraw_secure_files_re_6vdh.svg" alt="" class="custom-img-size-12">
          </div>
          <p class="custom-header-2">Encrypt Data</p>
          <p class="custom-header-5 custom-tal">We use strong encryption methods to protect user data both in transit and at rest. This ensures that user data is secure and cannot be accessed by unauthorized parties.</p>
        </div>
        <!-- ----------------------------------- section end ----------------------------------- -->
        <!-- ----------------------------------- section start ----------------------------------- -->
        <div class="text-center custom-width-250-mobile custom-p-2 custom-br-1 custom-bg-white shadow-sm custom-mtb-2">
          <div class="custom-ptb-6">
            <img src="/static/images/all/unDraw/undraw_secure_login_pdn4.svg" alt="" class="custom-img-size-12">
          </div>
          <p class="custom-header-2">Own Your Data</p>
          <p class="custom-header-5 custom-tal">Users own their data and can delete it at any time. We believe in giving users full control over their personal information and respecting their right to data privacy.</p>
        </div>
        <!-- ----------------------------------- section end ----------------------------------- -->
      </div>
    </div>
  </div>
  <!-- ----------------------------------- end ----------------------------------- -->

  <!-- ----------------------------------- start ----------------------------------- -->
  <div class="container custom-pt-150 custom-pb-100">
    <div class="text-center">
      <h2 class="custom-header-7 custom-color-black fw-bold fw-700">Why podcasts are <span class="custom-color-primary">choosing Triviafy</span> as their audience polling platform</h2>
    </div>
    <div class="custom-display-flex custom-jc-1 custom-fw-1 custom-pt-1">
      <div class="custom-tal custom-width-500">
        <h3 class="custom-header-2 fw-700 fw-bold custom-pt-1">Boost engagement</h3>
        <p class="custom-size-18">With dynamic polling features, spark lively discussions, gather valuable insights, and create memorable experiences that keep your audience feeling engaged and closer to your show.</p>
      </div>
      <div class="custom-tal custom-width-500">
        <h3 class="custom-header-2 fw-700 fw-bold custom-pt-1">Listener demographics</h3>
        <p class="custom-size-18">Explore audience demographics such as age, income, occupation, listening habits, and more. Gain valuable data to tailor your strategies, personalize experiences, and connect with your audience on a deeper level.</p>
      </div>
    </div>
    <div class="custom-display-flex custom-jc-1 custom-fw-1 custom-pt-1">
      <div class="custom-tal custom-width-500">
        <h3 class="custom-header-2 fw-700 fw-bold custom-pt-1">Positive feedback loop</h3>
        <p class="custom-size-18">Capture valuable feedback through polls, quizzes, and surveys. Gain audience insights to shape future episodes, deliver content that resonates, and keep your listeners engaged for every episode.</p>
      </div>
      <div class="custom-tal custom-width-500">
        <h3 class="custom-header-2 fw-700 fw-bold custom-pt-1">Top user experience</h3>
        <p class="custom-size-18">Empower your audience to create and vote on polls, fostering engagement, interaction, and a sense of ownership in the show. Communities thrive and strengthen as listeners actively participate in the conversation.</p>
      </div>
    </div>
  </div>
  <!-- ----------------------------------- end ----------------------------------- -->

  <!-- ----------------------------------- start ----------------------------------- -->
  <!-- ----------------------------------- shape divider start ----------------------------------- -->
  <div class="custom-shape-divider-top-1672276628 custom-bg-black">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
    </svg>
  </div>
  <!-- ----------------------------------- shape divider end ----------------------------------- -->
  <div class="container-fluid text-center custom-pb-6 custom-bg-black">
    <h1 class="custom-header-7 fw-bold custom-color-white">Frequently asked questions</h1>
    <h2><a href="/polling/signup" class="custom-header-5 fw-bold custom-a-5 custom-img-opacity-2">Get started <i class="fa-solid fa-angle-right"></i></a></h2>
  </div>
  <div class="container-fluid custom-bg-black">
    <!-- ----------------------------------- i_faq start ----------------------------------- -->
    <div class="container custom-width-20 mx-auto">
      <div class="accordion" id="accordionExampleOne">
        <div class="accordion-item custom-bg-see-through custom-color-white custom-border-white-opacity-20">
          <h2 class="accordion-header " id="headingOne">
            <button class="accordion-button collapsed custom-bg-see-through custom-color-white-important custom-border-see-through custom-ptb-8" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Why Triviafy?</button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExampleOne">
            <div class="accordion-body custom-color-white">
              <div class="custom-ptb-4">
                <p class="custom-header-5">Gain valuable feedback and audience insights through interactive polls. With in-depth demographic statistics, make data-driven decisions that elevate your show to new heights. Engage your audience, refine your content, and create an exceptional podcasting experience.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ----------------------------------- i_faq end ----------------------------------- -->
    <!-- ----------------------------------- i_faq start ----------------------------------- -->
    <div class="container custom-width-20 mx-auto custom-mt-1">
      <div class="accordion" id="accordionExampleTwo">
        <div class="accordion-item custom-bg-see-through custom-color-white custom-border-white-opacity-20">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed custom-bg-see-through custom-color-white-important custom-border-see-through custom-ptb-8" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">How will Triviafy improve the audience experience?</button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExampleTwo">
            <div class="accordion-body custom-color-white">
              <div class="custom-ptb-4">
                <p class="custom-header-5">Enhance your listeners' experience with Triviafy! Empower them to create polls, vote, and provide valuable feedback. Gain insights into audience sentiments and improve your podcast episodes based on their feedback. Engage, involve, and tailor your content to deliver an exceptional podcasting journey that captivates your audience.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ----------------------------------- i_faq end ----------------------------------- -->
    <!-- ----------------------------------- i_faq start ----------------------------------- -->
    <div class="container custom-width-20 mx-auto custom-mt-1">
      <div class="accordion" id="accordionExampleThree">
        <div class="accordion-item custom-bg-see-through custom-color-white custom-border-white-opacity-20">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed custom-bg-see-through custom-color-white-important custom-border-see-through custom-ptb-8" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Do I need a credit card to sign up?</button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExampleThree">
            <div class="accordion-body custom-color-white">
              <div class="custom-ptb-4">
                <p class="custom-header-5">Triviafy is 100% free, therefore no credit card necessary. <a href="/polling/signup" class="custom-a-5">Create account here.</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ----------------------------------- i_faq end ----------------------------------- -->
    <!-- ----------------------------------- i_faq start ----------------------------------- -->
    <div class="container custom-width-20 mx-auto custom-mt-1">
      <div class="accordion" id="accordionExampleFour">
        <div class="accordion-item custom-bg-see-through custom-color-white custom-border-white-opacity-20">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed custom-bg-see-through custom-color-white-important custom-border-see-through custom-ptb-8" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">How do I verify that I am the podcast owner on Triviafy?</button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExampleFour">
            <div class="accordion-body custom-color-white">
              <div class="custom-ptb-4">
                <p class="custom-header-5">1) <a href="/polling/signup" class="custom-a-white-underline">Create an account with Triviafy</a>. 2) Email <a href="mailto:support@triviafy.com" class="custom-a-info-underline">support@triviafy.com</a> proof that your podcast mentioned Triviafy to your audience on at least one major platform [podcast episode, Twitter, TikTok, etc.].</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ----------------------------------- i_faq end ----------------------------------- -->
    <!-- ----------------------------------- i_faq start ----------------------------------- -->
    <div class="container custom-width-20 mx-auto custom-mt-1">
      <div class="accordion" id="accordionExampleFive">
        <div class="accordion-item custom-bg-see-through custom-color-white custom-border-white-opacity-20">
          <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed custom-bg-see-through custom-color-white-important custom-border-see-through custom-ptb-8" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">What are the benefits of Triviafy?</button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExampleFive">
            <div class="accordion-body custom-color-white">
              <div class="custom-ptb-4">
                <p class="custom-header-5">Participate in Triviafy polling for your favorite podcast to uncover the diverse demographics of fellow listeners, engage in fun trivia, and shape the podcast community with your voice.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ----------------------------------- i_faq end ----------------------------------- -->
    <!-- ----------------------------------- i_faq start ----------------------------------- -->
    <div class="container custom-width-20 mx-auto custom-mt-1">
      <div class="accordion" id="accordionExampleSix">
        <div class="accordion-item custom-bg-see-through custom-color-white custom-border-white-opacity-20">
          <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed custom-bg-see-through custom-color-white-important custom-border-see-through custom-ptb-8" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Is my polling data anonymous?</button>
          </h2>
          <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExampleSix">
            <div class="accordion-body custom-color-white">
              <div class="custom-ptb-4">
                <p class="custom-header-5">Safely participate in Triviafy polling for your favorite podcast to explore listener demographics anonymously, contribute your opinions, and shape the podcast community without compromising your privacy.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ----------------------------------- i_faq end ----------------------------------- -->
    <div class="container text-center custom-mt-3 custom-pb-100">
      <span class="custom-color-white custom-img-opacity-2">For any additional inquiries please reach out to <a href="mailto:support@triviafy.com" class="custom-a-5">support@triviafy.com</a></span>
    </div>
  </div>
  <!-- ----------------------------------- shape divider start ----------------------------------- -->
  <!-- ----------------------------------- end ----------------------------------- -->

  <!-- ----------------------------------- start ----------------------------------- -->
  <div class="container-fluid custom-back-img-2 custom-display-flex custom-f-align-1 custom-jc-3">
    <div class="text-center custom-bg-white custom-width-100 custom-height-90 custom-br-1">
      <div class="custom-display-flex custom-f-align-1 custom-jc-3 custom-height-90">
        <!-- <h2 class="custom-m-0 custom-header-60 custom-color-7">Triviafy your workspace</h2> -->
        <h2 class="custom-m-0 custom-header-60 custom-p-25">#1 Audience Polling Platform</h2>
      </div>
      <div class="custom-mt-negative-100">
        <a href="/polling/signup"class="btn btn-lg btn-warning">Try it free <i class="fa-solid fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
  <!-- ----------------------------------- end ----------------------------------- -->
  <!-- ------------------------------------- footer v2 start ------------------------------------- -->
  <div class="containter-fluid custom-bg-black custom-color-white">
    <footer class="container">
      <!-- ------------------------------------- top start ------------------------------------- -->
      <div class="custom-display-flex custom-fw-1 custom-jc-around custom-pt-100 custom-pb-200">
        <!-- ------------------------------------- side 1 start ------------------------------------- -->
        <div class="custom-width-11-mobile">
          <div class="custom-width-10 mx-auto">
            <h2 class="custom-header-45">Triviafy Audience Polling Platform <a href="/"><img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/official_logo_v3_inverse.png" alt="triviafy logo" class="custom-img-size-50"></a></h2>
            <div class="custom-mt-25">
              <a href="/polling/signup" class="btn btn-success text-nowrap custom-width-100">Get Started <i class="fa-solid fa-angle-right"></i></a>
            </div>
            <div class="custom-display-flex custom-fw-1 custom-jc-around custom-mt-50">
              <a href="https://www.producthunt.com/posts/triviafy-fe00eda0-76f2-48cb-b6a6-8a734233011e" target="_blank"><img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/product_hunt.png" alt="triviafy logo" class="custom-img-size-50 custom-border-1"></a>
              <a href="https://www.g2.com/products/triviafy/reviews" target="_blank"><img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/g2.png" alt="triviafy logo" class="custom-img-size-50 custom-border-1 custom-br-1"></a>
            </div>
          </div>
        </div>
        <!-- ------------------------------------- side 1 end ------------------------------------- -->
        <!-- ------------------------------------- side 2 start ------------------------------------- -->
        <div class="custom-width-11-mobile custom-mt-100-mobile custom-display-flex custom-fw-1 custom-jc-around">
          <div class="custom-width-12-mobile mx-auto">
            <h2 class="custom-header-25 custom-mb-10">Resources</h2>
            <ul class="custom-ls-1 custom-p-0 custom-m-0 custom-header-15">
              <li class="custom-mb-10"><a href="/polling/about" class="custom-a-5">About</a></li>
              <li class="custom-mb-10"><a href="/polling/blog" class="custom-a-5">Blog</a></li>
              <li class="custom-mb-10"><a href="mailto:support@triviafy.com" class="custom-a-5">Contact</a></li>
              <li class="custom-mb-10"><a href="/polling/faq" class="custom-a-5">FAQ</a></li>
            </ul>
          </div>
          <div class="custom-width-12-mobile mx-auto custom-mt-25-mobile">
            <h2 class="custom-header-25 custom-mb-10">Account</h2>
            <ul class="custom-ls-1 custom-p-0 custom-m-0 custom-header-15">
              <li class="custom-mb-10"><a href="/polling/signup" class="custom-a-5">Create account</a></li>
              <li class="custom-mb-10"><a href="/polling/login" class="custom-a-5">Login</a></li>
            </ul>
          </div>
          <div class="custom-width-12-mobile mx-auto custom-mt-25-mobile">
            <h2 class="custom-header-25 custom-mb-10">Products</h2>
            <ul class="custom-ls-1 custom-p-0 custom-m-0 custom-header-15">
              <li class="custom-mb-10"><a href="/polling" class="custom-a-5">Audience polling platform</a></li>
              <li class="custom-mb-10"><a href="/employees" class="custom-a-5">Team building software</a></li>
            </ul>
          </div>
        </div>
        <!-- ------------------------------------- side 2 end ------------------------------------- -->
      </div>
      <!-- ------------------------------------- top end ------------------------------------- -->
      <!-- ------------------------------------- bottom start ------------------------------------- -->
      <div class="custom-display-flex custom-fw-1 custom-jc-between-mobile-center custom-pb-25">
        <div>
          <div class="custom-header-20">
            <a href="https://www.tiktok.com/@triviafy" target="_blank" class="custom-a-white custom-m-5"><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://twitter.com/TriviafyPolls" target="_blank" class="custom-a-white custom-m-5"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.linkedin.com/company/triviafy" target="_blank" class="custom-a-white custom-m-5"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.instagram.com/triviafywork/" target="_blank" class="custom-a-white custom-m-5"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100090621083946" target="_blank" class="custom-a-white custom-m-5"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://medium.com/triviafy" target="_blank" class="custom-a-white custom-m-5"><i class="fa-brands fa-medium"></i></a>
            <a href="https://www.producthunt.com/posts/triviafy-fe00eda0-76f2-48cb-b6a6-8a734233011e" target="_blank" class="custom-a-white custom-m-5"><i class="fa-brands fa-product-hunt"></i></a>
          </div>
        </div>
        <div class="custom-display-flex custom-fw-1 custom-jc-between">
          <span class="custom-header-10">© 2023 Triviafy | <a href="/polling/privacy" class="custom-a-white">Privacy Policy</a> | <a href="/polling/terms" class="custom-a-white">Terms & Conditions</a></span>
        </div>
      </div>
      <!-- ------------------------------------- bottom end ------------------------------------- -->
    </footer>
  </div>
  <!-- ------------------------------------- footer v2 end ------------------------------------- -->
  <!-- ------------------------------------- footer start ------------------------------------- -->
  <!-- <div class="custom-width-180-px custom-mb-100 mx-auto">
    <a href="/polling" class="navbar-brand">
      <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/official_logo_v3.png" alt="triviafy logo" class="custom-img-size-50 custom-mr-1">
      <span class="fw-bold custom-header-1">Triviafy</span>
      <p class="custom-m-0 custom-mt-negative-15 custom-header-12 custom-tar">Audience Polling Platform</p>
    </a>
  </div> -->
  <!-- ------------------------------------- footer end ------------------------------------- -->
</body>
{% endblock %}