{% extends "polling/aaa_base/base.html" %}

<!-- head tag block content -->
{% block title %}
  <title>base2_exterior.html</title>
{% endblock %}

{% block contentBody %}
<body class="custom-google-font-1 custom-bg-grey-3">
  <!-- ------------------------------------- navbar start ------------------------------------- -->
  <div class="container-fluid fixed-top shadow-sm custom-bg-white">
    <nav class="container navbar navbar-expand-md navbar-light">
      <a href="/polling/dashboard" class="navbar-brand">
        <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/official_logo.png" alt="triviafy logo" class="custom-img-size-30 custom-mr-1">
        <span class="fw-bold custom-header-25">Triviafy</span>
        <p class="custom-m-0 custom-mt-negative-5 custom-header-8 custom-tar">Audience Polling Platform</p>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu" aria-controls="toggleMobileMenu" aria-expanded="false" aria-lable="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="toggleMobileMenu">
        <ul class="navbar-nav ms-auto text-center">
          <li><a href="/polling/dashboard" class="nav-link mx-2 custom-my-1-mobile">{{ page_dict_to_html['current_user_email'] }}</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="custom-filler-4"></div>
  <!-- ------------------------------------- navbar end ------------------------------------- -->
  <div class="container-fluid custom-bg-grey-3 custom-pb-100">
  {% block contentBodyExceptNavbarAndFooter %}
  {% endblock %}
  </div>
  <!-- ------------------------------------- footer start ------------------------------------- -->
  <div class="custom-width-180-px custom-mb-100 mx-auto">
    <a href="/polling/dashboard" class="navbar-brand">
      <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/official_logo.png" alt="triviafy logo" class="custom-img-size-50 custom-mr-1">
      <span class="fw-bold custom-header-1">Triviafy</span>
      <p class="custom-m-0 custom-mt-negative-15 custom-header-12 custom-tar">Audience Polling Platform</p>
    </a>
  </div>
  <!-- ------------------------------------- footer end ------------------------------------- -->
</body>
{% endblock %}