{% extends "employees/aaa_base/base2_primary.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Triviafy</title>
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<div class="custom-bg-primary-darker">
    <!-- ------------------------------------- navbar start ------------------------------------- -->
    <div class="container-fluid fixed-top custom-bg-primary custom-pt-4">
      <nav class="container navbar navbar-expand-md navbar-light custom-display-flex custom-jc-2">
        <div>
          <button class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Invite team & colleagues" id="demo" onclick="copyToClipboard(document.getElementById('demo').innerHTML)">Triviafy <i class="fa-solid fa-up-right-from-square"></i></button>
          <script>function copyToClipboard(text) {window.prompt("Share below link with your team and everyone will be routed to the same activities. (Copy link: CTRL + C)", 'https://triviafy.com/dashboard');}</script>
        </div>
        <!-- ------------------------------------- feature view: archive start ------------------------------------- -->
        <div>
          <a href="/" class="btn btn-danger btn custom-mr-2"><i class="fa-regular fa-circle-xmark"></i> Exit</a>
          {% if page_dict_to_html['current_question_number'] == '1' %}
          {% else %}
            <a href="/example/{{ page_dict_to_html['url_activity_type'] }}/{{ page_dict_to_html['url_activity_code'] }}/{{ page_dict_to_html['previous_question_number'] }}/" class="btn btn-secondary"><i class="fa-solid fa-arrow-left"></i> Home</a>
          {% endif %}
          {% if page_dict_to_html['next_question_number'] == 'submit' %}
            <a href="/signup" class="btn btn-success custom-ml-3">Sign up <i class="fa-solid fa-check"></i></a>
          {% else %}
            <a href="/example/{{ page_dict_to_html['url_activity_type'] }}/{{ page_dict_to_html['url_activity_code'] }}/{{ page_dict_to_html['next_question_number'] }}/" class="btn btn-success custom-ml-3">Submit <i class="fa-solid fa-arrow-right"></i></a>
          {% endif %}
        </div>
        <!-- ------------------------------------- feature view: archive end ------------------------------------- -->
      </nav>
    </div>
    <div class="custom-filler-5"></div>
    <!-- ------------------------------------- navbar end ------------------------------------- -->
    <!-- ----------------------------------- errors start ----------------------------------- -->
    <div class="container-fluid custom-p-0">
      {% if page_dict_to_html['alert_message_dict']['message'] != '' %}
      <div class="alert alert-{{ page_dict_to_html['alert_message_dict']['type'] }} text-center custom-m-0 custom-plr-0" role="alert">
        {{ page_dict_to_html['alert_message_dict']['message'] }}
      </div>
      {% endif %}
    </div>
    <!-- ----------------------------------- errors end ----------------------------------- -->
    <!-- ------------------------------------- entire page start ------------------------------------- -->
    <div class="container-fluid custom-bg-primary-gradient-1 custom-pt-1">
      <!-- ------------------------------------- question start ------------------------------------- -->
      <div class="container border shadow custom-br-1 custom-bg-white custom-display-flex custom-fw-1">
        <!-- ----------------------------------- question left side start ----------------------------------- -->
        <div class="custom-width-11-mobile custom-p-5">
          <div class="custom-display-flex custom-mb-6">
            <h2 class="custom-header-4">Q{{ page_dict_to_html['current_question_number'] }}/{{ page_dict_to_html['test_total_questions'] }}: {{ page_dict_to_html['db_question_dict']['title'] }}</h2>
            <div>
                {% for category_tuple in page_dict_to_html['db_question_dict']['categories'] %}
                  <span class="custom-tag-1 custom-tag-category-{{ category_tuple[1] }} custom-br-4 custom-m-3 custom-header-5 custom-wrap-1">{{ category_tuple[0] }}</span>
                {% endfor %}
            </div>
          </div>
          <div>
            <div class="custom-mb-6 shadow custom-bg-green-1">
              <p class="custom-header-6 custom-p-1 custom-br-1"><i class="fa-solid fa-circle-question"></i> {{ page_dict_to_html['db_question_dict']['question'] }}</p>
            </div>
            <div class="text-center">
              <img src="{{ page_dict_to_html['db_question_dict']['aws_image_url'] }}" alt="" class="custom-img-size-11 custom-br-1 shadow">
            </div>
          </div>
        </div>
        <!-- ----------------------------------- question left side end ----------------------------------- -->
        <!-- ----------------------------------- question right side start ----------------------------------- -->
        <div class="custom-width-11-mobile custom-p-6">
          <div>
            <!-- ------------------------------------- quesstion type: fitb start ------------------------------------- -->
            {% if page_dict_to_html['db_question_dict']['desired_question_type'] == 'Fill in the blank' %}
            <div class="text-center">
              <label for="ui_answer_fitb" class="form-label custom-header-4">Your best <span class="custom-underline-1 fst-italic" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Your team will see your response later, don't cheat.">guess</span>?</label>
              <input type="text" class="form-control custom-search-bar-1" id="ui_answer_fitb" name="ui_answer_fitb" placeholder="Your answer" value="{{ page_dict_to_html['db_question_dict']['redirect_ui_answer'] }}" onkeyup="createQuestionCountCharsOptionA(this);" pattern="{1,280}" required>
              <p id="createQuestionCountCharsOptionA" class="custom-size-3 custom-color-light-1 fst-italic custom-mt-2 custom-ml-2"></p>
            </div>
            {% endif %}
            <!-- ------------------------------------- quesstion type: fitb end ------------------------------------- -->
            <!-- ------------------------------------- quesstion type: mcq start ------------------------------------- -->
            {% if page_dict_to_html['db_question_dict']['desired_question_type'] == 'Multiple choice' %}
            <div class="text-center">
              <p class="custom-header-4">Your best <span class="custom-underline-1 fst-italic" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Your team will see your response later, don't cheat.">guess</span>?</p>
            </div>
              <div class="custom-grid-container-5x1">
                {% if page_dict_to_html['db_question_dict']['option_a'] != None %}
                <div>
                  {% if page_dict_to_html['db_question_dict']['redirect_ui_answer'] == 'a'  %}
                  <input type="radio" class="btn-check" id="ui_answer_mcq_a{{ page_dict_to_html['current_question_number'] }}" name="ui_answer_mcq" value="a" autocomplete="off" required checked>
                  {% else %}
                  <input type="radio" class="btn-check" id="ui_answer_mcq_a{{ page_dict_to_html['current_question_number'] }}" name="ui_answer_mcq" value="a" autocomplete="off" required>
                  {% endif %}
                  <label class="btn btn-outline-danger custom-width-6 btn-lg custom-ptb-8" for="ui_answer_mcq_a{{ page_dict_to_html['current_question_number'] }}">{{ page_dict_to_html['db_question_dict']['option_a'] }}</label>
                </div>
                {% endif %}

                {% if page_dict_to_html['db_question_dict']['option_b'] != None %}
                <div>
                  {% if page_dict_to_html['db_question_dict']['redirect_ui_answer'] == 'b'  %}
                  <input type="radio" class="btn-check" id="ui_answer_mcq_b{{ page_dict_to_html['current_question_number'] }}" name="ui_answer_mcq" value="b" autocomplete="off" required checked>
                  {% else %}
                  <input type="radio" class="btn-check" id="ui_answer_mcq_b{{ page_dict_to_html['current_question_number'] }}" name="ui_answer_mcq" value="b" autocomplete="off" required>
                  {% endif %}
                  <label class="btn btn-outline-success custom-width-6 btn-lg custom-ptb-8" for="ui_answer_mcq_b{{ page_dict_to_html['current_question_number'] }}">{{ page_dict_to_html['db_question_dict']['option_b'] }}</label>
                </div>
                {% endif %}

                {% if page_dict_to_html['db_question_dict']['option_c'] != None %}
                <div>
                  {% if page_dict_to_html['db_question_dict']['redirect_ui_answer'] == 'c'  %}
                  <input type="radio" class="btn-check" id="ui_answer_mcq_c{{ page_dict_to_html['current_question_number'] }}" name="ui_answer_mcq" value="c" autocomplete="off" required checked>
                  {% else %}
                  <input type="radio" class="btn-check" id="ui_answer_mcq_c{{ page_dict_to_html['current_question_number'] }}" name="ui_answer_mcq" value="c" autocomplete="off" required>
                  {% endif %}
                  <label class="btn btn-outline-primary custom-width-6 btn-lg custom-ptb-8" for="ui_answer_mcq_c{{ page_dict_to_html['current_question_number'] }}">{{ page_dict_to_html['db_question_dict']['option_c'] }}</label>
                </div>
                {% endif %}

                {% if page_dict_to_html['db_question_dict']['option_d'] != None %}
                <div>
                  {% if page_dict_to_html['db_question_dict']['redirect_ui_answer'] == 'd'  %}
                  <input type="radio" class="btn-check" id="ui_answer_mcq_d{{ page_dict_to_html['current_question_number'] }}" name="ui_answer_mcq" value="d" autocomplete="off" required checked>
                  {% else %}
                  <input type="radio" class="btn-check" id="ui_answer_mcq_d{{ page_dict_to_html['current_question_number'] }}" name="ui_answer_mcq" value="d" autocomplete="off" required>
                  {% endif %}
                  <label class="btn btn-outline-info custom-width-6 btn-lg custom-ptb-8" for="ui_answer_mcq_d{{ page_dict_to_html['current_question_number'] }}">{{ page_dict_to_html['db_question_dict']['option_d'] }}</label>
                </div>
                {% endif %}

                {% if page_dict_to_html['db_question_dict']['option_e'] != None and page_dict_to_html['db_question_dict']['option_e'] != '' %}
                <div>
                  {% if page_dict_to_html['db_question_dict']['redirect_ui_answer'] == 'e'  %}
                  <input type="radio" class="btn-check" id="ui_answer_mcq_e{{ page_dict_to_html['current_question_number'] }}" name="ui_answer_mcq" value="e" autocomplete="off" required checked>
                  {% else %}
                  <input type="radio" class="btn-check" id="ui_answer_mcq_e{{ page_dict_to_html['current_question_number'] }}" name="ui_answer_mcq" value="e" autocomplete="off" required>
                  {% endif %}
                  <label class="btn btn-outline-warning custom-width-6 btn-lg custom-ptb-8" for="ui_answer_mcq_e{{ page_dict_to_html['current_question_number'] }}">{{ page_dict_to_html['db_question_dict']['option_e'] }}</label>
                </div>
                {% endif %}
              </div>
            {% endif %}
            <!-- ------------------------------------- quesstion type: mcq end ------------------------------------- -->
          </div>
        </div>
        <!-- ----------------------------------- question right side end ----------------------------------- -->
        <!-- ------------------------------------- question progress start ------------------------------------- -->
        <div class="container custom-display-flex custom-jc-1 custom-fw-1">
          {% for i in page_dict_to_html['test_total_questions_arr'] %}
            {% if i == page_dict_to_html['current_question_number'] %}
              <div class="text-center">
                <p><a href="/example/{{ page_dict_to_html['url_activity_type'] }}/{{ page_dict_to_html['url_activity_code'] }}/{{ i }}/"><span class="btn btn-success btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Click 'Submit' to save your answer">{{ i }}</span></a></p>
              </div>
            {% else %}
              <a href="/example/{{ page_dict_to_html['url_activity_type'] }}/{{ page_dict_to_html['url_activity_code'] }}/{{ i }}/"><span class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Click 'Submit' to save your answer">{{ i }}</span></a>
            {% endif %}
          {% endfor %}
        </div>
        <div class="mx-auto">
          <p class="custom-mt-25 custom-header-15 fst-italic custom-color-black-opacity-50">Activity ends Thursday's at 1 PM | <a href="/signup" class="custom-a-2">Change settings here</a></p>
        </div>
        <!-- ------------------------------------- question progress end ------------------------------------- -->
      </div>
      <!-- ------------------------------------- question end ------------------------------------- -->
    </div>
  <!-- ------------------------------------- entire page end ------------------------------------- -->
</div>
<!-- ----------------------------------- shape divider start ----------------------------------- -->
<div class="custom-shape-divider-bottom-1672276706 custom-bg-primary-darker">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
  </svg>
</div>
<!-- ----------------------------------- shape divider end ----------------------------------- -->
<!-- ------------------------------------- signature start ------------------------------------- -->
<div class="custom-width-1 mx-auto custom-mb-50">
  <a href="/" class="btn btn-outline-secondary custom-width-6"><i class="fa-solid fa-arrow-left"></i> Home</a>
</div>
<div class="custom-width-15 mx-auto custom-mb-50">
  <a href="/" class="navbar-brand">
    <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/official_logo.png" alt="triviafy logo" class="custom-img-size-1 custom-mt-negative-1">
    <span class="fw-bold custom-header-1">Triviafy<spa class="custom-header-4">.com</span></span>
    <div class="text-center">
      <p class="custom-m-0">Team building software</p>
    </div>
  </a>
</div>
<!-- ------------------------------------- signature end ------------------------------------- -->
{% endblock %}