{% extends "polling/aaa_base/base2_interior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Dashboard - Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
{% if page_dict_to_html['alert_message_dict']['message'] != '' %}
<div class="alert alert-{{ page_dict_to_html['alert_message_dict']['type'] }} mx-auto text-center container custom-mt-25" role="alert">
  {{ page_dict_to_html['alert_message_dict']['message'] }}
</div>
{% endif %}
<!-- ----------------------------------- end ----------------------------------- -->
<!-- ------------------------------------- dashboard start ------------------------------------- -->
{% if page_dict_to_html['sources_following_total'] is none %}
  <div class="container custom-pt-50 custom-border-2">
    <h2>Welcome, what are you listening to?</h2>
  </div>
{% else %}
  <div class="container custom-pt-50 custom-border-2">
    <h2>Hello you are subscribed to the following</h2>
  </div>
{% endif %}
<!-- ------------------------------------- dashboard end ------------------------------------- -->
{% endblock %}