{% extends "polling/aaa_base/base2_interior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Dashboard - Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
{% if page_dict_to_html['alert_message_dict']['message'] != '' %}
<div class="alert alert-{{ page_dict_to_html['alert_message_dict']['type'] }} mx-auto text-center container custom-mt-25" role="alert">
  {{ page_dict_to_html['alert_message_dict']['message'] }}
</div>
{% endif %}
<!-- ----------------------------------- end ----------------------------------- -->
<!-- ------------------------------------- dashboard start ------------------------------------- -->
<div class="container custom-pt-50">
  <h2>Hello interior logged in!</h2>
</div>
<!-- ------------------------------------- dashboard end ------------------------------------- -->
{% endblock %}