{% extends "polling/aaa_base/base2_interior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Dashboard - Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
{% if page_dict_to_html['alert_message_dict']['message'] != '' %}
<div class="alert alert-{{ page_dict_to_html['alert_message_dict']['type'] }} mx-auto text-center container custom-mt-25 custom-width-800" role="alert">
  {{ page_dict_to_html['alert_message_dict']['message'] }}
</div>
{% endif %}
<!-- ----------------------------------- end ----------------------------------- -->
<!-- ------------------------------------- section start ------------------------------------- -->
<div class="container custom-width-800 custom-pt-50">
  {% if page_dict_to_html['shows_following_arr_of_dict'] == none %}
    <h2 class="text-center">Welcome to Triviafy</h2>
  {% else %}
    <h2>Add show</h2>
  {% endif %}
  <div class="custom-br-25 custom-bg-white shadow-sm border custom-p-15">
    <div class="custom-ptb-25 text-center">
      {% if page_dict_to_html['shows_following_arr_of_dict'] == none %}
        <p class="custom-m-0 custom-pb-15 custom-header-15">You are currently not following any shows</p>
        <a href="/polling/show/add/1" class="custom-m-0 btn btn-primary btn-lg">Add show <i class="fa-solid fa-plus"></i></a>
      {% else %}
        <a href="/polling/show/add/1" class="custom-m-0 btn btn-primary btn-lg">Add <i class="fa-solid fa-plus"></i></a>
      {% endif %}
    </div>
  </div>
</div>
<!-- ------------------------------------- section end ------------------------------------- -->
{% if page_dict_to_html['shows_following_arr_of_dict'] == none %}
{% else %}
  <!-- ------------------------------------- section start ------------------------------------- -->
  <div class="container custom-width-800 custom-pt-50">
    <h2>Your shows</h2>
    <!-- ------------------------------------- search bar start ------------------------------------- -->
    <input type="text" class="form-control" id="ui_search_show_name" name="ui_search_show_name" placeholder="Search show name">
    <!-- ------------------------------------- search bar end ------------------------------------- -->
    {% for i_dict in page_dict_to_html['shows_following_arr_of_dict'] %}
      <div class="custom-br-25 custom-bg-white shadow-sm border custom-p-15 custom-mtb-25 uiSearchItem">
        <!-- ------------------------------------- show details start ------------------------------------- -->
        <div class="custom-display-flex custom-pb-10">
          <a href="/polling/show/{{ i_dict['id'] }}"><img src="{{ i_dict['platform_image_small'] }}" alt="show logo" class="custom-br-5 border shadow-sm"></a>
          <div class="custom-ml-5 custom-display-flex custom-f-direction-col">
            <a href="/polling/show/{{ i_dict['id'] }}" class="custom-a-2 custom-header-18">{{ i_dict['name'] }}</a>
            <a href="/polling/show/{{ i_dict['id'] }}" class="custom-a-2 custom-header-12 custom-opacity-50">{{ i_dict['description'] }}...</a>
          </div>
        </div>
        <!-- ------------------------------------- show details end ------------------------------------- -->
        <!-- ------------------------------------- polling details start ------------------------------------- -->
        <div>
          <a href="#" class="custom-a-2">Polls status:</a>
        </div>
        <!-- ------------------------------------- polling details end ------------------------------------- -->
      </div>
    {% endfor %}
  </div>
  <!-- ------------------------------------- section end ------------------------------------- -->
{% endif %}
{% endblock %}