{% extends "candidates/aaa_base/base2_exterior.html" %}

{% block title %}
    <title>Blog - Triviafy</title>
    <meta name="description" content="The friendliest pre employment testing platform, mobile supported. Pre employment screening made simple. Pre employment tests for 50+ frameworks.">
    <meta name="og:description" content="The friendliest pre employment testing platform, mobile supported. Pre employment screening made simple. Pre employment tests for 50+ frameworks.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
<div class="container-fluid">
  <div class="container custom-height-1-mobile">
    <div class="float-start custom-pt-2">
      <h1 class="custom-m-0 custom-width-1 custom-header-1">Blog for the friendliest pre employment testing experience.</h1>
      <h2 class="custom-header-4 custom-mt-1">Early stage pre employment screening made simple.</h2>
      <form action="{{ url_for('auth.candidates_signup_function') }}" method="post" enctype="multipart/form-data" class="custom-display-flex custom-pt-1">
        <label for="various_pages1_ui_email" class="form-label"></label>
        <input type="email" class="form-control custom-mr-2 custom-p-3" id="various_pages1_ui_email" name="various_pages1_ui_email" aria-describedby="emailHelp" placeholder="Work email" required>
        <button type="submit" class="btn btn-primary text-nowrap">Get Started</button>
      </form>
      <div class="text-center custom-mt-2">
        <p class="custom-size-4 custom-color-light-1">(No credit card required.)</p>
      </div>
    </div>
    <div class="float-end custom-pt-3 custom-pb-1 text-center">
      <img src="/static/images/candidates/landing_page/kelly.png" alt="candidate overview" class="custom-img-size-3">
    </div>
  </div>
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container custom-display-flex custom-fw-1 custom-jc-1">
  <!-- ------------------------------------- individual blog post start ------------------------------------- -->
  <div class="card custom-m-2" style="width: 18rem;">
    <a href="/candidates/blog/0006" class="custom-a-2"><img src="/static/images/candidates/blog/blog_logo_colors/green.png" class="card-img-top" alt="blog post picture"></a>
    <div class="card-body">
      <h5 class="card-title"><a href="/candidates/blog/0006" class="custom-a-2">Tableau vs Power BI - Best Data Visualization Tool</a></h5>
      <p class="card-text"><a href="/candidates/blog/0006" class="custom-a-2">Microsoft’s Power BI is a unified, scalable platform for self-service and enterprise level...</a></p>
      <a href="/candidates/blog/0006" class="btn btn-primary">Read post</a>
    </div>
  </div>
  <!-- ------------------------------------- individual blog post end ------------------------------------- -->
  <!-- ------------------------------------- individual blog post start ------------------------------------- -->
  <div class="card custom-m-2" style="width: 18rem;">
    <a href="/candidates/blog/0005" class="custom-a-2"><img src="/static/images/candidates/blog/blog_logo_colors/orange.png" class="card-img-top" alt="blog post picture"></a>
    <div class="card-body">
      <h5 class="card-title"><a href="/candidates/blog/0005" class="custom-a-2">Top 5 Technical Skills</a></h5>
      <p class="card-text"><a href="/candidates/blog/0005" class="custom-a-2">Technical skills are essential for success in today’s competitive job market, as they provide the...</a></p>
      <a href="/candidates/blog/0005" class="btn btn-primary">Read post</a>
    </div>
  </div>
  <!-- ------------------------------------- individual blog post end ------------------------------------- -->
  <!-- ------------------------------------- individual blog post start ------------------------------------- -->
  <div class="card custom-m-2" style="width: 18rem;">
    <a href="/candidates/blog/0004" class="custom-a-2"><img src="/static/images/candidates/blog/blog_logo_colors/red.png" class="card-img-top" alt="blog post picture"></a>
    <div class="card-body">
      <h5 class="card-title"><a href="/candidates/blog/0004" class="custom-a-2">Top 10 Phone Interview Screening Questions</a></h5>
      <p class="card-text"><a href="/candidates/blog/0004" class="custom-a-2">Interview questions should be tailored to the job position and should focus on the skills and...</a></p>
      <a href="/candidates/blog/0004" class="btn btn-primary">Read post</a>
    </div>
  </div>
  <!-- ------------------------------------- individual blog post end ------------------------------------- -->
  <!-- ------------------------------------- individual blog post start ------------------------------------- -->
  <div class="card custom-m-2" style="width: 18rem;">
    <a href="/candidates/blog/0003" class="custom-a-2"><img src="/static/images/candidates/blog/blog_logo_colors/yellow.png" class="card-img-top" alt="blog post picture"></a>
    <div class="card-body">
      <h5 class="card-title"><a href="/candidates/blog/0003" class="custom-a-2">Hire a BI Developer</a></h5>
      <p class="card-text"><a href="/candidates/blog/0003" class="custom-a-2">A BI developer is a software developer that specializes in business intelligence (BI) applications...</a></p>
      <a href="/candidates/blog/0003" class="btn btn-primary">Read post</a>
    </div>
  </div>
  <!-- ------------------------------------- individual blog post end ------------------------------------- -->
  <!-- ------------------------------------- individual blog post start ------------------------------------- -->
  <div class="card custom-m-2" style="width: 18rem;">
    <a href="/candidates/blog/0002" class="custom-a-2"><img src="/static/images/candidates/blog/blog_logo_colors/blue.png" class="card-img-top" alt="blog post picture"></a>
    <div class="card-body">
      <h5 class="card-title"><a href="/candidates/blog/0002" class="custom-a-2">3 Ways To Hire An Excel Expert</a></h5>
      <p class="card-text"><a href="/candidates/blog/0002" class="custom-a-2">Excel is often a required skill for many entry-level and even senior-level positions. This is...</a></p>
      <a href="/candidates/blog/0002" class="btn btn-primary">Read post</a>
    </div>
  </div>
  <!-- ------------------------------------- individual blog post end ------------------------------------- -->
  <!-- ------------------------------------- individual blog post start ------------------------------------- -->
  <div class="card custom-m-2" style="width: 18rem;">
    <a href="/candidates/blog/0001" class="custom-a-2"><img src="/static/images/candidates/blog/blog_logo_colors/green.png" class="card-img-top" alt="blog post picture"></a>
    <div class="card-body">
      <h5 class="card-title"><a href="/candidates/blog/0001" class="custom-a-2">5 Tools for Pre-Employment Screening Tests and Assessments</a></h5>
      <p class="card-text"><a href="/candidates/blog/0001" class="custom-a-2">Early stage candidate screening platform. Offers multiple choice questions for popular tools and...</a></p>
      <a href="/candidates/blog/0001" class="btn btn-primary">Read post</a>
    </div>
  </div>
  <!-- ------------------------------------- individual blog post end ------------------------------------- -->
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container-fluid">
  <div class="container text-center custom-pt-3">
    <h2 class="custom-mb-1 custom-header-1">Companies that love skill assessments!</h2>
  </div>
  <div class="container custom-display-flex custom-fw-1 custom-jc-1 custom-mb-3">
    <img src="/static/images/candidates/logos_companies/datadog.png" alt="pre employment testing datadog" class="custom-img-size-6 custom-m-2">
    <img src="/static/images/candidates/logos_companies/intuit.png" alt="pre employment testing intuit" class="custom-img-size-6 custom-m-2">
    <img src="/static/images/candidates/logos_companies/shopify.png" alt="pre employment testing shopify" class="custom-img-size-6 custom-m-2">
    <img src="/static/images/candidates/logos_companies/slack.png" alt="pre employment testing slack" class="custom-img-size-6 custom-m-2">
    <img src="/static/images/candidates/logos_companies/surveymonkey.png" alt="pre employment testing surveymonkey" class="custom-img-size-6 custom-m-2">
  </div>
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container-fluid custom-pb-1">
  <div class="container custom-bg-colorful-1 custom-br-1 shadow custom-width-3">
    <div class="container text-center custom-pt-3">
      <h2 class="custom-header-1">Start testing candidates <span class="fst-italic">today!</span></h2>
      <h2 class="custom-header-4">Send your first pre employment test in less than 60 seconds.</h2>
    </div>
    <form action="{{ url_for('auth.candidates_signup_function') }}" method="post" enctype="multipart/form-data" class="custom-display-flex custom-width-1 mx-auto custom-pt-4">
      <label for="various_pages1_ui_email" class="form-label"></label>
      <input type="email" class="form-control custom-mr-2 custom-p-3" id="various_pages1_ui_email" name="various_pages1_ui_email" aria-describedby="emailHelp" placeholder="Work email" required>
      <button type="submit" class="btn btn-primary text-nowrap">Get Started</button>
    </form>
    <div class="text-center custom-mt-2 custom-pb-3">
      <p class="custom-size-4 custom-color-light-1">(No credit card required.)</p>
    </div>
  </div>
</div>
<!-- ----------------------------------- end ----------------------------------- -->
{% endblock %}