{% extends "employees/aaa_base/base.html" %}

<!-- head tag block content -->
{% block title %}
  <title>base2_exterior.html</title>
{% endblock %}

{% block contentBody %}
<body class="custom-google-font-1 custom-bg-grey-3">
  <!-- ------------------------------------- navbar start ------------------------------------- -->
  <div class="container-fluid fixed-top shadow-sm custom-bg-white">
    <nav class="container navbar navbar-expand-md navbar-light">
      <a href="/employees/dashboard" class="navbar-brand">
        <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/official_logo.png" alt="triviafy logo" class="custom-img-size-2 custom-mt-negative-2 custom-mr-1">
        <span class="fw-bold custom-header-6">Triviafy</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu" aria-controls="toggleMobileMenu" aria-expanded="false" aria-lable="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="toggleMobileMenu">
        <ul class="navbar-nav ms-auto text-center">
          <li>
            <button class="btn btn-outline-primary btn-sm custom-mb-negative-15 shadow" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Invite team & colleagues" id="demo" onclick="copyToClipboard(document.getElementById('demo').innerHTML)">Team <i class="fa-solid fa-up-right-from-square"></i></button>
            <script>function copyToClipboard(text) {window.prompt("Share below link with your team and everyone will be routed to the same activities. (Copy link: CTRL + C)", 'https://triviafy.com/dashboard');}</script>
            <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
            </li>
          <li><a href="/employees/dashboard" class="nav-link mx-2 custom-my-1-mobile">Dashboard</a></li>
          <li><a href="/employees/account" class="nav-link mx-2 custom-my-1-mobile">Account</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="custom-filler-4"></div>
  <!-- ------------------------------------- navbar end ------------------------------------- -->
  <div class="container-fluid custom-bg-grey-3 custom-pb-3">
  {% block contentBodyExceptNavbarAndFooter %}
  {% endblock %}
  </div>
  <!-- ------------------------------------- footer start ------------------------------------- -->
  <!-- ------------------------------------- footer end ------------------------------------- -->
</body>
{% endblock %}