{% extends "employees/aaa_base/base.html" %}

<!-- head tag block content -->
{% block title %}
  <title>base2_exterior.html</title>
{% endblock %}

{% block contentBody %}
<body class="custom-google-font-1">
  <!-- ------------------------------------- navbar start ------------------------------------- -->
  <div class="container-fluid custom-bg-white">
    <nav class="container navbar navbar-expand-md navbar-light">
      <a href="/" class="navbar-brand">
        <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/official_logo.png" alt="triviafy logo" class="custom-img-size-1 custom-mt-negative-1 custom-mr-1">
        <span class="fw-bold custom-header-1">Triviafy</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu" aria-controls="toggleMobileMenu" aria-expanded="false" aria-lable="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="toggleMobileMenu">
        <ul class="navbar-nav ms-auto text-center">
          <li><a href="/employees/pricing" class="nav-link mx-2 custom-my-1-mobile">Pricing</a></li>
          <li><a href="/example" class="nav-link mx-2 custom-my-1-mobile text-nowrap">Trivia Example</a></li>
          <li><a href="/employees/login" class="nav-link mx-2 custom-my-1-mobile">Log in</a></li>
          <li><a class="btn btn-success btn-lg fw-bold mx-2 custom-my-1-mobile text-nowrap" href="/employees/signup" role="button">Get started</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- <div class="custom-filler-1"></div> -->
  <!-- ------------------------------------- navbar end ------------------------------------- -->
  {% block contentBodyExceptNavbarAndFooter %}
  {% endblock %}
  <!-- ------------------------------------- footer v1 start ------------------------------------- -->
  <!-- <div class="containter-fluid custom-bg-dark-1">
    <footer class="container">
      <div class="text-center custom-pt-100">
        <h2 class="custom-header-1 custom-color-light-1">Resources</h2>
      </div>
      <div class="custom-display-flex custom-fw-1 custom-pt-1 custom-jc-1 custom-footer-mobile-1">
        <section>
          <ul class="custom-ls-1">
            <li class="custom-ptb-1"><a href="/employees/about" class="custom-a-1">About</a></li>
            <li class="custom-ptb-1"><a href="/employees/blog" class="custom-a-1">Blog</a></li>
            <li class="custom-ptb-1"><a href="/employees/faq" class="custom-a-1">FAQ</a></li>
            <li class="custom-ptb-1"><a href="/employees/pricing" class="custom-a-1">Pricing</a></li>
          </ul>
        </section>
        <section>
          <ul class="custom-ls-1">
            <li class="custom-ptb-1"><a href="/example" class="custom-a-1">Example</a></li>
            <li class="custom-ptb-1"><a href="/employees/login" class="custom-a-1">Login</a></li>
            <li class="custom-ptb-1"><a href="/employees/signup" class="custom-a-1">Signup</a></li>
            <li class="custom-ptb-1"><a href="/" class="custom-a-1">Products</a></li>
          </ul>
        </section>
      </div>
      <div class="custom-display-flex custom-fw-1 custom-ptb-2 custom-color-light-1 custom-jc-2 custom-footer-mobile-1">
        <p>2023 Triviafy | All Rights Reserved.</p>
        <p>Contact: <a href="mailto:support@triviafy.com" class="custom-color-light-1">support@triviafy.com</a></p>
        <div class="custom-fw-1">
          <a href="https://www.linkedin.com/company/triviafy" target="_blank"><img src="/static/images/candidates/social_media/linkedin.png" alt="linkedin icon" class="custom-img-size-2 custom-mr-2"></a>
          <a href="https://medium.com/triviafy" target="_blank"><img src="/static/images/candidates/social_media/medium.png" alt="medium icon" class="custom-img-size-2 custom-mr-2"></a>
          <a href="https://twitter.com/triviafywork" target="_blank"><img src="/static/images/candidates/social_media/twitter.png" alt="twitter icon" class="custom-img-size-2"></a>
        </div>
      </div>
    </footer>
  </div> -->
  <!-- ------------------------------------- footer v1 end ------------------------------------- -->
  <!-- ------------------------------------- footer v2 start ------------------------------------- -->
  <div class="containter-fluid custom-bg-dark-1 custom-color-white">
    <footer class="container">
      <div class="custom-display-flex custom-fw-1 custom-jc-around custom-pt-100 custom-pb-100">
        <!-- ------------------------------------- side 1 start ------------------------------------- -->
        <div class="custom-width-11-mobile">
          <div class="custom-width-10 mx-auto">
            <h2 class="custom-header-45">Start using Triviafy with your team <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/official_logo.png" alt="triviafy logo" class="custom-img-size-50"></h2>
            <form action="{{ url_for('employees_auth.employees_signup_function') }}" method="post" enctype="multipart/form-data" class="custom-display-flex custom-width-1 custom-pt-4" onsubmit="return clickSubmitButtonOnce()">
              <label for="uiEmailVarious" class="form-label"></label>
              <input type="email" class="form-control custom-mr-2 custom-p-3" id="uiEmailVarious" name="uiEmailVarious" aria-describedby="emailHelp" placeholder="Work email" required>
              <button type="submit" class="btn btn-primary text-nowrap">Get Started</button>
            </form>
            <div class="custom-display-flex custom-fw-1 custom-jc-around custom-mt-50">
              <a href="https://www.producthunt.com/posts/triviafy-fe00eda0-76f2-48cb-b6a6-8a734233011e" target="_blank"><img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/product_hunt.png" alt="triviafy logo" class="custom-img-size-50 custom-border-1"></a>
              <a href="https://www.g2.com/products/triviafy/reviews" target="_blank"><img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/g2.png" alt="triviafy logo" class="custom-img-size-50 custom-border-1 custom-br-1"></a>
            </div>
          </div>
        </div>
        <!-- ------------------------------------- side 1 end ------------------------------------- -->
        <!-- ------------------------------------- side 2 start ------------------------------------- -->
        <div class="custom-border-2 custom-width-11-mobile">
          <div class="custom-border-2 custom-width-10 mx-auto">
            right
          </div>
        </div>
        <!-- ------------------------------------- side 2 end ------------------------------------- -->
      </div>
    </footer>
  </div>
  <!-- ------------------------------------- footer v2 end ------------------------------------- -->
</body>
{% endblock %}