{% extends "employees/aaa_base/base.html" %}

<!-- head tag block content -->
{% block title %}
  <title>base2_exterior.html</title>
{% endblock %}

{% block contentBody %}
<body class="custom-google-font-1">
  <!-- ------------------------------------- navbar start ------------------------------------- -->
  <div class="container-fluid custom-bg-white">
    <nav class="container navbar navbar-expand-md navbar-light">
      <a href="/" class="navbar-brand">
        <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/official_logo.png" alt="triviafy logo" class="custom-img-size-1 custom-mt-negative-1 custom-mr-1">
        <span class="fw-bold custom-header-1">Triviafy</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu" aria-controls="toggleMobileMenu" aria-expanded="false" aria-lable="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="toggleMobileMenu">
        <ul class="navbar-nav ms-auto text-center">
          <li><a href="/employees/pricing" class="nav-link mx-2 custom-my-1-mobile">Pricing</a></li>
          <li><a href="/example" class="nav-link mx-2 custom-my-1-mobile text-nowrap">Trivia Example</a></li>
          <li><a href="/employees/login" class="nav-link mx-2 custom-my-1-mobile">Log in</a></li>
          <li><a class="btn btn-success btn-lg fw-bold mx-2 custom-my-1-mobile text-nowrap" href="/employees/signup" role="button">Get started</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- <div class="custom-filler-1"></div> -->
  <!-- ------------------------------------- navbar end ------------------------------------- -->
  {% block contentBodyExceptNavbarAndFooter %}
  {% endblock %}
  <!-- ------------------------------------- footer v2 start ------------------------------------- -->
  <div class="containter-fluid custom-bg-dark-1 custom-color-white">
    <footer class="container">
      <!-- ------------------------------------- top start ------------------------------------- -->
      <div class="custom-display-flex custom-fw-1 custom-jc-around custom-pt-100 custom-pb-200">
        <!-- ------------------------------------- side 1 start ------------------------------------- -->
        <div class="custom-width-11-mobile">
          <div class="custom-width-10 mx-auto">
            <h2 class="custom-header-45">Start using Triviafy with your team <a href="/"><img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/official_logo.png" alt="triviafy logo" class="custom-img-size-50"></a></h2>
            <form action="{{ url_for('employees_auth.employees_signup_function') }}" method="post" enctype="multipart/form-data" class="custom-display-flex custom-width-1 custom-pt-4" onsubmit="return clickSubmitButtonOnce()">
              <label for="uiEmailVarious" class="form-label"></label>
              <input type="email" class="form-control custom-mr-2 custom-p-3" id="uiEmailVarious" name="uiEmailVarious" aria-describedby="emailHelp" placeholder="Work email" required>
              <button type="submit" class="btn btn-primary text-nowrap">Get Started</button>
            </form>
            <div class="custom-display-flex custom-fw-1 custom-jc-around custom-mt-50">
              <a href="https://www.producthunt.com/posts/triviafy-fe00eda0-76f2-48cb-b6a6-8a734233011e" target="_blank"><img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/product_hunt.png" alt="triviafy logo" class="custom-img-size-50 custom-border-1"></a>
              <a href="https://www.g2.com/products/triviafy/reviews" target="_blank"><img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/g2.png" alt="triviafy logo" class="custom-img-size-50 custom-border-1 custom-br-1"></a>
            </div>
          </div>
        </div>
        <!-- ------------------------------------- side 1 end ------------------------------------- -->
        <!-- ------------------------------------- side 2 start ------------------------------------- -->
        <div class="custom-width-11-mobile custom-mt-100-mobile">
          <div class="custom-width-200 mx-auto">
            <h2 class="custom-header-25 custom-mb-10">Resources</h2>
            <ul class="custom-ls-1 custom-p-0 custom-m-0 custom-header-15">
              <li class="custom-mb-10"><a href="/employees/about" class="custom-a-5">About</a></li>
              <li class="custom-mb-10"><a href="/employees/blog" class="custom-a-5">Blog</a></li>
              <li class="custom-mb-10"><a href="mailto:support@triviafy.com" class="custom-a-5">Contact</a></li>
              <li class="custom-mb-10"><a href="/example" class="custom-a-5">Example</a></li>
              <li class="custom-mb-10"><a href="/employees/faq" class="custom-a-5">FAQ</a></li>
              <li class="custom-mb-10"><a href="/employees/pricing" class="custom-a-5">Pricing</a></li>
            </ul>
          </div>
        </div>
        <!-- ------------------------------------- side 2 end ------------------------------------- -->
      </div>
      <!-- ------------------------------------- top end ------------------------------------- -->
      <!-- ------------------------------------- bottom start ------------------------------------- -->
      <div class="custom-display-flex custom-fw-1 custom-jc-between custom-pb-25">
        <div>
          <div class="custom-header-20">
            <a href="https://www.tiktok.com/@triviafy" target="_blank" class="custom-a-white custom-m-5"><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://twitter.com/TriviafyWork" target="_blank" class="custom-a-white custom-m-5"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.linkedin.com/company/triviafy" target="_blank" class="custom-a-white custom-m-5"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.instagram.com/triviafywork/" target="_blank" class="custom-a-white custom-m-5"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100090621083946" target="_blank" class="custom-a-white custom-m-5"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://medium.com/triviafy" target="_blank" class="custom-a-white custom-m-5"><i class="fa-brands fa-medium"></i></a>
            <a href="https://www.producthunt.com/posts/triviafy-fe00eda0-76f2-48cb-b6a6-8a734233011e" target="_blank" class="custom-a-white custom-m-5"><i class="fa-brands fa-product-hunt"></i></a>
          </div>
        </div>
        <div class="custom-display-flex custom-fw-1 custom-jc-between">
          <span class="custom-header-10">© 2023 Triviafy | <a href="#" class="custom-a-white">Privacy Policy</a> | <a href="#" class="custom-a-white">Terms & Conditions</a></span>
        </div>
      </div>
      <!-- ------------------------------------- bottom end ------------------------------------- -->
    </footer>
  </div>
  <!-- ------------------------------------- footer v2 end ------------------------------------- -->
</body>
{% endblock %}