{% extends "aaa_base/base.html" %}

{% block title %}
base.html
{% endblock %}

{% block contentHead %}
<!-- ------------------------------------- javascript start ------------------------------------- -->
<!-- <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script> -->

<!-- js click submit button only once navbar -->
<!-- <script type="text/javascript" src="{{ url_for('static', filename='javascript/candidates_js/submit_button_js/click_submit_button_once.js') }}" defer></script> -->
<!-- ------------------------------------- javascript end ------------------------------------- -->
{% endblock %}

{% block contentBody %}
{% endblock %}