{% extends "employees/aaa_base/base.html" %}

<!-- head tag block content -->
{% block title %}
  <title>base2_exterior.html</title>
{% endblock %}

{% block contentBody %}
<body class="custom-google-font-1 custom-bg-grey-3">
  <!-- ------------------------------------- navbar start ------------------------------------- -->
  <div class="container-fluid fixed-top shadow-sm custom-bg-white">
    <nav class="container navbar navbar-expand-md navbar-light">
      <a href="/employees/dashboard" class="navbar-brand">
        <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/official_logo.png" alt="triviafy logo" class="custom-img-size-2 custom-mt-negative-2 custom-mr-1">
        <span class="fw-bold custom-header-6">Triviafy</span>
      </a>
    </nav>
  </div>
  <div class="custom-filler-4"></div>
  <!-- ------------------------------------- navbar end ------------------------------------- -->
  <div class="container-fluid custom-bg-grey-3 custom-pb-3">
  {% block contentBodyExceptNavbarAndFooter %}
  {% endblock %}
  </div>
  <!-- ------------------------------------- footer start ------------------------------------- -->
  <!-- ------------------------------------- footer end ------------------------------------- -->
</body>
{% endblock %}