{% extends "employees/aaa_base/base2_primary.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Icebreakers - Triviafy</title>
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<div class="custom-bg-primary-darker">
  <!-- ----------------------------------- start ----------------------------------- -->
  {% if page_dict_to_html['alert_message_dict']['message'] != '' %}
  <div class="alert alert-{{ page_dict_to_html['alert_message_dict']['type'] }} mx-auto text-center container-fluid custom-width-6 custom-m-0" role="alert">
    {{ page_dict_to_html['alert_message_dict']['message'] }}
  </div>
  {% endif %}
  <!-- ----------------------------------- end ----------------------------------- -->
  <!-- ------------------------------------- entire page start ------------------------------------- -->
  <div class="container-fluid custom-bg-primary-gradient-1 custom-pt-3">
    <!-- ------------------------------------- title start ------------------------------------- -->
    <div class="container mx-auto custom-pb-2">
      <div class="text-center">
        <h2 class="custom-color-white">{{ page_dict_to_html['url_activity_code']|capitalize|replace("_"," ") }}</h2>
        <p class="custom-header-15 fst-italic custom-mt-2 custom-ml-2 custom-color-white-opacity-75">Activity ends Thursday's at 1 PM | <a href="/signup" class="custom-a-5">Change settings here</a></p>
      </div>
    </div>
    <!-- ------------------------------------- title end ------------------------------------- -->
    <!-- ------------------------------------- section start ------------------------------------- -->
    <div class="container">
      <div class="custom-width-1 mx-auto">
        <!-- ------------------------------------- question start ------------------------------------- -->
        <div class="custom-br-1 custom-p-25 custom-bg-green-1">
          <p class="custom-m-0 custom-header-40 fw-bolder"><i class="fa-solid fa-arrow-right"></i> {{ page_dict_to_html['db_question_dict']['question'] }}</p>
        </div>
        <!-- ------------------------------------- question end ------------------------------------- -->
        <!-- ------------------------------------- answer start ------------------------------------- -->
        <div class="custom-pb-25 custom-mt-50">
          <div class="form-floating">
            <textarea class="form-control" id="ui_answer" name="ui_answer" placeholder="Your answer" onkeyup="CountCharsCustomAnswer(this);" pattern="{1,500}" rows="5" style="height:100%;" required></textarea>
            <label for="ui_answer">Your response below. Your team will see your response <i class="fa-solid fa-eye"></i></label>
            <p id="id-countCharsCustomAnswer" class="custom-size-3 custom-color-light-1 fst-italic custom-mt-2 custom-ml-2"></p>
          </div>
        </div>
        <!-- ------------------------------------- answer end ------------------------------------- -->
        <div class="mx-auto">
          <a href="/signup" class="btn btn-lg btn-success custom-mb-6 custom-width-6 custom-ptb-8 custom-br-1" id="submit-button-botttom">Submit <i class="fa-solid fa-check"></i></a>
        </div>
      </div>
    </div>
    <!-- ------------------------------------- section end ------------------------------------- -->
  </div>
  <!-- ------------------------------------- entire page end ------------------------------------- -->
</div>
<!-- ----------------------------------- shape divider start ----------------------------------- -->
<div class="custom-shape-divider-bottom-1672276706 custom-bg-primary-darker">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
  </svg>
</div>
<!-- ----------------------------------- shape divider end ----------------------------------- -->

<!-- ------------------------------------- signature start ------------------------------------- -->
<div class="custom-width-1 mx-auto custom-mb-50">
  <a href="/" class="btn btn-outline-secondary custom-width-6"><i class="fa-solid fa-arrow-left"></i> Home</a>
</div>
<div class="custom-width-15 mx-auto custom-pb-100">
  <a href="/" class="navbar-brand">
    <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/official_logo.png" alt="triviafy logo" class="custom-img-size-1 custom-mt-negative-1">
    <span class="fw-bold custom-header-1">Triviafy<spa class="custom-header-4">.com</span></span>
    <div class="text-center">
      <p class="custom-m-0">Team building software</p>
    </div>
  </a>
</div>
<!-- ------------------------------------- signature end ------------------------------------- -->
{% endblock %}