{% extends "employees/aaa_base/base2_interior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Leaderboard - Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
{% if page_dict_to_html['alert_message_dict']['message'] != '' %}
<div class="alert alert-{{ page_dict_to_html['alert_message_dict']['type'] }} mx-auto text-center container custom-mt-1" role="alert">
  {{ page_dict_to_html['alert_message_dict']['message'] }}
</div>
{% endif %}
<!-- ----------------------------------- end ----------------------------------- -->
<!-- ----------------------------------- start ----------------------------------- -->
<div class="container custom-display-flex custom-pt-6 custom-jc-2 custom-pb-6">
  <div>
    <h2 class="custom-header-2-mobile">Leaderboard</h2>
  </div>
</div>
<div class="container border shadow custom-br-1 custom-bg-white custom-ptb-6">
  <!-- ----------------------------------- start ----------------------------------- -->
  <table id="candidates-datatable-id" class="table table-striped" style="width:100%">
    <thead>
      <tr>
        <th>Email</th>
        <th>Total Wins</th>
        <th>Total Correct</th>
        <th>Archive</th>
      </tr>
    </thead>
    <tbody>
      {% for i in page_dict_to_html['users_arr_of_dicts'] %}
      <tr>
        <td>{{ i['user_email'] }}</td>
        <td>{{ i['total_wins'] }}</td>
        <td>{{ i['total_correct'] }}</td>
        <td><a href="/employees/archive" class="custom-a-2 fw-bolder">View archive</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- ----------------------------------- end ----------------------------------- -->
</div>
<!-- ----------------------------------- end ----------------------------------- -->
<!-- ------------------------------------- signature start ------------------------------------- -->
<div class="custom-width-15 mx-auto custom-mt-100">
  <a href="/dashboard" class="navbar-brand">
    <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/official_logo.png" alt="triviafy logo" class="custom-img-size-1 custom-mt-negative-1">
    <span class="fw-bold custom-header-1">Triviafy<spa class="custom-header-4">.com</span></span>
    <div class="text-center">
      <p class="custom-m-0">Team building software</p>
    </div>
  </a>
</div>
<!-- ------------------------------------- signature end ------------------------------------- -->
{% endblock %}