{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - message start -->
<div class="pricing-action-button-section">
  <a href="/candidates"><button class="default-button-format default-button-format-pricing-red-color navbar-not-signed-in-button-position-3">Click to learn about our new product: Triviafy Candidates</button></a>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - message end -->

<form method="POST">
  <h3>Login</h3>
  <br />
  
  <label for="email">Email Address</label>
  <input type="email" id="email" name="email" placeholder="Enter email" />
  <br />

  <label for="password">Password</label>
  <input type="password" id="password" name="password" placeholder="Enter password" />
  <br />

  <button type="submit">Login</button>
</form>
{% endblock %}