{% extends "employees/aaa_base/base2_interior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Dashboard - Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
{% if alert_message_dict_to_html['message'] != '' %}
  <div class="alert alert-{{ alert_message_dict_to_html['type'] }} mx-auto text-center container custom-mt-1" role="alert">
    {{ alert_message_dict_to_html['message'] }}
  </div>
{% endif %}
<!-- ----------------------------------- end ----------------------------------- -->
<!-- ------------------------------------- new dashboard start ------------------------------------- -->
<div class="container custom-pt-50">
  <h2>Activities</h2>
</div>
<!-- ------------------------------------- expands start ------------------------------------- -->
<div class="container custom-pb-25">
  <div>
    <span class="custom-opacity-1-hover custom-hover-1 uiSelectAllBlockVisible" id="id-flow_show_details_1">Show activity details <i class="fa-solid fa-caret-down custom-ml-1"></i></span>
    <span class="custom-opacity-1-hover custom-hover-1 uiSelectAllBlockInvisible" id="id-flow_hide_details_1">Hide activity details <i class="fa-solid fa-caret-up custom-ml-1"></i></span>
  </div>
  <div class="custom-mt-10 custom-width-100 uiSelectAllBlockInvisible" id="id-activity_details_1">
    <!-- ------------------------------------- description start ------------------------------------- -->
    <div class="custom-border-9 custom-br-1 custom-p-1 custom-mb-6 shadow custom-bg-white">
      <h3 class="custom-ml-1 custom-mb-25">Details</h3>
      <p class="custom-line-2"><span class="custom-br-1 custom-p-9 custom-bg-color-3 custom-color-grey-2 custom-mr-1">Participation</span> Activities are asynchronous, allowing colleagues to conveniently submit their answers at their own pace and on their own schedule.</p>
      <p class="custom-line-2"><span class="custom-br-1 custom-p-9 custom-bg-color-3 custom-color-grey-2 custom-mr-1">Grading</span> All colleagues' answers will be graded and revealed upon activity close time.</p>
      <p class="custom-line-2"><span class="custom-br-1 custom-p-9 custom-bg-color-3 custom-color-grey-2 custom-mr-1">Notifications</span> Activity notifications will be sent via email. Please check your email's spam folder and mark <a href="mailto:support@triviafy.com">support@triviafy.com</a> as not spam.</p>
      <div class="text-center custom-pb-25">
        <button class="btn btn-warning btn-lg custom-width-100 shadow-sm" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Invite team & colleagues" id="demo" onclick="copyToClipboard(document.getElementById('demo').innerHTML)">Share with team <i class="fa-solid fa-up-right-from-square"></i></button>
        <script>function copyToClipboard(text) {window.prompt("Share below link with your team and everyone will be routed to the same activities. (Copy link: CTRL + C)", 'https://triviafy.com/dashboard');}</script>
        <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
      </div>
    </div>
    <!-- ------------------------------------- description end ------------------------------------- -->
  </div>
</div>
<!-- ------------------------------------- expands end ------------------------------------- -->
<div class="container">
  <div class="accordion" id="accordionExample">
    <!-- ------------------------------------- accordion item start ------------------------------------- -->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Trivia
          <div class="form-check form-switch custom-ml-1">
            <input class="form-check-input" type="checkbox" role="switch" id="flexActivityTrivia" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title=" Auto stop/start team activity" checked>
            <label class="form-check-label" for="flexActivityTrivia"></label>
          </div>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <!-- ------------------------------------- latest activity start ------------------------------------- -->
          <div class="custom-border-9 custom-br-1 custom-p-1 custom-mb-6 custom-bg-color-8">
            <h3 class="custom-ml-1 custom-mb-6">Status & participation</h3>
            <!-- ------------------------------------- latest test logic start ------------------------------------- -->
            {% if page_dict_to_html['first_activity_exists_trivia'] == false %}
              <p class="custom-line-2"><a href="/employees/schedule" class="custom-a-none"><span class="custom-br-1 custom-p-9 custom-bg-color-4 custom-color-5 custom-mr-1">Current status</span></a> <a href="/create/activity/trivia" class="btn btn-success btn-lg">Generate first contest <i class="fa-solid fa-wand-magic-sparkles"></i></a></p>
            {% endif %}
            {% if page_dict_to_html['first_activity_exists_trivia'] == true %}
              {% if page_dict_to_html['latest_test_is_closed'] == false %}
                  {% if page_dict_to_html['ui_latest_test_completed'] == true %}
                    <p class="custom-line-2"><a href="/employees/t" class="custom-a-none"><span class="custom-br-1 custom-p-9 custom-bg-color-4 custom-color-5 custom-mr-1">Current status</span></a> <a href="/employees/t" class="btn btn-success btn-lg">Review my answers <i class="fa-solid fa-arrow-right"></i></a></p>
                  {% else %}
                    <p class="custom-line-2"><a href="/employees/t" class="custom-a-none"><span class="custom-br-1 custom-p-9 custom-bg-color-4 custom-color-5 custom-mr-1">Current status</span></a> Your team's trivia activity is now open! <a href="/employees/t" class="btn btn-success btn-lg custom-ml-1">Submit your answers <i class="fa-solid fa-arrow-right"></i></a></p>
                  {% endif %}
              {% endif %}
              {% if page_dict_to_html['latest_test_is_closed'] == true %}
                {% if page_dict_to_html['latest_test_winner'] == '' %}
                  <p class="custom-line-2"><span class="custom-br-1 custom-p-9 custom-bg-color-4 custom-color-5 custom-mr-1">Current status</span> Closed, no one on your team participated.</p>
                {% else %}
                  <p class="custom-line-2"><span class="custom-br-1 custom-p-9 custom-bg-color-4 custom-color-5 custom-mr-1">Current status</span> <span class="btn btn-success btn-lg custom-mr-1">&#127881; Winner: {{ page_dict_to_html['latest_test_winner'] }} | Score: {{ page_dict_to_html['latest_test_winner_score'] }}%</span></p>
                  <p class="custom-line-2"><a href="/employees/t/" class="custom-a-none"><span class="custom-br-1 custom-p-9 custom-bg-color-4 custom-color-5 custom-mr-1">Review</span></a> <a href="/employees/t/" class="custom-a-2">View all team responses</a></p>
                {% endif %}
              {% endif %}
            {% endif %}
            {% if 'ending_time_string' in page_dict_to_html %}
              <p class="custom-line-2"><span class="custom-br-1 custom-p-9 custom-bg-color-4 custom-color-5 custom-mr-1">Activity close</span> {{ page_dict_to_html['ending_time_string'] }}</p>
            {% endif %}
            <!-- ------------------------------------- latest test logic end ------------------------------------- -->
          </div>
          <!-- ------------------------------------- latest activity end ------------------------------------- -->
          <!-- ------------------------------------- settings start ------------------------------------- -->
          <div class="custom-border-9 custom-br-1 custom-p-1 custom-mb-6 custom-bg-color-6">
            <h3 class="custom-ml-1 custom-mb-6">Settings</h3>
            <p class="custom-line-2"><a href="/employees/schedule" class="custom-a-none"><span class="custom-br-1 custom-p-9 custom-bg-color-5 custom-color-6 custom-mr-1">Cadence</span></a> <a href="/employees/schedule" class="custom-a-2">{{ page_dict_to_html['db_activity_settings_dict_trivia']['total_questions'] }} trivia questions, sent {{ page_dict_to_html['db_activity_settings_dict_trivia']['cadence'].lower() }}. Activity opens {{ page_dict_to_html['db_activity_settings_dict_trivia']['start_day'] }}'s at {{ page_dict_to_html['db_activity_settings_dict_trivia']['start_time'] }} and closes {{ page_dict_to_html['db_activity_settings_dict_trivia']['end_day'] }}'s at {{ page_dict_to_html['db_activity_settings_dict_trivia']['end_time'] }}, {{ page_dict_to_html['db_activity_settings_dict_trivia']['timezone'] }} <span class="custom-ml-1"></a></span></p>
            {% if page_dict_to_html['db_activity_settings_dict_trivia']['categories'] == 'all_categories' %}
              <p class="custom-line-2"><a href="/employees/schedule" class="custom-a-none"><span class="custom-br-1 custom-p-9 custom-bg-color-5 custom-color-6 custom-mr-1">Categories</span></a> <a href="/employees/schedule" class="custom-a-2">All categories <span class="custom-ml-1"></a></span></p>
            {% else %}
              <p class="custom-line-2"><a href="/employees/schedule" class="custom-a-none"><span class="custom-br-1 custom-p-9 custom-bg-color-5 custom-color-6 custom-mr-1">Categories</span></a> <a href="/employees/schedule" class="custom-a-2">{{ page_dict_to_html['db_activity_settings_dict_trivia']['categories'] }} <span class="custom-ml-1"></a></span></p>
            {% endif %}
            {% if page_dict_to_html['db_activity_settings_dict_trivia']['question_type'] == 'Mixed' %}
              <p class="custom-line-2"><a href="/employees/schedule" class="custom-a-none"><span class="custom-br-1 custom-p-9 custom-bg-color-5 custom-color-6 custom-mr-1">Question type</span></a> <a href="/employees/schedule" class="custom-a-2">Per every five questions, the first four will be 'multiple choice', and the last one will be 'fill in the blank' <span class="custom-ml-1"></a></span></p>
            {% else %}
              <p class="custom-line-2"><a href="/employees/schedule" class="custom-a-none"><span class="custom-br-1 custom-p-9 custom-bg-color-5 custom-color-6 custom-mr-1">Question type</span></a> <a href="/employees/schedule" class="custom-a-2">{{ page_dict_to_html['db_activity_settings_dict_trivia']['question_type'] }} <span class="custom-ml-1"></a></span></p>
            {% endif %}
          </div>
          <!-- ------------------------------------- settings end ------------------------------------- -->
          <!-- ------------------------------------- features start ------------------------------------- -->
          <div class="custom-border-9 custom-br-1 custom-p-1 custom-mb-6 custom-bg-color-15">
            <h3 class="custom-ml-1 custom-mb-6">Resources</h3>
            <p class="custom-line-2"><a href="/employees/archive" class="custom-a-none"><span class="custom-br-1 custom-p-9 custom-bg-color-16 custom-color-17 custom-mr-1">Archive</span></a> <a href="/employees/archive" class="custom-a-2">View all trivia contests</a></p>
            <p class="custom-line-2"><a href="/employees/leaderboard" class="custom-a-none"><span class="custom-br-1 custom-p-9 custom-bg-color-16 custom-color-17 custom-mr-1">Leaderboard</span></a> <a href="/employees/leaderboard" class="custom-a-2">View team leaderboard</a></p>
            {% if page_dict_to_html['stripe_subscription_status'] == 'active' %}
              <p class="custom-line-2"><a href="/employees/questions" class="custom-a-none"><span class="custom-br-1 custom-p-9 custom-bg-color-16 custom-color-17 custom-mr-1">Create custom questions</span></a> <a href="/employees/questions" class="custom-a-2">Create custom questions</a></p>
            {% else %}
              <p class="custom-line-2"><a href="/employees/account" class="custom-a-none"><span class="custom-br-1 custom-p-9 custom-bg-color-16 custom-color-17 custom-mr-1">Create custom questions</span></a> <a href="/employees/account" class="custom-a-2 fst-italic custom-opacity-2">Subscription required</a></p>
            {% endif %}
          </div>
          <!-- ------------------------------------- features end ------------------------------------- -->
        </div>
      </div>
    </div>
    <!-- ------------------------------------- accordion item end ------------------------------------- -->
    <!-- ------------------------------------- accordion item start ------------------------------------- -->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Picture quiz
          <div class="form-check form-switch custom-ml-1">
            <input class="form-check-input" type="checkbox" role="switch" id="flexActivityPicture" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title=" Auto stop/start team activity" disabled>
            <label class="form-check-label" for="flexActivityPicture"></label>
          </div>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="text-center custom-p-4 custom-bg-color-3 custom-br-1">
            {% if page_dict_to_html['stripe_subscription_status'] == 'active' %}
              <p class="custom-m-0">Maintenance <i class="fa-solid fa-screwdriver-wrench"></i></p>
            {% else %}
              <a href="/employees/account" class="custom-a-2">Subscription required <i class="fa-solid fa-eye-slash"></i></a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <!-- ------------------------------------- accordion item end ------------------------------------- -->
    <!-- ------------------------------------- accordion item start ------------------------------------- -->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Icebreakers
          <div class="form-check form-switch custom-ml-1">
            <input class="form-check-input" type="checkbox" role="switch" id="flexActivityIcebreakers" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title=" Auto stop/start team activity" disabled>
            <label class="form-check-label" for="flexActivityIcebreakers"></label>
          </div>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="text-center custom-p-4 custom-bg-color-3 custom-br-1">
            {% if page_dict_to_html['stripe_subscription_status'] == 'active' %}
              <p class="custom-m-0">Maintenance <i class="fa-solid fa-screwdriver-wrench"></i></p>
            {% else %}
              <a href="/employees/account" class="custom-a-2">Subscription required <i class="fa-solid fa-eye-slash"></i></a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <!-- ------------------------------------- accordion item end ------------------------------------- -->
    <!-- ------------------------------------- accordion item start ------------------------------------- -->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Birthdays
          <div class="form-check form-switch custom-ml-1">
            <input class="form-check-input" type="checkbox" role="switch" id="flexActivityBirthdays" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title=" Auto stop/start team activity" disabled>
            <label class="form-check-label" for="flexActivityBirthdays"></label>
          </div>
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="text-center custom-p-4 custom-bg-color-3 custom-br-1">
            {% if page_dict_to_html['stripe_subscription_status'] == 'active' %}
              <p class="custom-m-0">Maintenance <i class="fa-solid fa-screwdriver-wrench"></i></p>
            {% else %}
              <a href="/employees/account" class="custom-a-2">Subscription required <i class="fa-solid fa-eye-slash"></i></a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <!-- ------------------------------------- accordion item end ------------------------------------- -->
    <!-- ------------------------------------- accordion item start ------------------------------------- -->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Personality tests
          <div class="form-check form-switch custom-ml-1">
            <input class="form-check-input" type="checkbox" role="switch" id="flexActivityPersonality" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title=" Auto stop/start team activity" disabled>
            <label class="form-check-label" for="flexActivityPersonality"></label>
          </div>
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="text-center custom-p-4 custom-bg-color-3 custom-br-1">
            {% if page_dict_to_html['stripe_subscription_status'] == 'active' %}
              <p class="custom-m-0">Maintenance <i class="fa-solid fa-screwdriver-wrench"></i></p>
            {% else %}
              <a href="/employees/account" class="custom-a-2">Subscription required <i class="fa-solid fa-eye-slash"></i></a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <!-- ------------------------------------- accordion item end ------------------------------------- -->
    <!-- ------------------------------------- accordion item start ------------------------------------- -->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Employee surveys
          <div class="form-check form-switch custom-ml-1">
            <input class="form-check-input" type="checkbox" role="switch" id="flexActivitySurvey" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title=" Auto stop/start team activity" disabled>
            <label class="form-check-label" for="flexActivitySurvey"></label>
          </div>
        </button>
      </h2>
      <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="text-center custom-p-4 custom-bg-color-3 custom-br-1">
            {% if page_dict_to_html['stripe_subscription_status'] == 'active' %}
              <p class="custom-m-0">Maintenance <i class="fa-solid fa-screwdriver-wrench"></i></p>
            {% else %}
              <a href="/employees/account" class="custom-a-2">Subscription required <i class="fa-solid fa-eye-slash"></i></a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <!-- ------------------------------------- accordion item end ------------------------------------- -->
    <!-- ------------------------------------- accordion item start ------------------------------------- -->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          Most likely to
          <div class="form-check form-switch custom-ml-1">
            <input class="form-check-input" type="checkbox" role="switch" id="flexActivityMostLikely" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title=" Auto stop/start team activity" disabled>
            <label class="form-check-label" for="flexActivityMostLikely"></label>
          </div>
        </button>
      </h2>
      <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="text-center custom-p-4 custom-bg-color-3 custom-br-1">
            {% if page_dict_to_html['stripe_subscription_status'] == 'active' %}
              <p class="custom-m-0">Maintenance <i class="fa-solid fa-screwdriver-wrench"></i></p>
            {% else %}
              <a href="/employees/account" class="custom-a-2">Subscription required <i class="fa-solid fa-eye-slash"></i></a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <!-- ------------------------------------- accordion item end ------------------------------------- -->
    <!-- ------------------------------------- accordion item start ------------------------------------- -->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          This or that
          <div class="form-check form-switch custom-ml-1">
            <input class="form-check-input" type="checkbox" role="switch" id="flexActivityThisThat" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title=" Auto stop/start team activity" disabled>
            <label class="form-check-label" for="flexActivityThisThat"></label>
          </div>
        </button>
      </h2>
      <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="text-center custom-p-4 custom-bg-color-3 custom-br-1">
            {% if page_dict_to_html['stripe_subscription_status'] == 'active' %}
              <p class="custom-m-0">Maintenance <i class="fa-solid fa-screwdriver-wrench"></i></p>
            {% else %}
              <a href="/employees/account" class="custom-a-2">Subscription required <i class="fa-solid fa-eye-slash"></i></a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <!-- ------------------------------------- accordion item end ------------------------------------- -->
    <!-- ------------------------------------- accordion item start ------------------------------------- -->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          Question of the day
          <div class="form-check form-switch custom-ml-1">
            <input class="form-check-input" type="checkbox" role="switch" id="flexActivityQuestionOfTheDay" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title=" Auto stop/start team activity" disabled>
            <label class="form-check-label" for="flexActivityQuestionOfTheDay"></label>
          </div>
        </button>
      </h2>
      <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="text-center custom-p-4 custom-bg-color-3 custom-br-1">
            {% if page_dict_to_html['stripe_subscription_status'] == 'active' %}
              <p class="custom-m-0">Maintenance <i class="fa-solid fa-screwdriver-wrench"></i></p>
            {% else %}
              <a href="/employees/account" class="custom-a-2">Subscription required <i class="fa-solid fa-eye-slash"></i></a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <!-- ------------------------------------- accordion item end ------------------------------------- -->
    <!-- ------------------------------------- accordion item start ------------------------------------- -->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
          Gift card prizes
          <div class="form-check form-switch custom-ml-1">
            <input class="form-check-input" type="checkbox" role="switch" id="flexActivityGiftCard" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title=" Auto stop/start team activity" disabled>
            <label class="form-check-label" for="flexActivityGiftCard"></label>
          </div>
        </button>
      </h2>
      <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="text-center custom-p-4 custom-bg-color-3 custom-br-1">
            {% if page_dict_to_html['stripe_subscription_status'] == 'active' %}
              <p class="custom-m-0">Maintenance <i class="fa-solid fa-screwdriver-wrench"></i></p>
            {% else %}
              <a href="/employees/account" class="custom-a-2">Subscription required <i class="fa-solid fa-eye-slash"></i></a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <!-- ------------------------------------- accordion item end ------------------------------------- -->
    <!-- ------------------------------------- accordion item start ------------------------------------- -->
    <!-- <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Accordion Item #2
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div> -->
    <!-- ------------------------------------- accordion item end ------------------------------------- -->
    <!-- ------------------------------------- accordion item start ------------------------------------- -->
    <!-- <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Accordion Item #3
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div> -->
    <!-- ------------------------------------- accordion item end ------------------------------------- -->
  </div>
</div>
<!-- ------------------------------------- new dashboard start ------------------------------------- -->
<!-- ------------------------------------- signature start ------------------------------------- -->
<div class="custom-width-15 mx-auto custom-mt-100">
  <a href="/employees/dashboard" class="navbar-brand">
    <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/official_logo.png" alt="triviafy logo" class="custom-img-size-1 custom-mt-negative-1">
    <span class="fw-bold custom-header-1">Triviafy<spa class="custom-header-4">.com</span></span>
    <div class="text-center">
      <p class="custom-m-0">Team building software</p>
    </div>
  </a>
</div>
<!-- ------------------------------------- signature end ------------------------------------- -->
{% endblock %}