{% if page_dict_to_html['first_test_exists'] == false %}
  {% extends "employees/aaa_base/base2_interior2.html" %}
{% else %}
    {% if page_dict_to_html['ui_latest_test_completed'] == false %}
      {% extends "employees/aaa_base/base2_interior2.html" %}
    {% else %}
      {% extends "employees/aaa_base/base2_interior.html" %}
    {% endif %}
{% endif %}
<!-- head tag block content -->
{% block title %}
  <title>Dashboard - Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
{% if alert_message_dict_to_html['message'] != '' %}
  <div class="alert alert-{{ alert_message_dict_to_html['type'] }} mx-auto text-center container custom-mt-1" role="alert">
    {{ alert_message_dict_to_html['message'] }}
  </div>
{% endif %}
<!-- ----------------------------------- end ----------------------------------- -->
{% if page_dict_to_html['first_test_exists'] == false %}
  <div class="container custom-display-flex custom-pt-6 custom-jc-2 custom-pb-6">
    <div>
      <h2 class="custom-header-mobile-1">Automated team trivia <span class="custom-size-4 fst-italic custom-color-grey-1 custom-wrap-1">Loved by 100's of virtual & hybrid teams.</span></h2>
    </div>
  </div>
  <div class="container border shadow custom-br-1 custom-bg-white custom-ptb-6">
    <div class="text-center">
      <p class="custom-header-4">Welcome! Please confirm your team's personalized categories.</p>
      <a href="/employees/schedule" class="btn btn-lg btn-primary">Confirm <i class="fa-solid fa-arrow-right"></i></a>
    </div>
  </div>
{% endif %}
{% if page_dict_to_html['first_test_exists'] == true %}
  <div class="container custom-display-flex custom-pt-6 custom-jc-2 custom-pb-6">
    <div> 
      <h2 class="custom-header-mobile-1">Automated team trivia <span class="custom-size-4 fst-italic custom-color-grey-1 custom-wrap-1">Loved by 100's of virtual & hybrid teams.</span></h2>
    </div>
  </div>
  <div class="container border shadow custom-br-1 custom-bg-white custom-ptb-6">
    <div class="text-center">
      {% if page_dict_to_html['latest_test_is_closed'] == false %}
        <div class="custom-width-14 mx-auto custom-tal">
          <p class="custom-header-4 text-center">Status <span class="fst-italic btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Your team: Complete contest by {{ page_dict_to_html['ending_time_string'] }}. Your team's winner will be announced by email.">Open</span></p>
        </div>
        <div class="custom-width-14 mx-auto shadow custom-br-3 custom-p-2 custom-bg-gradient-1">
          {% if page_dict_to_html['ui_latest_test_completed'] == true %}
            <a href="/employees/t/" class="btn btn-lg btn-success custom-width-6 custom-mt-1" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Quiz closes: {{ page_dict_to_html['ending_time_string'] }}">Review my answers <i class="fa-solid fa-arrow-right"></i></a>
            <button class="btn btn-outline-success btn-lg custom-mb-1-mobile custom-width-6 custom-mt-1" id="demo" onclick="copyToClipboard(document.getElementById('demo').innerHTML)">Share triviafy with your team <i class="fa-solid fa-up-right-from-square"></i></button>
            <script>function copyToClipboard(text) {window.prompt("Automated trivia contests for work. Share below link with your team and everyone will be routed to the same trivia contest. (Copy link: CTRL + C)", 'https://triviafy.com/dashboard');}</script>
          {% else %}
            <a href="/employees/t/" class="btn btn-lg btn-success" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Complete by: {{ page_dict_to_html['ending_time_string'] }}">&#127881; Start quiz <i class="fa-solid fa-arrow-right"></i></a>
          {% endif %}
        </div>
      {% endif %}
      {% if page_dict_to_html['latest_test_is_closed'] == true %}
        <div class="custom-width-14 mx-auto custom-tal">
          <p class="custom-header-4 text-center">Status <span class="fst-italic btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Next quiz opens: {{ page_dict_to_html['next_quiz_open_string'] }}. You will be notified by email.">Closed</span></p>
        </div>
        <div class="custom-width-14 mx-auto shadow custom-br-3 custom-p-2 custom-bg-gradient-1">
          {% if page_dict_to_html['latest_test_winner'] == '' %}
            <p class="custom-header-4">No winner, no one on your team participated.</p>
          {% else %}
            <p class="custom-header-2">Latest Winner</p>
            <p class="custom-header-4"><span class="btn btn-success btn-lg custom-width-6 custom-mt-1">&#127881; {{ page_dict_to_html['latest_test_winner'] }}</span></p>
            <p class="custom-header-4"><span class="btn btn-success btn-lg custom-width-6">Score: {{ page_dict_to_html['latest_test_winner_score'] }}%</span></p>
          {% endif %}
          <div class="custom-mt-1">
            <a href="/employees/t/" class="btn btn-outline-primary custom-width-6 custom-mt-1">View all team responses <i class="fa-solid fa-arrow-right"></i></a>
            <button class="btn btn-outline-primary custom-mb-1-mobile custom-width-6 custom-mt-1" id="demo" onclick="copyToClipboard(document.getElementById('demo').innerHTML)">Share triviafy with your team <i class="fa-solid fa-up-right-from-square"></i></button>
            <script>function copyToClipboard(text) {window.prompt("Automated trivia contests for work. Share below link with your team and everyone will be routed to the same trivia contest. (Copy link: CTRL + C)", 'https://triviafy.com/dashboard');}</script>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="container">
    <p class="custom-mt-1 text-center custom-size-3 fst-italic custom-bg-tan-2 custom-color-grey-1 shadow-sm custom-p-1 custom-br-1">FAQ: How do I share this trivia contest with my team? <a href="/employees/signup" target="_blank">Team members can create an account here</a> and they will be automatically routed to the same quiz as you!</p>
  </div>
  {% if page_dict_to_html['ui_latest_test_completed'] == false %}
  {% else %}
    <div class="container custom-mt-5 custom-pb-6">
      <h2 class="custom-header-mobile-1">More team fun!</h2>
    </div>
    <div class="container border shadow custom-br-1 custom-bg-white custom-ptb-6">
      <a href="/employees/archive" class="btn btn-outline-secondary btn-lg custom-width-18-mobile custom-display-block mx-auto"><i class="fa-regular fa-folder-open"></i> Archive</a>
      <a href="/employees/leaderboard" class="btn btn-outline-secondary btn-lg custom-width-18-mobile custom-display-block mx-auto custom-mt-1"><i class="fa-solid fa-ranking-star"></i> Leaderboard</a>
      {% if page_dict_to_html['stripe_subscription_status'] == 'active' %}
        <a href="/employees/questions" class="btn btn-outline-secondary btn-lg custom-width-18-mobile custom-display-block mx-auto custom-mt-1"><i class="fa-solid fa-screwdriver-wrench"></i> Custom questions</a>
        <a href="/employees/feature/access_employee_surveys" class="btn btn-outline-secondary btn-lg custom-width-18-mobile custom-display-block mx-auto custom-mt-1"><i class="fa-solid fa-square-poll-vertical"></i> Employee surveys</a>
        <a href="/employees/feature/access_ice_breakers" class="btn btn-outline-secondary btn-lg custom-width-18-mobile custom-display-block mx-auto custom-mt-1"><i class="fa-solid fa-ice-cream"></i> Ice breakers</a>
        <a href="/employees/feature/access_personality_tests" class="btn btn-outline-secondary btn-lg custom-width-18-mobile custom-display-block mx-auto custom-mt-1"><i class="fa-solid fa-user"></i> Personality tests</a>
        <a href="/employees/feature/access_pre_employment_testing" class="btn btn-outline-secondary btn-lg custom-width-18-mobile custom-display-block mx-auto custom-mt-1"><i class="fa-solid fa-check-to-slot"></i> Pre employee testing</a>
      {% else %}
        <a href="/employees/account" class="btn btn-outline-secondary btn-lg custom-width-18-mobile custom-display-block mx-auto custom-mt-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Subscription required"><i class="fa-solid fa-screwdriver-wrench"></i> Custom questions</a>
        <a href="/employees/account" class="btn btn-outline-secondary btn-lg custom-width-18-mobile custom-display-block mx-auto custom-mt-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Subscription required"><i class="fa-solid fa-square-poll-vertical"></i> Employee surveys</a>
        <a href="/employees/account" class="btn btn-outline-secondary btn-lg custom-width-18-mobile custom-display-block mx-auto custom-mt-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Subscription required"><i class="fa-solid fa-ice-cream"></i> Ice breakers</a>
        <a href="/employees/account" class="btn btn-outline-secondary btn-lg custom-width-18-mobile custom-display-block mx-auto custom-mt-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Subscription required"><i class="fa-solid fa-user"></i> Personality tests</a>
        <a href="/employees/account" class="btn btn-outline-secondary btn-lg custom-width-18-mobile custom-display-block mx-auto custom-mt-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Subscription required"><i class="fa-solid fa-check-to-slot"></i> Pre employee testing</a>
      {% endif %}
      <a href="/employees/schedule" class="btn btn-outline-secondary btn-lg custom-width-18-mobile custom-display-block mx-auto custom-mt-1"><i class="fa-solid fa-gear"></i> Settings</a>
    </div>
  {% endif %}
{% endif %}
<!-- ------------------------------------- signature start ------------------------------------- -->
<div class="text-center custom-mt-5">
  <img src="/static/images/candidates/logo/logo_wide_v3.png" alt="powered by triviafy logo" class="custom-img-size-10 custom-img-opacity-1">
</div>
<!-- ------------------------------------- signature end ------------------------------------- -->
{% endblock %}