{% extends "employees/aaa_base/base2_interior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Dashboard - Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
{% if alert_message_dict_to_html['message'] != '' %}
<div class="alert alert-{{ alert_message_dict_to_html['type'] }} mx-auto text-center container custom-mt-1" role="alert">
  {{ alert_message_dict_to_html['message'] }}
</div>
{% endif %}
<!-- ----------------------------------- end ----------------------------------- -->
{% if page_dict_to_html['first_test_exists'] == false %}
<div class="container custom-display-flex custom-pt-6 custom-jc-2 custom-pb-6">
  <div>
    <h2 class="custom-header-2-mobile">Dashboard</h2>
  </div>
</div>
<div class="container border shadow custom-br-1 custom-bg-white custom-ptb-6">
  <div class="text-center">
    <p class="custom-header-4">Confirm your team's triviafy schedule.</p>
    <a href="/employees/schedule" class="btn btn-lg btn-primary">Confirm <i class="fa-solid fa-arrow-right"></i></a>
  </div>
</div>
{% else %}
<div class="container custom-display-flex custom-pt-6 custom-jc-2 custom-pb-6">
  <div>
    <h2 class="custom-header-2-mobile">Dashboard</h2>
  </div>
</div>
<div class="container border shadow custom-br-1 custom-bg-white custom-ptb-6">
  <div class="text-center">
    <p class="custom-header-4">Your team's latest quiz is now <span class="custom-underline-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Complete by: {{ page_dict_to_html['ending_time_string'] }}">open</span>.</p>
    <a href="#" class="btn btn-lg btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Complete by: {{ page_dict_to_html['ending_time_string'] }}">Complete quiz <i class="fa-solid fa-arrow-right"></i></a>
  </div>
</div>
<div class="container custom-display-flex">
  <a href="#" class="btn btn-outline-secondary btn-lg custom-width-16 custom-mt-1 custom-mr-2"><i class="fa-solid fa-ranking-star"></i> Leaderboard</a>
  <a href="/employees/schedule" class="btn btn-outline-secondary btn-lg custom-width-16 custom-mt-1 custom-ml-3"><i class="fa-solid fa-gear"></i> Schedule</a>
</div>
{% endif %}
{% endblock %}