{% extends "aaa_base_page_templates/base2_child1_not_logged_in_no_navbar_and_footer.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Select / Triviafy</title>
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->

<div class="capacity-background-container">
  <form method="POST" class="capacity-entire-form-section default-box-shadow-grey-reg">
    <div class="capacity-form-header-section">
      <p class="capacity-title">Hi {{ users_name_to_html }}, on average, how many candidates do you screen per month?</p>
    </div>

    <div class="capacity-form-body-section">
      <input type="radio" id="capacity_choice_1" name="capacity_page_ui_capacity_selected" value="1m" checked>
      <label for="capacity_choice_1" class="capacity-radio-label">1 - 50</label>

      <input type="radio" id="capacity_choice_2" name="capacity_page_ui_capacity_selected" value="2m">
      <label for="capacity_choice_2" class="capacity-radio-label">51 - 100</label>

      <input type="radio" id="capacity_choice_3" name="capacity_page_ui_capacity_selected" value="3m">
      <label for="capacity_choice_3" class="capacity-radio-label">100+</label>
    </div>

    <div class="capacity-form-footer-section">
      <button type="submit" class="default-button-format default-button-format-primary-color">Submit</button>
    </div>
  </form>
</div>

{% endblock %}