/* - - - - - - - - - - abc start */
.candidates-create-question-form {
  /* border: 1px solid red; */
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.create-question-spacer-section {
  height: 10px;
}
.create-question-ui-section {
  /* border: 1px solid blue; */
  width: 600px;
  margin: 0 auto 50px auto;
}
.create-question-ui-section label {
  /* border: 1px solid green; */
  display: block;
  font-size: 25px;
  text-align: center;
  padding: 0 0 10px 0;
  /* color: var(--company-primary-color); */
}
.candidates-default-textarea {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid var(--company-greyed-out-color);
}
.candidates-default-textarea:focus {
  border: 1px solid var(--company-primary-color);
}
textarea.candidates-default-textarea {
  resize: none;
}
.candidates-character-count-tracker {
  /* border: 1px solid black; */
  text-align: center;
  margin: 5px 0 0 0;
}
.candidate-create-question-submit-section {
  text-align: center;
  display: block;
}
.create_question_required_star {
  color: rgb(195, 68, 68);
}
/* - - - - - - - - - - abc end */