/* - - - - - - - - - - assessment create start */
.create-assessment-form-container {
  /* border: 1px solid black; */
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.create-assessment-form {
  /* border: 1px solid red; */
  border-radius: 25px;
  text-align: center;
}
.create-assessment-user-input-section {
  /* border: 1px solid blue; */
  padding: 30px 0;
}
/* .create-assessment-user-input-button-section {} */



/* - - - - - - - - - - tutorial start */
.create-assessment-dropdown-check-list {
  display: inline-block;
}
.create-assessment-dropdown-check-list .create-assessment-anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}
.create-assessment-dropdown-check-list .create-assessment-anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.create-assessment-dropdown-check-list .create-assessment-anchor:active:after {
  right: 8px;
  top: 21%;
}
.create-assessment-dropdown-check-list ul.create-assessment-items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
  text-align: left;
}
.create-assessment-dropdown-check-list ul.create-assessment-items li {
  list-style: none;
}
.create-assessment-dropdown-check-list.visible .create-assessment-anchor {
  color: #0094ff;
}
.create-assessment-dropdown-check-list.visible .create-assessment-items {
  display: block;
}
/* - - - - - - - - - - tutorial end */


/* - - - - - - - - - - assessment create end */