{% extends "candidates/aaa_base/base2_interior.html" %}

<!-- head tag block content -->
{% block title %}
  <title>View Assessment / Triviafy</title>
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - company name start -->
<div class="general-signed-in-company-name-section">
  <p class="general-signed-in-company-name-title">{{ users_company_name_to_html }}</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - company name end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="general-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - general page title start -->
<div class="general-page-title-section">
  <!-- <p class="general-page-title">Assessment</p> -->
  <p class="general-page-title">{{ assessment_info_dict_to_html['name'] }}</p>
  <!-- <p class="general-page-sub-title">{{ assessment_info_dict_to_html['name'] }}</p> -->
  <p class="general-page-sub-title">{{ user_email_to_html }}</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - general page title end -->

{% if user_sub_active_to_html == false %}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - paying customers start -->
<div class="only-paying-customers candidates-default-box-shadow-grey-small">
  <p>Free trial users cannot view question answers</p>
  <a href="{{ url_for('views_interior.candidates_account_settings_function_v2') }}" class="general-a-primary"><p class="subscription-p">Select subscription</p></a>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - paying customers end -->
{% endif %}

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - paying customers start -->
<!-- <div class="only-paying-customers candidates-default-box-shadow-grey-small">
  <p>Note: Candidates will not see this message box</p>
</div> -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - paying customers end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - error message start -->
<div class="error-message-section">
  <p>{{ error_message_to_html }}</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - error message end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="general-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - main page start -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - select questions arr start -->
<div class="select-questions-form-container">
  {% for i in assessment_info_dict_to_html['questions_arr_of_dicts'] %}
  <div class="select-question-container">
    <div class="select-question-left-side">
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - question header start -->
      <div class="select-question-header">
        <p class="candidate-question-title">Q{{ i['question_counter'] }}: {{ i['title'] }}
          <span class="span-question-difficulty">({{ i['difficulty'] }})</span>
        </p>
        <p class="candidate-question-categories">Categories:
          {% for category_tuple in i['categories'] %}
            <span class="span-candidates-question-category-general span-candidates-question-category-{{ category_tuple[1] }}">{{ category_tuple[0] }}</span>
          {% endfor %}
        </p>
      </div>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - question header end -->
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - question body start -->
      <div class="select-question-body">
        <p class="candidate-question-actual-question">{{ i['question'] }}</p>
      </div>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - question body end -->
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - question footer start -->
      <div class="select-question-footer">
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - multiple choice question radio start -->
        <div class="mcq-select-answer-radio-section">
          {% if i['option_a'] != None %}
          <input type="radio" id="candidate_answer_choice_a{{ i['question_counter'] }}" name="ui_answer_choice_selected_{{ i['question_counter'] }}" value="a">
          <label for="candidate_answer_choice_a{{ i['question_counter'] }}" class="mcq-radio-label">A: {{ i['option_a'] }}</label>
          {% endif %}

          {% if i['option_b'] != None %}
          <input type="radio" id="candidate_answer_choice_b{{ i['question_counter'] }}" name="ui_answer_choice_selected_{{ i['question_counter'] }}" value="b">
          <label for="candidate_answer_choice_b{{ i['question_counter'] }}" class="mcq-radio-label">B: {{ i['option_b'] }}</label>
          {% endif %}

          {% if i['option_c'] != None %}
          <input type="radio" id="candidate_answer_choice_c{{ i['question_counter'] }}" name="ui_answer_choice_selected_{{ i['question_counter'] }}" value="c">
          <label for="candidate_answer_choice_c{{ i['question_counter'] }}" class="mcq-radio-label">C: {{ i['option_c'] }}</label>
          {% endif %}

          {% if i['option_d'] != None %}
          <input type="radio" id="candidate_answer_choice_d{{ i['question_counter'] }}" name="ui_answer_choice_selected_{{ i['question_counter'] }}" value="d">
          <label for="candidate_answer_choice_d{{ i['question_counter'] }}" class="mcq-radio-label">D: {{ i['option_d'] }}</label>
          {% endif %}

          {% if i['option_e'] != None %}
          <input type="radio" id="candidate_answer_choice_e{{ i['question_counter'] }}" name="ui_answer_choice_selected_{{ i['question_counter'] }}" value="e">
          <label for="candidate_answer_choice_e{{ i['question_counter'] }}" class="mcq-radio-label">E: {{ i['option_e'] }}</label>
          {% endif %}
        </div>
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - multiple choice question radio end -->
      </div>
      <div class="result-check-section">
        <p class="result-check-p">Submitted: {{ i['ui_answer'].upper() }}</p>
        {% if i['ui_answer_correct'] is true %}
          <p class="result-check-p result-check-correct">Correct</p>
        {% endif %}
        {% if i['ui_answer_correct'] is false %}
          <p class="result-check-p result-check-incorrect">Incorrect</p>
          {% if user_sub_active_to_html == true %}
          <div class="select-question-footer-answers-list-section candidates-default-box-shadow-grey-small">
            <p class="candidate-question-actual-question">Answer: {{ i['answer'] }}</p>
          </div>
          {% endif %}
        {% endif %}
      </div>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - question footer end -->
    </div>
    <div class="select-question-right-side">
      <img src="{{ i['aws_image_url'] }}" alt="" class="select-question-img candidates-default-box-shadow-grey-regular">
    </div>
  </div>
  {% endfor %}
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - standin for button start -->
  <div class="view-specific-assessment-submit-section">
    <p class="default-button-format default-button-format-grey-color">Submit</p>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - standin for button end -->
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - select questions arr end -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - main page end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="general-spacer-section-large"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->
{% endblock %}