{% extends "employees/aaa_base/base.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Create Question - Triviafy</title>
{% endblock %}

{% block contentBody %}
<body class="custom-bg-grey-3">
  <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
    <!-- ------------------------------------- navbar start ------------------------------------- -->
    <div class="container-fluid fixed-top shadow-sm custom-bg-white">
      <nav class="container navbar navbar-expand-md navbar-light custom-display-flex custom-jc-2">
        <div>
          <a href="#" class="navbar-brand"><span class="custom-header-4">{{ page_dict_to_html['user_company_name'] }}</span></a>
          <a href="/dashboard" class="btn btn-outline-danger btn-sm">Exit</a>
        </div>
        <div>
          <button type="submit" class="btn btn-primary custom-ml-3">Continue</button>
        </div>
      </nav>
    </div>
    <div class="custom-filler-5"></div>
    <!-- ------------------------------------- navbar end ------------------------------------- -->
    <!-- ----------------------------------- start ----------------------------------- -->
    {% if page_dict_to_html['alert_message_dict']['message'] != '' %}
    <div class="alert alert-{{ page_dict_to_html['alert_message_dict']['type'] }} mx-auto text-center container custom-mt-1" role="alert">
      {{ page_dict_to_html['alert_message_dict']['message'] }}
    </div>
    {% endif %}
    <!-- ----------------------------------- end ----------------------------------- -->
    <!-- ------------------------------------- question start ------------------------------------- -->
    <div class="container-fluid custom-bg-grey-3 custom-pt-1">
      <div class="container border shadow custom-br-1 custom-bg-white custom-display-flex custom-fw-1">
        <div class="custom-width-11-mobile custom-p-5">
          <div class="text-center">
            <p class="custom-header-4">Question</p>
          </div>
          <!-- ------------------------------------- question title start ------------------------------------- -->
          <div class="form-floating">
            <textarea class="form-control" id="ui_create_question_title" name="ui_create_question_title" placeholder="Question title*" onkeyup="createQuestionCountCharsTitle(this);" pattern="{1,50}" required></textarea>
            <label for="ui_create_question_title">Question title*</label>
            <p id="createQuestionCountCharsTitle" class="custom-size-3 custom-color-light-1 fst-italic custom-mt-2 custom-ml-2"></p>
          </div>
          <!-- ------------------------------------- question title end ------------------------------------- -->
          <!-- ------------------------------------- question categories start ------------------------------------- -->
          <div class="form-floating">
            <textarea class="form-control" id="ui_create_question_categories" name="ui_create_question_categories" placeholder="Question title*" onkeyup="createQuestionCountCharsCategories(this);" pattern="{1,50}" required></textarea>
            <label for="ui_create_question_categories">Question categories*</label>
            <p id="createQuestionCountCharsCategories" class="custom-size-3 custom-color-light-1 fst-italic custom-mt-2 custom-ml-2"></p>
          </div>
          <!-- ------------------------------------- question categories end ------------------------------------- -->
          <!-- ------------------------------------- question actual start ------------------------------------- -->
          <div class="form-floating">
            <textarea class="form-control" id="ui_create_question_question" name="ui_create_question_question" placeholder="Actual question*" onkeyup="createQuestionCountCharsQuestion(this);" pattern="{1,750}" required></textarea>
            <label for="ui_create_question_question">Actual question*</label>
            <p id="createQuestionCountCharsQuestion" class="custom-size-3 custom-color-light-1 fst-italic custom-mt-2 custom-ml-2"></p>
          </div>
          <!-- ------------------------------------- question actual end ------------------------------------- -->
          <!-- ------------------------------------- question img start ------------------------------------- -->
          <label for="ui_image_upload" class="form-label"></label>
          <input class="form-control" type="file" id="ui_image_upload" name="ui_image_upload" oninput="filesize(this);">
          <p class="custom-size-3 custom-color-light-1 fst-italic custom-mt-2 custom-ml-2">Image optional | Accepted formats: [.jpeg/.jpg/.png/.gif].</p>
          <!-- ------------------------------------- question img end ------------------------------------- -->
        </div>
        <div class="custom-width-11-mobile custom-p-5">
          <div class="text-center">
            <p class="custom-header-4">Answer</p>
          </div>
          <div>
            <!-- ------------------------------------- options start ------------------------------------- -->
            <div class="form-floating">
              <textarea class="form-control" id="ui_create_question_option_a" name="ui_create_question_option_a" placeholder="Option A*" onkeyup="createQuestionCountCharsOptionA(this);" pattern="{1,280}" required></textarea>
              <label for="ui_create_question_option_a">Option A*</label>
              <p id="createQuestionCountCharsOptionA" class="custom-size-3 custom-color-light-1 fst-italic custom-mt-2 custom-ml-2"></p>
            </div>
            <div class="form-floating">
              <textarea class="form-control" id="ui_create_question_option_b" name="ui_create_question_option_b" placeholder="Option B*" onkeyup="createQuestionCountCharsOptionB(this);" pattern="{1,280}" required></textarea>
              <label for="ui_create_question_option_b">Option B*</label>
              <p id="createQuestionCountCharsOptionB" class="custom-size-3 custom-color-light-1 fst-italic custom-mt-2 custom-ml-2"></p>
            </div>
            <div class="form-floating">
              <textarea class="form-control" id="ui_create_question_option_c" name="ui_create_question_option_c" placeholder="Option C*" onkeyup="createQuestionCountCharsOptionC(this);" pattern="{1,280}" required></textarea>
              <label for="ui_create_question_option_c">Option C*</label>
              <p id="createQuestionCountCharsOptionC" class="custom-size-3 custom-color-light-1 fst-italic custom-mt-2 custom-ml-2"></p>
            </div>
            <div class="form-floating">
              <textarea class="form-control" id="ui_create_question_option_d" name="ui_create_question_option_d" placeholder="Option D*" onkeyup="createQuestionCountCharsOptionD(this);" pattern="{1,280}" required></textarea>
              <label for="ui_create_question_option_d">Option D*</label>
              <p id="createQuestionCountCharsOptionD" class="custom-size-3 custom-color-light-1 fst-italic custom-mt-2 custom-ml-2"></p>
            </div>
            <div class="form-floating">
              <textarea class="form-control" id="ui_create_question_option_e" name="ui_create_question_option_e" placeholder="Option E*" onkeyup="createQuestionCountCharsOptionE(this);" pattern="{1,280}"></textarea>
              <label for="ui_create_question_option_e">Option E (optional)</label>
              <p id="createQuestionCountCharsOptionE" class="custom-size-3 custom-color-light-1 fst-italic custom-mt-2 custom-ml-2"></p>
            </div>
            <!-- ------------------------------------- options end ------------------------------------- -->
            <!-- ------------------------------------- correct radio start ------------------------------------- -->
            <div class="text-center">
              <p>Correct answer for 'multiple choice'*</p>
            </div>
            <div class="custom-display-flex custom-fw-1 custom-jc-4">
              <input type="radio" class="btn-check" name="ui_create_question_answer" id="ui_create_question_answer_a" autocomplete="off" value="a" required>
              <label class="btn btn-outline-secondary custom-m-1" for="ui_create_question_answer_a">Option A</label>

              <input type="radio" class="btn-check" name="ui_create_question_answer" id="ui_create_question_answer_b" autocomplete="off" value="b">
              <label class="btn btn-outline-secondary custom-m-1" for="ui_create_question_answer_b">Option B</label>

              <input type="radio" class="btn-check" name="ui_create_question_answer" id="ui_create_question_answer_c" autocomplete="off" value="c">
              <label class="btn btn-outline-secondary custom-m-1" for="ui_create_question_answer_c">Option C</label>

              <input type="radio" class="btn-check" name="ui_create_question_answer" id="ui_create_question_answer_d" autocomplete="off" value="d">
              <label class="btn btn-outline-secondary custom-m-1" for="ui_create_question_answer_d">Option D</label>

              <input type="radio" class="btn-check" name="ui_create_question_answer" id="ui_create_question_answer_e" autocomplete="off" value="e">
              <label class="btn btn-outline-secondary custom-m-1" for="ui_create_question_answer_e">Option E</label>
            </div>
            <!-- ------------------------------------- correct radio end ------------------------------------- -->
            <!-- ------------------------------------- correct fitb start ------------------------------------- -->
            <div class="text-center custom-mt-3">
              <p>Correct answer for 'fill in the blank'*</p>
            </div>
            <div class="form-floating">
              <textarea class="form-control" id="ui_create_question_answer_fitb" name="ui_create_question_answer_fitb" placeholder="Fill in the blank answer" onkeyup="createQuestionCountCharsFillInTheBlank(this);" pattern="{1,280}" required></textarea>
              <label for="ui_create_question_answer_fitb">Fill in the blank answer</label>
              <p id="createQuestionCountCharsFillInTheBlank" class="custom-size-3 custom-color-light-1 fst-italic custom-mt-2 custom-ml-2"></p>
            </div>
            <!-- ------------------------------------- correct fitb end ------------------------------------- -->
            <!-- ------------------------------------- product selection start ------------------------------------- -->
            <div class="custom-mt-3">
              <div class="text-center">
                <p>For product(s)*</p>
              </div>
              {% for i in page_dict_to_html['products_list'] %}
                <label class="list-group-item d-flex gap-2">
                  <input class="form-check-input flex-shrink-0" type="checkbox" name="ui_products_selected" value="{{ i }}" checked>
                  <span>{{ i }}</span>
                </label>
              {% endfor %}
            </div>
            <!-- ------------------------------------- product selection end ------------------------------------- -->
          </div>
        </div>
      </div>
    </div>
    <!-- ------------------------------------- question end ------------------------------------- -->
  </form>
  <!-- ------------------------------------- signature start ------------------------------------- -->
  <div class="custom-width-15 mx-auto custom-mt-75 custom-mb-100">
    <a href="/dashboard" class="navbar-brand">
      <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/official_logo.png" alt="triviafy logo" class="custom-img-size-1 custom-mt-negative-1">
      <span class="custom-header-1">Triviafy<spa class="custom-header-4">.com</span></span>
      <div class="text-center">
        <p class="custom-m-0">Team building software</p>
      </div>
    </a>
  </div>
  <!-- ------------------------------------- signature end ------------------------------------- -->
</body>
{% endblock %}