{% extends "candidates_page_templates/aaa_base_page_templates/base2_child1_logged_in_yes_navbar_and_footer.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Candidate Upload / Triviafy</title>
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - company name start -->
<div class="general-signed-in-company-name-section">
  <p class="general-signed-in-company-name-title">{{ users_company_name_to_html }}</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - company name end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="general-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - general page title start -->
<div class="general-page-title-section">
  <p class="general-page-title">Candidate Dashboard</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - general page title end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="general-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - main page start -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - page highlight start -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - redirect link start -->
<div class="general-center-container">
  <a href="{{ url_for('views.candidates_analytics_function') }}" class="general-a-primary"><p class="general-page-font">View all candidates</p></a>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - redirect link end -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - error message start -->
<div class="error-message-section">
  <p>{{ error_message_to_html }}</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - error message end -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - success message start -->
<div class="success-message-section">
  <p>{{ success_message_to_html }}</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - success message end -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - page highlight end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="general-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - split section start -->
<div class="candidate-upload-content">
  <div class="candidate-upload-split-section candidate-upload-split-left">
    <div class="candidate-upload-form-title">
      <p class="general-page-font">Option 1: Upload <span class="general-highlight-primary">individual</span> candidate.</p>
    </div>
    <form method="POST" class="upload-email-form" enctype="multipart/form-data">
      <label for="candidate_upload_page_ui_email"></label>
      <input type="email" id="candidate_upload_page_ui_email" name="candidate_upload_page_ui_email" class="candidates-default-text-input" placeholder="Candidate email" pattern="\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b" required />
      <button type="submit" class="default-button-format default-button-format-primary-color">Send assessment</button>
    </form>
  </div>
  <div class="candidate-upload-split-section candidate-upload-split-right">
    <div class="candidate-upload-img-section">
      <img src="/static/images/candidates/upload_email/green_character.png" alt="logo character" class="candidate-upload-img">
    </div>
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - split section end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="general-spacer-section-large"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - split section start -->
<div class="candidate-upload-content">
  <div class="candidate-upload-split-section candidate-upload-split-left">
    <div class="candidate-upload-img-section">
      <img src="/static/images/candidates/upload_email/bulk_upload.png" alt="logo character" class="candidate-upload-img">
    </div>
  </div>
  <div class="candidate-upload-split-section candidate-upload-split-right">
    <div class="candidate-upload-form-title">
      <p class="general-page-font">Option 2: Upload <span class="general-highlight-primary">bulk</span> candidates .csv</p>
    </div>
    <form method="POST" class="upload-email-form-bulk" enctype="multipart/form-data">
      <input type="file" name="file" />
      <button type="submit" class="default-button-format default-button-format-primary-color candidate-upload-bulk-button">Add candidates</button>
    </form>
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - split section end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="general-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - main page end -->
{% endblock %}