{% extends "candidates_page_templates/aaa_base_page_templates/base2_child1_logged_in_yes_navbar_and_footer.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Create New Assessments / Triviafy</title>
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - company name start -->
<div class="general-signed-in-company-name-section">
  <p class="general-signed-in-company-name-title">{{ users_company_name_to_html }}</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - company name end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="general-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - general page title start -->
<div class="general-page-title-section">
  <p class="general-page-title">Create Assessment</p>
  <p class="general-page-sub-title">Step 2/2: Select 10 Questions</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - general page title end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - paying customers start -->
<div class="only-paying-customers candidates-default-box-shadow-grey-small">
  <p>Note: To help curb cheating, only paying users can view question answers</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - paying customers end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - error message start -->
<div class="error-message-section">
  <p>{{ error_message_to_html }}</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - error message end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="general-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - main page start -->
<div class="select-questions-form-container">
  <form method="POST" class="select-questions-form">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - select questions arr start -->
    {% for i in query_result_arr_of_dicts_to_html %}
    <div class="select-question-container">
      <div class="select-question-left-side">
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - question header start -->
        <div class="select-question-header">
          <p class="candidate-question-title">Q{{ i['question_counter'] }}: {{ i['question_title'] }}
            <span class="span-question-difficulty">({{ i['question_difficulty'] }})</span>
          </p>
          <p class="candidate-question-categories">Categories:
            {% for category_tuple in i['question_categories_list'] %}
              <span class="span-candidates-question-category-general span-candidates-question-category-{{ category_tuple[1] }}">{{ category_tuple[0] }}</span>
            {% endfor %}
          </p>
        </div>
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - question header end -->
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - question body start -->
        <div class="select-question-body">
          <p class="candidate-question-actual-question">{{ i['question_actual_question'] }}</p>
        </div>
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - question body end -->
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - question footer start -->
        <div class="select-question-footer">
          <label for="candidate_ui_question_answer_{{ i['question_counter'] }}"></label>
          <input type="text" id="candidate_ui_question_answer_{{ i['question_counter'] }}" name="candidate_ui_question_answer_{{ i['question_counter'] }}" class="candidates-default-text-input candidates-default-text-input-full-width" placeholder="Candidate answer here"  maxlength="100" pattern="[a-zA-z0-9 ]{0,100}"/>
          <div class="candidates-footer-select-question-section">
            <input type="checkbox" id="ui_select_question_checkbox" name="ui_select_question_checkbox" value="{{ i['question_uuid'] }}" onchange="count_checked_checkboxes()" class="js-auto-checkbox" /> Add to assessment
            <label for="ui_select_question_checkbox"></label>
          </div>
        </div>
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - question footer end -->
      </div>
      <div class="select-question-right-side">
        <img src="{{ i['question_image_aws_url'] }}" alt="" class="select-question-img candidates-default-box-shadow-grey-regular">
      </div>
    </div>
    {% endfor %}
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - select questions arr end -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - floating buttons start -->
    <div class="select-questions-floating-buttons">
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - standin for button start -->
      <div class="select-questions-button-stand-in-section">
        <p class="default-button-format default-button-format-grey-color">Select 10</p>
        <!-- <p class="select-questions-stand-in-note">Select 10 questions.</p> -->
      </div>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - standin for button end -->
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - submit button start -->
      <div class="select-questions-button-section">
        <button type="submit" class="default-button-format default-button-format-primary-color">Save Assessment</button>
      </div>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - submit button end -->
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - floating buttons end -->
  </form>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - main page end -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="general-spacer-section-large"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->
{% endblock %}