{% extends "candidates_page_templates/aaa_base_page_templates/base2_child1_logged_in_yes_navbar_and_footer.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Create New Assessments / Triviafy</title>
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - company name start -->
<div class="general-signed-in-company-name-section">
  <p class="general-signed-in-company-name-title">{{ users_company_name_to_html }}</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - company name end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="general-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - general page title start -->
<div class="general-page-title-section">
  <p class="general-page-title">Create Assessment</p>
  <p class="general-page-sub-title">Step 2/2: Select Questions</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - general page title end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - error message start -->
<div class="error-message-section">
  <p>{{ error_message_to_html }}</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - error message end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="general-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - main page start -->
<div class="select-questions-form-container">
  <form method="POST" class="select-questions-form">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - select questions arr start -->
    {% for i in query_result_arr_of_dicts_to_html %}
    <div class="select-question-container">
      <div class="select-question-left-side">
        <p>{{ i['question_title'] }}</p>
        <p>{{ i['question_categories_list'] }}</p>
        <p>{{ i['question_difficulty'] }}</p>
        <p>{{ i['question_actual_question'] }}</p>
        <p>{{ i['question_hint'] }}</p>
        <p>{{ i['question_answers_list'] }}</p>
        <p>{{ i['question_uuid'] }}</p>
      </div>
      <div class="select-question-right-side">
        <img src="{{ i['question_image_aws_url'] }}" alt="" class="select-question-img">
      </div>
    </div>
    {% endfor %}
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - select questions arr end -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - submit button start -->
    <div class="select-questions-button-section">
      <button type="submit" class="default-button-format default-button-format-primary-color">Save Assessment</button>
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - submit button end -->
  </form>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - main page end -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="general-spacer-section-large"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->
{% endblock %}