{% extends "polling/aaa_base/base2_exterior_white.html" %}

{% block title %}
    <title>About - Triviafy</title>
    <meta name="description" content="Audience relationship management. Premium podcast polling platform. Information about your listeners.">
    <meta name="og:description" content="Audience relationship management. Premium podcast polling platform. Information about your listeners.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
<div class="container-fluid text-center custom-pt-6 custom-pb-6">
  <h1 class="custom-header-7">About</h1>
  <h2><a href="/polling/signup" class="custom-header-5 fw-bold custom-a-2">Get started <i class="fa-solid fa-angle-right"></i></a></h2>
</div>
<!-- ----------------------------------- end ----------------------------------- -->
<!-- ----------------------------------- start ----------------------------------- -->
<div class="custom-width-900 mx-auto custom-pb-100 custom-header-20 custom-line-height-40">
  <p>#1 Podcast Polling Platform</p>
  <p>Welcome to Triviafy, the top-rated audience polling platform cherished by passionate podcast listeners. Dive into the world of Triviafy, where you can actively create and participate in public polls, fueling fascinating discussions around your beloved podcast episodes. Your voting data is meticulously safeguarded by Triviafy, with exclusive sharing privileges granted solely to verified podcast hosts. Feel free to express your opinion anonymously, ensuring your privacy is always respected.</p>
  <p>Triviafy provides a platform for you to offer constructive feedback directly to your favorite podcast host and engage with the vibrant podcast community. Immerse yourself in a comprehensive understanding of your podcast's audience demographics, including valuable insights into age, gender, income, occupation, and beyond. Your valuable feedback serves as a guiding force, empowering podcast hosts to make informed decisions that shape the trajectory of future episodes. Join Triviafy today and play an active role in the evolution of podcasting culture.</p>
</div>
<!-- ----------------------------------- end ----------------------------------- -->
{% endblock %}