/* - - - - - - - - - - Slack Setup Start */
.slack-setup-integration-section {
  /* border: 1px solid black; */
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0 100px 0;
}
img.slack-setup-integration-image {
  border-radius: 16px;
  max-height: 125px;
}
.slack-integration-p {
  margin: 20px 15% 50px 15%;
}
/* - - - - - - - - - - Slack Setup End */