/* ============================================== */
/* ================= MOBILE ===================== */
/* ============================================== */
@media (max-width: 1200px) {
  /* - - - - - - - - - - Slack Setup Start */
  .slack-setup-integration-section {
    /* border: 1px solid black; */
    width: 90%;
  }
  img.slack-setup-integration-image {
    max-width: 100%;
  }
  .slack-integration-p {
    margin: 20px 0 40px 0;
  }
  /* - - - - - - - - - - Slack Setup End */
}