{% extends "employees/aaa_base/base2_exterior.html" %}

{% block title %}
    <title>FAQ - Triviafy</title>
    <meta name="description" content="Automated employee engagement team building activities for your team. Team trivia, icebreakers, surveys, and personality tests.">
    <meta name="og:description" content="Automated employee engagement team building activities for your team. Team trivia, icebreakers, surveys, and personality tests.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->

<!-- ----------------------------------- end ----------------------------------- -->
{% endblock %}