{% extends "employees/aaa_base/base2_exterior.html" %}

{% block title %}
    <title>Blog Post - Triviafy</title>
    <meta name="description" content="Automated employee engagement team building activities for your team. Team trivia, icebreakers, surveys, and personality tests.">
    <meta name="og:description" content="Automated employee engagement team building activities for your team. Team trivia, icebreakers, surveys, and personality tests.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
<!-- ----------------------------------- title start ----------------------------------- -->
<div class="container text-center custom-width-900 custom-pt-100 custom-pb-25">
  <h1 class="custom-header-40">Top 3 Hybrid Team Building Activities</h1>
</div>
<!-- ----------------------------------- title end ----------------------------------- -->
<!-- ----------------------------------- date start ----------------------------------- -->
<div class="container text-center custom-pb-25">
  <a href="https://medium.com/triviafy/top-3-hybrid-team-building-activities-ddf48b78f694" target="_blank"><p class="custom-header-20 custom-m-0">View Medium article</p></a>
  <p class="custom-m-0 custom-size-3 custom-color-light-1">Published: Oct 5, 2021</p>
</div>
<!-- ----------------------------------- date end ----------------------------------- -->
<!-- ----------------------------------- img start ----------------------------------- -->
<div class="container text-center custom-width-900 custom-pb-50">
  <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/blogStock0002.jpg" alt="triviafy blog alt img" class="custom-img-size-3 custom-br-1 shadow">
</div>
<!-- ----------------------------------- img end ----------------------------------- -->
<!-- <a href="#" target="_blank">wordsWordsWords</a> -->
<!-- <p class="custom-header-20">wordsWordsWords</p> -->
<div class="container custom-width-900 custom-pb-100">
  <!-- ----------------------------------- individual section start ----------------------------------- -->
  <p class="custom-header-30 fw-bolder custom-mt-50">Overview</p>
  <ul class="custom-header-20">
    <li>Question: What is hybrid work?</li>
    <li>Problem: How does hybrid work impact my team?</li>
    <li>Solution: List of best hybrid team building activities.</li>
  </ul>
  <!-- ----------------------------------- individual section end ----------------------------------- -->
  <!-- ----------------------------------- individual section start ----------------------------------- -->
  <p class="custom-header-30 fw-bolder custom-mt-50">Question: What is hybrid work?</p>
  <p class="custom-header-20">A hybrid work schedule is a combination of working remotely and working in office.</p>
  <!-- ----------------------------------- individual section end ----------------------------------- -->
  <!-- ----------------------------------- individual section start ----------------------------------- -->
  <p class="custom-header-30 fw-bolder custom-mt-50">Problem: How does hybrid work impact my team?</p>
  <p class="custom-header-20">Many companies are adopting the hybrid work model and pushing employees to work in office for longer than 60% of the time.</p>
  <p class="custom-header-20">Impact: Mandatory participation in this *return to office policy* is likely to cause unhappy and unengaged team members.</p>
  <!-- ----------------------------------- individual section end ----------------------------------- -->
  <!-- ----------------------------------- individual section start ----------------------------------- -->
  <p class="custom-header-30 fw-bolder custom-mt-50">Solution: List of best hybrid team building activities.</p>
  <p class="custom-header-20">You can help make the hybrid work model enjoyable with the following team building activities:</p>
  <!-- ----------------------------------- individual section end ----------------------------------- -->
  <!-- ----------------------------------- individual section start ----------------------------------- -->
  <p class="custom-header-30 fw-bolder custom-mt-50">1. Triviafy</p>
  <div class="text-center custom-mb-25">
    <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/blogTriviafy.png" alt="triviafy blog alt img" class="custom-width-75 custom-br-1 shadow">
  </div>
  <p class="custom-header-20"><a href="https://triviafy.com/" target="_blank">Triviafy</a> is a weekly trivia quiz sent directly to your team.</p>
  <ul class="custom-header-20">
    <li>Asynchronous: employees complete the weekly Triviafy quiz on their own time.</li>
    <li>Automated: Quiz creation, grading, weekly winner rewards are 100% automated.</li>
    <li>Free Trial: 30 days / 4 weeks of free Triviafy quizzes takes less than 50 seconds to set up.</li>
  </ul>
  <!-- ----------------------------------- individual section end ----------------------------------- -->
  <!-- ----------------------------------- individual section start ----------------------------------- -->
  <p class="custom-header-30 fw-bolder custom-mt-50">2. Pinturillo 2</p>
  <div class="text-center custom-mb-25">
    <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/blogCompetitorPintuRillo.png" alt="triviafy blog alt img" class="custom-width-75 custom-br-1 shadow">
  </div>
  <p class="custom-header-20"><a href="https://www.pinturillo2.com/" target="_blank">Pinturillo 2</a> is a timed drawing and word guessing game.</p>
  <ul class="custom-header-20">
    <li>Art Skills: Showcase your artistic skills to coworkers.</li>
    <li>Free to play online.</li>
  </ul>
  <!-- ----------------------------------- individual section end ----------------------------------- -->
  <!-- ----------------------------------- individual section start ----------------------------------- -->
  <p class="custom-header-30 fw-bolder custom-mt-50">3. Donut</p>
  <div class="text-center custom-mb-25">
    <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/blogCompetitorQuizDonut.png" alt="triviafy blog alt img" class="custom-width-75 custom-br-1 shadow">
  </div>
  <p class="custom-header-20"><a href="https://www.donut.com/" target="_blank">Donut</a> introduces teammates for virtual coffees or post engaging prompts in communication channels.</p>
  <ul class="custom-header-20">
    <li>Culture of camaraderie: Coworkers can develop new, more personable, relationships and conversations.</li>
    <li>Free and Paid features.</li>
  </ul>
  <!-- ----------------------------------- individual section end ----------------------------------- -->
</div>

<div class="custom-width-14 mx-auto custom-mb-100">
  <a href="/signup" class="btn btn-success custom-width-6 custom-mb-25">Get started</a>
  <a href="/blog" class="btn btn-outline-secondary custom-width-6"><i class="fa-solid fa-arrow-left"></i> Back</a>
</div>
<!-- ----------------------------------- end ----------------------------------- -->
{% endblock %}