{% extends "employees/aaa_base/base2_exterior.html" %}

{% block title %}
    <title>Blog Post - Triviafy</title>
    <meta name="description" content="Weekly team building activity, mobile supported. Trivia fun made simple. Employee engagement trivia for for 50+ categories.">
    <meta name="og:description" content="Weekly team building activity, mobile supported. Trivia fun made simple. Employee engagement trivia for for 50+ categories.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
<!-- ----------------------------------- title start ----------------------------------- -->
<div class="container text-center custom-width-900 custom-pt-100 custom-pb-25">
  <h1 class="custom-header-40">Top 5 Free Slack Apps For Team Building and Employee Engagement</h1>
</div>
<!-- ----------------------------------- title end ----------------------------------- -->
<!-- ----------------------------------- date start ----------------------------------- -->
<div class="container text-center custom-pb-25">
  <a href="https://medium.com/triviafy/top-5-free-slack-apps-for-team-building-and-employee-engagement-1e13607600f5" target="_blank"><p class="custom-header-20 custom-m-0">View Medium article</p></a>
  <p class="custom-m-0 custom-size-3 custom-color-light-1">Published: Oct 6, 2021</p>
</div>
<!-- ----------------------------------- date end ----------------------------------- -->
<!-- ----------------------------------- img start ----------------------------------- -->
<div class="container text-center custom-width-900 custom-pb-50">
  <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/blogStock0003.jpg" alt="triviafy blog alt img" class="custom-img-size-3 custom-br-1 shadow">
</div>
<!-- ----------------------------------- img end ----------------------------------- -->
<!-- <a href="#" target="_blank">wordsWordsWords</a> -->
<!-- <p class="custom-header-20">wordsWordsWords</p> -->
<div class="container custom-width-900 custom-pb-100">
  <!-- ----------------------------------- individual section start ----------------------------------- -->
  <p class="custom-header-30 fw-bolder custom-mt-50">Overview</p>
  <p class="custom-header-20">List of best free trial Slack apps that automate and outsource team building activities and employee engagement initiatives.</p>
  <p class="custom-header-20">Team building activities without the logistical headaches. Give your employees something to talk about besides the weather.</p>
  <!-- ----------------------------------- individual section end ----------------------------------- -->
  <!-- ----------------------------------- individual section start ----------------------------------- -->
  <p class="custom-header-30 fw-bolder custom-mt-50">1. Triviafy</p>
  <p class="custom-header-20"><a href="https://triviafy.com/" target="_blank">Triviafy</a> is a weekly trivia quiz sent directly to your team.</p>
  <div class="text-center custom-mb-25">
    <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/blogTriviafy.png" alt="triviafy blog alt img" class="custom-width-75 custom-br-1 shadow">
  </div>
  <!-- ----------------------------------- individual section end ----------------------------------- -->
  <!-- ----------------------------------- individual section start ----------------------------------- -->
  <p class="custom-header-30 fw-bolder custom-mt-50">2. Donut</p>
  <p class="custom-header-20"><a href="https://www.donut.com/" target="_blank">Donut</a> is a serendipitous water cooler conversation starter tool that connects team members.</p>
  <div class="text-center custom-mb-25">
    <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/blogCompetitorQuizDonut.png" alt="triviafy blog alt img" class="custom-width-75 custom-br-1 shadow">
  </div>
  <!-- ----------------------------------- individual section end ----------------------------------- -->
  <!-- ----------------------------------- individual section start ----------------------------------- -->
  <p class="custom-header-30 fw-bolder custom-mt-50">3. BirthdayBot</p>
  <p class="custom-header-20"><a href="https://birthdaybot.io/" target="_blank">BirthdayBot</a> helps you keep track of office birthdays and anniversaries.</p>
  <div class="text-center custom-mb-25">
    <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/blogCompetitorQuizBirthdayBot.png" alt="triviafy blog alt img" class="custom-width-75 custom-br-1 shadow">
  </div>
  <!-- ----------------------------------- individual section end ----------------------------------- -->
  <!-- ----------------------------------- individual section start ----------------------------------- -->
  <p class="custom-header-30 fw-bolder custom-mt-50">4. Polly</p>
  <p class="custom-header-20"><a href="https://www.polly.ai/" target="_blank">Polly</a> is a poll, survey, check-in, onboarding feedback, social games tool.</p>
  <div class="text-center custom-mb-25">
    <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/blogCompetitorPolly.png" alt="triviafy blog alt img" class="custom-width-75 custom-br-1 shadow">
  </div>
  <!-- ----------------------------------- individual section end ----------------------------------- -->
  <!-- ----------------------------------- individual section start ----------------------------------- -->
  <p class="custom-header-30 fw-bolder custom-mt-50">5. Icebreaker Time</p>
  <p class="custom-header-20"><a href="https://www.icebreakertime.com/" target="_blank">Icebreaker Time</a> is an icebreaker question generating tool.</p>
  <div class="text-center custom-mb-25">
    <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/blogCompetitorIcebreakerTime.png" alt="triviafy blog alt img" class="custom-width-75 custom-br-1 shadow">
  </div>
  <!-- ----------------------------------- individual section end ----------------------------------- -->
</div>
<!-- ----------------------------------- end ----------------------------------- -->
{% endblock %}