{% extends "employees/aaa_base/base2_exterior.html" %}

{% block title %}
    <title>Blog Post - Triviafy</title>
    <meta name="description" content="Automated employee engagement team building activities for your team. Team trivia, icebreakers, surveys, and personality tests.">
    <meta name="og:description" content="Automated employee engagement team building activities for your team. Team trivia, icebreakers, surveys, and personality tests.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
<!-- ----------------------------------- title start ----------------------------------- -->
<div class="container text-center custom-width-900 custom-pt-100 custom-pb-25">
  <h1 class="custom-header-40">Category Trivia</h1>
</div>
<!-- ----------------------------------- title end ----------------------------------- -->
<!-- ----------------------------------- date start ----------------------------------- -->
<div class="container text-center custom-pb-25">
  <a href="https://medium.com/triviafy/category-trivia-f8b55c6f911d" target="_blank"><p class="custom-header-20 custom-m-0">View Medium article</p></a>
  <p class="custom-m-0 custom-size-3 custom-color-light-1">Published: Nov 7, 2021</p>
</div>
<!-- ----------------------------------- date end ----------------------------------- -->
<!-- ----------------------------------- img start ----------------------------------- -->
<div class="container text-center custom-width-900 custom-pb-50">
  <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/blogStock0004.jpg" alt="triviafy blog alt img" class="custom-img-size-3 custom-br-1 shadow">
</div>
<!-- ----------------------------------- img end ----------------------------------- -->
<!-- <a href="https://triviafy.com/" target="_blank">Triviafy</a> -->
<!-- <p class="custom-header-20">wordsWordsWords</p> -->
<div class="container custom-width-900 custom-pb-100">
  <!-- ----------------------------------- individual section start ----------------------------------- -->
  <p class="custom-header-30 fw-bolder custom-mt-50">What is Triviafy?</p>
  <p class="custom-header-20">Slack app <a href="https://triviafy.com/" target="_blank">Triviafy</a> is a weekly trivia quiz for your team. The weekly trivia quiz is automated and asynchronous.</p>
  <p class="custom-header-20">Automated: No logistical headaches for you. Quizzes are automatically created, announced, distributed, and graded on a weekly basis.</p>
  <p class="custom-header-20">Asynchronous: Coworkers complete the quiz on their own time throughout the week. Your weekly schedule will not be affected by the weekly trivia quiz.</p>
  <!-- ----------------------------------- individual section end ----------------------------------- -->
  <!-- ----------------------------------- individual section start ----------------------------------- -->
  <p class="custom-header-30 fw-bolder custom-mt-50">Custom Trivia Quiz</p>
  <p class="custom-header-20"><a href="https://triviafy.com/" target="_blank">Triviafy</a> is fully customizable. You, and your team members, can change:</p>
  <ul class="custom-header-20">
    <li>Quiz timeframe</li>
    <li>Number of questions</li>
    <li>Question difficulty</li>
    <li>Create custom questions</li>
    <li>Custom question categories, department specific trivia</li>
  </ul>
  <!-- ----------------------------------- individual section end ----------------------------------- -->
  <!-- ----------------------------------- individual section start ----------------------------------- -->
  <p class="custom-header-30 fw-bolder custom-mt-50">Trivia Custom Question Categories, Department Specific Trivia</p>
  <p class="custom-header-20">With <a href="https://triviafy.com/" target="_blank">Triviafy</a> your team can customize quiz question categories to be department specific.</p>
  <p class="custom-header-20">Example 1: You’re on the engineering team and your team only wants engineering related trivia questions on their weekly quizzes. Simply select the category: “Engineering” in Settings > Quiz Settings.</p>
  <p class="custom-header-20">Example 2: You’re on the marketing team and your team wants marketing, pop culture, and movie related trivia questions on their weekly quizzes. Simply select the categories: “Marketing” AND “Pop Culture” AND “Movies” in Settings > Quiz Settings.</p>
  <p class="custom-header-20">By default all trivia categories are already selected but you, and your team members, can change the trivia quiz categories to be department specific or more broad week over week.</p>
  <!-- ----------------------------------- individual section end ----------------------------------- -->
  <!-- ----------------------------------- individual section start ----------------------------------- -->
  <p class="custom-header-30 fw-bolder custom-mt-50">Trivia Learning and Development</p>
  <p class="custom-header-20">By narrowing the range of question categories, <a href="https://triviafy.com/" target="_blank">Triviafy</a> can be used as a learning and development tool for your team.</p>
  <p class="custom-header-20">See department specific example quizzes at <a href="https://triviafy.com/" target="_blank">Triviafy.com</a></p>
  <!-- ----------------------------------- individual section end ----------------------------------- -->
</div>

<div class="custom-width-14 mx-auto custom-mb-100">
  <a href="/signup" class="btn btn-success custom-width-6 custom-mb-25">Get started</a>
  <a href="/blog" class="btn btn-outline-secondary custom-width-6"><i class="fa-solid fa-arrow-left"></i> Back</a>
</div>
<!-- ----------------------------------- end ----------------------------------- -->
{% endblock %}