{% extends "employees/aaa_base/base2_exterior.html" %}

{% block title %}
    <title>Blog Post - Triviafy</title>
    <meta name="description" content="Weekly team building activity, mobile supported. Trivia fun made simple. Employee engagement trivia for for 50+ categories.">
    <meta name="og:description" content="Weekly team building activity, mobile supported. Trivia fun made simple. Employee engagement trivia for for 50+ categories.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
<!-- ----------------------------------- title start ----------------------------------- -->
<div class="container text-center custom-width-900 custom-pt-100 custom-pb-25">
  <h1 class="custom-header-40">Top 5 Team Building Activities for Remote Teams 2022 New Year</h1>
</div>
<!-- ----------------------------------- title end ----------------------------------- -->
<!-- ----------------------------------- date start ----------------------------------- -->
<div class="container text-center custom-pb-25">
  <a href="https://medium.com/triviafy/top-5-team-building-activities-for-remote-teams-2022-new-year-d7e113b79e6f" target="_blank"><p class="custom-header-20 custom-m-0">View Medium article</p></a>
  <p class="custom-m-0 custom-size-3 custom-color-light-1">Published: Jan 10, 2022</p>
</div>
<!-- ----------------------------------- date end ----------------------------------- -->
<!-- ----------------------------------- img start ----------------------------------- -->
<div class="container text-center custom-width-900 custom-pb-50">
  <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/blogStock0005.jpg" alt="triviafy blog alt img" class="custom-img-size-3 custom-br-1 shadow">
</div>
<!-- ----------------------------------- img end ----------------------------------- -->
<!-- <a href="#" target="_blank">wordsWordsWords</a> -->
<!-- <p class="custom-header-20">wordsWordsWords</p> -->
<div class="container custom-width-900 custom-pb-100">
  <!-- ----------------------------------- individual section start ----------------------------------- -->
  <p class="custom-header-30 fw-bolder custom-mt-50">Overview</p>
  <p class="custom-header-20">To combat “The Great Resignation” real leaders turn to team building activities.</p>
  <p class="custom-header-20">We’ve listed some of our favorite team building activities, employee engagement initiatives, learning and development tools.</p>
  <p class="custom-header-20">Benefit: L&D, team building initiatives without the logistical headaches.</p>
  <!-- ----------------------------------- individual section end ----------------------------------- -->
  <!-- ----------------------------------- individual section start ----------------------------------- -->
  <p class="custom-header-30 fw-bolder custom-mt-50">1. Triviafy</p>
  <p class="custom-header-20"><a href="https://triviafy.com/" target="_blank">Triviafy</a> is a weekly trivia quiz sent directly to your team. Weekly trivia is asynchronous, meaning each coworker completes the quiz on their own time and winner’s are announced at the end of the week.</p>
  <p class="custom-header-20">Slack approved app, setup takes less than 30 seconds.</p>
  <div class="text-center custom-mb-25">
    <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/blogTriviafy.png" alt="triviafy blog alt img" class="custom-width-75 custom-br-1 shadow">
  </div>
  <!-- ----------------------------------- individual section end ----------------------------------- -->
  <!-- ----------------------------------- individual section start ----------------------------------- -->
  <p class="custom-header-30 fw-bolder custom-mt-50">2. Kahoot!</p>
  <p class="custom-header-20"><a href="https://kahoot.com/" target="_blank">Kahoot!</a> is a global learning platform company that wants to empower everyone, including children, students, and employees, to unlock their full learning potential.</p>
  <p class="custom-header-20">Kahoot! is used in many institutions of higher education around the world, including 87% of the global top 500 universities.</p>
  <div class="text-center custom-mb-25">
    <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/blogCompetitorKahoot.png" alt="triviafy blog alt img" class="custom-width-75 custom-br-1 shadow">
  </div>
  <!-- ----------------------------------- individual section end ----------------------------------- -->
  <!-- ----------------------------------- individual section start ----------------------------------- -->
  <p class="custom-header-30 fw-bolder custom-mt-50">3. Workplace</p>
  <p class="custom-header-20"><a href="https://www.workplace.com/" target="_blank">Workplace</a> is a communication tool that connects everyone in your company, even if they’re working remotely. Use familiar features such as News Feed, Chat, Live video and Groups, to get people talking and working together.</p>
  <p class="custom-header-20">Workplace is a Meta company.</p>
  <div class="text-center custom-mb-25">
    <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/blogCompetitorWorkplace.png" alt="triviafy blog alt img" class="custom-width-75 custom-br-1 shadow">
  </div>
  <!-- ----------------------------------- individual section end ----------------------------------- -->
  <!-- ----------------------------------- individual section start ----------------------------------- -->
  <p class="custom-header-30 fw-bolder custom-mt-50">4. Skribbl</p>
  <p class="custom-header-20"><a href="https://skribbl.io/" target="_blank">Skribbl</a> is a multiplayer drawing and guessing game. One game consists of a few rounds in which every round someone has to draw their chosen word and others have to guess it to gain points.</p>
  <div class="text-center custom-mb-25">
    <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/blogCompetitorSkribbl.png" alt="triviafy blog alt img" class="custom-width-75 custom-br-1 shadow">
  </div>
  <!-- ----------------------------------- individual section end ----------------------------------- -->
  <!-- ----------------------------------- individual section start ----------------------------------- -->
  <p class="custom-header-30 fw-bolder custom-mt-50">5. QuizBreaker</p>
  <p class="custom-header-20"><a href="https://www.quizbreaker.com/" target="_blank">QuizBreaker</a> is a scheduled virtual team building quiz delivered to your inbox. Helping teams bond, no matter where they are.</p>
  <div class="text-center custom-mb-25">
    <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/blogCompetitorQuizBreaker.png" alt="triviafy blog alt img" class="custom-width-75 custom-br-1 shadow">
  </div>
  <!-- ----------------------------------- individual section end ----------------------------------- -->
  <!-- ----------------------------------- individual section start ----------------------------------- -->
  <p class="custom-header-30 fw-bolder custom-mt-50">Conclusion</p>
  <p class="custom-header-20">Skilled team leaders recognize that team building activities are crucial for employee satisfaction and employee retention during remote/hybrid work in 2022.</p>
  <!-- ----------------------------------- individual section end ----------------------------------- -->
</div>

<div class="custom-width-1 mx-auto custom-mb-100">
  <a href="/blog" class="btn btn-outline-secondary custom-width-6"><i class="fa-solid fa-arrow-left"></i> Back</a>
</div>
<!-- ----------------------------------- end ----------------------------------- -->
{% endblock %}