{% extends "employees/aaa_base/base2_exterior.html" %}

{% block title %}
    <title>Blog Post - Triviafy</title>
    <meta name="description" content="Weekly team building activity, mobile supported. Trivia fun made simple. Employee engagement trivia for for 50+ categories.">
    <meta name="og:description" content="Weekly team building activity, mobile supported. Trivia fun made simple. Employee engagement trivia for for 50+ categories.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
<!-- ----------------------------------- title start ----------------------------------- -->
<div class="container text-center custom-width-900 custom-pt-100 custom-pb-25">
  <h1 class="custom-header-40">Ice Breaker Questions — Top Ice Breaker Tools & Apps For Engaging Employees 2022</h1>
</div>
<!-- ----------------------------------- title end ----------------------------------- -->
<!-- ----------------------------------- date start ----------------------------------- -->
<div class="container text-center custom-pb-25">
  <a href="https://medium.com/triviafy/ice-breaker-questions-top-ice-breaker-tools-apps-for-engaging-employees-2022-772d063d7515" target="_blank"><p class="custom-header-20 custom-m-0">View Medium article</p></a>
  <p class="custom-m-0 custom-size-3 custom-color-light-1">Published: Jan 27, 2022</p>
</div>
<!-- ----------------------------------- date end ----------------------------------- -->
<!-- ----------------------------------- img start ----------------------------------- -->
<div class="container text-center custom-width-900 custom-pb-50">
  <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/blogStock0006.jpg" alt="triviafy blog alt img" class="custom-img-size-3 custom-br-1 shadow">
</div>
<!-- ----------------------------------- img end ----------------------------------- -->
<!-- <a href="#" target="_blank">wordsWordsWords</a> -->
<!-- <p class="custom-header-20">wordsWordsWords</p> -->
<div class="container custom-width-900 custom-pb-100">
  <!-- ----------------------------------- individual section start ----------------------------------- -->
  <p class="custom-header-30 fw-bolder custom-mt-50">Define Ice Breaker</p>
  <p class="custom-header-20">According to <a href="https://drexel.edu/graduatecollege/professional-development/blog/2018/july/the-3-benefits-of-ising-ice-breakers/" target="_blank">Drexel.edu</a> “Any short activity that requires the participants to break into teams to conduct the activity is a team building ice breaker.”</p>
  <p class="custom-header-20">Continued: “They are particularly beneficial to new teams, teams in which there has been dysfunction, or teams that have experienced significant leadership changes.”</p>
  <p class="custom-header-20">Below are some of the top 5 Ice Breaker tools available today.</p>
  <!-- ----------------------------------- individual section end ----------------------------------- -->
  <!-- ----------------------------------- individual section start ----------------------------------- -->
  <p class="custom-header-30 fw-bolder custom-mt-50">1. Ice Shaker</p>
  <p class="custom-header-20"><a href="https://www.withconfetti.com/product/mash-up?utm_medium=blog&utm_source=snacknation&utm_content=icebreaker-tools" target="_blank">Ice Shaker</a> is a series of quick icebreaker games that will get your team talking and interacting with one another in a much more personal way.</p>
  <div class="text-center custom-mb-25">
    <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/blogCompetitorIceShaker.png" alt="triviafy blog alt img" class="custom-width-75 custom-br-1 shadow">
  </div>
  <!-- ----------------------------------- individual section end ----------------------------------- -->
  <!-- ----------------------------------- individual section start ----------------------------------- -->
  <p class="custom-header-30 fw-bolder custom-mt-50">2. Ricotta</p>
  <p class="custom-header-20"><a href="https://www.ricotta.team/slack-app/free-icebreaker-games-activities-work" target="_blank">Ricotta</a> offers ice breaker games and activities directly within Slack channels.</p>
  <div class="text-center custom-mb-25">
    <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/blogCompetitorRicotta.png" alt="triviafy blog alt img" class="custom-width-75 custom-br-1 shadow">
  </div>
  <!-- ----------------------------------- individual section end ----------------------------------- -->
  <!-- ----------------------------------- individual section start ----------------------------------- -->
  <p class="custom-header-30 fw-bolder custom-mt-50">3. Triviafy</p>
  <p class="custom-header-20"><a href="https://triviafy.com/" target="_blank">Triviafy</a> is a fun weekly trivia quiz that helps teams get to know one another better in just 2 minutes per week.</p>
  <div class="text-center custom-mb-25">
    <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/blogTriviafy.png" alt="triviafy blog alt img" class="custom-width-75 custom-br-1 shadow">
  </div>
  <!-- ----------------------------------- individual section end ----------------------------------- -->
  <!-- ----------------------------------- individual section start ----------------------------------- -->
  <p class="custom-header-30 fw-bolder custom-mt-50">4. WaterCoolerTrivia</p>
  <p class="custom-header-20"><a href="https://www.watercoolertrivia.com/?via=sn" target="_blank">WaterCoolerTrivia</a> is a fun weekly trivia quiz that helps teams get to know one another better in just 2 minutes per week.</p>
  <div class="text-center custom-mb-25">
    <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/blogCompetitorWaterCoolerTrivia.png" alt="triviafy blog alt img" class="custom-width-75 custom-br-1 shadow">
  </div>
  <!-- ----------------------------------- individual section end ----------------------------------- -->
  <!-- ----------------------------------- individual section start ----------------------------------- -->
  <p class="custom-header-30 fw-bolder custom-mt-50">5. Friday</p>
  <p class="custom-header-20"><a href="https://friday.app/p/icebreakers-for-remote-teams" target="_blank">Friday</a> is an app that allows you to utilize ice breakers and custom questions as part of workflows.</p>
  <div class="text-center custom-mb-25">
    <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/blogCompetitorFriday.png" alt="triviafy blog alt img" class="custom-width-75 custom-br-1 shadow">
  </div>
  <!-- ----------------------------------- individual section end ----------------------------------- -->
</div>
<!-- ----------------------------------- end ----------------------------------- -->
{% endblock %}