{% extends "admin_page/aaa_base/base2_interior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Leaderboard - Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
{% if page_dict_to_html['alert_message_dict']['message'] != '' %}
<div class="alert alert-{{ page_dict_to_html['alert_message_dict']['type'] }} mx-auto text-center container custom-mt-1" role="alert">
  {{ page_dict_to_html['alert_message_dict']['message'] }}
</div>
{% endif %}
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container custom-display-flex custom-pt-6 custom-jc-2 custom-pb-6">
  <div>
    <h2 class="custom-header-2-mobile">Admin analytics > Employees > Group progress</h2>
  </div>
</div>
<div class="container border shadow custom-br-1 custom-bg-white custom-ptb-6">
  <!-- ----------------------------------- start ----------------------------------- -->
  <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
    <div class="text-center">
      <label for="SendStatusEmails" class="form-label">SendStatusEmails</label>
      <input type="text" class="form-control custom-width-17 mx-auto" id="SendStatusEmails" name="SendStatusEmails" placeholder="GroupID to delete" value="all" required>
      <button type="submit" class="btn btn-outline-primary custom-mt-2">Send</button>
    </div>
  </form>
  <!-- ----------------------------------- end ----------------------------------- -->
  <!-- ----------------------------------- start ----------------------------------- -->
  <table id="candidates-datatable-id" class="table table-striped" style="width:100%">
    <thead>
      <tr>
        <th>Latest progress</th>
        <th>Created</th>
        <th>Company</th>
        <th>GroupID</th>
        <th>#Users</th>
        <th>#Participation</th>
      </tr>
    </thead>
    <tbody>
      {% for i in page_dict_to_html['master_arr_of_dicts_01'] %}
      <tr>
        <td>{{ i['group_progress'] }}</td>
        <td>{{ i['created_timestamp'] }}</td>
        <td>{{ i['company_name'] }}</td>
        <td>{{ i['public_group_id'] }}</td>
        <td>{{ i['total_users_with_same_company_name'] }}</td>
        <td>{{ i['latest_test_participation'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- ----------------------------------- end ----------------------------------- -->
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container custom-display-flex custom-pt-6 custom-jc-2 custom-pb-6">
  <div>
    <h2 class="custom-header-2-mobile">Admin send > Candidates > Have not explored Employees</h2>
  </div>
</div>
<div class="container border shadow custom-br-1 custom-bg-white custom-ptb-6">
  <!-- ----------------------------------- start ----------------------------------- -->
  <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
    <div class="text-center">
      <label for="SendTryEmployeesEmails" class="form-label">SendTryEmployeesEmails</label>
      <input type="text" class="form-control custom-width-17 mx-auto" id="SendTryEmployeesEmails" name="SendTryEmployeesEmails" placeholder="Send email" value="all" required>
      <button type="submit" class="btn btn-outline-primary custom-mt-2">Send</button>
    </div>
  </form>
  <!-- ----------------------------------- end ----------------------------------- -->
  <!-- ----------------------------------- start ----------------------------------- -->
  <div class="text-center custom-mt-1">
    <p>{{ page_dict_to_html['total_candidate_only_emails'] }}</p>
  </div>
  <!-- ----------------------------------- end ----------------------------------- -->
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container custom-display-flex custom-pt-6 custom-jc-2 custom-pb-6">
  <div>
    <h2 class="custom-header-2-mobile">Admin send > Collected Emails > Have not signed up for Employees</h2>
  </div>
</div>
<div class="container border shadow custom-br-1 custom-bg-white custom-ptb-6">
  <!-- ----------------------------------- start ----------------------------------- -->
  <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
    <div class="text-center">
      <label for="SendCollectedEmailsTryProduct" class="form-label">SendCollectedEmailsTryProduct</label>
      <input type="text" class="form-control custom-width-17 mx-auto" id="SendCollectedEmailsTryProduct" name="SendCollectedEmailsTryProduct" placeholder="Send email" value="all" required>
      <button type="submit" class="btn btn-outline-primary custom-mt-2">Send</button>
    </div>
  </form>
  <!-- ----------------------------------- end ----------------------------------- -->
  <!-- ----------------------------------- start ----------------------------------- -->
  <div class="text-center custom-mt-1">
    <p>{{ page_dict_to_html['total_landing_collect_emails_arr'] }}</p>
  </div>
  <!-- ----------------------------------- end ----------------------------------- -->
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ----------------------------------- start ----------------------------------- -->
<div class="container custom-display-flex custom-pt-6 custom-jc-2 custom-pb-6">
  <div>
    <h2 class="custom-header-2-mobile">Admin send > Scraped Emails</h2>
  </div>
</div>
<div class="container border shadow custom-br-1 custom-bg-white custom-ptb-6">
  <!-- ----------------------------------- start ----------------------------------- -->
  <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
    <div class="text-center">
      <label for="ScrapedEmailsTryProduct" class="form-label">ScrapedEmailsTryProduct</label>
      <input type="text" class="form-control custom-width-17 mx-auto" id="ScrapedEmailsTryProduct" name="ScrapedEmailsTryProduct" placeholder="Send email" value="all" required>
      <button type="submit" class="btn btn-outline-primary custom-mt-2">Send</button>
    </div>
  </form>
  <!-- ----------------------------------- end ----------------------------------- -->
  <!-- ----------------------------------- start ----------------------------------- -->
  <div class="text-center custom-mt-1">
    <p>{{ page_dict_to_html['total_scraped_emails_arr'] }}</p>
  </div>
  <!-- ----------------------------------- end ----------------------------------- -->
</div>
<!-- ----------------------------------- end ----------------------------------- -->

<!-- ------------------------------------- signature start ------------------------------------- -->
<div class="custom-width-15 mx-auto custom-mt-100">
  <a href="/admin" class="navbar-brand">
    <img src="https://triviafypublicobjects.s3.us-east-2.amazonaws.com/official_logo.png" alt="triviafy logo" class="custom-img-size-1 custom-mt-negative-1">
    <span class="fw-bold custom-header-1">Triviafy<spa class="custom-header-4">.com</span></span>
    <div class="text-center">
      <p class="custom-m-0">Team building software</p>
    </div>
  </a>
</div>
<!-- ------------------------------------- signature end ------------------------------------- -->
{% endblock %}