{% extends "candidates_page_templates/aaa_base_page_templates/base2_child1_logged_in_yes_navbar_and_footer.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Create New Assessments / Triviafy</title>
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - company name start -->
<div class="general-signed-in-company-name-section">
  <p class="general-signed-in-company-name-title">{{ users_company_name_to_html }}</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - company name end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="general-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - general page title start -->
<div class="general-page-title-section">
  <p class="general-page-title">Create Assessment</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - general page title end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - error message start -->
<div class="error-message-section">
  <p>{{ error_message_to_html }}</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - error message end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="general-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - main page start -->
<div class="create-assessment-form-container">
  <form method="POST" class="create-assessment-form">

    <div class="create-assessment-user-input-section">
      <label for="create_assessment_page_ui_name"></label>
      <input type="text" id="create_assessment_page_ui_name" name="create_assessment_page_ui_name" class="candidates-default-text-input" placeholder="Assessment name" value="{{ redirect_var_first_name }}" title="Assessment name needs to be 2-50 characters" pattern="^[\w\s-]{2,50}$" />
    </div>

    <div class="create-assessment-user-input-section">
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - tutorial start -->
      <!-- link: https://stackoverflow.com/questions/19206919/how-to-create-checkbox-inside-dropdown -->
      <div id="create-assessment-choose-lang-list1" class="create-assessment-dropdown-check-list" tabindex="100">
        <span class="create-assessment-anchor">Select desired languages</span>
        <ul class="create-assessment-items">
          {% for i in candidate_categories_arr_to_html %}
          <li><input type="checkbox" />{{ i }}</li>
          {% endfor %}
        </ul>
      </div>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - tutorial end -->
    </div>

    <div class="create-assessment-user-input-button-section">
      <button type="submit" class="default-button-format default-button-format-primary-color">Create Assessment</button>
    </div>
  </form>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - main page end -->
{% endblock %}