{% extends "base2_child1_not_logged_in_no_navarbar_and_footer.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Login / Triviafy</title>
{% endblock %}

{% block contentExceptNavbarAndFooter %}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - backdrop cover start -->
<div class="login-background-whole-screen">
  <p>Hello</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - backdrop cover end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->
{% endblock %}