{% extends "candidates_page_templates/aaa_base_page_templates/base2_child1_not_logged_in_yes_navbar_and_footer.html" %}

<!-- head tag block content -->
{% block title %}
    <title>5 Tools for Pre-Employment Screening Tests and Assessments</title>
    <meta name="description" content="Blog post for the friendliest pre employment testing platform. Pre employment screening made simple.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro start -->
<div class="blog-page-title-container">
  <h1 class="blog-page-title-p">5 Tools for Pre-Employment Screening Tests and Assessments</h1>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section-small"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->
<div class="i-blog-section-container">
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - 1 start -->
  <div class="i-blog-section-spacing">
    <h2 class="i-blog-paragraph-p">1. <a href="https://www.testgorilla.com/" target="_blank" class="i-blog-paragraph-a">Test Gorilla</a>: Provides multiple question types so that you can conduct one-way video interviews, allow candidates to upload portfolios, and more.</h2>
  </div>
  <div class="i-blog-img-section i-blog-section-spacing">
    <a href="https://www.testgorilla.com/" target="_blank"><img src="/static/images/candidates/blog/i_blog/0001_blog/testgorilla.png" alt="homepage https://www.testgorilla.com/" class="i-blog-img default-box-shadow-grey-reg i-blog-section-spacing"></a>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - 1 end -->

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - 2 start -->
  <div class="i-blog-section-spacing">
    <h2 class="i-blog-paragraph-p">2. <a href="https://triviafy.com/" target="_blank" class="i-blog-paragraph-a">Triviafy</a>: Early stage candidate screening platform. Offers multiple choice questions for popular tools and frameworks like Excel, AWS, Tableau, JavaScript. Ideal product when hiring for entry level roles.</h2>
  </div>
  <div class="i-blog-img-section i-blog-section-spacing">
    <a href="https://triviafy.com/" target="_blank"><img src="/static/images/candidates/blog/i_blog/0001_blog/triviafy.png" alt="homepage https://triviafy.com/" class="i-blog-img default-box-shadow-grey-reg i-blog-section-spacing"></a>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - 2 end -->

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - 3 start -->
  <div class="i-blog-section-spacing">
    <h2 class="i-blog-paragraph-p">3. <a href="https://eskill.com/" target="_blank" class="i-blog-paragraph-a">eSkill</a>: Provides skills and behavioral assessment tools that help organizations hire and retain top candidates.</h2>
  </div>
  <div class="i-blog-img-section i-blog-section-spacing">
    <a href="https://eskill.com/" target="_blank"><img src="/static/images/candidates/blog/i_blog/0001_blog/eskill.png" alt="homepage https://eskill.com/" class="i-blog-img default-box-shadow-grey-reg i-blog-section-spacing"></a>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - 3 end -->

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - 4 start -->
  <div class="i-blog-section-spacing">
    <h2 class="i-blog-paragraph-p">4. <a href="https://www.qualifi.hr/" target="_blank" class="i-blog-paragraph-a">Qualifi</a>: empowers recruiters to find the best candidates faster by enabling on-demand phone interviews via automation.</h2>
  </div>
  <div class="i-blog-img-section i-blog-section-spacing">
    <a href="https://www.qualifi.hr/" target="_blank"><img src="/static/images/candidates/blog/i_blog/0001_blog/qualifi.png" alt="homepage https://www.qualifi.hr/" class="i-blog-img default-box-shadow-grey-reg i-blog-section-spacing"></a>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - 4 end -->

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - 5 start -->
  <div class="i-blog-section-spacing">
    <h2 class="i-blog-paragraph-p">5. <a href="https://wonderlic.com/" target="_blank" class="i-blog-paragraph-a">Wonderlic</a>: To provide employers with a uniquely fair, predictive, and easy-to-use assessment that helps them identify the candidates most likely to succeed in all their open roles.</h2>
  </div>
  <div class="i-blog-img-section i-blog-section-spacing">
    <a href="https://wonderlic.com/" target="_blank"><img src="/static/images/candidates/blog/i_blog/0001_blog/wonderlic.png" alt="homepage https://wonderlic.com/" class="i-blog-img default-box-shadow-grey-reg i-blog-section-spacing"></a>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - 5 end -->
  <div class="post-article-section">
    <a href="https://medium.com/triviafy/5-tools-for-pre-employment-screening-tests-and-assessments-fd337cc1aed0" target="_blank" class="i-blog-paragraph-a i-blog-paragraph-p">View Medium article</a>
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - sign up small start -->
<div class="sign-up-small-section default-box-shadow-grey-reg">
  <div class="landing-page-3-header">
    <p class="section-title-p-margins">Start filtering your candidates today!</p>
    <p class="landing-page-3-subheader">100% free. Send your first candidate assessment in less than 2 minutes.</p>
  </div>
  <div class="landing-page-get-started-section">
    <div class="landing-page-intro-3-next-steps-section">
      <form action="{{ url_for('auth.candidates_signup_function') }}" method="post" class="landing-page-email-form-3" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
        <label for="various_pages1_ui_email" class="landing-page-form-email-label"></label>
        <input type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,10}$" id="various_pages1_ui_email" name="various_pages1_ui_email" placeholder="Your work email" class="default-not-signed-in-text-input" required><br><br>
        <input type="submit" value="Get started!" class="default-button-format default-button-format-primary-color landing-page-button-position-3">
      </form>
      <p class="free-trial-no-card-required-3">(No credit card required.)</p>
    </div>
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - sign up small end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->
{% endblock %}