{% extends "candidates/aaa_base/base.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Create Question - Triviafy</title>
{% endblock %}

{% block contentBody %}
<body class="custom-bg-grey-3">
  <form method="POST" enctype="multipart/form-data" class="custom-pt-1" onsubmit="return clickSubmitButtonOnce()">
    <!-- ------------------------------------- navbar start ------------------------------------- -->
    <div class="container-fluid fixed-top shadow-sm custom-bg-white">
      <nav class="container navbar navbar-expand-md navbar-light custom-display-flex custom-jc-2">
        <a href="#" class="navbar-brand">
          <span class="custom-header-4">{{ users_company_name_to_html }}</span>
        </a>
        <div>
          <a href="/candidates/question/create/dashboard" class="btn btn-outline-secondary">Discard</a>
          <button type="submit" class="btn btn-primary custom-ml-3">Submit</a>
        </div>
      </nav>
    </div>
    <div class="custom-filler-5"></div>
    <!-- ------------------------------------- navbar end ------------------------------------- -->
    <div class="container-fluid custom-bg-grey-3 custom-pb-3">
      <!-- ------------------------------------- question start ------------------------------------- -->
      <div class="container border shadow custom-br-1 custom-bg-white custom-display-flex custom-fw-1">
        <div class="custom-width-11-mobile custom-p-5">
          <div class="custom-display-flex custom-mb-6">
            <h2 class="custom-header-4">Q1: {{ question_info_dict_to_html['title'] }}</h2>
            <div>
                {% for category_tuple in question_info_dict_to_html['categories'] %}
                  <span class="custom-tag-1 custom-tag-category-{{ category_tuple[1] }} custom-br-4 custom-ml-3 custom-header-5">{{ category_tuple[0] }}</span>
                {% endfor %}
            </div>
          </div>
          <div>
            <div class="custom-mb-6">
              <p>{{ question_info_dict_to_html['question'] }}</p>
            </div>
            {% if question_info_dict_to_html['aws_image_url']|length != 0 %}
            <div class="text-center">
              <img src="{{ question_info_dict_to_html['aws_image_url'] }}" alt="" class="custom-img-size-11 custom-br-1 shadow">
            </div>
            {% else %}
            {% endif %}
          </div>
        </div>
        <div class="custom-width-11-mobile custom-p-5">
          <div>
            {% if question_info_dict_to_html['option_a'] != None %}
            <div class="custom-mb-6">
              <input type="radio" class="btn-check" id="candidate_answer_choice_a{{ current_question_number_to_html }}" name="ui_answer_choice_selected_{{ current_question_number_to_html }}" value="a" autocomplete="off">
              <label class="btn btn-outline-secondary custom-width-6 custom-tal btn-lg" for="candidate_answer_choice_a{{ current_question_number_to_html }}">A: {{ question_info_dict_to_html['option_a'] }}</label>
            </div>
            {% endif %}

            {% if question_info_dict_to_html['option_b'] != None %}
            <div class="custom-mb-6">
              <input type="radio" class="btn-check" id="candidate_answer_choice_b{{ current_question_number_to_html }}" name="ui_answer_choice_selected_{{ current_question_number_to_html }}" value="b" autocomplete="off">
              <label class="btn btn-outline-secondary custom-width-6 custom-tal btn-lg" for="candidate_answer_choice_b{{ current_question_number_to_html }}">B: {{ question_info_dict_to_html['option_b'] }}</label>
            </div>
            {% endif %}

            {% if question_info_dict_to_html['option_c'] != None %}
            <div class="custom-mb-6">
              <input type="radio" class="btn-check" id="candidate_answer_choice_c{{ current_question_number_to_html }}" name="ui_answer_choice_selected_{{ current_question_number_to_html }}" value="d" autocomplete="off">
              <label class="btn btn-outline-secondary custom-width-6 custom-tal btn-lg" for="candidate_answer_choice_c{{ current_question_number_to_html }}">C: {{ question_info_dict_to_html['option_c'] }}</label>
            </div>
            {% endif %}

            {% if question_info_dict_to_html['option_d'] != None %}
            <div class="custom-mb-6">
              <input type="radio" class="btn-check" id="candidate_answer_choice_d{{ current_question_number_to_html }}" name="ui_answer_choice_selected_{{ current_question_number_to_html }}" value="d" autocomplete="off">
              <label class="btn btn-outline-secondary custom-width-6 custom-tal btn-lg" for="candidate_answer_choice_d{{ current_question_number_to_html }}">D: {{ question_info_dict_to_html['option_d'] }}</label>
            </div>
            {% endif %}

            {% if question_info_dict_to_html['option_e'] != None %}
            <div class="custom-mb-6">
              <input type="radio" class="btn-check" id="candidate_answer_choice_e{{ current_question_number_to_html }}" name="ui_answer_choice_selected_{{ current_question_number_to_html }}" value="e" autocomplete="off">
              <label class="btn btn-outline-secondary custom-width-6 custom-tal btn-lg" for="candidate_answer_choice_e{{ current_question_number_to_html }}">E: {{ question_info_dict_to_html['option_e'] }}</label>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- ------------------------------------- question end ------------------------------------- -->
      <div class="text-center custom-mt-5">
        <img src="/static/images/candidates/logo/logo_wide_v3.png" alt="powered by triviafy logo" class="custom-img-size-10 custom-img-opacity-1">
      </div>
    </div>
  </form>
</body>
{% endblock %}