{% extends "candidates/aaa_base/base.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Preview</title>
{% endblock %}

{% block contentBody %}
<body class="custom-bg-grey-3">
  <!-- ------------------------------------- navbar start ------------------------------------- -->
  <div class="container-fluid fixed-top shadow-sm custom-bg-white">
    <nav class="container navbar navbar-expand-md navbar-light custom-display-flex custom-jc-2">
      <a href="#" class="navbar-brand">
        <span class="custom-header-4">{{ users_company_name_to_html }}</span>
      </a>
      <div>
        <a href="#" class="btn btn-primary custom-ml-3">Preview</a>
      </div>
    </nav>
  </div>
  <div class="custom-filler-5"></div>
  <!-- ------------------------------------- navbar end ------------------------------------- -->
  <div class="container-fluid custom-bg-grey-3 custom-pb-3">
    <!-- ------------------------------------- question start ------------------------------------- -->
    <form method="POST" enctype="multipart/form-data" class="custom-pt-1">
      <div class="container border shadow custom-br-1 custom-bg-white custom-display-flex custom-fw-1">
        <div class="custom-width-11-mobile custom-p-5">
          <div class="custom-display-flex custom-mb-6">
            <h2 class="custom-header-4">Q#: Title</h2>
            <div>
                  <span class="custom-tag-1 custom-br-4 custom-ml-3 custom-header-5">categories</span>
            </div>
          </div>
          <div>
            <div class="custom-mb-6">
              <p>Actual question</p>
            </div>
            <div class="text-center">
              <img src="/static/images/candidates/logo/logo_v3.png" alt="" class="custom-img-size-11 custom-br-1 shadow">
            </div>
          </div>
        </div>
        <div class="custom-width-11-mobile custom-p-5">
          <div>
            <div class="custom-mb-6">
              <input type="radio" class="btn-check" id="candidate_answer_choice_a" name="ui_answer_choice_selected" value="a" autocomplete="off" required>
              <label class="btn btn-outline-secondary custom-width-6 custom-tal btn-lg" for="candidate_answer_choice_a">A: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, adipisci.</label>
            </div>

            <div class="custom-mb-6">
              <input type="radio" class="btn-check" id="candidate_answer_choice_b" name="ui_answer_choice_selected" value="b" autocomplete="off" required>
              <label class="btn btn-outline-secondary custom-width-6 custom-tal btn-lg" for="candidate_answer_choice_b">B: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, animi!</label>
            </div>

            <div class="custom-mb-6">
              <input type="radio" class="btn-check" id="candidate_answer_choice_c" name="ui_answer_choice_selected" value="d" autocomplete="off" required>
              <label class="btn btn-outline-secondary custom-width-6 custom-tal btn-lg" for="candidate_answer_choice_c">C: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, omnis.</label>
            </div>

            <div class="custom-mb-6">
              <input type="radio" class="btn-check" id="candidate_answer_choice_d" name="ui_answer_choice_selected" value="d" autocomplete="off" required>
              <label class="btn btn-outline-secondary custom-width-6 custom-tal btn-lg" for="candidate_answer_choice_d">D: Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, provident.</label>
            </div>

            <div class="custom-mb-6">
              <input type="radio" class="btn-check" id="candidate_answer_choice_e" name="ui_answer_choice_selected" value="e" autocomplete="off" required>
              <label class="btn btn-outline-secondary custom-width-6 custom-tal btn-lg" for="candidate_answer_choice_e">E: Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, ab.</label>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- ------------------------------------- question end ------------------------------------- -->
    <div class="text-center custom-mt-5">
      <img src="/static/images/candidates/logo/logo_wide_v3.png" alt="powered by triviafy logo" class="custom-img-size-10 custom-img-opacity-1">
    </div>
  </div>
</body>
{% endblock %}