{% extends "candidates/aaa_base/base.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Preview</title>
{% endblock %}

{% block contentBody %}
<body class="custom-bg-grey-3">
  <form method="POST" enctype="multipart/form-data" class="custom-pt-1">
    <!-- ------------------------------------- navbar start ------------------------------------- -->
    <div class="container-fluid fixed-top shadow-sm custom-bg-white">
      <nav class="container navbar navbar-expand-md navbar-light custom-display-flex custom-jc-2">
        <a href="#" class="navbar-brand">
          <span class="custom-header-4">{{ users_company_name_to_html }}</span>
        </a>
        <div>
          <button type="submit" class="btn btn-primary custom-ml-3">Preview</button>
        </div>
      </nav>
    </div>
    <!-- ------------------------------------- navbar end ------------------------------------- -->
    <!-- ------------------------------------- question start ------------------------------------- -->
    <div class="container border shadow custom-br-1 custom-bg-white custom-display-flex custom-fw-1 custom-mt-3">
      <div class="custom-width-11-mobile custom-p-5">
        <!-- ------------------------------------- question title start ------------------------------------- -->
        <label for="ui_create_question_title" class="form-label"></label>
        <input type="text" class="form-control custom-width-13" id="ui_create_question_title" name="ui_create_question_title" placeholder="Question title*"  pattern="{1,50}" onkeyup="createQuestionCountCharsTitle(this);" required>
        <p id="createQuestionCountCharsTitle" class="custom-size-3 custom-color-light-1 fst-italic custom-mt-2 custom-ml-2"></p>
        <!-- ------------------------------------- question title end ------------------------------------- -->
        <!-- ------------------------------------- question categories start ------------------------------------- -->
        <label for="ui_create_question_categories" class="form-label"></label>
        <input type="text" class="form-control custom-width-13" id="ui_create_question_categories" name="ui_create_question_categories" placeholder="Categories* python, excel, sql, etc" onkeyup="createQuestionCountCharsCategories(this);" pattern="{1,50}" required>
        <p id="createQuestionCountCharsCategories" class="custom-size-3 custom-color-light-1 fst-italic custom-mt-2 custom-ml-2"></p>
        <!-- ------------------------------------- question categories end ------------------------------------- -->
        <!-- ------------------------------------- question actual start ------------------------------------- -->
        <div class="form-floating">
          <textarea class="form-control custom-width-13" id="ui_create_question_question" name="ui_create_question_question" placeholder="Actual question*" onkeyup="createQuestionCountCharsQuestion(this);" pattern="{1,750}" required></textarea>
          <label for="ui_create_question_question">Actual question</label>
          <p id="createQuestionCountCharsQuestion" class="custom-size-3 custom-color-light-1 fst-italic custom-mt-2 custom-ml-2"></p>
        </div>
        <!-- ------------------------------------- question actual end ------------------------------------- -->
        <!-- ------------------------------------- question img start ------------------------------------- -->
        <label for="ui_image_upload" class="form-label custom-ml-3"></label>
        <input class="form-control custom-width-13" type="file" id="ui_image_upload" name="ui_image_upload" oninput="filesize(this);">
        <p class="custom-size-3 custom-color-light-1 fst-italic custom-mt-2 custom-ml-2">Image optional | Accepted formats: [.jpeg/.jpg/.png/.gif].</p>
        <!-- ------------------------------------- question img end ------------------------------------- -->
      </div>
      <div class="custom-width-11-mobile custom-p-5">
        <div>
          <!-- ------------------------------------- options start ------------------------------------- -->
          <div class="form-floating">
            <textarea class="form-control" id="ui_create_question_option_a" name="ui_create_question_option_a" placeholder="Option A*" onkeyup="createQuestionCountCharsOptionA(this);" pattern="{1,280}" required></textarea>
            <label for="ui_create_question_option_a">Option A*</label>
            <p id="createQuestionCountCharsOptionA" class="custom-size-3 custom-color-light-1 fst-italic custom-mt-2 custom-ml-2"></p>
          </div>
          <div class="form-floating">
            <textarea class="form-control" id="ui_create_question_option_b" name="ui_create_question_option_b" placeholder="Option B*" onkeyup="createQuestionCountCharsOptionB(this);" pattern="{1,280}" required></textarea>
            <label for="ui_create_question_option_b">Option B*</label>
            <p id="createQuestionCountCharsOptionB" class="custom-size-3 custom-color-light-1 fst-italic custom-mt-2 custom-ml-2"></p>
          </div>
          <div class="form-floating">
            <textarea class="form-control" id="ui_create_question_option_c" name="ui_create_question_option_c" placeholder="Option C*" onkeyup="createQuestionCountCharsOptionC(this);" pattern="{1,280}" required></textarea>
            <label for="ui_create_question_option_c">Option C*</label>
            <p id="createQuestionCountCharsOptionC" class="custom-size-3 custom-color-light-1 fst-italic custom-mt-2 custom-ml-2"></p>
          </div>
          <div class="form-floating">
            <textarea class="form-control" id="ui_create_question_option_d" name="ui_create_question_option_d" placeholder="Option D*" onkeyup="createQuestionCountCharsOptionD(this);" pattern="{1,280}" required></textarea>
            <label for="ui_create_question_option_d">Option D*</label>
            <p id="createQuestionCountCharsOptionD" class="custom-size-3 custom-color-light-1 fst-italic custom-mt-2 custom-ml-2"></p>
          </div>
          <div class="form-floating">
            <textarea class="form-control" id="ui_create_question_option_e" name="ui_create_question_option_e" placeholder="Option E*" onkeyup="createQuestionCountCharsOptionE(this);" pattern="{1,280}"></textarea>
            <label for="ui_create_question_option_e">Option E (Optional)</label>
            <p id="createQuestionCountCharsOptionE" class="custom-size-3 custom-color-light-1 fst-italic custom-mt-2 custom-ml-2"></p>
          </div>
          <!-- ------------------------------------- options end ------------------------------------- -->
          <!-- ------------------------------------- correct radio start ------------------------------------- -->
          <!-- ------------------------------------- correct radio end ------------------------------------- -->
        </div>
      </div>
    </div>
    <!-- ------------------------------------- question end ------------------------------------- -->
    <!-- ------------------------------------- powered by start ------------------------------------- -->
    <div class="text-center custom-mt-5">
      <img src="/static/images/candidates/logo/logo_wide_v3.png" alt="powered by triviafy logo" class="custom-img-size-10 custom-img-opacity-1">
    </div>
    <!-- ------------------------------------- powered by end ------------------------------------- -->
  </form>
</body>
{% endblock %}