{% extends "candidates_page_templates/aaa_base_page_templates/base.html" %}

<!-- head tag block content -->
{% block title %}
  <title>base2_child1_not_logged_in_no_navarbar_and_footer.html</title>
{% endblock %}

{% block contentBody %}
<!-- ------------------------------------- navbar start ------------------------------------- -->
<!-- ------------------------------------- navbar end ------------------------------------- -->
{% block contentBodyExceptNavbarAndFooter %}
{% endblock %}
<!-- ------------------------------------- footer start ------------------------------------- -->
<!-- ------------------------------------- footer end ------------------------------------- -->
{% endblock %}