{% extends "candidates_page_templates/aaa_base_page_templates/base.html" %}

<!-- head tag block content -->
{% block title %}
  <title>base2_child1_not_logged_in_yes_navbar_and_footer.html</title>
{% endblock %}

{% block contentBody %}
<!-- ------------------------------------- navbar start ------------------------------------- -->
<nav-candidates-signed-in-component
  link_home_js="{{ url_for('views.dashboard_test_login_page_function') }}",
  link_candidates_upload_emails_js="{{ url_for('views.candidates_upload_emails_function') }}",
  link_candidates_assessments_js="{{ url_for('views.candidates_faq_page_function') }}",
  link_candidates_account_js="{{ url_for('views.candidates_pricing_page_function') }}",
  link_landing_js="{{ url_for('views.landing_index_page_function') }}">
</nav-candidates-signed-in-component>
<!-- ------------------------------------- navbar end ------------------------------------- -->
{% block contentBodyExceptNavbarAndFooter %}
{% endblock %}
<!-- ------------------------------------- footer start ------------------------------------- -->
<footer-candidates-signed-in-component>
</footer-candidates-signed-in-component>
<!-- ------------------------------------- footer end ------------------------------------- -->
{% endblock %}