{% extends "employees/aaa_base/base2_interior2.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Verify Email - Triviafy</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<!-- ------------------------------------- main start ------------------------------------- -->
<div class="container custom-display-flex custom-pt-6 custom-jc-2 custom-pb-6 custom-width-1">
  <div>
    <h2 class="custom-header-mobile-1">Verify your email</h2>
  </div>
</div>
<div class="container border shadow custom-br-1 custom-bg-white custom-ptb-6 custom-width-1">
  <!-- ----------------------------------- start ----------------------------------- -->
  {% if page_dict_to_html['alert_message_dict']['message'] != '' %}
  <div class="alert alert-{{ page_dict_to_html['alert_message_dict']['type'] }} mx-auto text-center container custom-mt-1 custom-width-1" role="alert">
    {{ page_dict_to_html['alert_message_dict']['message'] }}
  </div>
  {% endif %}
  <!-- ----------------------------------- end ----------------------------------- -->
  <div class="text-center">
    <p class="custom-header-4">To ensure the security of your account, please verify your email address by clicking on the link sent to your email inbox.</p>
    <p class="custom-header-4">Note: Please check your spam folder and mark Triviafy as "not spam".</p>
    <p class="custom-header-5">From: support@triviafy.com</p>
    <p class="custom-header-5">Sent to: {{ page_dict_to_html['user_email'] }}</p>
    <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
      <button type="submit" class="btn btn-outline-primary custom-mt-1">Resend verification link</button>
    </form>
  </div>
</div>
<!-- ------------------------------------- main end ------------------------------------- -->
<!-- ------------------------------------- signature start ------------------------------------- -->
<div class="text-center custom-mt-5 custom-pb-3">
  <img src="/static/images/candidates/logo/logo_wide_v3.png" alt="powered by triviafy logo" class="custom-img-size-10 custom-img-opacity-1">
</div>
<!-- ------------------------------------- signature end ------------------------------------- -->
{% endblock %}