/* - - - - - - - - - - Create Question Logo Caricature - Start */
.question-submission-page-section {
  /* border: 1px solid black; */
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 0 0 30px 0;
}
.question-submission-page-section-page-num {
  /* border: 1px solid black; */
  font-size: 30px;
  padding: 0 25px;
  color: var(--company-primary-color);
}
a.question-submission-page-section-page-num {
  text-decoration: none;
}
span.question-submission-page-section-page-num {
  text-decoration: underline;
}
/* - - - - - - - - - - Create Question Logo Caricature - End */