/* - - - - - - - - - - capacity start */
.assessment-analytics-datatable-section {
  /* border: 1px solid black; */
  width: 1200px;
  margin: 50px auto;
  text-align: center;
}
/* - - - - - - - - - - capacity end */