{% extends "candidates/aaa_base/base.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Preview</title>
{% endblock %}

{% block contentBody %}
<!-- ------------------------------------- navbar start ------------------------------------- -->
<div class="container-fluid fixed-top shadow-sm custom-bg-white">
  <nav class="container navbar navbar-expand-md navbar-light custom-display-flex custom-jc-2">
    <a href="#" class="navbar-brand">
      <span class="custom-header-4">{{ users_company_name_to_html }}</span>
    </a>
    <div>
      <a href="#" class="btn btn-primary custom-ml-3">Close</a>
    </div>
  </nav>
</div>
<div class="custom-filler-5"></div>
<!-- ------------------------------------- navbar end ------------------------------------- -->
<div class="container-fluid custom-bg-grey-3 custom-pb-3">
  <div class="container custom-border-1">
    <p>ok</p>
  </div>
</div>
{% endblock %}