{% extends "aaa_base_page_templates/base2_child1_not_logged_in_yes_navbar_and_footer.html" %}

<!-- head tag block content -->
{% block title %}
  <title>About / Triviafy</title>
{% endblock %}

{% block contentExceptNavbarAndFooter %}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro start -->
<div class="landing-page-intro-3-section">
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro left side start -->
  <div class="landing-page-intro-3-words-section">
    <p class="landing-page-intro-3-header">About the friendliest skill assessment experience.</p>
    <p class="landing-page-3-subheader landing-page-intro-3-sub-header">Early stage candidate screening made simple.</p>
    <div class="landing-page-get-started-section">
      <div class="landing-page-intro-3-next-steps-section">
        <form action="/candidates/signup" method="post" class="landing-page-email-form-3" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
          <label for="user_input_email" class="landing-page-form-email-label"></label>
          <input type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,10}$" id="user_input_email" name="user_input_email" placeholder="Your work email" class="default-not-signed-in-text-input" required><br><br>
          <input type="submit" value="Get started!" class="default-button-format default-button-format-primary-color landing-page-button-position-3">
        </form>
        <p class="free-trial-no-card-required-3">(No credit card required.)</p>
      </div>
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro left side end -->
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro right side start -->
  <div class="landing-page-intro-3-media-section">
    <img src="/static/images/candidates/about_page/about_page_blue.png" alt="" class="general-page-intro-3-media-img">
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro right side end -->
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - intro end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - about start -->
<div class="about-section">
  <div class="about-title-section">
    <p>Triviafy Candidate Screening</p>  
  </div>
  <div class="about-content-section">
    <p class="about-individual-p">Entry and junior level roles often require foundational knowledge of a tool. Example Job Description: "0-3 years’ experience in [Excel, Python, JavaScript]."</p>
    <p class="about-individual-p">Creating skill assessment tests yourself requires team resources: time, money, maintenance, distribution, grading, tracking, and headaches.</p>
    <p class="about-individual-p">Save time and money while helping identify the most qualified candidates with Triviafy Candidate Screening!</p>
    <p class="about-individual-p">Triviafy is the simplest skill assessment platform that focuses on early stage hiring for foundational skills.</p>
    <p class="about-individual-p">Setup takes less than two minutes.</p>
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - about end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - other company logos start -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - supported frameworks start -->
<div class="landing-page-other-companies-section">
  <div class="landing-page-3-header">
    <p class="section-title-p-margins">Companies that love skill assessments!</p>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - framework logos start -->
  <div class="landing-page-all-logos-section">
    <div class="landing-page-company-container">
      <img src="/static/images/candidates/logos_companies/glossier.png" alt="Other company logo dark" class="company-logo-img">
    </div>
    <div class="landing-page-company-container">
      <img src="/static/images/candidates/logos_companies/lemonade.png" alt="Other company logo dark" class="company-logo-img">
    </div>
    <div class="landing-page-company-container">
      <img src="/static/images/candidates/logos_companies/starbucks.png" alt="Other company logo dark" class="company-logo-img">
    </div>
    <div class="landing-page-company-container">
      <img src="/static/images/candidates/logos_companies/ups.png" alt="Other company logo dark" class="company-logo-img">
    </div>
    <div class="landing-page-company-container">
      <img src="/static/images/candidates/logos_companies/zillow.png" alt="Other company logo dark" class="company-logo-img">
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - framework logos end -->
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - other company logos end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - sign up small start -->
<div class="sign-up-small-section default-box-shadow-grey-reg">
  <div class="landing-page-3-header">
    <p class="section-title-p-margins">Start filtering your candidates today!</p>
    <p class="landing-page-3-subheader">100% free. Send your first candidate assessment in less than 2 minutes.</p>
  </div>
  <div class="landing-page-get-started-section">
    <div class="landing-page-intro-3-next-steps-section">
      <form action="/candidates/signup" method="post" class="landing-page-email-form-3" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
        <label for="user_input_email" class="landing-page-form-email-label"></label>
        <input type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,10}$" id="user_input_email" name="user_input_email" placeholder="Your work email" class="default-not-signed-in-text-input" required><br><br>
        <input type="submit" value="Get started!" class="default-button-format default-button-format-primary-color landing-page-button-position-3">
      </form>
      <p class="free-trial-no-card-required-3">(No credit card required.)</p>
    </div>
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - sign up small end -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer start -->
<div class="landing-spacer-section"></div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - spacer end -->
{% endblock %}