{% extends "employees/aaa_base/base2_primary.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Triviafy</title>
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<div class="custom-bg-primary-darker">
  <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar progress-bar-striped bg-success" style="width: 33%"></div>
  </div>
  <!-- ------------------------------------- entire page start ------------------------------------- -->
  <div class="container-fluid custom-bg-primary-gradient-1 custom-pt-3">
    <!-- ------------------------------------- title start ------------------------------------- -->
    <div class="container mx-auto custom-pb-2">
      <div class="text-center">
        <h2 class="custom-color-white">Which activity are you most excited about?</h2>
      </div>
    </div>
    <!-- ------------------------------------- title end ------------------------------------- -->
    <!-- ------------------------------------- selection start ------------------------------------- -->
    <form method="POST" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
      <div class="text-center">
        <button type="submit" class="btn btn-lg btn-success custom-mb-6 custom-width-8 custom-ptb-8 custom-br-1 uiSearchItemInvisible" id="submit-button-top">Continue <i class="fa-solid fa-arrow-right"></i></button>
      </div>
      <div class="custom-width-8 mx-auto">
        {% for i in page_dict_to_html['activities_list_index'] %}
        <div class="custom-display-flex custom-fw-1">
          <input type="radio" class="btn-check" id="uiFeedbackSelection{{ i }}" name="ui_selection_radio" value="{{ page_dict_to_html['activities_list'][i] }}" autocomplete="off" required>
          {% if page_dict_to_html['activities_list'][i] == 'Trivia' %}
            <label class="custom-mb-6 custom-border-white-opacity-1 custom-br-1 custom-width-6 custom-ptb-8 custom-hover-1 custom-color-white" for="uiFeedbackSelection{{ i }}"><span class="custom-ml-2">{{ page_dict_to_html['activities_list'][i] }} <span class="custom-br-1 custom-size-3 custom-p-8 custom-bg-green-warning custom-ml-3 custom-color-black">Most popular</span></label>
          {% else %}
            <label class="custom-mb-6 custom-border-white-opacity-1 custom-br-1 custom-width-6 custom-ptb-8 custom-hover-1 custom-color-white" for="uiFeedbackSelection{{ i }}"><span class="custom-ml-2">{{ page_dict_to_html['activities_list'][i] }}</span></label>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-lg btn-success custom-mb-6 custom-width-8 custom-ptb-8 custom-br-1 uiSearchItemInvisible" id="submit-button-botttom">Continue <i class="fa-solid fa-arrow-right"></i></button>
      </div>
    </form>
    <!-- ------------------------------------- selection end ------------------------------------- -->
  </div>
  <!-- ------------------------------------- entire page end ------------------------------------- -->
</div>
<!-- ----------------------------------- shape divider start ----------------------------------- -->
<div class="custom-shape-divider-bottom-1672276706 custom-bg-primary-darker">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
  </svg>
</div>
<!-- ----------------------------------- shape divider end ----------------------------------- -->

<!-- ------------------------------------- signature start ------------------------------------- -->
<div class="text-center custom-pb-2">
  <img src="/static/images/candidates/logo/logo_wide_v3.png" alt="powered by triviafy logo" class="custom-img-size-10 custom-img-opacity-1">
</div>
<!-- ------------------------------------- signature end ------------------------------------- -->
{% endblock %}